<div class="ED_new_form_box">
<%= form_with(model: solideo_financement, local: true) do |form| %>
  <% if solideo_financement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(solideo_financement.errors.count, "error") %> prohibited this solideo_financement from being saved:</h2>

      <ul>
      <% solideo_financement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="SD_new_form_field SD_new_form_field_date">
    <%= form.label :date %>
    <%= form.date_select :date, {:order => [:year]}, class: "SD_new_form_input_date"   %>
  </div>
  
  <div class="SD_new_form_field">
    <%= form.label :financeur %>
    <%= form.select :financeur,   [["Financement","privé"], [ "Etat", "Etat"], ["RIF", "RIF"], ["Ville de Paris","Ville de Paris"], ["Métropole Grand Paris","Métropole Grand Paris"], ["CD92", "CD92"], ["CD93", "CD93"], ["CD78","CD78"], ["EPT Plaine Commune","EPT Plaine Commune"], ["EPT Terres d'envol","EPT Terres d'envol"], ["Ville de Dugny","Ville de Dugny"],[ "Ville du Bourget","Ville du Bourget"], [ "CASQY","CASQY"], [ "Ville de Marseille","Ville de Marseille"]]
 %>
  </div>

  <div class="SD_new_form_field">
    <%= form.label :montant_prevu %>
    <%= form.text_field :montant_prevu %>
  </div>
  
   <div class="SD_new_form_field">
    <%= form.label :montant %>
    <%= form.text_field :montant %>
  </div>

   <div class="ED_new_form_field ED_new_form_field_beneficiaire">
    <%= form.label :categorie, "Catégorie"%>
    <%= form.select :categorie, [["Ouvrages","ouvrages"],["Reserve", "reserve"],["Frais de fonctionnement","Fonctionnement"], ["Innovation","innovation"]], {}, class: "ED_new_form_input_beneficiaire" %>
  </div>
  
  <div class="SD_new_form_field_submit">
    <%= form.submit %>
  </div>
<% end %>
</div>