

 <div  class="table-box"> 
<% if !@solideo_financements_array.nil? && !@solideo_financements_array.empty? %>

   <div class="SF-topo-financeurs-title"><span>Détails des financements de la solideo par financeur</span></div><br><br>
  <div class="ED_table_filtres">
      <a type="button" data-toggle="modal" data-target="#financementsfiltres" ><i class="fas fa-sliders-h"></i> Filtrer </a>
    </div>
    <div class="ED_table">
      <table>
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Financeur</th>
            
       
            <th scope="col" class="border-none">Financement </th>
          </tr>
        </thead>
        <tbody>
          <% @solideo_financements_array.each do |date| %>
          <tr>
            <th scope="row"><%= date.strftime("%Y") %></th>
            <th scope="row"><%= link_to etat_budgets_path do %> Etat<% end %></th>
            <td class="border-none"><%= number_with_delimiter(SolideoFinancement.where('financeur = ? AND date >= ? AND date <= ?', 'Etat',date, date+1.year).sum('montant_prevu').to_i, :delimiter => ' ') %> € / <%= number_with_delimiter(SolideoFinancement.where('financeur = ? AND date >= ? AND date <= ?', 'Etat',date, date + 1.year).sum('montant').to_i, :delimiter => ' ') %>€ <% if SolideoFinancement.where('financeur = ? AND date >= ? AND date <= ?', 'Etat',date, date + 1.year).sum('montant').to_i < SolideoFinancement.where('financeur = ? AND date >= ? AND date <= ?', 'Etat',date, date+1.year).sum('montant_prevu').to_i%> <i class="fas fa-exclamation-circle"></i><% end %></ù></td>
          </tr> 
          <% end %>
          <% @solideo_financements_array.each do |date| %>
           <tr>
            <th scope="row"><%= date.strftime("%Y") %></th>
            <th scope="row"><%= link_to collectivites_path do %> Collectivités<% end %></th>
            <td class="border-none"><%= number_with_delimiter(SolideoFinancement.where('financeur != ? AND financeur != ? AND date >= ? AND date <= ?', 'Etat',"privé",date, date+1.year).sum('montant_prevu').to_i, :delimiter => ' ') %> €/<%= number_with_delimiter(SolideoFinancement.where('financeur != ? AND financeur != ? AND date >= ? AND date <= ?', 'Etat',"privé",date, date+1.year).sum('montant').to_i, :delimiter => ' ') %>€ <% if SolideoFinancement.where('financeur != ? AND financeur != ? AND date >= ? AND date <= ?', 'Etat', "privé",date, date+1.year).sum('montant').to_i < SolideoFinancement.where('financeur != ? AND financeur != ? AND date >= ? AND date <= ?', 'Etat',"privé",date, date+1.year).sum('montant_prevu').to_i%> <i class="fas fa-exclamation-circle"></i><% end %></ù></td>
          </tr>
          <% end %>

          <% @solideo_financements_array.each do |date| %>   
          <tr>
            <th scope="row"><%= date.strftime("%Y") %></th>
            <th scope="row"> Privés</th>
            <td class="border-none"><%= number_with_delimiter(SolideoFinancement.where('financeur = ? AND date >= ? AND date <= ?', 'privé',date, date+1.year).sum('montant_prevu').to_i, :delimiter => ' ') %> €/<%= number_with_delimiter(SolideoFinancement.where('financeur = ? AND date >= ? AND date <= ?', 'privé',date, date+1.year).sum('montant').to_i, :delimiter => ' ') %>€ <% if SolideoFinancement.where('financeur = ? AND date >= ? AND date <= ?', 'privé',date, date+1.year).sum('montant').to_i < SolideoFinancement.where('financeur = ? AND date >= ? AND date <= ?', 'privé',date, date+1.year).sum('montant_prevu').to_i%> <i class="fas fa-exclamation-circle"></i><% end %></ù></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div>
      Aucune dépense renseignée
    </div>
  <%end%>
 

</div>