
<div  class="table-box">

 <div class="SF-topo-financeurs-title"><span>Suivi trimestriel des financements de la solideo</span></div><br><br>
<% if !@solideo_financements.nil? %>

  
    <div class="ED_table">
      <table>
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Financeur</th>
            
            <th scope="col">Financement prévu</th>
            <th scope="col">Financement attribué</th>
            <th scope="col">Catégorie</th>
            <th scope="col" class="border-none"> </th>
          </tr>
        </thead>
        <tbody>
          <% @solideo_financements.each do |solideo_financement| %>
          <tr>
            <th scope="row"><%= solideo_financement.date.strftime("%b %Y") %></th>
            <th scope="row"><%= solideo_financement.financeur %></th>
            <td><%= number_with_delimiter(solideo_financement.montant_prevu.to_i, :delimiter => ' ') %> €</td>
            <td><%= number_with_delimiter(solideo_financement.montant.to_i, :delimiter => ' ') %>€ <% if solideo_financement.montant.to_i < solideo_financement.montant_prevu.to_i%> <i class="fas fa-exclamation-circle"></i><% end %></ù></td>
            <td><%= solideo_financement.categorie %></td>
            <td class="border-none"> <%= link_to edit_solideo_financement_path(solideo_financement) do %> <i class="fas fa-pen"></i><% end %>
            <%= link_to solideo_financement, method: :delete, data: {confirm: "confirmer la suppression?"} do %> <i class="fas fa-trash-alt"></i><% end %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div>
      Aucune dépense renseignée
    </div>
  <%end%>
 

</div>