<% if !@solideo_financements.nil?%>
<div class="SF-topo-box">
  <div class="topo-chart">
    <%= pie_chart @solideo_financements.unscope(:order).group(:financeur).sum(:montant_prevu) ,  library: {
     chart: {
       backgroundColor: '#fff',
        type: 'pie',

       style:{
          fontFamily: "Spectral",
          },
    },

      title: {
        text:'Répartition des financements des collectivités',
        margin:40,
        style: {
          color: '#8F8F8F',
          fontSize: '16px',
          fontStyle: 'italic',
          }
      },
     plotOptions: {
        pie: {
            innerSize: 90,
           
          minSize: 120,
            dataLabels: {
                    enabled: true,
                    format: '<em>{point.name}<br>{point.percentage:.1f} %</em>',
                    style: {
                      color: "#8F8F8F",
                      fontSize: "11px",
                      fontWeight: "400",

                      }
                },
        }
    },
  }
   
    %>

  </div>
  <div class="SF-topo-financeurs">
    <div class="SF-topo-financeurs-title"><span>Liste des collectivités</span></div><br>
   
    <div class="SF-topo-financeurs-box">
      <div class="SF-topo-financeurs-name"></div>
      <div class="SF-topo-financeurs-budget"><div class="SF-topo-financeurs-budget-prevu"><em>Fin. prévus €</em></div><div class="SF-topo-financeurs-budget-actuel"> | <em>Fin. actuels €</em></div></div>
    </div> <br><br>
   
    <% @financeurs.each do |financeur| %>
    <div class="SF-topo-financeurs-box">
      <div class="SF-topo-financeurs-name"><%= link_to solideo_financement_path(id: SolideoFinancement.where("financeur = ?", financeur).first.id) do %><%= financeur %> <% end %></div>
      <div class="SF-topo-financeurs-budget"><div class="SF-topo-financeurs-budget-prevu"><%= number_with_delimiter(SolideoFinancement.where("financeur = ?", financeur).sum('montant_prevu').to_i, :delimiter => ' ')%> €</div><div class="SF-topo-financeurs-budget-actuel"> | <%= number_with_delimiter(SolideoFinancement.where("financeur = ?", financeur).sum('montant').to_i, :delimiter => ' ') %> €</div></div>
    </div>           
   
    <% end %>
  </div>
 
</div>
<% end %>
