
<% if !@solideo_financements.nil?%>

<div class="SD-topo-box">  
  <div class="SF-topo-financeurs-title"><span>Financeurs de la solideo</span></div><br>
  <div class="row">
   <div class="col-md-6">
      <div id="container-pie"></div>
    </div> 
    <div class="col-md-6">  
      <div id="container-bar"></div>
    </div>
  </div>  
</div>
<% end %>

<div class="SD-topo-box">
  
 <div class="SF-topo-financeurs-title"><span>Maquette des financements de la solideo</span></div><br>

   <div id="container-cylinder"></div>
   <br>
 
   <div class="EB-details">
       <a href="#details-financements" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="details-financements">Détails des financements </a>      
   </div><br><br>
   <section id="details-financements" class="collapse">
   <div class="ED_table">
      <table>
        <thead>
          <tr>
            <th scope="col"> </th>
            <th scope="col">Privé</th>
            <th scope="col">ETAT</th>
            <th scope="col">RIF</th>
            <th scope="col">Paris</th>
            <th scope="col">MGP</th>
            <th scope="col">CD92</th>
            <th scope="col">CD93</th>
            <th scope="col">CD78</th>
            <th scope="col">ETP PC</th>
            <th scope="col">ETP TE</th>
            <th scope="col">Dugny</th>
            <th scope="col">Bourget</th>
            <th scope="col">CASQY</th>
            <th scope="col" class="border-none">Marseille </th>
          </tr>
        </thead>
        <tbody>
        
          <tr>
            <th scope="row">2018</th>
            <% @financeurs.each do |financeur| %>
            <td><%= (SolideoFinancement.where("financeur = ? AND date = ?", financeur, Date.new(2018,1)).sum('montant')/1000000).round%></td>
            <% end %>
   
          </tr>
          <tr>
            <th scope="row">2019</th>
            <% @financeurs.each do |financeur| %>
            <td><%= (SolideoFinancement.where("financeur = ? AND date = ?", financeur, Date.new(2019,1)).sum('montant')/1000000).round%>
            <% if  SolideoFinancement.where("financeur = ? AND date = ?", financeur, Date.new(2019,1)).sum('montant') > SolideoFinancement.where("financeur = ? AND date = ?", financeur, Date.new(2018,1)).sum('montant')%> <i class="fas fa-long-arrow-alt-up"></i> <% elsif SolideoFinancement.where("financeur = ? AND date = ?", financeur, Date.new(2019,1)).sum('montant') < SolideoFinancement.where("financeur = ? AND date = ?", financeur, Date.new(2018,1)).sum('montant') %> <i class="fas fa-long-arrow-alt-down"></i> <% end %>
            </td>
            <% end %>
   
          </tr>
          <tr>
            <th scope="row">2020</th>
            <% @financeurs.each do |financeur| %>
            <td><%= (SolideoFinancement.where("financeur = ? AND date = ?", financeur, Date.new(2020,1)).sum('montant')/1000000).round%>
            <% if  SolideoFinancement.where("financeur = ? AND date = ?", financeur, Date.new(2020,1)).sum('montant') > SolideoFinancement.where("financeur = ? AND date = ?", financeur, Date.new(2019,1)).sum('montant')%> <i class="fas fa-long-arrow-alt-up"></i> <% elsif SolideoFinancement.where("financeur = ? AND date = ?", financeur, Date.new(2020,1)).sum('montant') < SolideoFinancement.where("financeur = ? AND date = ?", financeur, Date.new(2019,1)).sum('montant') %> <i class="fas fa-long-arrow-alt-down"></i> <% end %>
            </td>
            <% end %>
   
          </tr>
        
        </tbody>
      </table>
    </div>
   </section>
</div>

<div  class="table-box">

 <div class="SF-topo-financeurs-title"><span>Suivi des financements de la solideo</span></div><br><br>
  <div>
    Données manquantes 
  </div>
    <div class="row">
      <div class="col-md-12">
         <div id='container-column'>
      
    </div>
      </div>
    </div>

  
  <div class="row">
    <div class="col-md-6">
     <div id="container-s1">
       
      </div>
    </div>
     <div class="col-md-6">
       <div id="container-s2">
       
      </div>
      
    </div>
  </div>
  
  <br><br>
  <div class="SD-table-box-left">
    <div class="EB-details">
       <a href="#details" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="details">Détails des dépenses </a>      
    </div><br><br>
    <section id="details" class="collapse">
      <% if !@solideo_financements_array.nil? && !@solideo_financements_array.empty? %>

    <div class="ED_table">
      <table class="table-striped">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Financeur</th>
            
       
            <th scope="col" class="border-none">Financement (K€)</th>
          </tr>
        </thead>
        <tbody>
          <% @solideo_financements_array.each do |date| %>
          <tr>
            <th scope="row"><%= date.strftime("%Y") %></th>
            <th scope="row"><%= link_to etat_budgets_path do %> Etat<% end %></th>
            <td class="border-none"><%= number_with_delimiter((SolideoFinancement.where('financeur = ? AND date >= ? AND date <= ?', 'Etat',date, date+1.year).sum('montant_prevu')/1000).to_i, :delimiter => ' ') %> / <%= number_with_delimiter((SolideoFinancement.where('financeur = ? AND date >= ? AND date <= ?', 'Etat',date, date + 1.year).sum('montant')/1000).to_i, :delimiter => ' ') %> <% if SolideoFinancement.where('financeur = ? AND date >= ? AND date <= ?', 'Etat',date, date + 1.year).sum('montant').to_i < SolideoFinancement.where('financeur = ? AND date >= ? AND date <= ?', 'Etat',date, date+1.year).sum('montant_prevu').to_i%> <i class="fas fa-exclamation-circle"></i><% end %></ù></td>
          </tr> 
          <% end %>
          <% @solideo_financements_array.each do |date| %>
           <tr>
            <th scope="row"><%= date.strftime("%Y") %></th>
            <th scope="row"><%= link_to collectivites_path do %> Collectivités<% end %></th>
            <td class="border-none"><%= number_with_delimiter((SolideoFinancement.where('financeur != ? AND financeur != ? AND date >= ? AND date <= ?', 'Etat',"privé",date, date+1.year).sum('montant_prevu')/1000).to_i, :delimiter => ' ') %> /<%= number_with_delimiter((SolideoFinancement.where('financeur != ? AND financeur != ? AND date >= ? AND date <= ?', 'Etat',"privé",date, date+1.year).sum('montant')/1000).to_i, :delimiter => ' ') %> <% if SolideoFinancement.where('financeur != ? AND financeur != ? AND date >= ? AND date <= ?', 'Etat', "privé",date, date+1.year).sum('montant').to_i < SolideoFinancement.where('financeur != ? AND financeur != ? AND date >= ? AND date <= ?', 'Etat',"privé",date, date+1.year).sum('montant_prevu').to_i%> <i class="fas fa-exclamation-circle"></i><% end %></ù></td>
          </tr>
          <% end %>

          <% @solideo_financements_array.each do |date| %>   
          <tr>
            <th scope="row"><%= date.strftime("%Y") %></th>
            <th scope="row"> Privés</th>
            <td class="border-none"><%= number_with_delimiter((SolideoFinancement.where('financeur = ? AND date >= ? AND date <= ?', 'privé',date, date+1.year).sum('montant_prevu')/1000).to_i, :delimiter => ' ') %> /<%= number_with_delimiter((SolideoFinancement.where('financeur = ? AND date >= ? AND date <= ?', 'privé',date, date+1.year).sum('montant')/1000).to_i, :delimiter => ' ') %> <% if SolideoFinancement.where('financeur = ? AND date >= ? AND date <= ?', 'privé',date, date+1.year).sum('montant').to_i < SolideoFinancement.where('financeur = ? AND date >= ? AND date <= ?', 'privé',date, date+1.year).sum('montant_prevu').to_i%> <i class="fas fa-exclamation-circle"></i><% end %></ù></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div>
      Aucune dépense renseignée
    </div>
  <%end%>
    </section>
  </div>
</div>
<br><br>


<script>
Highcharts.chart('container-column', {
  chart:{
            type: 'column',
            backgroundColor: '#fff',  
            style:{
            fontFamily: "Marianne Regular",
            //  maxWidth: "500px",
            },
       
       
          },

     title: {
          text:'Suivi annuel des financements de la Solideo',
          margin:40,
          style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
                  fontStyle: 'italic',
                  fontSize: '16px',
                  },
        },
  colors: ["#BFBFBF",'#2E5D63'],
    yAxis: {
      gridLineColor: '#fff', 
        title: {
            text: 'Total €'
        }
    },
  tooltip: {
      //  pointFormat: '{series.name}: <b>{point.y}</b><br/>',
        valueSuffix: '€',
        xDateFormat: '%Y',
    borderColor: 'transparent',
   borderRadius: 16,
   backgroundColor: '#fff',
    },
  xAxis:{
   //  type: 'datetime',
    max: 2025,
  },
    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: 2018,
        },
      column: {
           pointWidth: 15,
           tooltip: {        
              backgroundColor: "#fff",        
              style: {
                  fontSize: '12px',     
              },    
             },
           },
         
    },

  

    series: [ {
        name: 'Financements prévus',
        data: <%= @financements_prevu_annee %>,
    },{
        name: 'Financements reçus ',
        data: <%= @financements_annee %>,
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
</script>

<script>
Highcharts.chart('container-pie', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie',
        backgroundColor: '#fff',
          style:{
          fontFamily: "Marianne Regular",
          maxWidth: "500px",
          },
   
    },
    title: {
         text:null,   
          style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
                  fontStyle: "italic",
                  fontSize: '16px',
                  },
    },
  colors: ['#C68D7B',"#2E5D63",'#20E37B'],
  tooltip: {
        pointFormat: '{series.name}: <b>{point.y:,.0f}€ </b>',
      borderColor: 'transparent',
   borderRadius: 16,
   backgroundColor: '#fff',
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
           size: 200,
            dataLabels: {
                enabled: true,
              connectorPadding: 0,
              distance: 10,
                format: '<b>{point.name}</b><br>{point.y:,.0f}€ <br> {point.percentage:.1f} %',
              style: {
                      color: "#8F8F8F",
                      fontSize: "11px",
                      fontWeight: "400",
                      fontStyle: "italic",
                      },
            }
        }
    },
    series: [{
        name: 'Total',
        colorByPoint: true,
        data: [{
            name: 'Etat',
            y:  <%= @solideo_financements_etat%>,
           
        }, {
            name: 'Privés',
            y: <%= @solideo_financements_prive%>,
        }, {
            name: 'Collectivités',
            y: <%= @solideo_financements_collectivites %>,
        }]
    }]
});
</script>

<script>
Highcharts.chart('container-s1', {

   chart:{
            backgroundColor: '#fff',
           type: 'spline',
            spacing: [40,40,40,40],
        style:{
          fontFamily: "Marianne Regular",
         maxWidth: '500px',
          },
  
          },

      title: {
        text:"Suivi annuel des financements de l'Etat",
        margin:40,
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
          fontStyle: 'italic',
      fontSize: '16px',
                  },
      },
colors: ['#C68D7B','#BFBFBF'],
    yAxis: {
      gridLineColor: '#E6F0FF', 
        title: {
            text: 'Total €'
        }
    },
  tooltip: {
      //  pointFormat: '{series.name}: <b>{point.y}</b><br/>',
        valueSuffix: '€',
        xDateFormat: '%Y',
    borderColor: 'transparent',
   borderRadius: 16,
   backgroundColor: '#fff',
    },
  xAxis:{
      max: 2025,
  },
    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: 2018,

        }
    },

  

    series: [{
        name: "Financements de l'Etat",
        data: <%= @financements_annee_etat %>,
    }, {
        name: "Financements de l'Etat prévus",
        data: <%= @financements_annee_etat_prevu %>,
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
</script>
<script>
Highcharts.chart('container-s2', {

   chart:{
            backgroundColor: '#fff',
           type: 'spline',
            spacing: [40,40,40,40],
        style:{
          fontFamily: "Marianne Regular",
         maxWidth: '500px',
          },
  
          },

      title: {
        text:"Suivi annuel des financements des collectivités",
        margin:40,
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
          fontStyle: 'italic',
      fontSize: '16px',
                  },
      },
colors: ['#20E37B','#BFBFBF'],
    yAxis: {
      gridLineColor: '#E6F0FF', 
        title: {
            text: 'Total €'
        }
    },
  tooltip: {
      //  pointFormat: '{series.name}: <b>{point.y}</b><br/>',
        valueSuffix: '€',
        xDateFormat: '%Y',
    borderColor: 'transparent',
   borderRadius: 16,
   backgroundColor: '#fff',
    },
  xAxis:{
      max: 2025,
  },
    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: 2018,

        }
    },

  

    series: [{
        name: 'Financements des collectivités',
        data: <%= @financements_annee_co %>,
    }, {
        name: 'Financements des collectivités prévus',
        data: <%= @financements_annee_co_prevu %>,
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
</script>
<script>
Highcharts.chart('container-bar', {
    chart: {
        type: 'bar',
      style:{
          fontFamily: "Marianne Regular",
         maxWidth: '500px',
          },
    },
    title: {
        text: null,
      
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
          fontStyle: 'italic',
      fontSize: '16px',
                  },
    },
  colors: ['#20E37B'],
    xAxis: {
        categories:  ["État", "Concours Privés", "Région IdF", "Ville de Paris", "CD 93", "Plaine co", "Marseille", "Terre d'envol", "MGP", "CD92", "Dugny", "Le Bourget", "CASQY", "CD78"],
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
      gridLineColor: '#fff', 
        title: {
            text: 'Montant (M€)',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' millions',
      borderColor: 'transparent',
   borderRadius: 16,
   backgroundColor: '#fff',
    },
  legend: {
    enabled: false,
  },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },
    
    credits: {
        enabled: false
    },
    series: [{
        name: 'Budget',
        data: [{y: <%= (SolideoFinancement.where("financeur = ? AND date = ?", "Etat", SolideoFinancement.last.date).sum('montant')/1000000).round %>, color: "#C68D7B"}, {y: <%= (SolideoFinancement.where("financeur = ? AND date = ?", "privé", SolideoFinancement.last.date).sum('montant')/1000000).round %>, color: "#2E5D63"}, <%= (SolideoFinancement.where("financeur = ? AND date = ?", "RIF", SolideoFinancement.last.date).sum('montant')/1000000).round %>, <%= (SolideoFinancement.where("financeur = ? AND date = ?", "Ville de Paris", SolideoFinancement.last.date).sum('montant')/1000000).round %>, <%= (SolideoFinancement.where("financeur = ? AND date = ?", "CD93", SolideoFinancement.last.date).sum('montant')/1000000).round %>, <%= (SolideoFinancement.where("financeur = ? AND date = ?", "EPT Plaine Commune", SolideoFinancement.last.date).sum('montant')/1000000).round %>,<%= (SolideoFinancement.where("financeur = ? AND date = ?", "Ville de Marseille", SolideoFinancement.last.date).sum('montant')/1000000).round %>,<%= (SolideoFinancement.where("financeur = ? AND date = ?", "EPT Terres d'envol", SolideoFinancement.last.date).sum('montant')/1000000).round %>,<%= (SolideoFinancement.where("financeur = ? AND date = ?", "Métropole Grand Paris", SolideoFinancement.last.date).sum('montant')/1000000).round %>,<%= (SolideoFinancement.where("financeur = ? AND date = ?", "CD92", SolideoFinancement.last.date).sum('montant')/1000000).round %>,<%= (SolideoFinancement.where("financeur = ? AND date = ?", "Ville de Dugny", SolideoFinancement.last.date).sum('montant')/1000000).round %>,<%= (SolideoFinancement.where("financeur = ? AND date = ?", "Ville du Bourget", SolideoFinancement.last.date).sum('montant')/1000000).round %>,<%= (SolideoFinancement.where("financeur = ? AND date = ?", "CASQY", SolideoFinancement.last.date).sum('montant')/1000000).round %>,<%= (SolideoFinancement.where("financeur = ? AND date = ?", "CD78", SolideoFinancement.last.date).sum('montant')/1000000).round %>],
     }]
});
  </script>

<script>
Highcharts.chart('container-cylinder', {
    chart: {
      style:{
          fontFamily: "Marianne Regular",
     
          },
        type: 'cylinder',
        options3d: {
            enabled: true,
            alpha: 15,
            beta: 15,
            depth: 50,
            viewDistance: 25,
        }
    },

    title: {
        text: 'Evolution des maquettes de financements',
      margin:40,
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
            fontStyle: 'italic',
            fontSize: '16px',
                  },
    },

    xAxis: {
        categories: ['2018', '2019', '2020', '2021'],
      gridLineColor: '#E6F0FF', 
        labels: {
        //   skew3d: true,
            style: {
             //   fontSize: '16px'
            }
        }
    },

    yAxis: {
      gridLineColor: '#E6F0FF', 
        allowDecimals: false,
        min: 0,
        title: {
            text: 'Montant (M€)',
            skew3d: true
        }
    },

    tooltip: {
        headerFormat: '{point.key}<br>',
        pointFormat: '<span style="color:{series.color}">\u25CF</span> {series.name}: <b>{point.y}/ {point.stackTotal} M€</b>',
      borderColor: 'transparent',
   borderRadius: 16,
   backgroundColor: '#fff',
    },

    plotOptions: {
        cylinder: {
            stacking: 'normal',
            depth: 40,
           dataLabels: {
                enabled: true
            }
        }
    },

    series: [{
        name: 'Etat',
        data: [<%= (SolideoFinancement.where("financeur = ? AND date = ?", "Etat", Date.new(2018,1)).sum('montant')/1000000).round%>, <%= (SolideoFinancement.where("financeur = ? AND date = ?", "Etat", Date.new(2019,1)).sum('montant')/1000000).round%>, <%= (SolideoFinancement.where("financeur = ? AND date = ?", "Etat", Date.new(2020,1)).sum('montant')/1000000).round%>, <%= (SolideoFinancement.where("financeur = ? AND date = ?", "Etat", Date.new(2021,1)).sum('montant')/1000000).round%>],
        stack: 'budget',
       color: "#C68D7B",
    }, {
        name: 'Collectivités',
        data: [<%= (SolideoFinancement.where("financeur != ? AND financeur != ? AND date = ?", "Etat", "privé", Date.new(2018,1)).sum('montant')/1000000).round%>, <%= (SolideoFinancement.where("financeur != ? AND financeur != ? AND date = ?", "Etat","privé", Date.new(2019,1)).sum('montant')/1000000).round%>, <%= (SolideoFinancement.where("financeur != ? AND financeur != ? AND date = ?", "Etat", "privé", Date.new(2020,1)).sum('montant')/1000000).round%>, <%= (SolideoFinancement.where("financeur != ? AND financeur != ? AND date = ?", "Etat","privé", Date.new(2021,1)).sum('montant')/1000000).round%>],
        stack: 'budget',
      color: '#20E37B',
    }, {
        name: 'Privé',
        data: [<%= (SolideoFinancement.where("financeur = ? AND date = ?", "privé", Date.new(2018,1)).sum('montant')/1000000).round%>, <%= (SolideoFinancement.where("financeur = ? AND date = ?", "privé", Date.new(2019,1)).sum('montant')/1000000).round%>, <%= (SolideoFinancement.where("financeur = ? AND date = ?", "privé", Date.new(2020,1)).sum('montant')/1000000).round%>, <%= (SolideoFinancement.where("financeur = ? AND date = ?", "privé", Date.new(2021,1)).sum('montant')/1000000).round%>],
        stack: 'budget', 
      color: "#2E5D63",
    }]
});
</script>