<% if !@solideo_financements.nil?%>

<div class="SD-topo-box">
  
 <div class="SF-topo-financeurs-title"><span>Financeurs de la solideo</span></div><br>
  <div class="row">
   <div class="col-md-6">
    <div id="container-pie">      
    </div>
  </div>
 
  <div class="col-md-6">
    <div id='container-column'>
      
    </div>

 
   
  
  </div>
  </div>
  
 
</div>
<% end %>

<div class="SD-topo-box">
  
 <div class="SF-topo-financeurs-title"><span>Maquette des financements de la solideo</span></div><br>
  <div class="row">
   <div class="col-md-12">
   <div class="ED_table">
      <table>
        <thead>
          <tr>
            <th scope="col">Financeurs</th>
            <th scope="col">ETAT</th>
            <th scope="col">COL 1</th>
            <th scope="col">COL 2</th>
            <th scope="col">COL 3</th>
            <th scope="col">COL 4</th>
            <th scope="col">COL 5</th>
            <th scope="col">COL 6</th>
            <th scope="col" class="border-none">Privé </th>
          </tr>
        </thead>
        <tbody>
        
          <tr>
            <th scope="row">Maquette 2018</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
   
          </tr>
        
        </tbody>
      </table>
    </div>
  </div>
 

  </div>
  
 
</div>

<div  class="table-box">

 <div class="SF-topo-financeurs-title"><span>Suivi des financements de la solideo</span></div><br><br>
  
  
  <div id="container">
   
  </div>
  <div class="row">
    <div class="col-md-6">
     <div id="container-s1">
       
      </div>
    </div>
     <div class="col-md-6">
       <div id="container-s2">
       
      </div>
      
    </div>
  </div>
</div>
<br><br>


<script>
Highcharts.chart('container-column', {
  chart:{
            type: 'column',
            backgroundColor: '#fff',  
            style:{
            fontFamily: "Spectral",  
              maxWidth: "500px",
            },
       
       
          },

     title: {
          text:'Suivi des financements de la Solideo',
          margin:40,
          style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
                  fontStyle: 'italic',
                  fontSize: '16px',
                  },
        },
  colors: ["#8f8f8f",'#48AF5C'],
    yAxis: {
      gridLineColor: '#fff', 
        title: {
            text: 'Total €'
        }
    },
  tooltip: {
      //  pointFormat: '{series.name}: <b>{point.y}</b><br/>',
        valueSuffix: '€',
        xDateFormat: '%Y',
    },
  xAxis:{
   //  type: 'datetime',
    max: 2025,
  },
    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: 2018,
        },
      column: {
           pointWidth: 15,
           tooltip: {        
              backgroundColor: "#fff",        
              style: {
                  fontSize: '12px',     
              },    
             },
           },
         
    },

  

    series: [ {
        name: 'Financements prévus',
        data: <%= @financements_prevu_annee %>,
    },{
        name: 'Financements reçus ',
        data: <%= @financements_annee %>,
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
</script>

<script>
Highcharts.chart('container-pie', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie',
        backgroundColor: '#fff',
          style:{
          fontFamily: "Spectral",
          maxWidth: "500px",
          }
    },
    title: {
         text:'Financements de la Solideo (2018-2025)',   
          style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
                  fontStyle: "italic",
                  fontSize: '16px',
                  },
    },
  colors: ['#A2C744',"#4F82CE",'#4FC5CE'],
    tooltip: {
        pointFormat: '{series.name}: <b>{point.y:,.0f}€ </b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
           minSize: 200,
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b><br>{point.y:,.0f}€ - {point.percentage:.1f} %',
              style: {
                      color: "#8F8F8F",
                      fontSize: "11px",
                      fontWeight: "400",
                      fontStyle: "italic",
                      },
            }
        }
    },
    series: [{
        name: 'Total',
        colorByPoint: true,
        data: [{
            name: 'Etat',
            y:  <%= @solideo_financements_etat_prevu%>,
            sliced: true,
            selected: true
        }, {
            name: 'Privés',
            y: <%= @solideo_financements_prive_prevu%>,
        }, {
            name: 'Collectivités',
            y: <%= @solideo_financements_collectivites_prevu%>,
        }]
    }]
});
</script>

<script>
Highcharts.chart('container', {

   chart:{
            backgroundColor: '#fff',
           type: 'spline',
            spacing: [40,40,40,40],
        style:{
          fontFamily: "Spectral",
         
          },
        scrollablePlotArea: {
            minWidth: 700,
            scrollPositionX: 1
        }
          },

      title: {
        text:"Suivi annuel des financements de la Solideo",
        margin:40,
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
          fontStyle: 'italic',
      fontSize: '16px',
                  },
      },
colors: ['#A2C744','#4FC5CE',"#4F82CE"],
    yAxis: {
      gridLineColor: '#E6F0FF', 
        title: {
            text: 'Total €'
        }
    },
  tooltip: {
      //  pointFormat: '{series.name}: <b>{point.y}</b><br/>',
        valueSuffix: '€',
        xDateFormat: '%Y',
    },
  xAxis:{
      max: 2025,
  },
    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: 2018,

        }
    },

  

    series: [{
        name: 'Financements Etat',
        data: <%= @financements_annee_etat %>,
    }, {
        name: 'Financements Collectivités',
        data: <%= @financements_annee_co %>,
    }, {
        name: 'Financements privés',
        data: <%= @financements_annee_prive %>,
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
</script>

<script>
Highcharts.chart('container-s1', {

   chart:{
            backgroundColor: '#fff',
           type: 'spline',
            spacing: [40,40,40,40],
        style:{
          fontFamily: "Spectral",
         maxWidth: '500px',
          },
  
          },

      title: {
        text:"Suivi annuel des financements de l'Etat",
        margin:40,
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
          fontStyle: 'italic',
      fontSize: '16px',
                  },
      },
colors: ['#A2C744','#8f8f8f'],
    yAxis: {
      gridLineColor: '#E6F0FF', 
        title: {
            text: 'Total €'
        }
    },
  tooltip: {
      //  pointFormat: '{series.name}: <b>{point.y}</b><br/>',
        valueSuffix: '€',
        xDateFormat: '%Y',
    },
  xAxis:{
      max: 2025,
  },
    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: 2018,

        }
    },

  

    series: [{
        name: "Financements de l'Etat",
        data: <%= @financements_annee_etat %>,
    }, {
        name: "Financements de l'Etat prévus",
        data: <%= @financements_annee_etat_prevu %>,
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
</script>
<script>
Highcharts.chart('container-s2', {

   chart:{
            backgroundColor: '#fff',
           type: 'spline',
            spacing: [40,40,40,40],
        style:{
          fontFamily: "Spectral",
         maxWidth: '500px',
          },
  
          },

      title: {
        text:"Suivi annuel des financements des collectivités",
        margin:40,
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
          fontStyle: 'italic',
      fontSize: '16px',
                  },
      },
colors: ['#4FC5CE','#8f8f8f'],
    yAxis: {
      gridLineColor: '#E6F0FF', 
        title: {
            text: 'Total €'
        }
    },
  tooltip: {
      //  pointFormat: '{series.name}: <b>{point.y}</b><br/>',
        valueSuffix: '€',
        xDateFormat: '%Y',
    },
  xAxis:{
      max: 2025,
  },
    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: 2018,

        }
    },

  

    series: [{
        name: 'Financements des collectivités',
        data: <%= @financements_annee_co %>,
    }, {
        name: 'Financements des collectivités prévus',
        data: <%= @financements_annee_co_prevu %>,
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
</script>