<div class="SD_page">
  <div class="SD_home_button">
    <%= link_to root_path do %><i class="fas fa-chevron-left"></i><i class="fas fa-home"></i>Retour accueil<%end %>
  </div>
 
  <h1 class="SD_title">Les financements des collectivités pour les JOP2024 </h1>

  <div class="SD-topo-box">
  <div class="SD-topo-box-title">
    <span>Les collectivités des JOP2024</span>
  </div><br><br>
    
    <div class="calendar-infos">
      <div class="calendar-infos-box">
      <div>
     <i class="fas fa-city"></i>
      </div>
      <div>
      <%= @financeurs.length %><br>
      <span>Collectivités </span>
      </div>
    </div>
    <div class="calendar-infos-box">
      <div>
        <i class="fas fa-coins"></i>
      </div>
      <div>
        <%= number_with_delimiter(SolideoFinancement.where("financeur != ? AND financeur != ?", "Etat", "privé").sum('montant_prevu').to_i, :delimiter => ' ') %> €<br>
        <span>Budget Total</span>
      </div>
    </div>
   
    <div class="calendar-infos-box">
      <div>
      <i class="fas fa-chart-pie"></i>
      </div>
      <div>
      25%<br>
        <span>Du budget des JOP2024</span>
      </div>
    </div>

  </div><br><br>
  <div class="calendar-infos">
     <div class="calendar-infos-box">
      <div>
      <i class="fas fa-building"></i>
      </div>
      <div>
      55<br>
      <span>ouvrages MOA</span>
      </div>
    </div>
    <div class="calendar-infos-box">
      <div>
         <i class="fas fa-euro-sign"></i>
      </div>
      <div>
        <%= number_with_delimiter(SolideoFinancement.where("financeur != ? AND financeur != ?", "Etat", "privé").sum('montant').to_i, :delimiter => ' ') %> €<br>
        <span>Financements actuels</span>
      </div>
    </div>
    
    <div class="calendar-infos-box">
      <div>
      <i class="fas fa-funnel-dollar"></i>
      </div>
      <div>
       <%= ((SolideoFinancement.where('financeur !=? AND financeur !=? ','Etat', "privé").sum('montant_prevu')/SolideoFinancement.all.sum('montant_prevu')).round(2)*100).round%>%<br>
 
        <span>Du budget de la Solideo</span>
      </div>
    </div>

  </div>
   <br><br>
 
</div>  <br><br>
   <%= render 'topo_collectivites'%>
  

</div>

