<div class="SD_page">
  <div class="SD_home_button">
    <%= link_to solideo_financements_path do %><i class="fas fa-chevron-left"></i><i class="fas fa-home"></i>Retour<%end %>
  </div>
 
  <h1 class="SD_title">Le financement de la solideo</h1>
    <div class="row">
    <div class="col-md-6">
       <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2018,3), 0).nil? || SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2018,3), 0).empty? %> 
           <%=form_tag import_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T1 prévu 2018 </span></label>
              <%= hidden_field_tag :date_year, 2018 %>
              <%= hidden_field_tag :date_month, 3 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
           <%end%> 
         <% else %>
          <div class="SF-new-file-exist">
           <span> T1 2018 prévu <i class="fas fa-check"></i></span>
          </div>
         <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date,Date.new(2018,3) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
         <% end %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant > ?', Date.new(2018,3), 0).nil? || SolideoFinancement.where('date = ? AND montant > ?', Date.new(2018,3), 0).empty? %> 
           <%=form_tag import2_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv'%> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T1 exec 2018</span> </label>
              <%= hidden_field_tag :date_year, 2018 %>
              <%= hidden_field_tag :date_month, 3 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
          <%end%> 
        <% else %>
          <div class="SF-new-file-exist">
            <span>T1 2018 exec <i class="fas fa-check"></i> </span>
          </div>
        <% end %>
       </div>
      
    </div>
  </div>
    <div class="row">
    <div class="col-md-6">
       <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2018,6), 0).nil? || SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2018,6), 0).empty? %>
           <%=form_tag import_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i> <span class="SF-new-input-text">Ajouter T2 prévu 2018</span> </label>
              <%= hidden_field_tag :date_year, 2018 %>
              <%= hidden_field_tag :date_month, 6 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
          <%end%> 
        <%else%>
         <div class="SF-new-file-exist">
           <span> T2 2018 prévu <i class="fas fa-check"></i></span>
          </div>
         <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2018,6) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
        <% end %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant > ?', Date.new(2018,6), 0).nil? || SolideoFinancement.where('date = ? AND montant > ?', Date.new(2018,6), 0).empty? %> 
           <%=form_tag import2_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T2 exec 2018 </span></label> 
              <%= hidden_field_tag :date_year, 2018 %>
              <%= hidden_field_tag :date_month, 6 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
           <%end%> 
         <% else %>
          <div class="SF-new-file-exist">
           <span> T2 2018 exec <i class="fas fa-check"></i></span>
          </div>
          <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2018,6) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
         <% end %>
       </div>
      
    </div>
  </div>
     <div class="row">
    <div class="col-md-6">
       <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2018,9), 0).nil? || SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2018,9), 0).empty? %>
           <%=form_tag import_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T3 prévu 2018 </span></label>
              <%= hidden_field_tag :date_year, 2018 %>
              <%= hidden_field_tag :date_month, 9 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
          <%end%> 
        <%else%>
         <div class="SF-new-file-exist">
           <span> T3 2018 prévu <i class="fas fa-check"></i></span>
          </div>
         <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2018,9) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
        <% end %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant > ?', Date.new(2018,9), 0).nil? || SolideoFinancement.where('date = ? AND montant > ?', Date.new(2018,9), 0).empty? %> 
           <%=form_tag import2_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T3 exec 2018 </span></label> 
              <%= hidden_field_tag :date_year, 2018 %>
              <%= hidden_field_tag :date_month, 9 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
           <%end%> 
         <% else %>
          <div class="SF-new-file-exist">
           <span> T3 2018 exec <i class="fas fa-check"></i></span>
          </div>
          <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2018,9) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
         <% end %>
       </div>
      
    </div>
  </div>
   <div class="row">
    <div class="col-md-6">
       <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2018,12), 0).nil? || SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2018,12), 0).empty? %>
           <%=form_tag import_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T4 prévu 2018 </span></label>
              <%= hidden_field_tag :date_year, 2018 %>
              <%= hidden_field_tag :date_month, 12 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            
            </div>
          <%end%> 
        <%else%>
         <div class="SF-new-file-exist">
           <span> T4 2018 prévu <i class="fas fa-check"></i></span>
          </div>
         <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2018,12) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
        <% end %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant > ?', Date.new(2018,12), 0).nil? || SolideoFinancement.where('date = ? AND montant > ?', Date.new(2018,12), 0).empty? %> 
           <%=form_tag import2_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T4 exec 2018 </span></label> 
              <%= hidden_field_tag :date_year, 2018 %>
              <%= hidden_field_tag :date_month, 12 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            
            </div>
           <%end%> 
         <% else %>
          <div class="SF-new-file-exist">
           <span> T4 2018 exec <i class="fas fa-check"></i></span>
          </div>
          <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2018,12) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
         <% end %>
       </div>
      
    </div>
  </div> 
  
  <div class="row">
    <div class="col-md-6">
       <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2019,3), 0).nil? || SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2019,3), 0).empty? %> 
           <%=form_tag import_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T1 prévu 2019 </span></label>
              <%= hidden_field_tag :date_year, 2019 %>
              <%= hidden_field_tag :date_month, 3 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
           <%end%> 
         <% else %>
          <div class="SF-new-file-exist">
           <span> T1 2019 prévu <i class="fas fa-check"></i></span>
          </div>
         <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date,Date.new(2019,3) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
         <% end %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant > ?', Date.new(2019,3), 0).nil? || SolideoFinancement.where('date = ? AND montant > ?', Date.new(2019,3), 0).empty? %> 
           <%=form_tag import2_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv'%> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T1 exec 2019</span> </label>
              <%= hidden_field_tag :date_year, 2019 %>
              <%= hidden_field_tag :date_month, 3 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
          <%end%> 
        <% else %>
          <div class="SF-new-file-exist">
            <span>T1 2019 exec <i class="fas fa-check"></i> </span>
          </div>
        <% end %>
       </div>
      
    </div>
  </div>
    <div class="row">
    <div class="col-md-6">
       <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2019,6), 0).nil? || SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2019,6), 0).empty? %>
           <%=form_tag import_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i> <span class="SF-new-input-text">Ajouter T2 prévu 2019</span> </label>
              <%= hidden_field_tag :date_year, 2019 %>
              <%= hidden_field_tag :date_month, 6 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
          <%end%> 
        <%else%>
         <div class="SF-new-file-exist">
           <span> T2 2019 prévu <i class="fas fa-check"></i></span>
          </div>
         <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2019,6) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
        <% end %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant > ?', Date.new(2019,6), 0).nil? || SolideoFinancement.where('date = ? AND montant > ?', Date.new(2019,6), 0).empty? %> 
           <%=form_tag import2_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T2 exec 2019 </span></label> 
              <%= hidden_field_tag :date_year, 2019 %>
              <%= hidden_field_tag :date_month, 6 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
           <%end%> 
         <% else %>
          <div class="SF-new-file-exist">
           <span> T2 2019 exec <i class="fas fa-check"></i></span>
          </div>
          <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2019,6) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
         <% end %>
       </div>
      
    </div>
  </div>
     <div class="row">
    <div class="col-md-6">
       <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2019,9), 0).nil? || SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2019,9), 0).empty? %>
           <%=form_tag import_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T3 prévu 2019 </span></label>
              <%= hidden_field_tag :date_year, 2019 %>
              <%= hidden_field_tag :date_month, 9 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
          <%end%> 
        <%else%>
         <div class="SF-new-file-exist">
           <span> T3 2019 prévu <i class="fas fa-check"></i></span>
          </div>
         <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2019,9) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
        <% end %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant > ?', Date.new(2019,9), 0).nil? || SolideoFinancement.where('date = ? AND montant > ?', Date.new(2019,9), 0).empty? %> 
           <%=form_tag import2_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T3 exec 2019 </span></label> 
              <%= hidden_field_tag :date_year, 2019 %>
              <%= hidden_field_tag :date_month, 9 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
           <%end%> 
         <% else %>
          <div class="SF-new-file-exist">
           <span> T3 2019 exec <i class="fas fa-check"></i></span>
          </div>
          <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2019,9) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
         <% end %>
       </div>
      
    </div>
  </div>
   <div class="row">
    <div class="col-md-6">
       <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2019,12), 0).nil? || SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2019,12), 0).empty? %>
           <%=form_tag import_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T4 prévu 2019 </span></label>
              <%= hidden_field_tag :date_year, 2019 %>
              <%= hidden_field_tag :date_month, 12 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            
            </div>
          <%end%> 
        <%else%>
         <div class="SF-new-file-exist">
           <span> T4 2019 prévu <i class="fas fa-check"></i></span>
          </div>
         <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2019,12) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
        <% end %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant > ?', Date.new(2019,12), 0).nil? || SolideoFinancement.where('date = ? AND montant > ?', Date.new(2019,12), 0).empty? %> 
           <%=form_tag import2_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T4 exec 2019 </span></label> 
              <%= hidden_field_tag :date_year, 2019 %>
              <%= hidden_field_tag :date_month, 12 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            
            </div>
           <%end%> 
         <% else %>
          <div class="SF-new-file-exist">
           <span> T4 2019 exec <i class="fas fa-check"></i></span>
          </div>
          <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2019,12) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
         <% end %>
       </div>
      
    </div>
  </div> 
 
      <div class="row">
    <div class="col-md-6">
       <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2020,3), 0).nil? || SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2020,3), 0).empty? %> 
           <%=form_tag import_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T1 prévu 2020 </span></label>
              <%= hidden_field_tag :date_year, 2020 %>
              <%= hidden_field_tag :date_month, 3 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
           <%end%> 
         <% else %>
          <div class="SF-new-file-exist">
           <span> T1 2020 prévu <i class="fas fa-check"></i></span>
          </div>
         <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date,Date.new(2020,3) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
         <% end %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant > ?', Date.new(2020,3), 0).nil? || SolideoFinancement.where('date = ? AND montant > ?', Date.new(2020,3), 0).empty? %> 
           <%=form_tag import2_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv'%> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T1 exec 2020</span> </label>
              <%= hidden_field_tag :date_year, 2020 %>
              <%= hidden_field_tag :date_month, 3 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
          <%end%> 
        <% else %>
          <div class="SF-new-file-exist">
            <span>T1 2020 exec <i class="fas fa-check"></i> </span>
          </div>
        <% end %>
       </div>
      
    </div>
  </div>
    <div class="row">
    <div class="col-md-6">
       <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2020,6), 0).nil? || SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2020,6), 0).empty? %>
           <%=form_tag import_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i> <span class="SF-new-input-text">Ajouter T2 prévu 2020</span> </label>
              <%= hidden_field_tag :date_year, 2020 %>
              <%= hidden_field_tag :date_month, 6 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
          <%end%> 
        <%else%>
         <div class="SF-new-file-exist">
           <span> T2 2020 prévu <i class="fas fa-check"></i></span>
          </div>
         <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2020,6) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
        <% end %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant > ?', Date.new(2020,6), 0).nil? || SolideoFinancement.where('date = ? AND montant > ?', Date.new(2020,6), 0).empty? %> 
           <%=form_tag import2_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T2 exec 2020 </span></label> 
              <%= hidden_field_tag :date_year, 2020 %>
              <%= hidden_field_tag :date_month, 6 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
           <%end%> 
         <% else %>
          <div class="SF-new-file-exist">
           <span> T2 2020 exec <i class="fas fa-check"></i></span>
          </div>
          <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2020,6) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
         <% end %>
       </div>
      
    </div>
  </div>
     <div class="row">
    <div class="col-md-6">
       <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2020,9), 0).nil? || SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2020,9), 0).empty? %>
           <%=form_tag import_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T3 prévu 2020 </span></label>
              <%= hidden_field_tag :date_year, 2020 %>
              <%= hidden_field_tag :date_month, 9 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
          <%end%> 
        <%else%>
         <div class="SF-new-file-exist">
           <span> T3 2020 prévu <i class="fas fa-check"></i></span>
          </div>
         <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2020,9) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
        <% end %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant > ?', Date.new(2020,9), 0).nil? || SolideoFinancement.where('date = ? AND montant > ?', Date.new(2020,9), 0).empty? %> 
           <%=form_tag import2_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T3 exec 2020 </span></label> 
              <%= hidden_field_tag :date_year, 2020 %>
              <%= hidden_field_tag :date_month, 9 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
           <%end%> 
         <% else %>
          <div class="SF-new-file-exist">
           <span> T3 2020 exec <i class="fas fa-check"></i></span>
          </div>
          <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2020,9) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
         <% end %>
       </div>
      
    </div>
  </div>
   <div class="row">
    <div class="col-md-6">
       <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2020,12), 0).nil? || SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2020,12), 0).empty? %>
           <%=form_tag import_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T4 prévu 2020 </span></label>
              <%= hidden_field_tag :date_year, 2020 %>
              <%= hidden_field_tag :date_month, 12 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            
            </div>
          <%end%> 
        <%else%>
         <div class="SF-new-file-exist">
           <span> T4 2020 prévu <i class="fas fa-check"></i></span>
          </div>
         <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2020,12) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
        <% end %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant > ?', Date.new(2020,12), 0).nil? || SolideoFinancement.where('date = ? AND montant > ?', Date.new(2020,12), 0).empty? %> 
           <%=form_tag import2_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T4 exec 2020 </span></label> 
              <%= hidden_field_tag :date_year, 2020 %>
              <%= hidden_field_tag :date_month, 12 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            
            </div>
           <%end%> 
         <% else %>
          <div class="SF-new-file-exist">
           <span> T4 2020 exec <i class="fas fa-check"></i></span>
          </div>
          <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2020,12) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
         <% end %>
       </div>
      
    </div>
  </div> 
 
    <div class="row">
    <div class="col-md-6">
       <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2021,3), 0).nil? || SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2021,3), 0).empty? %> 
           <%=form_tag import_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T1 prévu 2021 </span></label>
              <%= hidden_field_tag :date_year, 2021 %>
              <%= hidden_field_tag :date_month, 3 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
           <%end%> 
         <% else %>
          <div class="SF-new-file-exist">
           <span> T1 2021 prévu <i class="fas fa-check"></i></span>
          </div>
         <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date,Date.new(2021,3) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
         <% end %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant > ?', Date.new(2021,3), 0).nil? || SolideoFinancement.where('date = ? AND montant > ?', Date.new(2021,3), 0).empty? %> 
           <%=form_tag import2_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv'%> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T1 exec 2021</span> </label>
              <%= hidden_field_tag :date_year, 2021 %>
              <%= hidden_field_tag :date_month, 3 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
          <%end%> 
        <% else %>
          <div class="SF-new-file-exist">
            <span>T1 2021 exec <i class="fas fa-check"></i> </span>
          </div>
        <% end %>
       </div>
      
    </div>
  </div>
    <div class="row">
    <div class="col-md-6">
       <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2021,6), 0).nil? || SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2021,6), 0).empty? %>
           <%=form_tag import_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i> <span class="SF-new-input-text">Ajouter T2 prévu 2021</span> </label>
              <%= hidden_field_tag :date_year, 2021 %>
              <%= hidden_field_tag :date_month, 6 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
          <%end%> 
        <%else%>
         <div class="SF-new-file-exist">
           <span> T2 2021 prévu <i class="fas fa-check"></i></span>
          </div>
         <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2021,6) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
        <% end %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant > ?', Date.new(2021,6), 0).nil? || SolideoFinancement.where('date = ? AND montant > ?', Date.new(2021,6), 0).empty? %> 
           <%=form_tag import2_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T2 exec 2021 </span></label> 
              <%= hidden_field_tag :date_year, 2021 %>
              <%= hidden_field_tag :date_month, 6 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
           <%end%> 
         <% else %>
          <div class="SF-new-file-exist">
           <span> T2 2021 exec <i class="fas fa-check"></i></span>
          </div>
          <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2021,6) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
         <% end %>
       </div>
      
    </div>
  </div>
     <div class="row">
    <div class="col-md-6">
       <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2021,9), 0).nil? || SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2021,9), 0).empty? %>
           <%=form_tag import_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T3 prévu 2021 </span></label>
              <%= hidden_field_tag :date_year, 2021 %>
              <%= hidden_field_tag :date_month, 9 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
          <%end%> 
        <%else%>
         <div class="SF-new-file-exist">
           <span> T3 2021 prévu <i class="fas fa-check"></i></span>
          </div>
         <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2021,9) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
        <% end %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant > ?', Date.new(2021,9), 0).nil? || SolideoFinancement.where('date = ? AND montant > ?', Date.new(2021,9), 0).empty? %> 
           <%=form_tag import2_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T3 exec 2021 </span></label> 
              <%= hidden_field_tag :date_year, 2021 %>
              <%= hidden_field_tag :date_month, 9 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
           <%end%> 
         <% else %>
          <div class="SF-new-file-exist">
           <span> T3 2021 exec <i class="fas fa-check"></i></span>
          </div>
          <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2021,9) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
         <% end %>
       </div>
      
    </div>
  </div>
   <div class="row">
    <div class="col-md-6">
       <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2021,12), 0).nil? || SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2021,12), 0).empty? %>
           <%=form_tag import_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T4 prévu 2021 </span></label>
              <%= hidden_field_tag :date_year, 2021 %>
              <%= hidden_field_tag :date_month, 12 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            
            </div>
          <%end%> 
        <%else%>
         <div class="SF-new-file-exist">
           <span> T4 2021 prévu <i class="fas fa-check"></i></span>
          </div>
         <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2021,12) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
        <% end %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant > ?', Date.new(2021,12), 0).nil? || SolideoFinancement.where('date = ? AND montant > ?', Date.new(2021,12), 0).empty? %> 
           <%=form_tag import2_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T4 exec 2021 </span></label> 
              <%= hidden_field_tag :date_year, 2021 %>
              <%= hidden_field_tag :date_month, 12 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            
            </div>
           <%end%> 
         <% else %>
          <div class="SF-new-file-exist">
           <span> T4 2021 exec <i class="fas fa-check"></i></span>
          </div>
          <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2021,12) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
         <% end %>
       </div>
      
    </div>
  </div> 
 

    <div class="row">
    <div class="col-md-6">
       <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2022,3), 0).nil? || SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2022,3), 0).empty? %> 
           <%=form_tag import_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T1 prévu 2022 </span></label>
              <%= hidden_field_tag :date_year, 2022 %>
              <%= hidden_field_tag :date_month, 3 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
           <%end%> 
         <% else %>
          <div class="SF-new-file-exist">
           <span> T1 2022 prévu <i class="fas fa-check"></i></span>
          </div>
         <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date,Date.new(2022,3) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
         <% end %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant > ?', Date.new(2022,3), 0).nil? || SolideoFinancement.where('date = ? AND montant > ?', Date.new(2022,3), 0).empty? %> 
           <%=form_tag import2_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv'%> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T1 exec 2022</span> </label>
              <%= hidden_field_tag :date_year, 2022 %>
              <%= hidden_field_tag :date_month, 3 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
          <%end%> 
        <% else %>
          <div class="SF-new-file-exist">
            <span>T1 2022 exec <i class="fas fa-check"></i> </span>
          </div>
        <% end %>
       </div>
      
    </div>
  </div>
    <div class="row">
    <div class="col-md-6">
       <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2022,6), 0).nil? || SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2022,6), 0).empty? %>
           <%=form_tag import_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i> <span class="SF-new-input-text">Ajouter T2 prévu 2022</span> </label>
              <%= hidden_field_tag :date_year, 2022 %>
              <%= hidden_field_tag :date_month, 6 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
          <%end%> 
        <%else%>
         <div class="SF-new-file-exist">
           <span> T2 2022 prévu <i class="fas fa-check"></i></span>
          </div>
         <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2022,6) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
        <% end %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant > ?', Date.new(2022,6), 0).nil? || SolideoFinancement.where('date = ? AND montant > ?', Date.new(2022,6), 0).empty? %> 
           <%=form_tag import2_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T2 exec 2022 </span></label> 
              <%= hidden_field_tag :date_year, 2022 %>
              <%= hidden_field_tag :date_month, 6 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
           <%end%> 
         <% else %>
          <div class="SF-new-file-exist">
           <span> T2 2022 exec <i class="fas fa-check"></i></span>
          </div>
          <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2022,6) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
         <% end %>
       </div>
      
    </div>
  </div>
     <div class="row">
    <div class="col-md-6">
       <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2022,9), 0).nil? || SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2022,9), 0).empty? %>
           <%=form_tag import_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T3 prévu 2022 </span></label>
              <%= hidden_field_tag :date_year, 2022 %>
              <%= hidden_field_tag :date_month, 9 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
          <%end%> 
        <%else%>
         <div class="SF-new-file-exist">
           <span> T3 2022 prévu <i class="fas fa-check"></i></span>
          </div>
         <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2022,9) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
        <% end %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant > ?', Date.new(2022,9), 0).nil? || SolideoFinancement.where('date = ? AND montant > ?', Date.new(2022,9), 0).empty? %> 
           <%=form_tag import2_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T3 exec 2022 </span></label> 
              <%= hidden_field_tag :date_year, 2022 %>
              <%= hidden_field_tag :date_month, 9 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
           <%end%> 
         <% else %>
          <div class="SF-new-file-exist">
           <span> T3 2022 exec <i class="fas fa-check"></i></span>
          </div>
          <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2022,9) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
         <% end %>
       </div>
      
    </div>
  </div>
   <div class="row">
    <div class="col-md-6">
       <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2022,12), 0).nil? || SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2022,12), 0).empty? %>
           <%=form_tag import_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T4 prévu 2022 </span></label>
              <%= hidden_field_tag :date_year, 2022 %>
              <%= hidden_field_tag :date_month, 12 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            
            </div>
          <%end%> 
        <%else%>
         <div class="SF-new-file-exist">
           <span> T4 2022 prévu <i class="fas fa-check"></i></span>
          </div>
         <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2022,12) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
        <% end %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant > ?', Date.new(2022,12), 0).nil? || SolideoFinancement.where('date = ? AND montant > ?', Date.new(2022,12), 0).empty? %> 
           <%=form_tag import2_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T4 exec 2022 </span></label> 
              <%= hidden_field_tag :date_year, 2022 %>
              <%= hidden_field_tag :date_month, 12 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            
            </div>
           <%end%> 
         <% else %>
          <div class="SF-new-file-exist">
           <span> T4 2022 exec <i class="fas fa-check"></i></span>
          </div>
          <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2022,12) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
         <% end %>
       </div>
      
    </div>
  </div> 
 

    <div class="row">
    <div class="col-md-6">
       <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2023,3), 0).nil? || SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2023,3), 0).empty? %> 
           <%=form_tag import_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T1 prévu 2023 </span></label>
              <%= hidden_field_tag :date_year, 2023 %>
              <%= hidden_field_tag :date_month, 3 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
           <%end%> 
         <% else %>
          <div class="SF-new-file-exist">
           <span> T1 2023 prévu <i class="fas fa-check"></i></span>
          </div>
         <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date,Date.new(2023,3) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
         <% end %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant > ?', Date.new(2023,3), 0).nil? || SolideoFinancement.where('date = ? AND montant > ?', Date.new(2023,3), 0).empty? %> 
           <%=form_tag import2_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv'%> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T1 exec 2023</span> </label>
              <%= hidden_field_tag :date_year, 2023 %>
              <%= hidden_field_tag :date_month, 3 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
          <%end%> 
        <% else %>
          <div class="SF-new-file-exist">
            <span>T1 2023 exec <i class="fas fa-check"></i> </span>
          </div>
        <% end %>
       </div>
      
    </div>
  </div>
    <div class="row">
    <div class="col-md-6">
       <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2023,6), 0).nil? || SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2023,6), 0).empty? %>
           <%=form_tag import_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i> <span class="SF-new-input-text">Ajouter T2 prévu 2023</span> </label>
              <%= hidden_field_tag :date_year, 2023 %>
              <%= hidden_field_tag :date_month, 6 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
          <%end%> 
        <%else%>
         <div class="SF-new-file-exist">
           <span> T2 2023 prévu <i class="fas fa-check"></i></span>
          </div>
         <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2023,6) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
        <% end %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant > ?', Date.new(2023,6), 0).nil? || SolideoFinancement.where('date = ? AND montant > ?', Date.new(2023,6), 0).empty? %> 
           <%=form_tag import2_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T2 exec 2023 </span></label> 
              <%= hidden_field_tag :date_year, 2023 %>
              <%= hidden_field_tag :date_month, 6 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
           <%end%> 
         <% else %>
          <div class="SF-new-file-exist">
           <span> T2 2023 exec <i class="fas fa-check"></i></span>
          </div>
          <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2023,6) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
         <% end %>
       </div>
      
    </div>
  </div>
     <div class="row">
    <div class="col-md-6">
       <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2023,9), 0).nil? || SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2023,9), 0).empty? %>
           <%=form_tag import_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T3 prévu 2023 </span></label>
              <%= hidden_field_tag :date_year, 2023 %>
              <%= hidden_field_tag :date_month, 9 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
          <%end%> 
        <%else%>
         <div class="SF-new-file-exist">
           <span> T3 2023 prévu <i class="fas fa-check"></i></span>
          </div>
         <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2023,9) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
        <% end %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant > ?', Date.new(2023,9), 0).nil? || SolideoFinancement.where('date = ? AND montant > ?', Date.new(2023,9), 0).empty? %> 
           <%=form_tag import2_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T3 exec 2023 </span></label> 
              <%= hidden_field_tag :date_year, 2023 %>
              <%= hidden_field_tag :date_month, 9 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
           <%end%> 
         <% else %>
          <div class="SF-new-file-exist">
           <span> T3 2023 exec <i class="fas fa-check"></i></span>
          </div>
          <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2023,9) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
         <% end %>
       </div>
      
    </div>
  </div>
   <div class="row">
    <div class="col-md-6">
       <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2023,12), 0).nil? || SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2023,12), 0).empty? %>
           <%=form_tag import_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T4 prévu 2023 </span></label>
              <%= hidden_field_tag :date_year, 2023 %>
              <%= hidden_field_tag :date_month, 12 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            
            </div>
          <%end%> 
        <%else%>
         <div class="SF-new-file-exist">
           <span> T4 2023 prévu <i class="fas fa-check"></i></span>
          </div>
         <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2023,12) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
        <% end %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant > ?', Date.new(2023,12), 0).nil? || SolideoFinancement.where('date = ? AND montant > ?', Date.new(2023,12), 0).empty? %> 
           <%=form_tag import2_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T4 exec 2023 </span></label> 
              <%= hidden_field_tag :date_year, 2023 %>
              <%= hidden_field_tag :date_month, 12 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            
            </div>
           <%end%> 
         <% else %>
          <div class="SF-new-file-exist">
           <span> T4 2023 exec <i class="fas fa-check"></i></span>
          </div>
          <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2023,12) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
         <% end %>
       </div>
      
    </div>
  </div> 
 
    <div class="row">
    <div class="col-md-6">
       <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2024,3), 0).nil? || SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2024,3), 0).empty? %> 
           <%=form_tag import_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T1 prévu 2024 </span></label>
              <%= hidden_field_tag :date_year, 2024 %>
              <%= hidden_field_tag :date_month, 3 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
           <%end%> 
         <% else %>
          <div class="SF-new-file-exist">
           <span> T1 2024 prévu <i class="fas fa-check"></i></span>
          </div>
         <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date,Date.new(2024,3) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
         <% end %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant > ?', Date.new(2024,3), 0).nil? || SolideoFinancement.where('date = ? AND montant > ?', Date.new(2024,3), 0).empty? %> 
           <%=form_tag import2_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv'%> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T1 exec 2024</span> </label>
              <%= hidden_field_tag :date_year, 2024 %>
              <%= hidden_field_tag :date_month, 3 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
          <%end%> 
        <% else %>
          <div class="SF-new-file-exist">
            <span>T1 2024 exec <i class="fas fa-check"></i> </span>
          </div>
        <% end %>
       </div>
      
    </div>
  </div>
    <div class="row">
    <div class="col-md-6">
       <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2024,6), 0).nil? || SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2024,6), 0).empty? %>
           <%=form_tag import_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i> <span class="SF-new-input-text">Ajouter T2 prévu 2024</span> </label>
              <%= hidden_field_tag :date_year, 2024 %>
              <%= hidden_field_tag :date_month, 6 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
          <%end%> 
        <%else%>
         <div class="SF-new-file-exist">
           <span> T2 2024 prévu <i class="fas fa-check"></i></span>
          </div>
         <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2024,6) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
        <% end %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant > ?', Date.new(2024,6), 0).nil? || SolideoFinancement.where('date = ? AND montant > ?', Date.new(2024,6), 0).empty? %> 
           <%=form_tag import2_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T2 exec 2024 </span></label> 
              <%= hidden_field_tag :date_year, 2024 %>
              <%= hidden_field_tag :date_month, 6 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
           <%end%> 
         <% else %>
          <div class="SF-new-file-exist">
           <span> T2 2024 exec <i class="fas fa-check"></i></span>
          </div>
          <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2024,6) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
         <% end %>
       </div>
      
    </div>
  </div>
     <div class="row">
    <div class="col-md-6">
       <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2024,9), 0).nil? || SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2024,9), 0).empty? %>
           <%=form_tag import_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T3 prévu 2024 </span></label>
              <%= hidden_field_tag :date_year, 2024 %>
              <%= hidden_field_tag :date_month, 9 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
          <%end%> 
        <%else%>
         <div class="SF-new-file-exist">
           <span> T3 2024 prévu <i class="fas fa-check"></i></span>
          </div>
         <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2024,9) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
        <% end %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant > ?', Date.new(2024,9), 0).nil? || SolideoFinancement.where('date = ? AND montant > ?', Date.new(2024,9), 0).empty? %> 
           <%=form_tag import2_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T3 exec 2024 </span></label> 
              <%= hidden_field_tag :date_year, 2024 %>
              <%= hidden_field_tag :date_month, 9 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            </div>
           <%end%> 
         <% else %>
          <div class="SF-new-file-exist">
           <span> T3 2024 exec <i class="fas fa-check"></i></span>
          </div>
          <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2024,9) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
         <% end %>
       </div>
      
    </div>
  </div>
   <div class="row">
    <div class="col-md-6">
       <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2024,12), 0).nil? || SolideoFinancement.where('date = ? AND montant_prevu > ?', Date.new(2024,12), 0).empty? %>
           <%=form_tag import_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T4 prévu 2024 </span></label>
              <%= hidden_field_tag :date_year, 2024 %>
              <%= hidden_field_tag :date_month, 12 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            
            </div>
          <%end%> 
        <%else%>
         <div class="SF-new-file-exist">
           <span> T4 2024 prévu <i class="fas fa-check"></i></span>
          </div>
         <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2024,12) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
        <% end %>
       </div>
    </div>
    <div class="col-md-6">
        <div class="SF-new-box">
         <% if SolideoFinancement.where('date = ? AND montant > ?', Date.new(2024,12), 0).nil? || SolideoFinancement.where('date = ? AND montant > ?', Date.new(2024,12), 0).empty? %> 
           <%=form_tag import2_solideo_financements_path, multipart: true do %>
            <div class="text-center SF-new-input">
              <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter T4 exec 2024 </span></label> 
              <%= hidden_field_tag :date_year, 2024 %>
              <%= hidden_field_tag :date_month, 12 %>
            </div>
            <div class="SF_new_form_field_submit">
              <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
            
            </div>
           <%end%> 
         <% else %>
          <div class="SF-new-file-exist">
           <span> T4 2024 exec <i class="fas fa-check"></i></span>
          </div>
          <div class="SF-new-file-delete">
           <%= form_tag deleteall_solideo_financements_path do %>
           <%= hidden_field_tag :date, Date.new(2024,12) %>
           <%= button_tag(type: "submit") do %> <i class="fas fa-trash-alt"></i><%end%>
           <% end %>
         </div>
         <% end %>
       </div>
      
    </div>
  </div> 
 











</div>


<script>
  $('.SF_new_form_field_submit').hide();
    function readURL(input) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function(e) {
         
              
          }
          reader.readAsDataURL(input.files[0]);
      }
  }
  $("input").change(function() {
      readURL(this);
      $(this).parent().parent().parent().children('.SF_new_form_field_submit').show();
      $(this).parent().children('.SF-new-input-text').html($(this).val().replace(/C:\\fakepath\\/i, ''));
  });

</script>
