<div class="SD_page">
  <div class="SD_home_button">
    <%= link_to solideo_financements_path do %><i class="fas fa-chevron-left"></i><i class="fas fa-home"></i>Retour<%end %>
  </div>
 
  <h1 class="SD_title">Le financement de la solideo</h1>

  <div>
   <%=form_tag import_solideo_financements_path, multipart: true do %>
    <div class="text-center">
    <%= file_field_tag :file %>     
    </div>
    <div class="ED_new_form_field_submit">
     <%= submit_tag 'Importer'%> 
    </div>
    

    <%end%> 
  </div>
  
  <h2 class="SD_title">Ou ajouter un nouveau financeur</h1>
  <div>
    <%= render 'form', solideo_financement: @solideo_financement %>
  </div>


</div>
