<p id="notice"><%= notice %></p>

<p>
  <strong>Financeur:</strong>
  <%= @solideo_financement.financeur %>
</p>

<p>
  <strong>Financement prevu:</strong>
  <%= @solideo_financement.financement_prevu %>
</p>

<p>
  <strong>Financement 2018:</strong>
  <%= @solideo_financement.financement_2018 %>
</p>

<p>
  <strong>Financement 2019:</strong>
  <%= @solideo_financement.financement_2019 %>
</p>

<p>
  <strong>Financement 2020:</strong>
  <%= @solideo_financement.financement_2020 %>
</p>

<p>
  <strong>Financement 2021:</strong>
  <%= @solideo_financement.financement_2021 %>
</p>

<p>
  <strong>Financement 2022:</strong>
  <%= @solideo_financement.financement_2022 %>
</p>

<p>
  <strong>Financement 2023:</strong>
  <%= @solideo_financement.financement_2023 %>
</p>

<p>
  <strong>Financement 2024:</strong>
  <%= @solideo_financement.financement_2024 %>
</p>

<p>
  <strong>Financement 2025:</strong>
  <%= @solideo_financement.financement_2025 %>
</p>

<%= link_to 'Edit', edit_solideo_financement_path(@solideo_financement) %> |
<%= link_to 'Back', solideo_financements_path %>
