<div class="O_page">
  <div class="O_home_button">
    <%= link_to collectivites_path do %><i class="fas fa-chevron-left"></i>Retour aux collectivités <%end %>
  </div>
   <h1 class="SD_title"><%= @solideo_financement.financeur %> </h1>


  <div class="O-topo-box">
   <div class="O-topo-box-infos"> 
      <%= pie_chart(@financement.unscope(:order).group(:categorie).sum('montant_prevu'), library: {
      chart: {
           backgroundColor: '#fff',
        style:{
          fontFamily: "Spectral",
          maxWidth: "500px",
          }
        },

        tooltip: {
          useHTML: true,
          pointFormat: 'Montant : <b>{point.y:,.0f}€</b><br>',
          shared: true,  
        },

        plotOptions: {
            pie: {
                allowPointSelect: true,
               # cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<em>{point.name}<br>{point.y:,.0f}€ - {point.percentage:.1f} %</em>',
                    style: {
                      color: "#8F8F8F",
                      fontSize: "12px",
                      fontWeight: "400",

                      }
                }
            }
        },
      }) %>

    </div>
  <% if !@ouvrages.nil? && !@ouvrages.empty? %>
  <div class="O-topo-box-financeurs">
     <div class="O-topo-financeurs-title"><span>Ouvrages financés</span></div><br>
     <div class="SF-topo-financeurs-box">
      <div class="SF-topo-financeurs-name"></div>
      <div class="SF-topo-financeurs-budget"><div class="SF-topo-financeurs-budget-prevu"><em>Fin. prévus à date €</em></div><div class="SF-topo-financeurs-budget-actuel"> | <em>Fin. actuels €</em></div></div>
    </div> <br><br>
    <% @ouvrages.each do |ouvrage| %>
    <div class="SF-topo-financeurs-box">
      <div class="SF-topo-financeurs-name"><%= link_to ouvrage_path(ouvrage) do %><%= Ouvrage.find(ouvrage).name %> <% end %></div>
      <div class="SF-topo-financeurs-budget"><div class="SF-topo-financeurs-budget-prevu"><%= number_with_delimiter(OuvragesFinancement.where('name = ? AND ouvrage_id = ? AND date <= ?',@solideo_financement.financeur, ouvrage, Date.today).sum('montant_prevu').to_i, :delimiter => ' ')%> €</div><div class="SF-topo-financeurs-budget-actuel"> |  <%= number_with_delimiter(OuvragesFinancement.where('name = ? AND ouvrage_id = ? AND date <= ? ',@solideo_financement.financeur, ouvrage, Date.today).sum('montant').to_i, :delimiter => ' ') %> €</div></div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
  
  <br><br>
<div  class="SD-table-box">
    <div>
    <%= line_chart [{name: "Financement prévu", data: @financement.unscope(:order).group_by_year(:date).sum('montant_prevu')}, {name: "Financement attribué", data: @financement.unscope(:order).group_by_year(:date).sum('montant') } ], library: {
      chart:{
            backgroundColor: '#fff',
           
            spacing: [40,40,40,40],
        style:{
          fontFamily: "Spectral",
         
          }
          },

      title: {
        text:'<em>Suivi des financements attribués par la collectivité pour les JOP2024</em>',
        margin:40,
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
                  },
      },
      yAxis: {
        gridLineColor: '#E6F0FF', 
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total: <b>{point.y}</b>',
            xDateFormat: '%Y',
            valuePrefix: '$'
          }
        }
    %>
  </div>
  <div class="SD-table-box-left">
    <% if !@financement.nil? %>

      
        <div class="ED_table">
          <table>
            <thead>
              <tr>
                <th scope="col">Dates</th>
         
                <th scope="col"> Financement attribué / Financement prévu</th>
                <th scope="col" class="border-none">Type</th>
               
              </tr>
            </thead>
            <tbody>
              <% @financement.order('date DESC').each do |financement| %>
              <tr>
                <th scope="row"><%= financement.date.strftime("%b %Y") %></th>
         
                <td><div class="table-row"><div class="table-row-left"><%= number_with_delimiter(financement.montant.to_i, :delimiter => ' ') %> €</div> <div class="table-row-right"> / <%= number_with_delimiter(financement.montant_prevu.to_i, :delimiter => ' ') %> €</div></div></td>
                <td class="border-none"><%= financement.categorie%></td>
            
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <div>
          Aucune dépense renseignée
        </div>
      <%end%>

      
  </div>
  
  </div>
</div>
</div>