<div class="page_w">
  <div class="ED_new_form_box">
  <h1 class="logo_connexion hidden-xs"><%= image_tag 'logo_datalympics_blanc.png'%></h1>
 <div class="i40"></div>
 <div class="i24 visible-xs"></div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render 'shared/devise_errors' %>

    <div class="form">
      <%= f.label :email, "Adresse mail" %>
      <%= f.email_field :email, autofocus: true, required: true, autocomplete: "email", class:"form-field" %>
    </div>
    <div class="i24"></div>
    <div class="form">
      <%= f.label :password %>
      <%= f.password_field :password, required: true, autocomplete: "new-password", class:"form-field"  %>
    </div>
    <div class="i24"></div>
    <div class="form">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation,required: true, autocomplete: "new-password", class:"form-field"  %>
    </div>

    <div class="i40"></div>
    <div class="text-center">
      <%= f.submit "Inscription", class:"bouton" %>
    </div>
    <div class="i24"></div>
  <% end %>

  </div>
</div>