<div class="ED_new_form_box">
<%= form_with(model: ouvrage, local: true) do |form| %>
  <% if ouvrage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ouvrage.errors.count, "error") %> prohibited this ouvrage from being saved:</h2>

      <ul>
      <% ouvrage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ED_new_form_field">
    <%= form.label :name, "Nom de l'ouvrage" %>
    <%= form.text_field :name, required: true  %>
  </div>
  <div class="ED_new_form_field">
    <%= form.label :maitre_oeuvre, "MO de l'ouvrage" %>
    <%= form.text_field :maitre_oeuvre, required: true  %>
  </div>
  <div class="ED_new_form_field ED_new_form_field_date">
    <%= form.label :date %>
    <%= form.date_select :date, {:order => [:year]}, class: "ED_new_form_input_date"  %>
  </div>
  <div class="ED_new_form_field">
    <%= form.label :budget, "budget de l'ouvrage" %>
    <%= form.number_field :budget, min: 0, required: true  %>
  </div>
  <div class="ED_new_form_field">
    <%= form.label :adresse, "Adresse de l'ouvrage" %>
      </div>
  <div class="ED_new_form_field2">
    <%= form.text_field :adresse, id: "user_input_autocomplete_address", required: true  %>
  </div>
  <div class="ED_new_form_field">
    <%= form.label :description%>
    </div>
  <div class="ED_new_form_field2">
    <%= form.text_field :description, required: true %>
  </div>
  <div class="ED_new_form_field">
    <%= form.label :phase_jo %>
    </div>
  <div class="ED_new_form_field2">
    <%= form.text_field :phase_jo, required: true  %>
  </div>
  <div class="ED_new_form_field">
    <%= form.label :heritage %>
  </div>
  <div class="ED_new_form_field2">
    <%= form.text_field :heritage, required: true  %>
  </div>
  <div class="ED_new_form_field">
    <%= form.label :start, "Début des travaux"%>
  </div>
  <div class="ED_new_form_field2">
    <%= form.date_select :start,discard_day: true,  class: "ED_new_form_input_date"  %>
  </div>
  <div class="ED_new_form_field">
    <%= form.label :end, "fin des travaux"%>
      </div>
  <div class="ED_new_form_field2">
    <%= form.date_select :end,discard_day: true,  class: "ED_new_form_input_date"  %>
  </div>

  <div class="ED_new_form_field">
    <%= form.label :photo, "Photo de l'ouvrage" %>
    <%= form.file_field :photo %>
  </div>

  <div class="ED_new_form_field_submit">
    <%= form.submit 'Valider '%>
  </div>
<% end %>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzB6sn07VIK_DzRsbm87THvZtEO1qPaNg&libraries=places"></script>


<script type="text/javascript">
var input = document.getElementById('user_input_autocomplete_address');
var options = {
  types: ['geocode'],
  componentRestrictions: {country: 'fr'}
};

autocomplete = new google.maps.places.Autocomplete(input, options);
  

</script>