
<div class="row">
  <div class="col-md-6">
  
       <%= search_form_for @q, url: recherche_ouvrages_path , method: :get, remote: true, id: "search-form" do |f| %>
        <div class="ouvrages-search">
           <%= f.search_field :name_cont,class: "ouvrages-search-field", id:"name",placeholder: "Cherchez un ouvrage", data: {autocomplete_source: ouvrages_path} %> 
          <%= f.button :submit, id:"submit_button", class:"ouvrages-submit" do %><i class="fas fa-search"></i><% end %>
        </div>
          <% end %>     
    
    <div class="ouvrages-box">
      <% if !@ouvrages.nil?%>
       <% if @ouvrages.where('maitre_oeuvre = ?', "SOLIDEO").count > 0 %>
         <div class='ouvrages-mo'>
           MOA : Solideo
         </div>
         <% @ouvrages.where('maitre_oeuvre = ?', "SOLIDEO").where.not('name like ?',"%SITE d'ENTRAINEMENT%").each do |ouvrage| %>
          <div class="O-name">
            <%= link_to ouvrage do %>
              <%= ouvrage.name %>  
              <% if Maquette.where('ouvrage_id =?',ouvrage.id).order('date DESC').count > 0 %><span>- <%= number_with_delimiter((Maquette.where('ouvrage_id =?',ouvrage.id).order('date DESC').first.total/1000).to_i, :delimiter => ' ')%> k€</span> <% end %>    
            <% end %>
          </div>
          <% end %>
          <% @ouvrages.where('maitre_oeuvre = ?', "SOLIDEO").where('name like ?',"%SITE d'ENTRAINEMENT%").each do |ouvrage| %>
          <div class="O-name">
            <%= link_to ouvrage do %>
              <%= ouvrage.name %>  
              <% if Maquette.where('ouvrage_id =?',ouvrage.id).order('date DESC').count > 0 %>
              <span>- <%= number_with_delimiter((Maquette.where('ouvrage_id =?',ouvrage.id).order('date DESC').first.total/1000).to_i, :delimiter => ' ')%> k€</span>  
              <% end %>      
            <% end %>
          </div>
          <% end %>
        <% end %>
        <br><br>
       <% @maitre_oeuvre.each do |mo|%>
         <div class='ouvrages-mo'>
           MOA : <%= mo %>
         </div>
         <% @ouvrages.where('maitre_oeuvre = ?', mo).where.not('name like ?',"%SITE d'ENTRAINEMENT%").each do |ouvrage| %>
          <div class="O-name">
          <%= link_to ouvrage do %>
            <%= ouvrage.name %>  
            <% if Maquette.where('ouvrage_id =?',ouvrage.id).order('date DESC').count > 0 %><span>- <%= number_with_delimiter((Maquette.where('ouvrage_id =?',ouvrage.id).order('date DESC').first.total/1000).to_i, :delimiter => ' ')%> k€</span>   
            <% end %>     
          <% end %>
          </div>
         <% end %>
         
       
         <% @ouvrages.where('maitre_oeuvre = ?', mo).where('name like ?',"%SITE d'ENTRAINEMENT%").each do |ouvrage| %>
          <div class="O-name">
          <%= link_to ouvrage do %>
            <%= ouvrage.name %>  
            <% if Maquette.where('ouvrage_id =?',ouvrage.id).order('date DESC').count > 0 %>
            <span>- <%= number_with_delimiter((Maquette.where('ouvrage_id =?',ouvrage.id).order('date DESC').first.total/1000).to_i, :delimiter => ' ')%> k€</span>  
            <% end %>      
          <% end %>
          </div>
         <% end %>
      
       <br>
       <% end %>
       
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
      <div id="map">
      
      </div>

    </div>
</div>

 <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzB6sn07VIK_DzRsbm87THvZtEO1qPaNg&map_ids=4c4b12db708d00c6&callback=initMap"
      defer
    ></script>
<script>

function initMap() {
  var map = new google.maps.Map(document.getElementById("map"), {
    mapId: "4c4b12db708d00c6",
    center: { lat: <%= @ouvrages.first.latitude%>, lng: <%= @ouvrages.first.longitude%> },
    zoom: 10,
    
  });

  var infowindow = new google.maps.InfoWindow({
                         content:''
                       });
              var image = {
                          path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
                          fillColor: '#000091',
                          fillOpacity: 1,
                          scale: 0.5,
                          strokeColor: '#000091',
                          strokeWeight: 1,
                          labelOrigin: new google.maps.Point(0, -30)
                        };
              var image2 ={
                          path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
                          fillColor: '#000091',
                          fillOpacity: 1,
                          scale: 0.6,
                          strokeColor: '#000091',
                          strokeWeight: 1,
                          labelOrigin: new google.maps.Point(0, -30)
                        };
              var imager = {
                          path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
                          fillColor: '#F1013B',
                          fillOpacity: 1,
                          scale: 0.5,
                          strokeColor: '#F1013B',
                          strokeWeight: 1,
                          labelOrigin: new google.maps.Point(0, -30)
                        };
            var image2r ={
                          path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
                          fillColor: '#F1013B',
                          fillOpacity: 1,
                          scale: 0.6,
                          strokeColor: '#F1013B',
                          strokeWeight: 1,
                          labelOrigin: new google.maps.Point(0, -30)
                        };
  var imagei = {
                          path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
                          fillColor: '#FD9C04',
                          fillOpacity: 1,
                          scale: 0.5,
                          strokeColor: '#FD9C04',
                          strokeWeight: 1,
                          labelOrigin: new google.maps.Point(0, -30)
                        };
            var image2i ={
                          path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
                          fillColor: '#FD9C04',
                          fillOpacity: 1,
                          scale: 0.6,
                          strokeColor: '#FD9C04',
                          strokeWeight: 1,
                          labelOrigin: new google.maps.Point(0, -30)
                        };
  
  
        <% @ouvrages.each do |ouvrage| %>
                        
                var marker = new google.maps.Marker({
                                position: {lat: <% if ouvrage.latitude.nil?%>48.856614<% else%><%= ouvrage.latitude%><%end%>, lng: <% if ouvrage.longitude.nil?%>2.3522219<% else %><%= ouvrage.longitude%><%end%>},
                                map: map,
                                icon: <% if ouvrage.ouvrages_revues.count > 0 %><% if ouvrage.ouvrages_revues.order("date DESC").first.delai_indicateur == 5 %>imager<% elsif ouvrage.ouvrages_revues.order("date DESC").first.delai_indicateur == 4 %>imagei<% else %>image<% end%><% else %>image <% end %>,
                                label: {
                                     fontFamily: "'Font Awesome 5 Free'",
                                      text: '\uf6e3', //icon code
                                      fontWeight: '900', //careful! some icons in FA5 only exist for specific font weights
                                      color: '#FFFFFF', //color of the text inside marker
                                      fontSize: '8px'
                                },
                              });
                
                      
                          
                bindInfoWindow(marker, map, infowindow, '<div class="search-container-fluid">'+ '<p class="search-name"><%= link_to ouvrage_path(ouvrage) do %><%= ouvrage.name%><% end %></p>'+ '</div>');
       
                               <% if ouvrage.ouvrages_revues.count > 0 %>
                               <% if ouvrage.ouvrages_revues.order("date DESC").first.delai_indicateur == 5 %>
                                AddMouseover(marker, imager, image2r);
                              <% elsif ouvrage.ouvrages_revues.order("date DESC").first.delai_indicateur == 4 %>
                              AddMouseover(marker, imagei, image2i);
                                <%else%>
                                AddMouseover(marker, image, image2);
                                <%end %>
                               <% else %>
                                AddMouseover(marker, image, image2);
                                <% end %>
                      
                <% end %>
                }
                      
                function bindInfoWindow(marker, map, infowindow, html) {   
                   
                        google.maps.event.addListener(marker,'click', function() {
                              infowindow.setContent(html); 
                              infowindow.open(map, marker);
                            });
                       google.maps.event.addListener(infowindow, 'domready', function() {
                       // Reference to the DIV which receives the contents of the infowindow using jQuery
                       var iwOuter = $('.gm-style-iw');
                       var iwBackground = iwOuter.prev();
                       // Remove the background shadow DIV
                       iwBackground.children(':nth-child(2)').css({'display' : 'none'});
                       // Remove the white background DIV
                       iwBackground.children(':nth-child(4)').css({'display' : 'none'});
                       // iwOuter.children().css({'width':'100%'})
                       //iwOuter.parent().parent().css({left: '20px'});
                                      // Moves the shadow of the arrow 76px to the left margin 
                       // iwBackground.children(':nth-child(1)').attr('style', function(i,s){ return s + 'right: 20px !important;'});
                        // Moves the arrow 76px to the left margin 
                       // iwBackground.children(':nth-child(3)').attr('style', function(i,s){ return s + 'right: 20px !important;'});
                                      // Changes the desired color for the tail outline.
                        // The outline of the tail is composed of two descendants of div which contains the tail.
                        // The .find('div').children() method refers to all the div which are direct descendants of the previous div. 
                        iwBackground.children(':nth-child(3)').find('div').children().css({'box-shadow': 'rgba(130,153,247,0.2) 0px 1px 6px', 'z-index' : '1'});
                        var iwCloseBtn = iwOuter.next();
                        // Apply the desired effect to the close button
                        iwCloseBtn.css({
                          opacity: '1', // by default the close button has an opacity of 0.7
                          right: '20px', top: '3px', // button repositioning
                          color: '#3233FF',
                          //border: '1px solid transparent', // increasing button border and new color
                          //'border-radius': '13px', // circular effect
                          //'box-shadow': '0 0 5px #fff' // 3D effect to highlight the button
                          });
                        // The API automatically applies 0.7 opacity to the button after the mouseout event.
                        // This function reverses this event to the desired value.
                        iwCloseBtn.mouseout(function(){
                          $(this).css({opacity: '1'});
                        })
                      });
                    }
                function AddMouseover(marker, image, image2){
                        google.maps.event.addListener(marker,'mouseover', function() {
                              marker.setIcon(image2);
                              var label = this.getLabel();
                                label.color="white";
                              this.setLabel(label)
                            });
                        google.maps.event.addListener(marker,'mouseout', function() {
                              marker.setIcon(image);
                              var label = this.getLabel();
                                label.color="white";
                              this.setLabel(label)
                            });
                      
                }
                     
                      
</script>
<script>

  $(function() {
 // var matieres = ["Stade de france", "Arena 2", "village"]
  // Below is the name of the textfield that will be autocomplete    
    $('#name').autocomplete({
 // This is the source of the auocomplete suggestions. In this case a list of names from the people controller, in JSON format.
     
      source: $('#name').data('autocomplete-source'),
          //  source:matieres,
           
      select: function(event, ui) {
       // $.ajax({
       //   type:'GET',
       //   url: '/ouvrages',
          
        //});
        $("#name").val(ui.item.label);
          $("#submit_button").click()    

    },
        })
     .data("ui-autocomplete")._renderItem = function(ul, item){
       var expression = new RegExp(this.term, "gi");
      var result = expression.exec(item.label);
      var answer; 
      if (result.index == 0){
        answer = item.label.replace(expression, "<span style='font-weight:bold;color:#000091'>" + this.term + "</span>");
        return $("<li></li>")
      .append("<a>"+answer+"</a>")
      .prependTo(ul);
      }   
      else
       answer = item.label.replace(expression, "<span style='font-weight:bold;color:#000091'>" + this.term.toLowerCase() + "</span>");
      return $("<li></li>")
      .append("<a>"+answer+"</a>")
      .appendTo(ul);
     
    };
    
  });
</script>