<div  class="SD-table-box">
  <div class="SD-topo-box-title">
    <span>Suivi trimestriel des dépenses de l'ouvrage</span>
  </div>
    <div>
    <%= line_chart [{name: "Décaissements", data: @ouvrage.ouvrages_depenses.unscope(:order).group(:date).sum('montant')}, {name: "Décaissements prévus", data: @ouvrage.ouvrages_depenses.unscope(:order).group(:date).sum('montant_prevu')}], library: {
      chart:{
            backgroundColor: '#fff',
           
            spacing: [40,40,40,40],
        style:{
          fontFamily: "Spectral",
         
          }
          },

      title: {
        text:"<em>Suivi des décaissements pour l'ouvrage</em>",
        margin:40,
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
                  },
      },
      yAxis: {
        gridLineColor: '#E6F0FF', 
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total: <b>{point.y}</b>',
            xDateFormat: '%Y',
            valuePrefix: '$'
          }
        }
    %>
  </div>
  <div class="SD-table-box-left">
    <% if !@ouvrage.ouvrages_financements.nil? %>

      
        <div class="ED_table">
          <table>
            <thead>
              <tr>
                <th scope="col">Dates</th>
                <th scope="col">Décaissement (effectif/prevu)</th>
                <th scope="col" class="border-none">Engagement</th>
      
              </tr>
            </thead>
            <tbody>
              <% @ouvrage.ouvrages_depenses.order('date DESC').each do |ouvrage_depense| %>
              <tr>
                <th scope="row"><%= ouvrage_depense.date.strftime("%b %Y") %></th>
                <td><div class="table-row"><div class="table-row-left"><%= number_with_delimiter(ouvrage_depense.montant.to_i, :delimiter => ' ') %>€</div> <div class="table-row-right"> / <%= number_with_delimiter(ouvrage_depense.montant_prevu.to_i, :delimiter => ' ') %> € <% if ouvrage_depense.montant.to_i > ouvrage_depense.montant_prevu.to_i%> <i class="fas fa-exclamation-circle"></i> <%end %> </div></div></td>
                <td class="border-none"><%= number_with_delimiter(ouvrage_depense.montant_engage.to_i, :delimiter => ' ') %>€</td>
             
             
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <div>
          Aucune dépense renseignée
        </div>
      <%end%>

   
      
  </div>
  
  </div><br><br>