
<div class="box_page">
  <div class="row">
    <div class="col-md-8">
      <div><span class="titre_section">Infos ouvrage</span></div>
      <div class="i24"></div>
      <div class="row">
        <div class="col-md-4">
           <div class="O-topo-image">
            <% if @ouvrage.photo.attached? %>
            <%= image_tag @ouvrage.photo%>
            <% end %>
          </div>
          
        </div>
        <div class="col-md-4 col-xs-6">
          <div id="container-jauge">
            
          </div>
        </div>
        <div class="col-md-4 col-xs-6">
          <div id="container-jauge2">
            
          </div>
        </div>
      </div>

      <div class="i24"></div>
      <div class="row">
        <div class="col-md-12">
        <div class="box_alignement">
          
            <div class="box_chiffre inline-flex">
                <div>
                  <i class="fas fa-coins"></i>
                </div>
                <div>
                  <div class="chiffre_cle"><% if !SolideoStructure.where('name = ?',@ouvrage.name).first.nil?%><%= SolideoStructure.where('name = ?',@ouvrage.name).first.solideo_structure_budgets.order(date: :asc).last.budget_global.round(1)%><% else %> XXX<% end %> M€</div>
                <div class="texte_chiffre">Budget Global</div>
                </div>
            </div>
            
            <div class="box_chiffre inline-flex">
              <div>
                 <i class="fas fa-euro-sign"></i>
              </div>
              <div>
                <div class="chiffre_cle"><% if !SolideoStructure.where('name = ?',@ouvrage.name).first.nil? %><%= SolideoStructure.where('name = ?',@ouvrage.name).first.solideo_structure_depenses.order(date: :asc).last.droits_constates_cumul.round(1)%><% else %>XXX <%end%> M€</div>
                <div class="texte_chiffre">Dépenses totales</div>
              </div>
            </div>

            <div class="box_chiffre inline-flex">
                <div>
                  <i class="fas fa-coins"></i>
                </div>
                <div>
                 <div class="chiffre_cle"> <% if !SolideoStructure.where('name = ?',@ouvrage.name).first.nil? %><%= SolideoStructure.where('name = ?',@ouvrage.name).first.solideo_structure_budgets.order(date: :asc).last.budget_annee.round(1)%><% else %> XXX<% end %> M€</div>
                  <div class="texte_chiffre">Budget 2021</div>
                </div>
            </div> 
            <div class="box_chiffre inline-flex">
              <div>
                 <i class="fas fa-euro-sign"></i>
              </div>
              <div>
                <div class="chiffre_cle"><% if !SolideoStructure.where('name = ?',@ouvrage.name).first.nil? %><%= SolideoStructure.where('name = ?',@ouvrage.name).first.solideo_structure_depenses.order(date: :asc).last.droits_constates_annee.round(1)%><% else %>XXX<%end%> M€</div>
                <div class="texte_chiffre">Dépenses 2021</div>
              </div>
            </div> 
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="padding-left:30px;">
      <div><span class="titre_section">Maîtrise des coûts</span></div>
      <div class="i24"></div>

      <div class="inline-flex w100">
        <div class="jauge-flag">
          <i class="fas fa-flag"></i>
        </div>
        <div class="pdt w100 tl">
      
          <span class="fs18 c1"><% if !SolideoStructure.where('name = ?',@ouvrage.name).first.nil? %><%= (SolideoStructure.where('name = ?',@ouvrage.name).first.solideo_structure_budgets.order(date: :asc).last.budget_global-SolideoStructure.where('name = ?',@ouvrage.name).first.solideo_structure_budgets.order(date: :asc).first.budget_global).round(1)%><% else %> XXX<% end %> M€</span><br>
         <span class="fs14 c2">Ecarts budget global</span>
         
          </div>
      </div>

      <div class="i60"></div>
        
      <div><span class="titre_section">Maîtrise des délais</span></div>
      <div class="i24"></div>
      <div class="inline-flex w100">
        <div class="jauge-clock">
          <i class="fas fa-stopwatch"></i>
        </div>
        <div class="pdt w100 tl">
          <span class="fs18 c1">XX mois</span><br>
          <span class="fs14 c2">Retard envisagé</span>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="i24"></div>

<script>

Highcharts.chart('container-jauge', {

  chart: {
        type: 'solidgauge',
        height: '150px',
        spacing: [0,0,0,0],
    },

    title: {
        text: null,
       
    },

    tooltip: {
        borderWidth: 0,
        backgroundColor: 'none',
        shadow: false,
        style: {
            fontSize: '16px'
        },
        valueSuffix: '%',
        pointFormat: '',
        positioner: function (labelWidth) {
            return {
                x: (this.chart.chartWidth - labelWidth) / 2,
                y: (this.chart.plotHeight / 2) + 15
            };
        }
    },

    pane: {
        startAngle: 0,
        endAngle: 360,
        background: [{ // Track for Move
            outerRadius: '100%',
            innerRadius: '88%',
            backgroundColor: "#C4C4C4",
            borderWidth: 0
        }]
    },

    yAxis: {
        min: 0,
        max: 100,
        lineWidth: 0,
        tickPositions: []
    },

    plotOptions: {
        solidgauge: {
            
          tooltip: "",
          
            dataLabels: {
              enabled: true,
              borderWidth: 0,
              backgroundColor: 'none',
              shadow: false,
              style: {
                  fontSize: '10px',
                color: '#6A6A6A',
              },
              valueSuffix: '%',
              format: '<span style="font-size:10px; color: {point.color}; font-weight: bold">{point.y:,.0f} %</span><br><span style="color:#E1000F; font-size:10px;font-weight:400">{series.name}</span>',
            verticalAlign: 'middle',
              align: 'center',
        
            },
            linecap: 'round',
            stickyTracking: false,
            rounded: true
        }
    },

    series: [{
        name: 'Budget consommé',
        data: [{
            color: "#2323EA",
            radius: '100%',
            innerRadius: '88%',
            y: <% if !SolideoStructure.where('name = ?',@ouvrage.name).first.nil?%><%= SolideoStructure.where('name = ?',@ouvrage.name).first.solideo_structure_depenses.order(date: :asc).last.droits_constates_cumul / SolideoStructure.where('name = ?',@ouvrage.name).first.solideo_structure_budgets.order(date: :asc).last.budget_global * 100 %><%else%>0<%end%>,
        }]
    }]
});
  </script>

<script>

Highcharts.chart('container-jauge2', {

    chart: {
        type: 'solidgauge',
        height: '150px',
        spacing: [0,0,0,0],
    },

    title: {
        text: null,
       
    },

    tooltip: {
        borderWidth: 0,
        backgroundColor: 'none',
        shadow: false,
        style: {
            fontSize: '16px'
        },
        valueSuffix: '%',
        pointFormat: '',
        positioner: function (labelWidth) {
            return {
                x: (this.chart.chartWidth - labelWidth) / 2,
                y: (this.chart.plotHeight / 2) + 15
            };
        }
    },

    pane: {
        startAngle: 0,
        endAngle: 360,
        background: [{ // Track for Move
            outerRadius: '100%',
            innerRadius: '88%',
            backgroundColor: "#C4C4C4",
            borderWidth: 0
        }]
    },

    yAxis: {
        min: 0,
        max: 100,
        lineWidth: 0,
        tickPositions: []
    },

    plotOptions: {
        solidgauge: {
            
          tooltip: "",
          
            dataLabels: {
              enabled: true,
              borderWidth: 0,
              backgroundColor: 'none',
              shadow: false,
              style: {
                  fontSize: '10px',
                color: '#6A6A6A',
              },
              valueSuffix: '%',
              format: '<span style="font-size:10px; color: {point.color}; font-weight: bold">{point.y:,.0f} %</span><br><span style="color:#E1000F; font-size:10px;font-weight:400">{series.name}</span>',
            verticalAlign: 'middle',
              align: 'center',
        
            },
            linecap: 'round',
            stickyTracking: false,
            rounded: true
        }
    },

    series: [{
        name: 'Avancée travaux',
        data: [{
            color: "#2323EA",
            radius: '100%',
            innerRadius: '88%',
            y: 20
        }]
    }]
});
  </script>


