<div class="O-topo-box">
  <div class="O-topo-box-infos">
    <div class="O-topo-image">
      
    </div>
    <div class="O-topo-infos-text">
      Lieu : <%= @ouvrage.adresse %><br>
      MOA : <%= @ouvrage.maitre_oeuvre %><br>
      Budget : <%= number_with_delimiter(@ouvrage.budget.to_i, :delimiter => ' ')%> €<br>
    </div>
    
  </div>
  <% if !@ouvrage_financeurs.nil? && !@ouvrage_financeurs.empty? %>
  <div class="O-topo-box-financeurs">
     <div class="O-topo-financeurs-title"><span>Financeurs</span></div><br>
    <div class="SF-topo-financeurs-box">
      <div class="SF-topo-financeurs-name"></div>
      <div class="SF-topo-financeurs-budget"><div class="SF-topo-financeurs-budget-prevu"><em>Fin. prévus à date €</em></div><div class="SF-topo-financeurs-budget-actuel"> | <em>Fin. actuels €</em></div></div>
    </div> <br><br>
    <% @ouvrage_financeurs.each do |financeur| %>
    <div class="SF-topo-financeurs-box">
      <div class="SF-topo-financeurs-name"><% if financeur == "Etat"%><%= link_to etat_budgets_path do %><%= financeur %><%end%><%elsif !SolideoFinancement.where("financeur =?", financeur).last.nil? %><%= link_to solideo_financement_path(id: SolideoFinancement.where("financeur =?", financeur).last.id) do %><%= financeur %><%end%><%else%><%= financeur.name %><%end%> </div>
      <div class="SF-topo-financeurs-budget"><div class="SF-topo-financeurs-budget-prevu"><%= number_with_delimiter(OuvragesFinancement.where('ouvrage_id = ? AND name = ? AND date <= ? ', @ouvrage.id, financeur, Date.today).sum('montant_prevu').to_i, :delimiter => ' ')%> €</div><div class="SF-topo-financeurs-budget-actuel"> | <%= number_with_delimiter(OuvragesFinancement.where('ouvrage_id = ? AND name = ? ', @ouvrage.id, financeur).sum('montant').to_i, :delimiter => ' ') %> € <% if OuvragesFinancement.where('ouvrage_id = ? AND name = ? AND date <= ? ', @ouvrage.id, financeur, Date.today).sum('montant_prevu').to_i > OuvragesFinancement.where('ouvrage_id = ? AND name = ? ', @ouvrage.id, financeur).sum('montant').to_i %><i class="fas fa-exclamation-circle"></i><% end %></div></div>
    </div>
      <% end %>
  </div>
  <% end %>
</div><br><br>