
  <div class="row">

  <div class="col-md-8">
    <div class="SD-table-box ouvrage-topo-box">
      <div class="row">
        <div class="col-md-6">
           <div class="O-topo-image">
            <% if @ouvrage.photo.attached? %>
            <%= image_tag @ouvrage.photo%>
            <% end %>
          </div>
          <div class="O-topo-infos-text">
            Lieu : <%= @ouvrage.adresse %><br>
            MOA : <%= @ouvrage.maitre_oeuvre %><br>
          </div>
        </div>
        <div class="col-md-3">
          <div id="container-jauge">
            
          </div>
        </div>
        <div class="col-md-3">
          <div id="container-jauge2">
            
          </div>
        </div>
        </div>
      <br><br>
      <div class="row">
        <div class="ouvrages-budget-infos-box">
          <div class="ouvrages-budget-infos">
            <div class="ouvrages-budget-infos-number"><%= number_with_delimiter(@ouvrage.budget.to_i, :delimiter => ' ')%> €</div>
          <div class="ouvrages-budget-infos-texte">Budget Initial</div>
          </div>
          <div class="ouvrages-budget-infos">
            <div class="ouvrages-budget-infos-number"><% if @ouvrage.ouvrages_depenses.count > 0 %><%= number_with_delimiter(@ouvrage.ouvrages_depenses.sum('montant').to_i, :delimiter => ' ')%><% else %>XXX<%end%> €</div>
            <div class="ouvrages-budget-infos-texte">Dépenses réalisées </div>
        </div>
          <div class="ouvrages-budget-infos">
            <div class="ouvrages-budget-infos-number"><% if @ouvrage.ouvrages_financements.count > 0 %><%= number_with_delimiter(@ouvrage.ouvrages_financements.order("date DESC").first.montant_prevu.to_i, :delimiter => ' ')%><% else %> XXX<% end %> €</div>
            <div class="ouvrages-budget-infos-texte">Budget recalculé </div>
        </div>
        </div>
      </div>
    </div>
  </div>
    <div class="col-md-4">
      <div class="SD-table-box ouvrage-topo-box">
        <div class="SD-topo-box-title">
            <span>Maîtrise des coûts</span>
         </div><br><br>
        <div class="jauge-risques">
          <div class="risque1-b"></div>
          <div class="risque2-b "></div>
          <div class="risque3-b "></div>
          <div class="risque4-b "></div>
          <div class="risque5-b"></div>
        </div>
        <div class="ouvrages-risques-infos">
          <% if @ouvrage.ouvrages_financements.count > 0 %>
          <% if (@ouvrage.ouvrages_financements.order("date DESC").first.montant_prevu-@ouvrage.budget).to_i > 0 %>
          <i class="fas fa-exclamation-triangle"></i> Surcoûts : <%= number_with_delimiter((@ouvrage.ouvrages_financements.order("date DESC").first.montant_prevu-@ouvrage.budget).to_i, :delimiter => ' ')%> €<br>
          <% elsif (@ouvrage.ouvrages_financements.order("date DESC").first.montant_prevu-@ouvrage.budget).to_i < 0 %>
          Baisse des coûts : <%= number_with_delimiter((@ouvrage.ouvrages_financements.order("date DESC").first.montant_prevu-@ouvrage.budget).to_i, :delimiter => ' ')%> € <br>
          <% else %>
          Pas de surcoûts envisagés
          <% end %>
          <% else %>Pas de données <br><% end %> 
        </div><br><br>
        
        <div class="SD-topo-box-title">
            <span>Maîtrise des délais</span>
         </div><br><br>
        <div class="jauge-risques">
          <div class="risque1-d"></div>
          <div class="risque2-d"></div>
          <div class="risque3-d "></div>
          <div class="risque4-d"></div>
          <div class="risque5-d"></div>
        </div>
        <div class="ouvrages-risques-infos">
          <% if @ouvrage.ouvrages_revues.count > 0 %>
          <% if @ouvrage.ouvrages_revues.order("date DESC").first.delai_time.to_i > 0 %>
          <i class="fas fa-exclamation-triangle"></i> Retard : <%= @ouvrage.ouvrages_revues.order("date DESC").first.delai_time.to_i %> mois 
          <% else %> Aucun retard envisagé <% end %><br>
          <% else %> Pas de données <% end %><br>
        </div>
      </div>
    </div>
 
 
</div><br><br>



<script>

Highcharts.chart('container-jauge', {

    chart: {
        type: 'solidgauge',
        height: '150px',
        spacing: [0,0,0,0],
    },

    title: {
        text: null,
       
    },

    tooltip: {
        borderWidth: 0,
        backgroundColor: 'none',
        shadow: false,
        style: {
            fontSize: '16px'
        },
        valueSuffix: '%',
        pointFormat: '',
        positioner: function (labelWidth) {
            return {
                x: (this.chart.chartWidth - labelWidth) / 2,
                y: (this.chart.plotHeight / 2) + 15
            };
        }
    },

    pane: {
        startAngle: 0,
        endAngle: 360,
        background: [{ // Track for Move
            outerRadius: '100%',
            innerRadius: '88%',
            backgroundColor: "#C4C4C4",
            borderWidth: 0
        }]
    },

    yAxis: {
        min: 0,
        max: 100,
        lineWidth: 0,
        tickPositions: []
    },

    plotOptions: {
        solidgauge: {
            
          tooltip: "",
          
            dataLabels: {
              enabled: true,
              borderWidth: 0,
              backgroundColor: 'none',
              shadow: false,
              style: {
                  fontSize: '10px',
                color: '#004A70',
              },
              valueSuffix: '%',
              format: '<span style="font-size:10px; color: {point.color}; font-weight: bold">{point.y:,.0f} %</span><br><span style="color:#5770BE; font-size:10px;font-weight:400">{series.name}</span>',
            verticalAlign: 'middle',
              align: 'center',
        
            },
            linecap: 'round',
            stickyTracking: false,
            rounded: true
        }
    },

    series: [{
        name: 'Budget consommé',
        data: [{
            color: "#F29D53",
            radius: '100%',
            innerRadius: '88%',
            y: <% if @ouvrage.ouvrages_financements.count > 0 %> <%= (@ouvrage.ouvrages_depenses.sum('montant')/@ouvrage.ouvrages_financements.last.montant_prevu.to_i*100).round %><%else%> <%= (@ouvrage.ouvrages_depenses.sum('montant')/@ouvrage.budget*100).round %><% end %>
        }]
    }]
});
  </script>

<script>

Highcharts.chart('container-jauge2', {

    chart: {
        type: 'solidgauge',
        height: '150px',
        spacing: [0,0,0,0],
    },

    title: {
        text: null,
       
    },

    tooltip: {
        borderWidth: 0,
        backgroundColor: 'none',
        shadow: false,
        style: {
            fontSize: '16px'
        },
        valueSuffix: '%',
        pointFormat: '',
        positioner: function (labelWidth) {
            return {
                x: (this.chart.chartWidth - labelWidth) / 2,
                y: (this.chart.plotHeight / 2) + 15
            };
        }
    },

    pane: {
        startAngle: 0,
        endAngle: 360,
        background: [{ // Track for Move
            outerRadius: '100%',
            innerRadius: '88%',
            backgroundColor: "#C4C4C4",
            borderWidth: 0
        }]
    },

    yAxis: {
        min: 0,
        max: 100,
        lineWidth: 0,
        tickPositions: []
    },

    plotOptions: {
        solidgauge: {
            
          tooltip: "",
          
            dataLabels: {
              enabled: true,
              borderWidth: 0,
              backgroundColor: 'none',
              shadow: false,
              style: {
                  fontSize: '10px',
                color: '#004A70',
              },
              valueSuffix: '%',
              format: '<span style="font-size:10px; color: {point.color}; font-weight: bold">{point.y:,.0f} %</span><br><span style="color:#5770BE; font-size:10px;font-weight:400">{series.name}</span>',
            verticalAlign: 'middle',
              align: 'center',
        
            },
            linecap: 'round',
            stickyTracking: false,
            rounded: true
        }
    },

    series: [{
        name: 'Avancée travaux',
        data: [{
            color: "#F29D53",
            radius: '100%',
            innerRadius: '88%',
            y: 20
        }]
    }]
});
  </script>


