<div class="SD-table-box">
  <div class="row">

  <div class="col-md-6">
    <div class="O-topo-image">
      <% if @ouvrage.photo.attached? %>
      <%= image_tag @ouvrage.photo%>
      <% end %>
    </div>
    <div class="O-topo-infos-text">
      Lieu : <%= @ouvrage.adresse %><br>
      MOA : <%= @ouvrage.maitre_oeuvre %><br>
      Budget : <%= number_with_delimiter(@ouvrage.budget.to_i, :delimiter => ' ')%> €<br>
    </div>
    
  </div>
    <div class="col-md-6">
      <div id="map2">
        
      </div>
    </div>
 
  </div>
</div><br><br><br>
<div class="SD-topo-box">
  <div class="SD-topo-box-title">
    <span>Financements</span>
  </div><br><br>
  <div class="row">
    <div class="col-md-6"> 
      
     <div id='container-pie'>
    <%= pie_chart OuvragesFinancement.where('ouvrage_id = ?', @ouvrage.id).unscope(:order).group(:name).sum(:montant_prevu) ,  library: {
     chart: {
       backgroundColor: '#fff',
        type: 'pie',

       style:{
          fontFamily: "Spectral",
          },
    },

      title: {
        text:'2018',
      
        style: {
          color: '#8F8F8F',
          fontSize: '16px',
          fontStyle: 'italic',
          }
      },
     plotOptions: {
        pie: {
           size: 100,
           dataLabels: {
                    enabled: true,
                    format: '<em>{point.name}<br>{point.y:,.0f} €</em>',
                   
                    
                    style: {
                      color: "#8F8F8F",
                      fontSize: "11px",
                      fontWeight: "400",

                      }
                },
        }
    },
  }
   
    %>
      
    </div>
    </div>
    <div class="col-md-6"> 
      
     <div id='container-pie'>
    <%= pie_chart OuvragesFinancement.where('ouvrage_id = ?', @ouvrage.id).unscope(:order).group(:name).sum(:montant_prevu) ,  library: {
     chart: {
       backgroundColor: '#fff',
        type: 'pie',

       style:{
          fontFamily: "Spectral",
          },
    },

      title: {
        text:'2020',
      
        style: {
          color: '#8F8F8F',
          fontSize: '16px',
          fontStyle: 'italic',
          }
      },
     plotOptions: {
        pie: {
           size: 200,
           dataLabels: {
                    enabled: true,
                    format: '<em>{point.name}<br>{point.y:,.0f} €</em>',
                   
                    
                    style: {
                      color: "#8F8F8F",
                      fontSize: "11px",
                      fontWeight: "400",

                      }
                },
        }
    },
  }
   
    %>
      
    </div>
    </div>
  </div>
</div>

 <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzB6sn07VIK_DzRsbm87THvZtEO1qPaNg&map_ids=4c4b12db708d00c6&callback=initMap"
      defer
    ></script>
<script>

function initMap() {
  var map = new google.maps.Map(document.getElementById("map2"), {
    center: { lat: <%= @ouvrage.latitude%>, lng: <%= @ouvrage.longitude%> },
    zoom: 11,
     mapId: "4c4b12db708d00c6",
  });

  var infowindow = new google.maps.InfoWindow({
                         content:''
                       });
              var image = {
                          path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
                          fillColor: '#000091',
                          fillOpacity: 1,
                          scale: 0.5,
                          strokeColor: '#000091',
                          strokeWeight: 1,
                          labelOrigin: new google.maps.Point(0, -30)
                        };
              var image2 ={
                          path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
                          fillColor: '#000091',
                          fillOpacity: 1,
                          scale: 0.6,
                          strokeColor: '#000091',
                          strokeWeight: 14,
                          labelOrigin: new google.maps.Point(0, -30)
                        };
  
  
        
                        
                var marker = new google.maps.Marker({
                                position: {lat: <%= @ouvrage.latitude%>, lng: <%= @ouvrage.longitude%>},
                                map: map,
                                icon: image,
                                map_icon_label: '<span class="map-icon map-icon-hardware-store"></span>',
                              });
                
                      
                          
                
                  AddMouseover(marker, image, image2);
                      
         
                }
                      
                function AddMouseover(marker, image, image2){
                        google.maps.event.addListener(marker,'mouseover', function() {
                              marker.setIcon(image2);
                              var label = this.getLabel();
                                label.color="#3233FF";
                              this.setLabel(label)
                            });
                        google.maps.event.addListener(marker,'mouseout', function() {
                              marker.setIcon(image);
                              var label = this.getLabel();
                                label.color="white";
                              this.setLabel(label)
                            });
                      
                }
                     
                      
</script>

