<div class="SD_page">
  <div class="SD_home_button">
    <%= link_to root_path do %><i class="fas fa-chevron-left"></i><i class="fas fa-home"></i>Retour accueil<%end %>
  </div>
  <h1 class="O_title"><span>Ouvrages</span></h1>
  <div class="SF-topo-box">
     <div class="SF-topo-financeurs">
      <% if !@ouvrages.nil?%>
      <% @ouvrages.each do |ouvrage| %>
        <div class="O-name">
        <%= link_to ouvrage do %>
          <%= ouvrage.name %>  <span>- <%= number_with_delimiter(ouvrage.budget.to_i, :delimiter => ' ')%> €</span>        
        <% end %>
        </div>
      <% end %>
      <% end %>
    </div>


    <div class="topo-chart">
      <%= pie_chart @ouvrages.unscope(:order).group(:name).sum(:budget), library: {
       chart: {
         backgroundColor: '#F3F8FF',
          type: 'pie',
          options3d: {
              enabled: true,
              alpha: 45
          },
         style:{
            fontFamily: "Spectral",
            },
      },

        title: {
          text:'<em>Répartition des dépenses prévues des ouvrages <br> Total : 1 382 775 000 €</em>',
          margin:40,
          style: {
            color: '#8F8F8F',

            }
        },

       plotOptions: {
          pie: {
              innerSize: 140,
              minSize: 400,
              depth: 45,

              dataLabels: {
                      enabled: true,
                     # format: '<em> {point.percentage:.1f} %</em>',
                      style: {
                        color: "#8F8F8F",
                        fontSize: "12px",
                        fontWeight: "400",

                        }
                  }
          }
      },
      tooltip:{  
           pointFormat: '<span style="color:{point.color}">●</span> Total: <b>{point.y:,.0f}€</b><br/>',  
      },
    }

      %>

    </div>
  </div>

<br><br>

<div  class="SD-table-box">
  <div class="SD-topo-box-title">
    <span>Suivi trimestriel des dépenses des ouvrages </span>
  </div>
  <div>
    <%= line_chart [{name: "Décaissements effectifs", data: @solideo_depenses_ouvrages_reel},{name: "Décaissements prévus", data: @solideo_depenses_ouvrages_prevu} ], library: {
      chart:{
            backgroundColor: '#F3F8FF',
           
            spacing: [40,40,40,40],
        style:{
          fontFamily: "Spectral",
         
          }
          },

      title: {
        text:'<em>Suivi des décaissements des ouvrages de la Solideo</em>',
        margin:40,
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
                  },
      },
  xAxis:{
    tickInterval: 24 * 3600 * 1000 * 30 * 3,
    },
      yAxis: {
        gridLineColor: '#E6F0FF', 
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total: <b>{point.y}</b>',
            xDateFormat: '%Y',
            valuePrefix: '$'
          }
        }
    %>
  </div>
 </div>


</div>
