<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>
<div class="SD_page">
  <div class="SD_home_button">
    <%= link_to root_path do %><i class="fas fa-chevron-left"></i><i class="fas fa-home"></i>Retour accueil<%end %>
  </div>
    <h1 class="SD_title">Les ouvrages des JOP2024 </h1>
  
  <div  class="SD-table-box">
  <div class="SF-topo-financeurs-title"><span>Les ouvrages en chiffres </span></div><br><br>
  <div class="calendar-infos">
    <div class="calendar-infos-box">
      <div>
        <i class="fas fa-coins"></i>
      </div>
      <div>
        <%= number_with_delimiter(OuvragesDepense.all.sum('montant_prevu').to_i, :delimiter => ' ') %> €<br>
        <span>Budget Total</span>
      </div>
    </div>
    <div class="calendar-infos-box">
      <div>
      <i class="fas fa-building"></i>
      </div>
      <div>
      59<br>
      <span>ouvrages</span>
      </div>
    </div>
    <div class="calendar-infos-box">
      <div>
      <i class="fas fa-flag"></i>
      </div>
      <div>
      2%<br>
        <span>Ouvrages finalisés</span>
      </div>
    </div>

  </div><br><br>
  <div class="calendar-infos">
    <div class="calendar-infos-box">
      <div>
         <i class="fas fa-euro-sign"></i>
      </div>
      <div>
        <%= number_with_delimiter(OuvragesDepense.all.sum('montant').to_i, :delimiter => ' ') %> €<br>
        <span>Dépenses actuelles</span>
      </div>
    </div>
    <div class="calendar-infos-box">
      <div>
     <i class="fas fa-tools"></i>
      </div>
      <div>
      222<br>
      <span>Chantiers </span>
      </div>
    </div>
    <div class="calendar-infos-box">
      <div>
      <i class="fas fa-people-carry"></i>
      </div>
      <div>
      82<br>
        <span>Employés</span>
      </div>
    </div>

  </div>
  </div><br><br>


<div  class="SD-table-box">
  <div class="SF-topo-financeurs-title"><span>Les ouvrages par MOA </span></div><br><br>
  <div class="row">
     <div class="col-md-12">
       <div id="bubble">
         
       </div>
    </div>
  </div>
</div><br><br>
 <div  class="SD-table-box">
  <div class="SF-topo-financeurs-title"><span>Carte des ouvrages</span></div><br><br>
  <div class="row">
     <div class="col-md-6">
      <div class="ouvrages-box">
      
      <% if !@ouvrages.nil?%>
       <div class='ouvrages-mo'>
         MOA : Solideo
       </div>
      <% @ouvrages.where('maitre_oeuvre = ?', "SOLIDEO").each do |ouvrage| %>
        <div class="O-name">
        <%= link_to ouvrage do %>
          <%= ouvrage.name %>  <span>- <%= number_with_delimiter(ouvrage.budget.to_i, :delimiter => ' ')%> €</span>        
        <% end %>
        </div>
      <% end %>
       <br><br>
      <% @maitre_oeuvre.each do |mo|%>
       <div class='ouvrages-mo'>
         MOA : <%= mo %>
       </div>
       <% @ouvrages.where('maitre_oeuvre = ?', mo).each do |ouvrage| %>
        <div class="O-name">
        <%= link_to ouvrage do %>
          <%= ouvrage.name %>  <span>- <%= number_with_delimiter(ouvrage.budget.to_i, :delimiter => ' ')%> €</span>        
        <% end %>
        </div>
       <% end %>
       <br>
       <% end %>
       
      <% end %>
                
       </div>
    </div>


    <div class="col-md-6">
    

    </div>
  </div>
  </div><br><br>
</div>
<script>
Highcharts.chart('bubble', {
    chart: {
        type: 'packedbubble',
        height: '400',
       style:{
            fontFamily: "Spectral",
            },
    },
    title: {
        text: "",
      style: {
            color: '#8F8F8F',
            fontSize: '16px',
            fontStyle: 'italic',
            }
    },
    tooltip: {
        useHTML: true,
        pointFormat: '<b>{point.name}:</b> {point.value} €</sub>'
    },
    plotOptions: {
        packedbubble: {
            minSize: '20%',
            maxSize: '80%',

            layoutAlgorithm: {
                splitSeries: true,
                gravitationalConstant: 1,
              bubblePadding: 30,
              enableSimulation: false,
        
            },
          animation: {
           duration: 1, 
          },
         
            dataLabels: {
                enabled: true,
                format: '{series.name}',
              allowOverlap: false,
              crop:true,
              inside: false,
                style: {
                    color: 'black',
                    textOutline: 'none',
                    fontWeight: 'normal'
                }
            }
        }
    },
    series: [
      <% @maitre_oeuvre_all.each do |mo|%>
      
      {
        name: '<%= mo %>',
        data: [
        <% @ouvrages.where('maitre_oeuvre = ?', mo).each do |ouvrage| %>
        {
            name: "<%= ouvrage.name %>",
            value: <%= ouvrage.budget.to_i %>,
         dataLabels: {
           enabled:false,
         },
        events: {
                    click: function () {
                        location.href = '/ouvrages/<%= ouvrage.id%>'
                    }
                }
        }, 
       <%end%>],
  
    }, 
                 <% end%>  ],
});
</script>
