<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
   
<div class="page_w">
  <div class="i24"></div>
  <div class="titre_page text-center">Les ouvrages des JOP2024 </div>
  <% if !SolideoStructureDepense.last.nil?%>
  <div class="i12"></div>
  <div class="stitre_page text-center">Dernière mise à jour : <%= l(SolideoStructureDepense.order(date: :asc).last.date, format: "%e %B %Y") %> </div>
  <% end%>
  <div class="i40"></div>
  
  <div  class="box_page">
    <div><span class="titre_section">Les ouvrages en chiffres </span></div>
    <div class="i24"></div>

    <div class='box_alignement'>
      <div class="box_chiffre inline-flex">
        <div><i class="fas fa-coins"></i></div>
        <div>
          <div class="chiffre_cle"><%= number_with_delimiter(SolideoStructureBudget.where(solideo_structure_id: @list_structure_ouvrages).where('date = ?',SolideoStructureBudget.order(date: :asc).last.date).sum('budget_global').round(1), :delimiter => ' ') %> M€</div>
          <div class="texte_chiffre">Budget Global</div>
        </div>
      </div>
      <div class="i24 visible-xs"></div>
      <div class="box_chiffre inline-flex">
        <div>
           <i class="fas fa-euro-sign"></i>
        </div>
        <div>
          <div class="chiffre_cle c3"><%= number_with_delimiter(SolideoFinanceurBudget.where(solideo_financeur_id: @etat_id).order(date: :asc).last.financement_global.round(1), :delimiter => ' ') %> M€</div>
          <div class="texte_chiffre">Financement Etat</div>
        </div>
      </div>
      <div class="i24 visible-xs"></div>
      <div class="box_chiffre inline-flex">
        <div>
        <i class="fas fa-building"></i>
        </div>
        <div>
        <div class="chiffre_cle c3"><%= Ouvrage.all.count %> </div>
        <div class="texte_chiffre">Ouvrages</div>
        </div>
      </div>
      
    </div>
    <div class="i24"></div>
    <div class="box_alignement">
      
      <div class="box_chiffre inline-flex">
        <div class="c1">
           <i class="fas fa-euro-sign"></i>
        </div>
        <div>
         <div class="chiffre_cle"><%= number_with_delimiter(SolideoStructureDepense.where(solideo_structure_id: @list_structure_ouvrages).where('date = ?',SolideoStructureDepense.order(date: :asc).last.date).sum('droits_constates_cumul').round(1), :delimiter => ' ') %> M€</div>
        <div class="texte_chiffre">Dépenses réalisées</div>
        </div>
      </div>
      <div class="i24 visible-xs"></div>
      <div class="box_chiffre inline-flex">
        <div>
           <i class="fas fa-coins"></i>
        </div>
        <div>
          <div class="chiffre_cle c3"><%= number_with_delimiter(SolideoFinanceurBudget.where(solideo_financeur_id: @collectivites).where('date = ?',SolideoFinanceurBudget.order(date: :asc).last.date).sum('financement_global').round(1), :delimiter => ' ') %> M€</div>
        <div class="texte_chiffre">Financements collectivités</div>
        </div>
      </div>
      <div class="i24 visible-xs"></div>
      <div class="box_chiffre inline-flex">
        <div>
        <i class="fas fa-flag"></i>
        </div>
        <div>
          <div class="chiffre_cle c3">35%</div>
        <div class="texte_chiffre">Ouvrages finalisés</div>
        </div>
      </div>
      
    </div>

  </div>

  <div class="i24"></div>

  <div  class="box_page" id="carte-ouvrages">
  <div><span class="titre_section">Carte des ouvrages</span></div>
  <div class="i24"></div>
    <div id="ouvrages-results"><%= render 'ouvrages/liste'%></div> 
  </div>

  <div class="i24"></div>
  <div class="box_page" id="moa-ouvrages">
  <div><span class="titre_section">Les ouvrages par MOA </span></div>
  <div class="i24"></div>

  <div class="row">
     <div class="col-md-12">
       <div id="bubble">
         
       </div>
    </div>
  </div>
</div>
 
</div>

<script>
Highcharts.chart('bubble', {
    chart: {
        type: 'packedbubble',
        height: '600',
       marginTop: 20,
      
       style:{
            fontFamily: "Marianne Regular",
            },
    },
    title: {
        text: "",
      style: {
            color: '#6A6A6A',
            fontSize: '16px',
            fontStyle: 'italic',
            }
    },
    tooltip: {
        useHTML: true,
        pointFormat: '<b>{point.name}:</b> {point.value} €</sub>',
      borderColor: 'transparent',
   borderRadius: 16,
   backgroundColor: '#fff',
    },
    plotOptions: {
        packedbubble: {
            minSize: '20%',
            maxSize: '80%',

            layoutAlgorithm: {
                splitSeries: true,
                gravitationalConstant: 1,
              bubblePadding: 30,
              enableSimulation: false,
        
            },
          animation: {
           duration: 1, 
          },
         
            dataLabels: {
                enabled: true,
                format: '{series.name}',
              allowOverlap: false,
              crop:true,
              inside: false,
                style: {
                    color: 'black',
                    textOutline: 'none',
                    fontWeight: 'normal'
                }
            }
        }
    },
    series: [
      <% @maitre_oeuvre_all.each do |mo|%>
      
      {
        name: '<%= mo %>',
        data: [
        <% @ouvrages.where('maitre_oeuvre = ?', mo).each do |ouvrage| %>
        {
            name: "<%= ouvrage.name %>",
            value: <%= ouvrage.budget.to_i %>,
         dataLabels: {
           enabled:false,
         },
        events: {
                    click: function () {
                        location.href = '/ouvrages/<%= ouvrage.id%>'
                    }
                }
        }, 
       <%end%>],
  
    }, 
                 <% end%>  ],
});
</script>





<script>

  $('.menu-solideo-ouvrages').addClass('menu-active2'); 
  $('.menu-ouvrages').addClass('menu-active'); 

  $('#MonCollapse3').addClass('in'); 

</script>