<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
   
<div class="mxw1 pd32 ma">
  <div class="i24"></div>
  <h1 class="c2 fw6 fs40 tc">Les ouvrages des JOP2024 </h1>
  <div class="i40"></div>
  
  <div  class="pd32 br20 bs bckc1">
    <div><span class="fs16 fw7 pdt c0 bckc2 tupp">Les ouvrages en chiffres </span></div>
    <div class="i24"></div>

    <div class="visible-xs">
      <div class="calendar-infos-box">
      <div>
        <i class="fas fa-coins"></i>
      </div>
      <div>
        <%= number_with_delimiter((Maquette.where.not(ouvrage_id: nil).where("date = ?", @dates_maquettes[@dates_maquettes.length-1]).sum('total')/1000000).round(1), :delimiter => ' ') %> M€<br>
        <span>Budget Initial</span>
      </div>
      </div>
      <div class="calendar-infos-box">
        <div>
        <i class="fas fa-people-carry"></i>
        </div>
        <div>
        <%= number_with_delimiter((Maquette.where.not(ouvrage_id: nil).where("date = ?", @dates_maquettes[@dates_maquettes.length-1],).sum('total_public')/1000000).round(1), :delimiter => ' ') %> M€<br>
          <span>Part publique</span>
        </div>
      </div>
      
      <div class="calendar-infos-box">
        <div>
        <i class="fas fa-building"></i>
        </div>
        <div>
        <%= Ouvrage.all.count %> <br>
        <span>Ouvrages</span>
        </div>
      </div>
      <div class="calendar-infos-box">
        <div>
           <i class="fas fa-coins"></i>
        </div>
        <div>
          <%= number_with_delimiter((Maquette.where.not(ouvrage_id: nil).where("date = ?", @dates_maquettes[0]).sum('total')/1000000).round(1), :delimiter => ' ') %> M€<br>
          <span>Budget réactualisé</span>
        </div>
      </div>
      <div class="calendar-infos-box">
        <div>
           <i class="fas fa-euro-sign"></i>
        </div>
        <div>
          <%= number_with_delimiter(@ouvrages_depenses_global, :delimiter => ' ') %> €<br>
          <span>Dépenses réalisées</span>
        </div>
      </div>
      <div class="calendar-infos-box">
        <div>
        <i class="fas fa-flag"></i>
        </div>
        <div>
        35%<br>
          <span>Ouvrages finalisés</span>
        </div>
      </div>
      
    </div>

    <div class='inline-flex w100 hidden-xs'>
      <div class="calendar-infos-box">
        <div>
          <i class="fas fa-coins"></i>
        </div>
        <div>
          <%= number_with_delimiter((Maquette.where.not(ouvrage_id: nil).where("date = ?", @dates_maquettes[@dates_maquettes.length-1]).sum('total')/1000000).round(1), :delimiter => ' ') %> M€<br>
          <span>Budget Initial</span>
        </div>
      </div>
      <div class="calendar-infos-box">
        <div class="c1">
           <i class="fas fa-euro-sign fs20 mr10 w25"></i>
        </div>
        <div>
          <%= number_with_delimiter((Maquette.where.not(ouvrage_id: nil).where("date = ?", @dates_maquettes[@dates_maquettes.length-1]).sum('total_public')/1000000).round(1), :delimiter => ' ') %> M€<br>
          <span class="c6 fs16 fw5">Part publique</span>
        </div>
      </div>
      <div class="calendar-infos-box">
        <div>
        <i class="fas fa-building"></i>
        </div>
        <div>
        <%= Ouvrage.all.count %> <br>
        <span>Ouvrages</span>
        </div>
      </div>
      
    </div>
    <div class="i24"></div>
    <div class="inline-flex w100 hidden-xs">
      <div class="calendar-infos-box">
        <div>
           <i class="fas fa-coins"></i>
        </div>
        <div>
          <%= number_with_delimiter((Maquette.where.not(ouvrage_id: nil).where("date = ?", @dates_maquettes[0]).sum('total')/1000000).round(1), :delimiter => ' ') %> M€<br>
          <span>Budget réactualisé</span>
        </div>
      </div>
      <div class="calendar-infos-box">
        <div class="c1">
           <i class="fas fa-euro-sign fs20 mr10 w25"></i>
        </div>
        <div class="c3">
         <%= number_with_delimiter(@ouvrages_depenses_global, :delimiter => ' ') %> M€<br>
          <span class="c6 fs16 fw5">Dépenses réalisées</span>
        </div>
      </div>
      <div class="calendar-infos-box">
        <div>
        <i class="fas fa-flag fs20 mr10 w25"></i>
        </div>
        <div class="c3">
          35%<br>
          <span class="c6 fs16 fw5">Ouvrages finalisés</span>
        </div>
      </div>
      
    </div>
    <div class="i32"></div>
    <div class="tc hidden-xs">
    
      <div class="inline-flex tc">
        <div>
          <a id="carte-ouvrages-btn" class="c1 fs16 pd8 tun bd2 cp m10 c1h"><i class="fas fa-map-marked-alt"></i> Carte des ouvrages</a>
        </div>
        <div>
          <a id="moa-ouvrages-btn" class="c1 fs16 pd8 tun bd2 cp m10 c1h"><i class="fas fa-hard-hat"></i> MOA des ouvrages</a>
        </div>
      </div>
          
    </div>
    <div class="i24"></div>
  </div>

  <div class="i24"></div>

  <div  class="pd32 br20 bs bckc1" id="carte-ouvrages">
  <div><span class="fs16 fw7 pdt c0 bckc2 tupp">Carte des ouvrages</span></div>
  <div class="i24"></div>
    <div id="ouvrages-results"><%= render 'ouvrages/liste'%></div> 
  </div>

  <div class="pd32 br20 bs bckc1" id="moa-ouvrages">
  <div><span class="fs16 fw7 pdt c0 bckc2 tupp">Les ouvrages par MOA </span></div>
  <div class="i24"></div>

  <div class="row">
     <div class="col-md-12">
       <div id="bubble">
         
       </div>
    </div>
  </div>
</div>
 
</div>

<script>
Highcharts.chart('bubble', {
    chart: {
        type: 'packedbubble',
        height: '600',
       marginTop: 20,
      
       style:{
            fontFamily: "Marianne Regular",
            },
    },
    title: {
        text: "",
      style: {
            color: '#8F8F8F',
            fontSize: '16px',
            fontStyle: 'italic',
            }
    },
    tooltip: {
        useHTML: true,
        pointFormat: '<b>{point.name}:</b> {point.value} €</sub>',
      borderColor: 'transparent',
   borderRadius: 16,
   backgroundColor: '#fff',
    },
    plotOptions: {
        packedbubble: {
            minSize: '20%',
            maxSize: '80%',

            layoutAlgorithm: {
                splitSeries: true,
                gravitationalConstant: 1,
              bubblePadding: 30,
              enableSimulation: false,
        
            },
          animation: {
           duration: 1, 
          },
         
            dataLabels: {
                enabled: true,
                format: '{series.name}',
              allowOverlap: false,
              crop:true,
              inside: false,
                style: {
                    color: 'black',
                    textOutline: 'none',
                    fontWeight: 'normal'
                }
            }
        }
    },
    series: [
      <% @maitre_oeuvre_all.each do |mo|%>
      
      {
        name: '<%= mo %>',
        data: [
        <% @ouvrages.where('maitre_oeuvre = ?', mo).each do |ouvrage| %>
        {
            name: "<%= ouvrage.name %>",
            value: <%= ouvrage.budget.to_i %>,
         dataLabels: {
           enabled:false,
         },
        events: {
                    click: function () {
                        location.href = '/ouvrages/<%= ouvrage.id%>'
                    }
                }
        }, 
       <%end%>],
  
    }, 
                 <% end%>  ],
});
</script>



<script>
  $('#carte-ouvrages').show();
    $('#moa-ouvrages').hide();
  $('#carte-ouvrages-btn').addClass('btn-link-active ');
$('#carte-ouvrages-btn').click(function() {
    $('#carte-ouvrages').show();
  $('#carte-ouvrages-btn').addClass('btn-link-active ');
    $('#moa-ouvrages').hide();
  $('#moa-ouvrages-btn').removeClass('btn-link-active ');
});
  $('#moa-ouvrages-btn').click(function() {
    $('#carte-ouvrages').hide();
    $('#carte-ouvrages-btn').removeClass('btn-link-active ');
    $('#moa-ouvrages').show();
    $('#moa-ouvrages-btn').addClass('btn-link-active ');
});

</script>

<script>

  $('.menu-solideo-ouvrages').addClass('menu-active2'); 
  $('.menu-ouvrages').addClass('menu-active'); 

  $('#MonCollapse3').addClass('in'); 

</script>