<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>


  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
   
<div class="SD_page">
 
  <h1 class="SD_title SD_title2">Les ouvrages des JOP2024 </h1>
  <h1 class="SD_subtitle">Dernière mise à jour : 14 janvier 2020 </h1>
  
  <div  class="SD-table-box">
    <div class="SF-topo-financeurs-title"><span>Les ouvrages en chiffres </span></div><br><br>
    <div class="visible-xs">
      <div class="calendar-infos-box">
      <div>
        <i class="fas fa-coins"></i>
      </div>
      <div>
        <%= number_with_delimiter(Maquette.where.not(ouvrage_id: nil).where("date = ?", Date.new(2018,6,18)).sum('total').to_i, :delimiter => ' ') %> €<br>
        <span>Budget Initial</span>
      </div>
    </div>
    <div class="calendar-infos-box">
      <div>
      <i class="fas fa-building"></i>
      </div>
      <div>
      <%= Ouvrage.all.count %> <br>
      <span>Ouvrages</span>
      </div>
    </div>
    <div class="calendar-infos-box">
      <div>
      <i class="fas fa-flag"></i>
      </div>
      <div>
      2%<br>
        <span>Ouvrages finalisés</span>
      </div>
    </div>
        <div class="calendar-infos-box">
      <div>
         <i class="fas fa-coins"></i>
      </div>
      <div>
        <%= number_with_delimiter(Maquette.where.not(ouvrage_id: nil).where("date = ?", Date.new(2021,1,14)).sum('total').to_i, :delimiter => ' ') %> €<br>
        <span>Budget réactualisé</span>
      </div>
    </div>
    <div class="calendar-infos-box">
      <div>
         <i class="fas fa-euro-sign"></i>
      </div>
      <div>
        <%= number_with_delimiter(OuvragesDepense.all.sum('montant').to_i, :delimiter => ' ') %> €<br>
        <span><%=link_to ouvrages_depenses_path do %>Dépenses réalisées<% end %></span>
      </div>
    </div>
    <div class="calendar-infos-box">
      <div>
      <i class="fas fa-people-carry"></i>
      </div>
      <div>
      97<br>
        <span>Employés</span>
      </div>
    </div>
    </div>
    <div class="calendar-infos hidden-xs">
    <div class="calendar-infos-box">
      <div>
        <i class="fas fa-coins"></i>
      </div>
      <div>
        <%= number_with_delimiter(Maquette.where.not(ouvrage_id: nil).where("date = ?", Date.new(2018,6,18)).sum('total').to_i, :delimiter => ' ') %> €<br>
        <span>Budget Initial</span>
      </div>
    </div>
    <div class="calendar-infos-box">
      <div>
      <i class="fas fa-building"></i>
      </div>
      <div>
      <%= Ouvrage.all.count %> <br>
      <span>Ouvrages</span>
      </div>
    </div>
    <div class="calendar-infos-box">
      <div>
      <i class="fas fa-flag"></i>
      </div>
      <div>
      2%<br>
        <span>Ouvrages finalisés</span>
      </div>
    </div>
  </div><br><br>
  <div class="calendar-infos hidden-xs">
    <div class="calendar-infos-box">
      <div>
         <i class="fas fa-coins"></i>
      </div>
      <div>
        <%= number_with_delimiter(Maquette.where.not(ouvrage_id: nil).where("date = ?", Date.new(2021,1,14)).sum('total').to_i, :delimiter => ' ') %> €<br>
        <span>Budget réactualisé</span>
      </div>
    </div>
    <div class="calendar-infos-box">
      <div>
         <i class="fas fa-euro-sign"></i>
      </div>
      <div>
        <%= number_with_delimiter(OuvragesDepense.all.sum('montant').to_i, :delimiter => ' ') %> €<br>
        <span><%=link_to ouvrages_depenses_path do %>Dépenses réalisées<% end %></span>
      </div>
    </div>
    <div class="calendar-infos-box">
      <div>
      <i class="fas fa-people-carry"></i>
      </div>
      <div>
      97<br>
        <span>Employés</span>
      </div>
    </div>
  </div>
  <div class="text-center hidden-xs">
  
    <div class="ouvrages-options">
      <div class="ouvrages-options-link">
        <a id="carte-ouvrages-btn"><i class="fas fa-map-marked-alt"></i> Carte des ouvrages</a>
      </div>
      <div class="ouvrages-options-link" >
        <a id="moa-ouvrages-btn"><i class="fas fa-hard-hat"></i> MOA des ouvrages</a>
      </div>
    </div>
        
  </div>
  </div>

  <div  class="SD-table-box" id="carte-ouvrages">
  <div class="SF-topo-financeurs-title"><span>Carte des ouvrages</span></div><br><br>

      
      <div id="ouvrages-results">

        <%= render 'ouvrages/liste'%>
                
        </div>
                
     
    </div>

  <div  class="SD-table-box" id="moa-ouvrages">
  <div class="SF-topo-financeurs-title"><span>Les ouvrages par MOA </span></div><br><br>
  <div class="row">
     <div class="col-md-12">
       <div id="bubble">
         
       </div>
    </div>
  </div>
</div>
 
</div>

<script>
Highcharts.chart('bubble', {
    chart: {
        type: 'packedbubble',
        height: '400',
       marginTop: 20,
      
       style:{
            fontFamily: "Marianne Regular",
            },
    },
    title: {
        text: "",
      style: {
            color: '#8F8F8F',
            fontSize: '16px',
            fontStyle: 'italic',
            }
    },
    tooltip: {
        useHTML: true,
        pointFormat: '<b>{point.name}:</b> {point.value} €</sub>',
      borderColor: 'transparent',
   borderRadius: 16,
   backgroundColor: '#fff',
    },
    plotOptions: {
        packedbubble: {
            minSize: '20%',
            maxSize: '80%',

            layoutAlgorithm: {
                splitSeries: true,
                gravitationalConstant: 1,
              bubblePadding: 30,
              enableSimulation: false,
        
            },
          animation: {
           duration: 1, 
          },
         
            dataLabels: {
                enabled: true,
                format: '{series.name}',
              allowOverlap: false,
              crop:true,
              inside: false,
                style: {
                    color: 'black',
                    textOutline: 'none',
                    fontWeight: 'normal'
                }
            }
        }
    },
    series: [
      <% @maitre_oeuvre_all.each do |mo|%>
      
      {
        name: '<%= mo %>',
        data: [
        <% @ouvrages.where('maitre_oeuvre = ?', mo).each do |ouvrage| %>
        {
            name: "<%= ouvrage.name %>",
            value: <%= ouvrage.budget.to_i %>,
         dataLabels: {
           enabled:false,
         },
        events: {
                    click: function () {
                        location.href = '/ouvrages/<%= ouvrage.id%>'
                    }
                }
        }, 
       <%end%>],
  
    }, 
                 <% end%>  ],
});
</script>



<script>
  $('#carte-ouvrages').show();
    $('#moa-ouvrages').hide();
  $('#carte-ouvrages-btn').addClass('ouvrages-options-link-active');
$('#carte-ouvrages-btn').click(function() {
    $('#carte-ouvrages').show();
  $('#carte-ouvrages-btn').addClass('ouvrages-options-link-active');
    $('#moa-ouvrages').hide();
  $('#moa-ouvrages-btn').removeClass('ouvrages-options-link-active');
});
  $('#moa-ouvrages-btn').click(function() {
    $('#carte-ouvrages').hide();
    $('#carte-ouvrages-btn').removeClass('ouvrages-options-link-active');
    $('#moa-ouvrages').show();
    $('#moa-ouvrages-btn').addClass('ouvrages-options-link-active');
});

</script>

<script>

  $('.menu-solideo-ouvrages').addClass('menu-active2'); 
  $('.menu-ouvrages').addClass('menu-active'); 

  $('#MonCollapse3').addClass('in'); 

</script>