
<div class="O_page"> 
  <h1 class="SD_title"><%= @ouvrage.name %></h1>
  <h1 class="SD_subtitle">Dernière mise à jour : 22 novembre 2020</h1>
  <%= render 'topo_ouvrage'%>
  <%= render 'jalons' %><br><br>
  <%= render 'ouvrage_depenses' %>
  
  <div class="SD-topo-box">
        <div class="SD-topo-box-title">
          <span>Informations complémentaires</span>
        </div><br><br>
       <div class="row">
         <div class="col-md-6">
           <div class="ouvrages-infos-title">
                Détail du programme 
           </div>
           <div class="ouvrages-flexslider-text">
             <% if !@ouvrage.description.nil?%>
                <%= @ouvrage.description %>
             <% end %>
           </div>
         </div>
         <div class="col-md-6">
           <div class="ouvrages-infos-title">
                Pendant les JO
              </div>
           <div class="ouvrages-flexslider-text">
             <% if !@ouvrage.phase_jo.nil?%>
                <%= @ouvrage.phase_jo %>
             <% end %>
           </div><br><br>
              <div class="ouvrages-infos-title">
                Héritage 
              </div>
           <div class="ouvrages-flexslider-text">
             <% if !@ouvrage.heritage.nil?%>
                <%= @ouvrage.heritage %>
             <% end %>
           </div>
         </div>
       </div>
    
      </div>

</div>
<script>

  $('.menu-ouvrages-ouvrage').addClass('menu-active2'); 
  $('.menu-ouvrages').addClass('menu-active'); 

  $('#ouvrages').addClass('in'); 

</script>

<script>
  <% if @ouvrage.ouvrages_revues.count > 0%>
  <% @revue = @ouvrage.ouvrages_revues.order('date DESC').first %>
  <% if @revue.delai_indicateur == 1 %>
  $(".jauge-clock").addClass('flag1');
  <% elsif @revue.delai_indicateur == 2 %>
  $(".jauge-clock").addClass('flag2');
  <% elsif @revue.delai_indicateur == 3 %>
  $(".jauge-clock").addClass('flag3');
  <% elsif @revue.delai_indicateur == 4 %>
  $(".jauge-clock").addClass('flag4');
  <% elsif @revue.delai_indicateur == 5%>
  $(".jauge-clock").addClass('flag5');
  <% end %>
  <% if @revue.budget_indicateur == 1 %>
  $(".jauge-flag").addClass('flag1');
  <% elsif @revue.budget_indicateur == 2 %>
  $(".jauge-flag").addClass('flag2');
  <% elsif @revue.budget_indicateur == 3 %>
  $(".jauge-flag").addClass('flag3');
  <% elsif @revue.budget_indicateur == 4 %>
  $(".jauge-flag").addClass('flag4');
  <% elsif @revue.budget_indicateur == 5 %>
  $(".jauge-flag").addClass('flag5');
  <% end %>
  <% end %>
</script>


