<div class="O_page">
  <div class="O_home_button">
    <%= link_to ouvrages_path do %><i class="fas fa-chevron-left"></i>Retour aux ouvrages<%end %>
  </div>
  <h1 class="O_title"><span><%= @ouvrage.name %></span></h1>
  <%= render 'topo_ouvrage'%>
  <%= render 'ouvrage_depenses' %>
  <%= render 'ouvrage_jalons' %>
</div>
