<script>
$(window).load(function() {
  $('#flexslider').flexslider({ 
    animation: "slide",
    animationLoop: false,
    slideshow: false, 
  });
 })
</script>
<div class="O_page"> 
  <h1 class="SD_title"><%= @ouvrage.name %></h1>
  <h1 class="SD_subtitle">Dernière mise à jour : 22 novembre 2020</h1>
  <%= render 'topo_ouvrage'%>
  <%= render 'jalons' %><br><br>
  <%= render 'ouvrage_depenses' %>
  
  <div class="SD-topo-box">
        <div class="SD-topo-box-title">
          <span>Informations complémentaires</span>
        </div><br><br>
       <div class="row">
         <div class="col-md-6">
           <div class="ouvrages-infos-title">
                Détail du programme 
           </div>
           <div class="ouvrages-flexslider-text">
             <% if !@ouvrage.description.nil?%>
                <%= @ouvrage.description %>
             <% end %>
           </div>
         </div>
         <div class="col-md-6">
           <div class="ouvrages-infos-title">
                Pendant les JO
              </div>
           <div class="ouvrages-flexslider-text">
             <% if !@ouvrage.phase_jo.nil?%>
                <%= @ouvrage.phase_jo %>
             <% end %>
           </div><br><br>
              <div class="ouvrages-infos-title">
                Héritage 
              </div>
           <div class="ouvrages-flexslider-text">
             <% if !@ouvrage.heritage.nil?%>
                <%= @ouvrage.heritage %>
             <% end %>
           </div>
         </div>
       </div>
    
      </div>

</div>
<script>

  $('.menu-ouvrages-ouvrage').addClass('menu-active2'); 
  $('.menu-ouvrages').addClass('menu-active'); 

  $('#ouvrages').addClass('in'); 

</script>

<script>
  <% if @ouvrage.ouvrages_revues.count > 0%>
  <% @revue = @ouvrage.ouvrages_revues.order('date DESC').first %>
  <% if @revue.delai_indicateur == 1 %>
  $(".risque1-d").addClass('risque-active');
  <% elsif @revue.delai_indicateur == 2 %>
  $(".risque2-d").addClass('risque-active');
  <% elsif @revue.delai_indicateur == 3 %>
  $(".risque3-d").addClass('risque-active');
  <% elsif @revue.delai_indicateur == 4 %>
  $(".risque4-d").addClass('risque-active');
  <% elsif @revue.delai_indicateur == 5%>
  $(".risque5-d").addClass('risque-active');
  <% end %>
  <% if @revue.budget_indicateur == 1 %>
  $(".risque1-b").addClass('risque-active');
  <% elsif @revue.budget_indicateur == 2 %>
  $(".risque2-b").addClass('risque-active');
  <% elsif @revue.budget_indicateur == 3 %>
  $(".risque3-b").addClass('risque-active');
  <% elsif @revue.budget_indicateur == 4 %>
  $(".risque4-b").addClass('risque-active');
  <% elsif @revue.budget_indicateur == 5 %>
  $(".risque5-b").addClass('risque-active');
  <% end %>
  <% end %>
</script>


