
<div class="page_w"> 
  <div class="i24"></div>
  <div class="titre_page text-center"><%= @ouvrage.name %></div>
  <% if !SolideoStructureDepense.last.nil?%>
  <div class="i12"></div>
  <div class="stitre_page text-center">Dernière mise à jour : <%= l(SolideoStructureDepense.order(date: :asc).last.date, format: "%e %B %Y") %></div>
  <% end%>
  <div class="i40"></div>
  <%= render 'topo_ouvrage'%>
  <%= render 'jalons' %>
  <%= render 'ouvrage_depenses' %>
  
  <div class="box_page">
    <div><span class="titre_section">Informations complémentaires</span></div>
    <div class="i24"></div>
    <div class="row">
      <div class="col-md-6">
           <div class="c6 fs18">
                Détail du programme 
           </div>
           <div class="i24"></div>
           <div class="c6 fs14">
             <% if !@ouvrage.description.nil?%>
                <%= @ouvrage.description %>
             <% end %>
           </div>
           <div class="i24"></div>
           <div class="c6 fs14">
            Lieu : <%= @ouvrage.adresse %><br>
            MOA : <%= @ouvrage.maitre_oeuvre %><br>
          </div>
      </div>
      <div class="col-md-6">
        <div class="c6 fs18"> Pendant les JO</div>
        <div class="i24"></div>
        <div class="c6 fs14">
             <% if !@ouvrage.phase_jo.nil?%>
                <%= @ouvrage.phase_jo %>
             <% end %>
        </div>
        <div class="i24"></div>
        <div class="c6 fs18">Héritage</div>
        <div class="i24"></div>
        <div class="c6 fs14">
             <% if !@ouvrage.heritage.nil?%>
                <%= @ouvrage.heritage %>
             <% end %>
        </div>
        <div class="i24"></div>
      </div>
    </div>
    
  </div>

</div>
<script>

  $('.menu-ouvrages-ouvrage').addClass('menu-active2'); 
  $('.menu-ouvrages').addClass('menu-active'); 

  $('#ouvrages').addClass('in'); 

</script>




