
<div class="mxw1 pd32 ma"> 
  <div class="i24"></div>
  <div class="c2 fw6 fs40 tc"><%= @ouvrage.name %></div>
  <div class="i12"></div>
  <div class="c2 fw4 fs20 tc">Dernière mise à jour : <% if !@lastdate.nil?%><%= l(@lastdate, format: "%e %B %Y") %><%else%>22 avril 2021<%end%></div>
  <div class="i40"></div>
  <%= render 'topo_ouvrage'%>
  <%= render 'jalons' %>
  <%= render 'ouvrage_depenses' %>
  
  <div class="pd32 br20 bs bckc1">
    <div><span class="fs16 fw7 pdt c0 bckc2 tupp">Informations complémentaires</span></div>
    <div class="i24"></div>
    <div class="row">
      <div class="col-md-6">
           <div class="c6 fs18">
                Détail du programme 
           </div>
           <div class="i24"></div>
           <div class="c6 fs14">
             <% if !@ouvrage.description.nil?%>
                <%= @ouvrage.description %>
             <% end %>
           </div>
           <div class="i24"></div>
      </div>
      <div class="col-md-6">
        <div class="c6 fs18"> Pendant les JO</div>
        <div class="i24"></div>
        <div class="c6 fs14">
             <% if !@ouvrage.phase_jo.nil?%>
                <%= @ouvrage.phase_jo %>
             <% end %>
        </div>
        <div class="i24"></div>
        <div class="c6 fs18">Héritage</div>
        <div class="i24"></div>
        <div class="c6 fs14">
             <% if !@ouvrage.heritage.nil?%>
                <%= @ouvrage.heritage %>
             <% end %>
        </div>
        <div class="i24"></div>
      </div>
    </div>
    
  </div>

</div>
<script>

  $('.menu-ouvrages-ouvrage').addClass('menu-active2'); 
  $('.menu-ouvrages').addClass('menu-active'); 

  $('#ouvrages').addClass('in'); 

</script>

<script>
  <% if @ouvrage.ouvrages_revues.count > 0%>
  <% @revue = @ouvrage.ouvrages_revues.order('date DESC').first %>
  <% if @revue.delai_indicateur == 1 %>
  $(".jauge-clock").addClass('flag1');
  <% elsif @revue.delai_indicateur == 2 %>
  $(".jauge-clock").addClass('flag2');
  <% elsif @revue.delai_indicateur == 3 %>
  $(".jauge-clock").addClass('flag3');
  <% elsif @revue.delai_indicateur == 4 %>
  $(".jauge-clock").addClass('flag4');
  <% elsif @revue.delai_indicateur == 5%>
  $(".jauge-clock").addClass('flag5');
  <% end %>
  <% if @revue.budget_indicateur == 1 %>
  $(".jauge-flag").addClass('flag1');
  <% elsif @revue.budget_indicateur == 2 %>
  $(".jauge-flag").addClass('flag2');
  <% elsif @revue.budget_indicateur == 3 %>
  $(".jauge-flag").addClass('flag3');
  <% elsif @revue.budget_indicateur == 4 %>
  $(".jauge-flag").addClass('flag4');
  <% elsif @revue.budget_indicateur == 5 %>
  $(".jauge-flag").addClass('flag5');
  <% end %>
  <% end %>
</script>


