<div class="O_page">
  <h1 class="SD_title">Timeline des ouvrages</h1>
    <h1 class="SD_subtitle">Dernière mise à jour : 22 novembre 2020</h1> 
<div class="SD-table-box">

      <div id="container-steps">
        
      </div>
    </div>
</div>


<script>
Highcharts.chart('container-steps', {
    chart: {
        type: 'xrange',
        height:'800px',
        style:{
          fontFamily: "Spectral",
          },    
    },
    title: {
        text: null,
        style: {
          color: "#8F8F8F",
          fontWeight: "400",
          fontStyle: 'italic',
          fontSize: '16px',
                  },
    },
    colors: ["#bfbfbf",'rgba(46,93,99,0.6)'],
    xAxis: [{
        currentDateIndicator: {
            width: 1,
            dashStyle: 'dot',
            color: 'red',
            label: {
                format: '%d %b %Y'
            }
        },
        lineColor: "#8F8F8F",
        type: 'datetime',
    }],
    yAxis: {
        title: {
            text: null,
        },
        gridLineColor: "#fff",
     
        reversed: true,
        labels: {
          enabled: false,
        }
    },    
  legend: {
    enabled: false,
  },
  tooltip: { 
        formatter: function() {
      var point = this,
        series = point.series,
        color = point.color || series.chart.options.colors[point.colorIndex],
        firstDate = Highcharts.dateFormat('%b %Y', point.x),
        secondDate = Highcharts.dateFormat('%b %Y', point.x2),
        header = '<span style="font-size: 10px">' + series.name + '</span><br/>',
        content = '<span style="color:' + color + '">\u25CF</span> ' + point.key + ': <b>' + firstDate + ' - ' + secondDate + '</b><br/>';

      return header + content;
    },
  },
  plotOptions: {
    xrange: {
       dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>',
                verticalAlign: "bottom",
                padding: 10,
                style: {
                      fontSize: "12px",
                      fontWeight: "400",
                      fontStyle: "italic",
                
                      },
            },
    }
  },
    series: [
      <% Ouvrage.all.each do |ouvrage| %>
      <% if !ouvrage.start.nil? && !ouvrage.end.nil?%>
      {
        name: '<%= ouvrage.name %>',
        pointWidth: 8,
        color: "#bfbfbf",
        data: [{
            name: "Jalon 1",
            x: Date.UTC(<%= ouvrage.start.year %>, <%= ouvrage.start.month %>),
            x2: Date.UTC(<%= ouvrage.start.year %>, <%= ouvrage.start.month + 3%>),
            y: 0,
            borderColor:'#fff',
            color: '#bfbfbf',
        }, {
           name: "Jalon 2",
            x: Date.UTC(<%= ouvrage.start.year %>, <%= ouvrage.start.month + 3%>),
            x2: Date.UTC(<%= ouvrage.start.year %>, <%= ouvrage.start.month + 6%>),
            y: 0,
          borderColor: '#fff',
          color: '#bfbfbf',
        }, {
           name: "Jalon 3",
            x: Date.UTC(<%= ouvrage.start.year %>, <%= ouvrage.start.month + 6%>),
            x2: Date.UTC(<%= ouvrage.start.year %>, <%= ouvrage.start.month + 8%>),
            y: 0,
          borderColor: '#fff',
          color: '#bfbfbf',
        }, {
           name: "Jalon 4",
            x: Date.UTC(<%= ouvrage.start.year %>, <%= ouvrage.start.month + 6%>),
            x2: Date.UTC(<%= ouvrage.end.year %>, <% if ouvrage.ouvrages_revues.count > 0 %> <%= ouvrage.end.month + ouvrage.ouvrages_revues.order("date DESC").first.delai_time.to_i %><% else%><%= ouvrage.end.month %> <% end %>),
            y: 0,
          borderColor: '#fff',
          color: '#bfbfbf',
        }],
        dataLabels: {
            enabled: true
        }
    },
      <% end %>
    <%end %> {
        name: 'JOP2024',
        color: 'red',
        pointWidth: 3,
        data: [{
            name: "JOP2024",
            x: Date.UTC(2024,6,26),
            x2: Date.UTC(2024,7,11),
            y: 0,
             partialFill: {
               amount: 1,
               fill: 'red',
             },
          borderColor:'#fff',
          color: 'red',
        }],
      
        dataLabels: {
            enabled: true
        }
    }],

});
</script>



<script>

  $('.menu-ouvrages-timeline').addClass('menu-active2'); 
  $('.menu-ouvrages').addClass('menu-active'); 

  $('#MonCollapse3').addClass('in'); 

</script>