<div class="EB_page">
  <div class="ED_home_button">
    <%= link_to ouvrages_path do %><i class="fas fa-chevron-left"></i>Retour<%end %>
  </div>
  <h1 class="EB_title">Financement ouvrages</h1>

  <div class="new-ouvrage-text">
    Importer les données (format csv) 
  </div>

<%=form_tag import_ouvrages_financements_path, multipart: true do %>
<%= hidden_field_tag :date_year, 2018 %>
<%= hidden_field_tag :date_month, 3 %>
  <div class="new-ouvrage-file">
    <%= file_field_tag :file %>
  </div>
  <div class="ED_new_form_field_submit">
    <%= submit_tag 'Importer'%>
  </div>

<%end%>
  <br><br>
<%= render 'form', ouvrages_financement: @ouvrages_financement %>
</div>
