<h1>New Ouvrages Financement</h1>
<div>
  Importer données csv
</div>
<%=form_tag import_ouvrages_financements_path, multipart: true do %>
<%= hidden_field_tag :date, DateTime.new(2018) %>
<%= file_field_tag :file %>

<%= submit_tag 'Importer'%>

<%end%>
<%= render 'form', ouvrages_financement: @ouvrages_financement %>

<%= link_to 'Back', ouvrages_financements_path %>
