<div class="page_w">
  <div class="i24"></div>
  <div class="titre_page text-center">Suivi des risques</div>
   <div class="i12"></div>
  <div class="stitre_page text-center">Dernière mise à jour : 22 février 2020</div>
  <div class="i40"></div>
  <div class="box_page">
    <div><span class="titre_section">Chiffres</span></div>
    <div class="i24"></div>
    <div class="risques-actu-text">Aujourd'hui il existe : </div>
    <% if OuvragesRevue.count > 0%>
    <div class="visible-xs">
      <div class="ouvrages-budget-infos">
        <div class="calendar-infos-box">     
          <div class="risques-actu-number"><%= OuvragesRevue.where('date = ? AND delai_indicateur = ?', OuvragesRevue.order('date DESC').first.date, 5).count %></div>               <div><span>risques critiques</span></div>
        </div>
      </div>
      <div class="ouvrages-budget-infos">
        <div class="calendar-infos-box">  
          <div class="risques-actu-number"><%= OuvragesRevue.where('date = ? AND delai_indicateur = ?', OuvragesRevue.order('date DESC').first.date, 4).count %></div>               <div><span>risques importants</span></div>
        </div>
      </div>
      <div class="ouvrages-budget-infos">
        <div class="calendar-infos-box"> 
         <div class="risques-actu-number"><%= OuvragesRevue.where('date = ? AND delai_indicateur = ?', OuvragesRevue.order('date DESC').first.date, 3).count %></div>
         <div><span>risques modérés</span></div>
            </div>
        </div>
      <div class="ouvrages-budget-infos">
        <div class="calendar-infos-box">  
          <div class="risques-actu-number"><%= OuvragesRevue.where('date = ? AND delai_indicateur = ?', OuvragesRevue.order('date DESC').first.date, 2).count %></div>
          <div><span>risques faibles</span></div>
        </div>
      </div>
    </div>
    <div class="ouvrages-budget-infos-box hidden-xs">
      <div class="ouvrages-budget-infos">
      <div class="calendar-infos-box">     
        <div class="risques-actu-number"><%= OuvragesRevue.where('date = ? AND delai_indicateur = ?', OuvragesRevue.order('date DESC').first.date, 5).count %></div>               <div><span>risques <br>critiques</span></div>
      </div>
      </div>
      <div class="ouvrages-budget-infos">
      <div class="calendar-infos-box">  
        <div class="risques-actu-number"><%= OuvragesRevue.where('date = ? AND delai_indicateur = ?', OuvragesRevue.order('date DESC').first.date, 4).count %></div>               <div><span>risques <br>importants</span></div>
        </div>
      </div>
      <div class="ouvrages-budget-infos">
     <div class="calendar-infos-box"> 
       <div class="risques-actu-number"><%= OuvragesRevue.where('date = ? AND delai_indicateur = ?', OuvragesRevue.order('date DESC').first.date, 3).count %></div>
       <div><span>risques<br>modérés</span></div>
          </div>
      </div>
      <div class="ouvrages-budget-infos">
        <div class="calendar-infos-box">  
        <div class="risques-actu-number"><%= OuvragesRevue.where('date = ? AND delai_indicateur = ?', OuvragesRevue.order('date DESC').first.date, 2).count %></div>
        <div><span>risques <br>faibles</span></div>
        </div>
      </div>
      <br><br>
    </div>
    <% end %>
    
    <div>
      <span class="titre_section">Risques actuels</span>
    </div>
    <div class="i24"></div>
    <% if OuvragesRevue.count > 0%>
    <div class="risques-infos-title-box" > 
         <div class="risques-infos-title-hr">
           <hr>
         </div>
         <div class="risques-infos-title" > 
         Risques critiques <br>(Fin > Date JOP)
         </div>
          <div class="risques-infos-title-hr">
           <hr>
         </div>
      </div>
    <% if OuvragesRevue.where('date = ? AND delai_indicateur = ?', OuvragesRevue.order('date DESC').first.date, 5).count > 0 %>
 
    <div class="ED_table ED_table-riques">
      <table class="table-striped">
        <tbody> 
             <% OuvragesRevue.where('date = ? AND delai_indicateur = ?', OuvragesRevue.order('date DESC').first.date, 5).each do |revue| %>
          <tr>
              <td class="risque-infos-name"><span class='critique'><i class="fas fa-exclamation-triangle"></i></span> <%= link_to ouvrage_path(Ouvrage.find(revue.ouvrage_id)) do %><%= revue.ouvrage.name %> <% end %>
              <div class="visible-xs">Retard : <%= revue.delai_time.to_i %> mois</div>
              <div class="visible-xs"><em>Dernière MAJ : <%= l(revue.date_maj, :format => '%B %Y')%></em></div>
              
            </td>
              <td class="hidden-xs">Dernière MAJ : <%= l(revue.date_maj, :format => '%B %Y')%></td>
              <td class="hidden-xs">Retard : <%= revue.delai_time.to_i %> mois </td>
              <td class="hidden-sm hidden-xs">MOA : <%= revue.ouvrage.maitre_oeuvre %></td>
            
          </tr>
           <% end %>
        </tbody>
      </table>
    </div>

    <% end %>

      <div class="risques-infos-title-box" > 
         <div class="risques-infos-title-hr">
           <hr>
         </div>
         <div class="risques-infos-title" > 
         Risques importants <br>(Décalage > 6 mois)
         </div>
          <div class="risques-infos-title-hr">
           <hr>
         </div>
      </div>
     <% if OuvragesRevue.where('date = ? AND delai_indicateur = ?', OuvragesRevue.order('date DESC').first.date, 4).count > 0 %>

    <div class="ED_table ED_table-riques">
      <table class="table-striped">
        <tbody> 
              <% OuvragesRevue.where('date = ? AND delai_indicateur = ?', OuvragesRevue.order('date DESC').first.date, 4).each do |revue| %>
          <tr>
              <td class="risque-infos-name"><span class='important'><i class="fas fa-exclamation-triangle"></i></span> <%= link_to ouvrage_path(Ouvrage.find(revue.ouvrage_id)) do %><%= revue.ouvrage.name %> <% end %>
                <div class="visible-xs">Retard : <%= revue.delai_time.to_i %> mois</div>
                <div class="visible-xs"><em>Dernière MAJ : <%= l(revue.date_maj, :format => '%B %Y')%></em></div>
        
            </td>
              <td class="hidden-xs">Dernière MAJ : <%= l(revue.date_maj, :format => '%B %Y')%></td>
              <td class="hidden-xs">Retard : <%= revue.delai_time.to_i %> mois </td>
              <td class="hidden-sm hidden-xs">MOA : <%= revue.ouvrage.maitre_oeuvre %></td>
            
          </tr>  
            <% end %>
        </tbody>
      </table>
    </div>
    
 
    <% end %>
    
    <div class="risques-infos-title-box" > 
      <div class="risques-infos-title-hr">
           <hr>
      </div>
      <div class="risques-infos-title" > 
        Risques modérés <br>(Décalage : 3-6 mois)
      </div>
      <div class="risques-infos-title-hr">
           <hr>
      </div>
    </div>
    <% if OuvragesRevue.where('date = ? AND delai_indicateur = ?', OuvragesRevue.order('date DESC').first.date, 3).count > 0 %>

      <div class="ED_table ED_table-riques">
        <table class="table-striped">
          <tbody>
                <% OuvragesRevue.where('date = ? AND delai_indicateur = ?', OuvragesRevue.order('date DESC').first.date, 3).each do |revue| %>
            <tr>
                <td class="risque-infos-name"><span class='modere'><i class="fas fa-exclamation-triangle"></i></span> <%= link_to ouvrage_path(Ouvrage.find(revue.ouvrage_id)) do %><%= revue.ouvrage.name %> <% end %>
                  <div class="visible-xs">Retard : <%= revue.delai_time.to_i %> mois</div>
              <div class="visible-xs"><em>Dernière MAJ : <%= l(revue.date_maj, :format => '%B %Y')%></em></div>
             
              </td>
                <td class="hidden-xs">Dernière MAJ : <%= l(revue.date_maj, :format => '%B %Y')%></td>
                <td class="hidden-xs">Retard : <%= revue.delai_time.to_i %> mois </td>
                <td class="hidden-sm hidden-xs">MOA : <%= revue.ouvrage.maitre_oeuvre %></td>
              
            </tr> 
             <% end %>
          </tbody>
        </table>
      </div>

    <% end %>
   
    <div class="risques-infos-title-box" > 
      <div class="risques-infos-title-hr"><hr></div>
      <div class="risques-infos-title" > 
        Risques faibles <br>(Décalage < 3 mois)
      </div>
      <div class="risques-infos-title-hr"><hr></div>
    </div>
    <% if OuvragesRevue.where('date = ? AND delai_indicateur = ?', OuvragesRevue.order('date DESC').first.date, 2).count > 0 %>
    
      <div class="ED_table ED_table-riques">
        <table class="table-striped">
          <tbody> 
            <% OuvragesRevue.where('date = ? AND delai_indicateur = ?', OuvragesRevue.order('date DESC').first.date, 2).each do |revue| %>
            <tr>
                <td class="risque-infos-name"><span class='faible'><i class="fas fa-exclamation-triangle"></i></span> <%= link_to ouvrage_path(Ouvrage.find(revue.ouvrage_id)) do %><%= revue.ouvrage.name %> <% end %>
                  <div class="visible-xs">Retard : <%= revue.delai_time.to_i %> mois</div>
              <div class="visible-xs"><em>Dernière MAJ : <%= l(revue.date_maj, :format => '%B %Y')%></em></div>
                  
              </td>
                <td class="hidden-xs">Dernière MAJ : <%= l(revue.date_maj, :format => '%B %Y')%></td>
                <td class="hidden-xs">Retard : <%= revue.delai_time.to_i %> mois </td>
                <td class="hidden-sm hidden-xs">MOA : <%= revue.ouvrage.maitre_oeuvre %></td>
              
            </tr> 
             <% end %>
          </tbody>
        </table>
      </div>
       
    <% end %>

    <% end %>
  </div>
  

</div>

<script>

  $('.menu-solideo-chantiers').addClass('menu-active2'); 
  $('.menu-ouvrages').addClass('menu-active'); 

  $('#MonCollapse3').addClass('in'); 

</script>
