<div class="O_page">
  <h1 class="SD_title">Suivi des risques</h1>
    <h1 class="SD_subtitle">Dernière mise à jour : 22 novembre 2020</h1>
  <div class="SD-table-box">
    <div class="SD-topo-box-title">
            <span>Chiffres</span>
    </div><br><br>
    <div class="risques-actu-text">Aujourd'hui il existe : </div>
    <div class="risques-actu-box">
      <div class="risques-actu-infos"><span>3</span> risques critiques</div>
      <div class="risques-actu-infos"><span>4</span> risques importants</div>
      <div class="risques-actu-infos"><span>4</span> risques modérés</div>
      <div class="risques-actu-infos"><span>5</span> risques faibles</div>
    </div>
    <br><br>
    <div class="SD-topo-box-title">
            <span>Risques actuels</span>
    </div><br><br>
    <div class="risques-infos-title-box" > 
         <div class="risques-infos-title-hr">
           <hr>
         </div>
         <div class="risques-infos-title" > 
         Risques critiques <br>(Fin > Date JOP)
         </div>
          <div class="risques-infos-title-hr">
           <hr>
         </div>
      </div>
    <div class="risque-infos-line" >
      <div class="risque-infos-name"><span class='critique'><i class="fas fa-exclamation-circle"></i></span> <%= link_to ouvrage_path(Ouvrage.first) do %>Ouvrage X <% end %></div>
      <div class="risque-infos-date">Novembre 2020 </div>
      <div class="risque-infos-moa">MOA ville de paris</div>
      <div class="risque-infos-text">Retard : 8 mois </div>
      <div class="risque-infos-action">Autres ouvrages impactés : 0</div>
    </div>
    <br>
       <div class="risques-infos-title-box" > 
         <div class="risques-infos-title-hr">
           <hr>
         </div>
         <div class="risques-infos-title" > 
         Risques importants <br>(Décalage > 6 mois)
         </div>
          <div class="risques-infos-title-hr">
           <hr>
         </div>
      </div>
     <div class="risque-infos-line" >
      <div class="risque-infos-name"><span class='important'><i class="fas fa-exclamation-circle"></i></span>  <%= link_to ouvrage_path(Ouvrage.first) do %>Ouvrage X<% end %></div>
      <div class="risque-infos-date">Novembre 2020 </div>
      <div class="risque-infos-moa">MOA ville de paris</div>
      <div class="risque-infos-text">Retard : 6 mois </div>
      <div class="risque-infos-action">Autres ouvrages impactés : 0</div>
    </div>
       <div class="risque-infos-line" >
      <div class="risque-infos-name"><span class='important'><i class="fas fa-exclamation-circle"></i></span>  <%= link_to ouvrage_path(Ouvrage.first) do %>Ouvrage X<% end %></div>
      <div class="risque-infos-date">Novembre 2020 </div>
      <div class="risque-infos-moa">MOA ville de paris</div>
      <div class="risque-infos-text">Retard : 6 mois </div>
      <div class="risque-infos-action">Autres ouvrages impactés : 0</div>
    </div>
    <br>
    
    <div class="risques-infos-title-box" > 
         <div class="risques-infos-title-hr">
           <hr>
         </div>
         <div class="risques-infos-title" > 
        Risques modérés <br>(Décalage : 3-6 mois)
         </div>
          <div class="risques-infos-title-hr">
           <hr>
         </div>
      </div>
     <div class="risque-infos-line" >
      <div class="risque-infos-name"><span class='modere'><i class="fas fa-exclamation-circle"></i></span>  <%= link_to ouvrage_path(Ouvrage.first) do %>Ouvrage X<% end %></div>
      <div class="risque-infos-date">Novembre 2020 </div>
      <div class="risque-infos-moa">MOA ville de paris</div>
      <div class="risque-infos-text">Retard : 4 mois </div>
      <div class="risque-infos-action">Autres ouvrages impactés : 1</div>
    </div>
    <div class="risque-infos-line" >
      <div class="risque-infos-name"><span class='modere'><i class="fas fa-exclamation-circle"></i></span>  <%= link_to ouvrage_path(Ouvrage.first) do %>Ouvrage X<% end %></div>
      <div class="risque-infos-date">Novembre 2020 </div>
      <div class="risque-infos-moa">MOA ville de paris</div>
      <div class="risque-infos-text">Retard : 4 mois </div>
      <div class="risque-infos-action">Autres ouvrages impactés : 1</div>
    </div>
    <br>
    <div class="risques-infos-title-box" > 
         <div class="risques-infos-title-hr">
           <hr>
         </div>
         <div class="risques-infos-title" > 
        Risques faibles <br>(Décalage < 6 mois)
         </div>
          <div class="risques-infos-title-hr">
           <hr>
         </div>
      </div>
     <div class="risque-infos-line" >
      <div class="risque-infos-name"><span class='faible'><i class="fas fa-exclamation-circle"></i></span>  <%= link_to ouvrage_path(Ouvrage.first) do %>Ouvrage X <% end %></div>
      <div class="risque-infos-date">Novembre 2020 </div>
      <div class="risque-infos-moa">MOA ville de paris</div>
      <div class="risque-infos-text">Retard : 2 mois</div>
      <div class="risque-infos-action">Autres ouvrages impactés : 1</div>
    </div>
  </div>
  <br><br>
  

</div>

<script>

  $('.menu-solideo-chantiers').addClass('menu-active2'); 
  $('.menu-ouvrages').addClass('menu-active'); 

  $('#MonCollapse3').addClass('in'); 

</script>
