        <div>
          <div class="inline-flex">
            <div class="public-map-choice choice-renovation"><%= link_to recherche_ouvrages_publics_path({travaux: "Rénovation"}), remote: true do%><i class="fas fa-map-marker"></i> Espaces rénovés (<%= OuvragesPublic.where('travaux = ?','Rénovation').count%>)<%end%></div>
            <div class="public-map-choice choice-construction"><%= link_to recherche_ouvrages_publics_path({travaux: "Construction"}), remote: true do%><i class="fas fa-map-marker"></i> Espaces construits (<%= OuvragesPublic.where('travaux = ?','Construction').count%>)<%end%></div>
            <div class="public-map-choice choice-olympiques"><%= link_to recherche_ouvrages_publics_path({travaux: "Amenagement"}), remote: true do%><i class="fas fa-map-marker"></i> Aménagement (<%= OuvragesPublic.where('travaux = ?','Amenagement').count%>)<%end%></div>
            <div class="public-map-choice choice-para"><%= link_to recherche_ouvrages_publics_path({appartenance: "Solideo"}), remote: true do%>SOLIDEO (<%= OuvragesPublic.where('appartenance = ?','Solideo').count%>)<%end%></div>
            <div class="public-map-choice choice-para"><%= link_to recherche_ouvrages_publics_path({appartenance: "Cojo"}), remote: true do%>COJO (<%= OuvragesPublic.where('appartenance = ?','Cojo').count%>)<%end%></div>

            <%= search_form_for @q, url: recherche_ouvrages_publics_path , method: :get, remote: true, id: "search-form" do |f| %>
              <div class="ouvrages-search">
              <%= f.search_field :name_cont,class: "ouvrages-search-field", id:"name",placeholder: "Cherchez une discipline", data: {autocomplete_source: utilisation_budget_path} %> 
              <%= f.button :submit, id:"submit_button", class:"ouvrages-submit" do %><i class="fas fa-search"></i><% end %>
              </div>
            <% end %>
        </div>
      </div>
  <div class="row">

    <div class="col-md-12">
    <div id="map">
      
      </div>
    </div>
  </div>


 <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzB6sn07VIK_DzRsbm87THvZtEO1qPaNg&map_ids=4c4b12db708d00c6&callback=initMap"
      defer
    ></script>
<script>

function initMap() {
  var map = new google.maps.Map(document.getElementById("map"), {
    mapId: "4c4b12db708d00c6",
    center: { lat: <%= @ouvrages.first.latitude%>, lng: <%= @ouvrages.first.longitude%> },
    zoom: 10,
    
  });

  var infowindow = new google.maps.InfoWindow({
                         content:''
                       });
  var image = {
              path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
              fillColor: '#4FC5CE',
              fillOpacity: 1,
              scale: 0.5,
              strokeColor: '#4FC5CE',
              strokeWeight: 1,
              labelOrigin: new google.maps.Point(0, -30)
            };
  var image2 ={
              path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
              fillColor: '#4FC5CE',
              fillOpacity: 1,
              scale: 0.6,
              strokeColor: '#4FC5CE',
              strokeWeight: 1,
              labelOrigin: new google.maps.Point(0, -30)
            };
  var imager = {
              path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
              fillColor: '#00AC8C',
              fillOpacity: 1,
              scale: 0.5,
              strokeColor: '#00AC8C',
              strokeWeight: 1,
              labelOrigin: new google.maps.Point(0, -30)
            };
  var image2r ={
              path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
              fillColor: '#00AC8C',
              fillOpacity: 1,
              scale: 0.6,
              strokeColor: '#00AC8C',
              strokeWeight: 1,
              labelOrigin: new google.maps.Point(0, -30)
            };
  var imagei = {
              path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
              fillColor: '#FF8D7E',
              fillOpacity: 1,
              scale: 0.5,
              strokeColor: '#FF8D7E',
              strokeWeight: 1,
              labelOrigin: new google.maps.Point(0, -30)
            };
  var image2i ={
              path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
              fillColor: '#FF8D7E',
              fillOpacity: 1,
              scale: 0.6,
              strokeColor: '#FF8D7E',
              strokeWeight: 1,
              labelOrigin: new google.maps.Point(0, -30)
            };


  <% @ouvrages.each do |ouvrage| %>
            
    var marker = new google.maps.Marker({
                    position: {lat: <% if ouvrage.latitude.nil?%>48.856614<% else%><%= ouvrage.latitude%><%end%>, lng: <% if ouvrage.longitude.nil?%>2.3522219<% else %><%= ouvrage.longitude%><%end%>},
                    map: map,
                    icon: 
                      <% if ouvrage.travaux == "Construction"%> imager
                      <% elsif ouvrage.travaux == "Rénovation" %>imagei
                      <% else ouvrage.travaux == "Amenagement "%>image
                      <% end%>
                      ,
                    label: {
                         fontFamily: "'Font Awesome 5 Free'",
                         <% if ouvrage.appartenance == "Solideo"%>
                          text: 'S',//'\uf6e3', //icon code
                          <%else%>
                          text: 'C',
                          <%end%>
                          fontWeight: '900', //careful! some icons in FA5 only exist for specific font weights
                          color: '#FFFFFF', //color of the text inside marker
                          fontSize: '8px'
                    },
                  });
    
          
              
    bindInfoWindow(marker, map, infowindow, '<div>'+ '<div class="c2 fw7 fs18"><%= ouvrage.nom%></div><div class="i12"></div>' 
      <% if ouvrage.disciplines.where('epreuves = ?',"Olympiques").count > 0 %>+'<div class="c2 fw6 fs14">Épreuves Olympiques </div><div>'<% ouvrage.disciplines.where('epreuves = ?',"Olympiques").each do |discipline|%>+'<span><%=discipline.name%> </span>'<%end%>+'</div><div class="i8"></div>'<%end%>
      <% if ouvrage.disciplines.where('epreuves = ?',"Paralympiques").count > 0 %>+'<div class="c2 fw6 fs14">Épreuves Paralympiques </div><div>'<% ouvrage.disciplines.where('epreuves = ?',"Paralympiques").each do |discipline|%>+'<span><%=discipline.name%> </span>'<%end%>+'</div>'<%end%> + '</div>');

        <% if ouvrage.travaux == "Construction"%> AddMouseover(marker, imager, image2r);
        <% elsif ouvrage.travaux == "Rénovation" %>AddMouseover(marker, imagei, image2i);
        <% else ouvrage.travaux == "Amenagement "%>AddMouseover(marker, image, image2);
        <% end%>

                   
          
    <% end %>
} // end function
          
    function bindInfoWindow(marker, map, infowindow, html) {   
       
            google.maps.event.addListener(marker,'click', function() {
                  infowindow.setContent(html); 
                  infowindow.open(map, marker);
                });
           google.maps.event.addListener(infowindow, 'domready', function() {
           // Reference to the DIV which receives the contents of the infowindow using jQuery
           var iwOuter = $('.gm-style-iw');
           var iwBackground = iwOuter.prev();
           // Remove the background shadow DIV
           iwBackground.children(':nth-child(2)').css({'display' : 'none'});
           // Remove the white background DIV
           iwBackground.children(':nth-child(4)').css({'display' : 'none'});
           // iwOuter.children().css({'width':'100%'})
           //iwOuter.parent().parent().css({left: '20px'});
                          // Moves the shadow of the arrow 76px to the left margin 
           // iwBackground.children(':nth-child(1)').attr('style', function(i,s){ return s + 'right: 20px !important;'});
            // Moves the arrow 76px to the left margin 
           // iwBackground.children(':nth-child(3)').attr('style', function(i,s){ return s + 'right: 20px !important;'});
                          // Changes the desired color for the tail outline.
            // The outline of the tail is composed of two descendants of div which contains the tail.
            // The .find('div').children() method refers to all the div which are direct descendants of the previous div. 
            iwBackground.children(':nth-child(3)').find('div').children().css({'box-shadow': 'rgba(130,153,247,0.2) 0px 1px 6px', 'z-index' : '1'});
            var iwCloseBtn = iwOuter.next();
            // Apply the desired effect to the close button
            iwCloseBtn.css({
              opacity: '1', // by default the close button has an opacity of 0.7
              right: '20px', top: '3px', // button repositioning
              color: '#3233FF',
              //border: '1px solid transparent', // increasing button border and new color
              //'border-radius': '13px', // circular effect
              //'box-shadow': '0 0 5px #fff' // 3D effect to highlight the button
              });
            // The API automatically applies 0.7 opacity to the button after the mouseout event.
            // This function reverses this event to the desired value.
            iwCloseBtn.mouseout(function(){
              $(this).css({opacity: '1'});
            })
          });
        }
    function AddMouseover(marker, image, image2){
            google.maps.event.addListener(marker,'mouseover', function() {
                  marker.setIcon(image2);
                  var label = this.getLabel();
                    label.color="white";
                  this.setLabel(label)
                });
            google.maps.event.addListener(marker,'mouseout', function() {
                  marker.setIcon(image);
                  var label = this.getLabel();
                    label.color="white";
                  this.setLabel(label)
                });
          
    }
                     
                      
</script>
