<div class="EB_page">
  <div class="fs32 fw7 c2 hidden-sm hidden-xs">
    Bienvenue sur le Tableau de bord<br>
    de DATALYMPICS
  </div>
  <div class="fs32 fw7 c2 visible-sm visible-xs">
    Bienvenue sur le Tableau de bord de DATALYMPICS
  </div>
  <div class="i40"></div>
    
  <div class="row">
    <div class="col-md-6">
      <div class="w100 bckc1 br20 bs">
        <div class="bckc2 w100 br4 tc pd12 tupp c0 fs16 fw7">
          BUDGET OUVRAGES 2021 (HORS ZAC)
        </div>
        <div class="pd24">
          <div class="row inline-flex w100">
            <div class="col-md-9">
              <div id="focus"></div>
            </div>
            <div class="col-md-3 padding-none">
              <div class="bckc2 c0 fs14 fw4 pd8 tc"><span class="fw8"><%= (@ouvrages_budget_2021-@ouvrages_depenses_2021).round(1)%> M€</span> <br>Reste à payer</div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="i32"></div>
    </div>
      <div class="col-md-6"> 
        <div class="w100 bckc1 br20 bs">
          <div class="bckc2 w100 br4 tc pd12 tupp c0 fs16 fw7">
           budget global ouvrages (HORS ZAC)
          </div>
          <div class="pd24">
            <div class="row inline-flex w100">
            <div class="col-md-9">
              <div id="budget"></div>
            </div>
            <div class="col-md-3 padding-none">
              <div class="bckc2 c0 fs14 fw4 pd8 tc"><span class="fw8"><%= (@ouvrages_budget_global-@ouvrages_depenses_global).round(1)%> M€</span> <br>Reste à payer</div>
            </div>
          </div>
            
          </div>
        </div>
        <div class="i32"></div>
      </div>
  </div>
  

  <div class="row">
    <div class="col-md-6">
      <div class="w100 bckc1 br20 bs">
        <div class="bckc2 w100 br4 tc pd12 tupp c0 fs16 fw7">
          <%= link_to conventions_path, class: "c0 c0h" do %><% if !Convention.last.nil?%><%= Convention.last.travaux_signature + Convention.last.objectifs_signature + Convention.last.etudes_signature%><% end %> CONVENTIONS SIGNÉES<% end %>
        </div>
        <div class="pd24" style="height:340px !important;">
          <div class="row">
            <% if !Convention.last.nil?%>            

            <div id="container-conv"></div>
           
            <script>
                Highcharts.chart('container-conv', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie',
                        height:'280px',
                        backgroundColor: '#fff',
                          style:{
                          fontFamily: "Marianne Regular",
                    
                          },
                      
                    },
                    title: {
                         text:null,   
                          style: {
                                  color: "#8F8F8F",
                                  fontWeight: "400",
                                  fontStyle: "italic",
                                  fontSize: '16px',
                                  },
                    },
                    colors: ['#2E5D63','#C68D7B', '#20E37B'],
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.y} </b>',
                      borderColor: 'transparent',
                      borderRadius: 16,
                      backgroundColor: '#fff',
                      },
                
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                           size: 200,
                            
                        }
                    },
                    series: [{
                        name: 'Conventions signées',
                        colorByPoint: true,
                        innerSize: '80%',
                        data: [ {
                            name: 'Convention études',
                            y: <%= Convention.order('date DESC').first.etudes_signature%>,
                            dataLabels: {
                              enabled: true,
                              formatter: function() {

                                var point = this;                      
                                ecart = <%= Convention.order('date DESC').first.etudes_signature - Convention.where('date = ?',Convention.order('date DESC').first.date-1.month).sum('etudes_signature') %>;
                                
                                number = Highcharts.numberFormat(point.y, -1, ',',' ');
                                
                                 if (ecart >= 0){
                                    header = '<span style="font-size: 10px;color:#20E37B"> +' + ecart  + '</span><br/>';
                                  }else{
                                    header = '<span style="font-size: 10px;color:#E1000F">' + ecart  + '</span><br/>';
                                  }
                                  
                                  content = '<span style="font-size: 11px;color:#8F8F8F";font-weight:400>' + number  + ' CDE <br/>';

                                return content + header ;
                              },
                          },
                        },{
                            name: 'Conventions travaux',
                            y: <%= Convention.order('date DESC').first.travaux_signature%>,
                            dataLabels: {
                              enabled: true,
                              formatter: function() {

                                var point = this;                      
                                ecart = <%= Convention.order('date DESC').first.etudes_signature - Convention.where('date = ?',Convention.order('date DESC').first.date-1.month).sum('etudes_signature') %>;
                                
                                number = Highcharts.numberFormat(point.y, -1, ',',' ');
                                
                                 if (ecart >= 0){
                                    header = '<span style="font-size: 10px;color:#20E37B"> +' + ecart  + '</span><br/>';
                                  }else{
                                    header = '<span style="font-size: 10px;color:#E1000F">' + ecart  + '</span><br/>';
                                  }
                                  
                                  content = '<span style="font-size: 11px;color:#8F8F8F";font-weight:400>' + number  + ' CDT <br/>';

                                return content + header ;
                              },
                          },
                        }, {
                            name: 'Conventions objectifs',
                            y: <%= Convention.order('date DESC').first.objectifs_signature%>,
                            dataLabels: {
                              enabled: true,
                              formatter: function() {

                                var point = this;                      
                                ecart = <%= Convention.order('date DESC').first.etudes_signature - Convention.where('date = ?',Convention.order('date DESC').first.date-1.month).sum('etudes_signature') %>;
                                
                                number = Highcharts.numberFormat(point.y, -1, ',',' ');
                                
                                 if (ecart >= 0){
                                    header = '<span style="font-size: 10px;color:#20E37B"> +' + ecart  + '</span><br/>';
                                  }else{
                                    header = '<span style="font-size: 10px;color:#E1000F">' + ecart  + '</span><br/>';
                                  }
                                  
                                  content = '<span style="font-size: 11px;color:#8F8F8F";font-weight:400>' + number  + ' CDO <br/>';

                                return content + header ;
                              },
                          },
                        }]
                    }]
                });
              </script>
            <% end %>
          </div>
        </div>
      </div>
    </div>
      <div class="col-md-6"> 
        <div class="w100 bckc1 br20 bs">
          <div class="bckc2 w100 br4 tc pd12 tupp c0 fs16 fw7">
           Suivi Ouvrages
          </div>
          <div class="pd24" style="height:340px !important;">
            <div class="row inline-flex w100">
              <div class="col-md-6 col-sm-6">
                <div>
                  <div class="c1 fs20 fw7"> <%= Ouvrage.where('start < ?',Date.today).count %></div>
                  <div class="i8"></div>
                  <div class="fw5 fs14 c6">Ouvrages en cours de travaux</div>

                </div>
                <div class="i16"></div>
                <div>
                  <div class="c3 fs20 fw7">2</div>
                  <div class="i8"></div>
                  <div class="fw5 fs14 c6">Ouvrages avec risques critiques</div>
                </div>
                <div class="i16"></div>
                <div>
                  <div class="c3 fs20 fw7"> 1</div>
                  <div class="i8"></div>
                  <div class="fw5 fs14 c6">Ouvrage avec risques importants</div>
                </div>

                </div>

              <div class="col-md-6 col-sm-6">
                <div id="container-jauge4">

                </div>
             
              </div>
            </div>
          </div>
        </div>
        
      </div>
  </div>

</div>

<script>

Highcharts.chart('container-jauge4', {

    chart: {
        type: 'solidgauge',
        height: '150px',
        spacing: [0,0,0,0],
    },

    title: {
        text: null,
       
    },

    tooltip: {
        borderWidth: 0,
        backgroundColor: 'none',
        shadow: false,
        style: {
            fontSize: '16px'
        },
        valueSuffix: '%',
        pointFormat: '',
        positioner: function (labelWidth) {
            return {
                x: (this.chart.chartWidth - labelWidth) / 2,
                y: (this.chart.plotHeight / 2) + 15
            };
        },
    },

    pane: {
        startAngle: 0,
        endAngle: 360,
        background: [{ // Track for Move
            outerRadius: '100%',
            innerRadius: '88%',
            backgroundColor: "#C4C4C4",
            borderWidth: 0
        }]
    },

    yAxis: {
        min: 0,
        max: 100,
        lineWidth: 0,
        tickPositions: []
    },

    plotOptions: {
        solidgauge: {
            
          tooltip: "",
          
            dataLabels: {
              enabled: true,
              borderWidth: 0,
              backgroundColor: 'none',
              shadow: false,
              style: {
                  fontSize: '10px',
                color: '#8F8F8F',
              },
              valueSuffix: '%',
              format: '<span style="font-size:10px; color: #E1000F; font-weight: bold">{point.y:,.0f} %</span><br><span style="color:#8F8F8F; font-size:10px;font-weight:400">{series.name}</span>',
            verticalAlign: 'middle',
              align: 'center',
        
            },
            linecap: 'round',
            stickyTracking: false,
            rounded: true
        }
    },

    series: [{
        name: 'Avancée des travaux',
        data: [{
            color: "#20E37B",
            radius: '100%',
            innerRadius: '88%',
            y: 35
        }]
    }]
});
  </script>



  <script>
    
    Highcharts.chart('focus', {
    chart: {
        type: 'column',
        inverted: true,
        height: '150px',
        spacingTop: 0,
        style:{
          fontFamily: "Marianne Regular",
        },
    },
    title: {
        text: null,
       
    },
    xAxis: {
      categories: ['Suivi Budget 2021'],
        title: {
        text: null,
      },
      lineColor: '#fff',
      labels: {
        enabled: false,
      },
    },
    yAxis: {
      gridLineColor: '#fff',
      title: {
        text: null,
      },
      labels: {
        enabled: false,
      },
    },
    legend: {
        shadow: false,
        enabled:false,
    },
    tooltip: {
        shared: true,
        valueSuffix: 'M€',
        borderColor: 'transparent',
   borderRadius: 16,
   backgroundColor: '#fff',
    },
    plotOptions: {
        column: {
            grouping: false,
            shadow: false,
            borderWidth: 0,
            pointWidth: 15,
        }
    },
    series: [{
        name: 'Budget 2021',
        color: '#C4C4C4',
        data: [<%= @ouvrages_budget_2021%>],
        pointPadding: 0,
        pointPlacement: 0,
        dataLabels: {
          enabled: true,
          style: {
            color: '#C4C4C4',
            textOutline: '0px',
            fontSize: '14px',
          },
          formatter: function() {
            var point = this, 
            number = Highcharts.numberFormat(point.y, -1, ',',' '),
            content =  number + ' M€ <br/>'+ '<span style="font-weight:400;">prévus </span>';
          return content;
        },
        y: 100,
        },

    }, {
        name: 'Paiements versés',
        color: '#C68D7B',
        data: [<%= @ouvrages_depenses_2021%>],
        pointPadding: 0,
        pointPlacement: 0,
        dataLabels: {
          enabled: true,
          style: {
            color: '#C68D7B',
            fontSize: '14px',
          },
          formatter: function() {
            var point = this, 
            number = Highcharts.numberFormat(point.y, -1, ',',' '),
            content =  number + ' M€ <br/>'+ '<span style="font-weight:400;">versés</span> ';
          return content;
        },
        y: 100,
        x: -20,
        },
    }, ]
});
  </script>
   <script>
    
      Highcharts.chart('budget', {
      chart: {
          type: 'column',
          inverted: true,
          height: '150px',
          spacingTop: 0,
          style:{
            fontFamily: "Marianne Regular",
          },
      },
      title: {
          text: null,
         
      },
      xAxis: {
        categories: ['Suivi Budget 2021'],
          title: {
          text: null,
        },
        lineColor: '#fff',
        labels: {
          enabled: false,
        },
      },
      yAxis: {
        gridLineColor: '#fff',
        title: {
          text: null,
        },
        labels: {
          enabled: false,
        },
      },
      legend: {
          shadow: false,
          enabled:false,
      },
      tooltip: {
          shared: true,
          valueSuffix: 'M€',
          borderColor: 'transparent',
     borderRadius: 16,
     backgroundColor: '#fff',
      },
      plotOptions: {
          column: {
              grouping: false,
              shadow: false,
              borderWidth: 0,
              pointWidth: 15,
          }
      },
      series: [{
          name: 'Montants engagés',
          color: '#C4C4C4',
          data: [<%= @ouvrages_budget_global%>],
          pointPadding: 0,
          pointPlacement: 0,
          dataLabels: {
            enabled: true,
            style: {
              color: '#C4C4C4',
              textOutline: '0px',
              fontSize: '14px',
            },
            formatter: function() {
              var point = this, 
              number = Highcharts.numberFormat(point.y, -1, ',',' '),
              content =  number + ' M€ <br/>'+ '<span style="font-weight:400;">engagés </span>';
            return content;
          },
          y: 100,
          },

      }, {
          name: 'Paiements versés',
          color: '#466964',
          data: [<%= @ouvrages_depenses_global%>],
          pointPadding: 0,
          pointPlacement: 0,
          dataLabels: {
            enabled: true,
            style: {
              color: '#466964',
              fontSize: '14px',
            },
            formatter: function() {
              var point = this, 
              number = Highcharts.numberFormat(point.y, -1, ',',' '),
              content =  number + ' M€ <br/>'+ '<span style="font-weight:400;">versés</span> ';
            return content;
          },
          y: 100,
          x: -20,
          },
      }, ]
  });
  </script>
<script>

  $('.menu-accueil').addClass('menu-active'); 


</script>