<div class="page_w">
  <div class="titre_page hidden-sm hidden-xs">
    Bienvenue sur le Tableau de bord<br>
    de DATALYMPICS
  </div>
  <div class="titre_page visible-sm visible-xs">
    Bienvenue sur le Tableau de bord de DATALYMPICS
  </div>
  <div class="i40"></div>
    
  <div class="box_accueil hidden" >
    <%= link_to etat_budgets_path do%>
    <div class="inline-flex2 w100">
    <div class="image-box"><%= image_tag 'etat_accueil.png' %></div>
    <div class="titre_section_acc">Suivre le budget de l'État<i class="fas fa-arrow-right"></i></div>
    </div>
    <%end%>
  </div>
  <div class="i32 hidden"></div>
  <div class="box_accueil" >
    <%= link_to solideo_depenses_path do%>
    <div class="inline-flex2 w100">
    <div class="image-box"><%= image_tag 'logo_solideo.svg' %></div>
    <div class="titre_section_acc">
      <div>Suivre le budget de la Solideo<i class="fas fa-arrow-right"></i></div>
      <div class="stitre_section_acc"">Dépenses Solideo - Financements et recettes - Maquettes financières</div>
    </div>
    </div>
    <%end%>
  </div>
  <div class="i32"></div>
  <div class="box_accueil" >
    <%= link_to ouvrages_path do%>
    <div class="inline-flex2 w100">
    <div class="image-box"><%= image_tag 'ouvrages_accueil.png'%></div>
    <div class="titre_section_acc">
      <div>Suivre l'avancée des ouvrages<i class="fas fa-arrow-right"></i></div>
      <div class="stitre_section_acc"">Infos & carte - Suivi des risques - Timeline des ouvrages - Suivi des conventions</div>
    </div>

    </div>
    <%end%>
  </div>
  <div class="i32"></div>
  <div class="box_accueil">
    <%= link_to innovations_path do%>
    <div class="inline-flex2 w100">
    <div class="image-box"><%= image_tag 'innovation_accueil.png' %></div>
    <div class="titre_section_acc">Suivre les projets innovants<i class="fas fa-arrow-right"></i></div>
    </div>
    <%end%>
  </div>

  <div class="i40"></div>

</div>

<script>
  $('.menu-accueil').addClass('menu-active'); 
</script>