<div class="EB_page">
  <div class="fs32 fw7 c2 hidden-sm hidden-xs">
    Bienvenue sur le Tableau de bord<br>
    de DATALYMPICS
  </div>
  <div class="fs32 fw7 c2 visible-sm visible-xs">
    Bienvenue sur le Tableau de bord de DATALYMPICS
  </div>
  <div class="i12"></div>
  <div class="c2 fw4 fs20">Dernière mise à jour : <%= l(@dates_ouvrages_reporting[0], format: "%e %B %Y") %></div>

  <div class="i40"></div>
    
  <div class="row">
    <div class="col-md-12">
      <div class="w100 bckc1 br20 bs">
        <div class="bckc2 w100 br4 tc pd12 tupp c0 fs16 fw7">
          SUIVI BUDGET OUVRAGES (hors ZAC)
        </div>
        <div class="pd24">
          <div class="i12"></div>
          <div class="row  w100">
            <div class="col-md-4">
              <div style="height:200px;overflow:hidden">
                <div id="focus"></div>
              </div>
            </div>
            <div class="col-md-2">
                <div class="box_i1">
                  <div class="box_i1_t1"><%=@ouvrages_budget_2021%>M€ </div>
                  <div class="box_i1_t2">Budget 2021</div>
                </div>
                <div class="i12"></div>
                <div class="box_i1">
                  <div class="box_i1_t1"><%= (@ouvrages_depenses_attente).round(1)%>M€ </div>
                  <div class="box_i1_t2">Paiements en attente</div>
                </div>
            </div>
            <div class="col-md-4">
              <div style="height:200px;overflow:hidden">
                <div id="budget"></div>
              </div>
            </div> 
            <div class="col-md-2">
              <div class="box_i1">
                      <div class="box_i1_t1"><%= @budget_ouvrages%>M€</div>
                      <div class="box_i1_t2"> Budget total</div>
                  </div>
              <div class="i12"></div>
                <div class="box_i1">
                    <div class="box_i1_t1"><%= (@ouvrages_budget_global).round(1)%>M€ </div>
                    <div class="box_i1_t2">Montants engagés</div>
                </div> 
            </div>
          </div>
          <div class="i24"></div>
          <div class="row inline-flex w100 hidden">
            <div class="col-md-6">
              <div id="engagements"></div>
            </div>
            <div class="col-md-6">
              <div id="jalons"></div> 
            </div>
          </div>

        </div>
      </div>

      </div>
  </div>
  <div class="i32"></div>
  

  <div class="row">
    <div class="col-md-6">
      <div class="w100 bckc1 br20 bs">
        <div class="bckc2 w100 br4 tc pd12 tupp c0 fs16 fw7">
          <%= link_to conventions_path, class: "c0 c0h" do %><% if !Convention.last.nil?%><%= Convention.last.travaux_signature + Convention.last.objectifs_signature + Convention.last.etudes_signature%><% end %> CONVENTIONS SIGNÉES<% end %>
        </div>
        <div class="pd24" style="height:340px !important;">
          <div class="row">
            <% if !Convention.last.nil?%>            

            <div id="container-conv"></div>
           
            <script>
                Highcharts.chart('container-conv', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie',
                        height:'280px',
                        backgroundColor: '#fff',
                          style:{
                          fontFamily: "Marianne Regular",
                    
                          },
                      
                    },
                    title: {
                         text:null,   
                          style: {
                                  color: "#8F8F8F",
                                  fontWeight: "400",
                                  fontStyle: "italic",
                                  fontSize: '16px',
                                  },
                    },
                    colors: ['#2E5D63','#C68D7B', '#20E37B'],
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.y} </b>',
                      borderColor: 'transparent',
                      borderRadius: 16,
                      backgroundColor: '#fff',
                      },
                
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                           size: 200,
                            
                        }
                    },
                    series: [{
                        name: 'Conventions signées',
                        colorByPoint: true,
                        innerSize: '80%',
                        data: [ {
                            name: 'Convention études',
                            y: <%= Convention.order('date DESC').first.etudes_signature%>,
                            dataLabels: {
                              enabled: true,
                              formatter: function() {

                                var point = this;                      
                                ecart = <%= Convention.order('date DESC').first.etudes_signature - Convention.where('date = ?',Convention.order('date DESC').first.date-1.month).sum('etudes_signature') %>;
                                
                                number = Highcharts.numberFormat(point.y, -1, ',',' ');
                                
                                 if (ecart >= 0){
                                    header = '<span style="font-size: 10px;color:#20E37B"> +' + ecart  + '</span><br/>';
                                  }else{
                                    header = '<span style="font-size: 10px;color:#E1000F">' + ecart  + '</span><br/>';
                                  }
                                  
                                  content = '<span style="font-size: 11px;color:#8F8F8F";font-weight:400;>' + number  + ' CDE <br/>';

                                return content + header ;
                              },
                          },
                        },{
                            name: 'Conventions travaux',
                            y: <%= Convention.order('date DESC').first.travaux_signature%>,
                            dataLabels: {
                              enabled: true,
                              formatter: function() {

                                var point = this;                      
                                ecart = <%= Convention.order('date DESC').first.etudes_signature - Convention.where('date = ?',Convention.order('date DESC').first.date-1.month).sum('etudes_signature') %>;
                                
                                number = Highcharts.numberFormat(point.y, -1, ',',' ');
                                
                                 if (ecart >= 0){
                                    header = '<span style="font-size: 10px;color:#20E37B"> +' + ecart  + '</span><br/>';
                                  }else{
                                    header = '<span style="font-size: 10px;color:#E1000F">' + ecart  + '</span><br/>';
                                  }
                                  
                                  content = '<span style="font-size: 11px;color:#8F8F8F";font-weight:400>' + number  + ' CDTRAV <br/>';

                                return content + header ;
                              },
                          },
                        }, {
                            name: 'Conventions objectifs',
                            y: <%= Convention.order('date DESC').first.objectifs_signature%>,
                            dataLabels: {
                              enabled: true,
                              formatter: function() {

                                var point = this;                      
                                ecart = <%= Convention.order('date DESC').first.etudes_signature - Convention.where('date = ?',Convention.order('date DESC').first.date-1.month).sum('etudes_signature') %>;
                                
                                number = Highcharts.numberFormat(point.y, -1, ',',' ');
                                
                                 if (ecart >= 0){
                                    header = '<span style="font-size: 10px;color:#20E37B"> +' + ecart  + '</span><br/>';
                                  }else{
                                    header = '<span style="font-size: 10px;color:#E1000F">' + ecart  + '</span><br/>';
                                  }
                                  
                                  content = '<span style="font-size: 11px;color:#8F8F8F";font-weight:400>' + number  + ' CDO <br/>';

                                return content + header ;
                              },
                          },
                        }]
                    }]
                });
              </script>
            <% end %>
          </div>
        </div>
      </div>
    </div>
      <div class="col-md-6"> 
        <div class="w100 bckc1 br20 bs">
          <div class="bckc2 w100 br4 tc pd12 tupp c0 fs16 fw7">
           Suivi Ouvrages
          </div>
          <div class="pd24" style="height:340px !important;">
            <div class="row inline-flex w100">
              <div class="col-md-6 col-sm-6">
                <div>
                  <div class="c1 fs20 fw7"> <%= Ouvrage.where('start < ?',Date.today).count %></div>
                  <div class="i8"></div>
                  <div class="fw5 fs14 c6">Ouvrages en cours de travaux</div>

                </div>
                <div class="i16"></div>
                <div>
                  <div class="c3 fs20 fw7">2</div>
                  <div class="i8"></div>
                  <div class="fw5 fs14 c6">Ouvrages avec risques critiques</div>
                </div>
                <div class="i16"></div>
                <div>
                  <div class="c3 fs20 fw7"> 1</div>
                  <div class="i8"></div>
                  <div class="fw5 fs14 c6">Ouvrage avec risques importants</div>
                </div>

                </div>

              <div class="col-md-6 col-sm-6">
                <div id="container-jauge4">

                </div>
             
              </div>
            </div>
          </div>
        </div>
        
      </div>
  </div>

</div>

<script>

Highcharts.chart('container-jauge4', {

    chart: {
        type: 'solidgauge',
        height: '150px',
        spacing: [0,0,0,0],
    },

    title: {
        text: null,
       
    },

    tooltip: {
        borderWidth: 0,
        backgroundColor: 'none',
        shadow: false,
        style: {
            fontSize: '16px'
        },
        valueSuffix: '%',
        pointFormat: '',
        positioner: function (labelWidth) {
            return {
                x: (this.chart.chartWidth - labelWidth) / 2,
                y: (this.chart.plotHeight / 2) + 15
            };
        },
    },

    pane: {
        startAngle: 0,
        endAngle: 360,
        background: [{ // Track for Move
            outerRadius: '100%',
            innerRadius: '88%',
            backgroundColor: "#C4C4C4",
            borderWidth: 0
        }]
    },

    yAxis: {
        min: 0,
        max: 100,
        lineWidth: 0,
        tickPositions: []
    },

    plotOptions: {
        solidgauge: {
            
          tooltip: "",
          
            dataLabels: {
              enabled: true,
              borderWidth: 0,
              backgroundColor: 'none',
              shadow: false,
              style: {
                  fontSize: '10px',
                color: '#8F8F8F',
              },
              valueSuffix: '%',
              format: '<span style="font-size:10px; color: #E1000F; font-weight: bold">{point.y:,.0f} %</span><br><span style="color:#8F8F8F; font-size:10px;font-weight:400">{series.name}</span>',
            verticalAlign: 'middle',
              align: 'center',
        
            },
            linecap: 'round',
            stickyTracking: false,
            rounded: true
        }
    },

    series: [{
        name: 'Avancée des travaux',
        data: [{
            color: "#20E37B",
            radius: '100%',
            innerRadius: '88%',
            y: 35
        }]
    }]
});
  </script>

<script>
    
    Highcharts.chart('focus', {
    chart: {
        type: 'solidgauge',
        height: '300px',
          spacingTop: 0,
          style:{
            fontFamily: "Marianne Regular",
          },
    },
    title: {
        text: 'Execution budgétaire 2021 (hors ZAC)',
        verticalAlign: "top",
        style: {
                color: "#8F8F8F",
                fontWeight: "400",        
              fontSize: '12px',
                  },
       
    },
    pane: {
        //center: ['50%', '50%'],
        size: '100%',
        startAngle: -90,
        endAngle: 90,
        background: {
            backgroundColor:'#C4C4C4',
            innerRadius: '80%',
            outerRadius: '100%',
            shape: 'arc'
        }
    },

    exporting: {
        enabled: false
    },

    tooltip: {
        enabled: false
    },

    // the value axis
    yAxis: {
        stops: [
            [0.1, '#20E37B'], // green
            [0.5, '#C68D7B'], // yellow
            [0.9, '#F1013B'] // red
        ],
        lineWidth: 0,
        tickWidth: 0,
        minorTickInterval: null,
        tickAmount: 2,
        min: 0,
        max: <%= @ouvrages_budget_2021%>,
        title: {
          text: null,
            y: 100,
        },
        labels: {
            y: 16
        }
    },

    plotOptions: {
        solidgauge: {
            dataLabels: {
                y: 5,
                borderWidth: 0,
                useHTML: true
            }
        }
    },

    credits: {
        enabled: false
    },
    series: [{
        name: 'Paiements versés',
        data: [<%= @ouvrages_depenses_2021%>],
        innerRadius: '80%',
      
        dataLabels: {
          enabled: true,
          y:-50,
            format:
                '<div style="text-align:center;color:#000;">' +
                '<span style="font-size:20px">'+<%=((@ouvrages_depenses_2021/@ouvrages_budget_2021)*100).round(1)%>+'%</span><br/>' +
                '<span style="font-size:12px;opacity:0.7">'+<%= @ouvrages_depenses_2021%>+' M€</span>' +
                '</div>'
        },
        tooltip: {
            valueSuffix: ' %'
        }
    }],
    
});
</script>
<script>
 Highcharts.chart('budget', {
  chart: {
        type: 'solidgauge',
        height: '300px',
          spacingTop: 0,
          style:{
            fontFamily: "Marianne Regular",
          },
    },

    title: {
    text: 'Dépenses depuis le début (hors ZAC)',
        verticalAlign: "top",
        style: {
                color: "#8F8F8F",
                fontWeight: "400",        
              fontSize: '12px',
                  },
    },

    pane: {
        //center: ['50%', '50%'],
        size: '100%',
        startAngle: -90,
        endAngle: 90,
        background: {
            backgroundColor:'#C4C4C4',
            innerRadius: '80%',
            outerRadius: '100%',
            shape: 'arc'
        }
    },

    exporting: {
        enabled: false
    },

    tooltip: {
        enabled: false
    },

    // the value axis
    yAxis: {
        stops: [
            [0.1, '#20E37B'], // green
            [0.5, '#C68D7B'], // yellow
            [0.9, '#F1013B'] // red
        ],
        lineWidth: 0,
        tickWidth: 0,
        minorTickInterval: null,
        tickAmount: 2,
        min: 0,
        max: <%= @budget_ouvrages%>,
        title: {
          text: null,
            y: 100,
        },
        labels: {
            y: 16
        }
    },

    plotOptions: {
        solidgauge: {
            dataLabels: {
                y: 5,
                borderWidth: 0,
                useHTML: true
            }
        }
    },

    credits: {
        enabled: false
    },

    series: [{
        name: 'Fonds investis',
        data: [<%= @ouvrages_depenses_global%>],
        innerRadius: '80%',
      
        dataLabels: {
          enabled: true,
          y:-50,
            format:
                '<div style="text-align:center">' +
                '<span style="font-size:20px">'+<%= ((@ouvrages_depenses_global/@budget_ouvrages)*100).round(1)%>+'%</span><br/>' +
                '<span style="font-size:12px;opacity:0.7">'+<%=@ouvrages_depenses_global%>+' M€</span>' +
                '</div>'
        },
        tooltip: {
            valueSuffix: ' %'
        }
    }],
});   
      
</script>
<script>
  Highcharts.chart('engagements', {
      chart: {
          type: 'waterfall',
          height:200,
          spacingRight:20,
          spacingLeft:20,
          spacingTop:20,
          style:{
            fontFamily: "Marianne Regular",
            },
      },

      title: {
          text: "Evolution des montants engagés (cumul)",      
          style: {
                color: "#8F8F8F",
                fontWeight: "400",        
              fontSize: '12px',
                  },
      },

      xAxis: {
          type: 'category'
      },

      yAxis: {
        gridLineColor: '#fff', 
          title: {
              text: 'Montant €'
          }
      },

      legend: {
          enabled: false
      },

      tooltip: {
          pointFormat: '<b>{point.y:,.0f} €</b> ',
         borderColor: 'transparent',
     borderRadius: 16,
     backgroundColor: '#fff',
      },
      plotOptions: {
        waterfall: {
            pointWidth: 25,
        }
      },

      series: [{
        borderColor: '#fff',
        data: [{
              name: '2020',
              y: <%=(Chantier.where('date = ?',@dates_ouvrages_reporting[0]).sum('cumul_depenses_actees')-Chantier.where('date = ?',@dates_ouvrages_reporting[0]).sum('depenses_actees_annee')).round(1)%>,
              color: "#76505B",
          }, {
              name: '2021',
              y: <%=(Chantier.where('date = ?',@dates_ouvrages_reporting[0]).sum('depenses_actees_annee')).round(1) %>,
              color: "#76505B",
          }, {
              name: 'Cumul',
              isSum: true,
              color: "#76505B"
          }],
          dataLabels: {
              enabled: true,
              formatter: function () {
                  return Highcharts.numberFormat(this.y / 1000, 0, ',') + 'k';
              },
            
              style: {
                  fontWeight: 'bold',
                  color: '#000',
              
                fontFamily: 'Karla',
              }
          },
          pointPadding: 0
      }]
  });
</script>
<script>
  Highcharts.chart('jalons', {
      chart: {
          type: 'waterfall',
          height:200,
          spacingRight:20,
          spacingLeft:20,
          spacingTop:20,
          style:{
            fontFamily: "Marianne Regular",
            },
      },

      title: {
          text: "Evolution des jalons validés (cumul)",      
          style: {
                color: "#8F8F8F",
                fontWeight: "400",        
              fontSize: '12px',
                  },
      },

      xAxis: {
          type: 'category'
      },

      yAxis: {
        gridLineColor: '#fff', 
          title: {
              text: 'Montant €'
          }
      },

      legend: {
          enabled: false
      },

      tooltip: {
          pointFormat: '<b>{point.y:,.0f} €</b> ',
         borderColor: 'transparent',
     borderRadius: 16,
     backgroundColor: '#fff',
      },
      plotOptions: {
        waterfall: {
            pointWidth: 25,
        }
      },

      series: [{
        borderColor: '#fff',
        data: [{
              name: '2020',
              y: <%=(Chantier.where('date = ?',@dates_ouvrages_reporting[0]).sum('cumul_jalons')-Chantier.where('date = ?',@dates_ouvrages_reporting[0]).sum('jalons_annee')).round(1)%>,
              color: "#FFE800",
          }, {
              name: '2021',
              y: <%=(Chantier.where('date = ?',@dates_ouvrages_reporting[0]).sum('jalons_annee')).round(1) %>,
              color: "#FFE800",
          }, {
              name: 'Cumul',
              isSum: true,
              color: "#FFE800"
          }],
          dataLabels: {
              enabled: true,
              formatter: function () {
                  return Highcharts.numberFormat(this.y / 1000, 0, ',') + 'k';
              },
            
              style: {
                  fontWeight: 'bold',
                  color: '#000',
              
                fontFamily: 'Karla',
              }
          },
          pointPadding: 0
      }]
  });
</script>
<script>
  $('.menu-accueil').addClass('menu-active'); 
</script>