<%= render 'shared/navlogin_form'%>
<script>
  AOS.init();
</script>

<div class='background'>
<%= render 'layouts/navigation_public'%> 
</div>
<div class='background'>
  <div class="page-public">

  <div class="row">
    <div class="col-md-12">
      <div class="public-title">À quoi sert le budget des JOP24 ?</div>
      <div class="tp1">
            Le budget des JOP2024 sert en grande partie à construire, aménager et rénover les ouvrages accueillants les sportifs pour la compétition. Il existera au total <span class="tp1b">85 ouvrages olympiques et paralympiques</span>. Afin de limiter les coûts, <span class="tp1b">85% des ouvrages sont des ouvrages existants</span>, qui seront aménagés et rénovés pour les compétitions.
      </div> 
      <div class="i40"></div>
      

      <div id="interets-map">
        
        <%= render 'interets_map'%>
      </div>


      <div class="i40"></div>
      <div id="treemap"></div>

    </div>

  </div>

</div>

</div>

<div class='background'>
<%= render 'layouts/footer'%> 
</div>
<script>
Highcharts.chart('treemap', {
   chart: {
              type: 'treemap',          
              style:{
                fontFamily: "Marianne Regular",
              },
            },
    title: {
        text: 'Répartition des coûts par ouvrage',
        verticalAlign: "top",
        style: {
                color: "#2323EA",
                fontWeight: "500",        
              fontSize: '22px',
                  },
       
    },
    tooltip: {
      pointFormat: '<b>{point.name} : {point.value:.1f} M€</b><br/>',
     
       borderColor: 'transparent',
   borderRadius: 16,
   backgroundColor: '#fff',

    },
    legend:{
      enabled:false,
    },
    colorAxis: {
        minColor: '#FFFFFF',
        maxColor: '#DBAE22',
    },
    series: [{
        type: 'treemap',
        layoutAlgorithm: 'squarified',
        data: [
        <% Ouvrage.all.each_with_index do |ouvrage,i|%>{
            name: '<%=ouvrage.name%>',
            <% if !Maquette.where('ouvrage_id = ?',ouvrage.id).order('date DESC').last.nil? %>
            value: <%=  Maquette.where('ouvrage_id = ?',ouvrage.id).order('date DESC').last.total.to_f/1000000 %>,
            <%else%>
            value: 0,
            <% end %>
            colorValue: <%=i+1%>,
        },
        <%end%> ]
    }],
});
</script>