<div class="SD_new_form_box">
<%= form_with(model: solideo_depense, local: true) do |form| %>
  <% if solideo_depense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(solideo_depense.errors.count, "error") %> prohibited this solideo_depense from being saved:</h2>

      <ul>
      <% solideo_depense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="SD_new_form_field SD_new_form_field_date">
    <%= form.label :date %>
    <%= form.date_select :date, {:order => [:year]}, class: "SD_new_form_input_date"   %>
  </div>

  <div class="SD_new_form_field">
    <%= form.label :ouvrages %>
    <%= form.text_field :ouvrages, class: "SD_new_form_input" %>
  </div>
  <div class="SD_new_form_field">
    <%= form.label :fonctionnement %>
    <%= form.text_field :fonctionnement, class: "SD_new_form_input" %>
  </div>
  <div class="SD_new_form_field">
    <%= form.label :reserve %>
    <%= form.text_field :reserve, class: "SD_new_form_input" %>
  </div>
  <div class="SD_new_form_field">
    <%= form.label :innovation %>
    <%= form.text_field :innovation, class: "SD_new_form_input" %>
  </div>

  

  <div class="SD_new_form_field_submit">
    <%= form.submit "Ajouter"%>
  </div>
<% end %>
</div>
