
<div  class="SD-table-box">
  <div class="SD-table-box-left">
    <% if !@solideo_depenses.nil? %>

        <div class="ED_table_filtres">
          <a type="button" data-toggle="modal" data-target="#filtres" >Filtrer <i class="fas fa-sliders-h"></i></a>
        </div>
        <div class="ED_table">
          <table>
            <thead>
              <tr>
                <th scope="col">Dates</th>
                <th scope="col">Montant</th>
                <th scope="col">Type</th>
            
                <th scope="col" class="border-none"> </th>
              </tr>
            </thead>
            <tbody>
              <% @solideo_depenses.order('date DESC').each do |solideo_depense| %>
              <tr>
                <th scope="row"><%= solideo_depense.date.strftime("%Y") %></th>
                <td><%= number_with_delimiter(solideo_depense.montant.to_i, :delimiter => ' ') %>€</td>
                <td><%= solideo_depense.categorie %></td>
            
                <td class="border-none"> <%= link_to edit_solideo_depense_path(solideo_depense) do %> <i class="fas fa-pen"></i><% end %>
                <%= link_to solideo_depense, method: :delete, data: {confirm: "confirmer la suppression?"} do %> <i class="fas fa-trash-alt"></i><% end %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <div>
          Aucune dépense renseignée
        </div>
      <%end%>

      <div class="ED_new_depense">
        <%= link_to new_solideo_depense_path do %><i class="fas fa-plus-circle"></i>Ajouter une dépense<%end%>
      </div> 
      
  </div>
  <div class="SD-table-box-right">
    <%= line_chart [{name: "Montant ouvrages", data: @solideo_depenses_ouvrages.unscope(:order).group_by_year(:date).sum('montant')},{name: "Montant frais de fonctionnement", data: @solideo_depenses_fonctionnement.unscope(:order).group_by_year(:date).sum('montant')},{name: "Montant innovation", data: @solideo_depenses_innovation.unscope(:order).group_by_year(:date).sum('montant')}, {name: "Montant réserve", data: @solideo_depenses_reserve.unscope(:order).group_by_year(:date).sum('montant')} ], library: {
      chart:{
            backgroundColor: '#F3F8FF',
            borderRadius: '20px',
            spacing: [40,40,40,40],
          },

      title: {
        text:'Suivi des dépenses',
        margin:40,
      },
      yAxis: {
        gridLineColor: '#E6F0FF', 
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total: <b>{point.y}</b>',
            xDateFormat: '%Y',
            valuePrefix: '$'
          }
        }
    %>
  </div>
  </div>
</div>