
<div  class="SD-table-box">
    <div>
    <%= line_chart [{name: "Dépenses ouvrages", data: @solideo_depenses.unscope(:order).group_by_month(:date).sum('ouvrages')},{name: "Dépenses frais de fonctionnement", data: @solideo_depenses.unscope(:order).group_by_month(:date).sum('fonctionnement')},{name: "Dépenses innovation", data: @solideo_depenses.unscope(:order).group_by_month(:date).sum('innovation')}, {name: "Dépenses réserve", data: @solideo_depenses.unscope(:order).group_by_month(:date).sum('reserve')} ], library: {
      chart:{
            backgroundColor: '#F3F8FF',
           
            spacing: [40,40,40,40],
        style:{
          fontFamily: "Spectral",
         
          }
          },

      title: {
        text:'<em>Suivi des dépenses de la Solideo</em>',
        margin:40,
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
                  },
      },
      yAxis: {
        gridLineColor: '#E6F0FF', 
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total: <b>{point.y}</b>',
            xDateFormat: '%Y',
            valuePrefix: '$'
          }
        }
    %>
  </div>
  <div class="SD-table-box-left">
    <% if !@solideo_financements.nil? %>

      
        <div class="ED_table">
          <table>
            <thead>
              <tr>
                <th scope="col">Dates</th>
                <th scope="col"><%= link_to ouvrages_path do %>Ouvrages<%end%></th>
                <th scope="col">Fonctionnement</th>
                <th scope="col">Innovation</th>
                <th scope="col">Réserve</th>
                <th scope="col" class="border-none">Total</th>
              </tr>
            </thead>
            <tbody>
              <% @solideo_financements.unscope(:order).group_by_month(:date).order('date DESC').each do |solideo_depense| %>
              <tr>
                <th scope="row"><%= solideo_depense.date.strftime("%b %Y") %></th>
                <td><div class="table-row"><div class="table-row-left"><%= number_with_delimiter(SolideoFinancement.where('categorie = ? AND date = ?', 'ouvrages',solideo_depense.date).sum('montant').to_i, :delimiter => ' ') %>€</div> <div class="table-row-right"> / <%= number_with_delimiter(SolideoFinancement.where('categorie = ? AND date = ?', 'ouvrages',solideo_depense.date).sum('montant_prevu').to_i, :delimiter => ' ') %>€</div></div></td>
                 <td><div class="table-row"><div class="table-row-left"><%= number_with_delimiter(SolideoFinancement.where('categorie = ? AND date = ?', 'fonctionnement',solideo_depense.date).sum('montant').to_i, :delimiter => ' ') %>€</div> <div class="table-row-right"> / <%= number_with_delimiter(SolideoFinancement.where('categorie = ? AND date = ?', 'fonctionnement',solideo_depense.date).sum('montant_prevu').to_i, :delimiter => ' ') %>€</div></div></td>
                <td><div class="table-row"><div class="table-row-left"><%= number_with_delimiter(SolideoFinancement.where('categorie = ? AND date = ?', 'innovation',solideo_depense.date).sum('montant').to_i, :delimiter => ' ') %>€</div> <div class="table-row-right"> / <%= number_with_delimiter(SolideoFinancement.where('categorie = ? AND date = ?', 'innovation',solideo_depense.date).sum('montant_prevu').to_i, :delimiter => ' ') %>€</div></div></td>
                <td><div class="table-row"><div class="table-row-left"><%= number_with_delimiter(SolideoFinancement.where('categorie = ? AND date = ?', 'reserve',solideo_depense.date).sum('montant').to_i, :delimiter => ' ') %>€</div> <div class="table-row-right"> / <%= number_with_delimiter(SolideoFinancement.where('categorie = ? AND date = ?', 'reserve',solideo_depense.date).sum('montant_prevu').to_i, :delimiter => ' ') %>€</div></div></td>
                <td class="border-none"><div class="table-row"><div class="table-row-left"><%= number_with_delimiter(SolideoFinancement.where('date = ?',solideo_depense.date).sum('montant').to_i, :delimiter => ' ') %>€</div> <div class="table-row-right"> / <%= number_with_delimiter(SolideoFinancement.where('date = ?',solideo_depense.date).sum('montant_prevu').to_i, :delimiter => ' ') %>€</div></div></td>
               
             </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <div>
          Aucune dépense renseignée
        </div>
      <%end%>

    
  </div>
  
  </div>
</div>