
<div  class="SD-table-box">
  <div class="SD-topo-box-title">
    <span>Suivi des dépenses de la solideo</span>
  </div>
    <div class="row">
      <div class="col-md-12">

    <%= line_chart [{name: "Dépenses", data:  @total},{name: "Dépenses prévues", data:  @total_prevu} ], library: {
      chart:{
            backgroundColor: '#fff',
            maxWidth: '500px',
            spacing: [40,40,40,40],
        style:{
          fontFamily: "Spectral",
         
          }
          },

      title: {
        text:'<em>Suivi des dépenses de la Solideo</em>',
        margin:40,
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
                  },
      },
  xAxis:{
    tickInterval: 24 * 3600 * 1000 * 30 * 3,
    },
      yAxis: {
        gridLineColor: '#fff', 
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total: <b>{point.y}</b>',
            xDateFormat: '%Y',
            valuePrefix: '$'
          }
        }
    %>
                
      </div>
  </div>
  <div class="SD-table-box-left">
    <% if !@solideo_depenses_array.nil? %>

      
        <div class="ED_table">
          <table>
            <thead>
              <tr>
                <th scope="col">Dates</th>
                <th scope="col"><%= link_to ouvrages_path do %>Ouvrages<%end%></th>
                <th scope="col">Fonctionnement</th>
                <th scope="col">Innovation</th>
                <th scope="col">Réserve</th>
                <th scope="col" class="border-none">Total</th>
              </tr>
            </thead>
            <tbody>
              <% @solideo_depenses_array.each do |date| %>
              <tr>
                <th scope="row"><%= date.strftime("%b %Y") %></th>
                <td><div class="table-row"><div class="table-row-left"><%= number_with_delimiter(OuvragesDepense.where(' date = ?',date).sum('montant').to_i, :delimiter => ' ') %>€</div> <div class="table-row-right"> / <%= number_with_delimiter(OuvragesDepense.where('date = ?',date).sum('montant_prevu').to_i, :delimiter => ' ') %>€ <% if OuvragesDepense.where('date = ?', date).sum('montant').to_i > OuvragesDepense.where('date = ?', date).sum('montant_prevu').to_i%><i class="fas fa-exclamation-circle"></i><%end%></div></div></td>
                 <td><div class="table-row"><div class="table-row-left"><%= number_with_delimiter(SolideoFinancement.where('categorie = ? AND date = ?', 'fonctionnement',date).sum('montant').to_i, :delimiter => ' ') %>€</div> <div class="table-row-right"> / <%= number_with_delimiter(SolideoFinancement.where('categorie = ? AND date = ?', 'fonctionnement',date).sum('montant_prevu').to_i, :delimiter => ' ') %>€ <% if SolideoFinancement.where('categorie = ? AND date = ?', 'fonctionnement',date).sum('montant').to_i > SolideoFinancement.where('categorie = ? AND date = ?', 'fonctionnement',date).sum('montant_prevu').to_i%><i class="fas fa-exclamation-circle"></i><%end%></div></div></td>
                <td><div class="table-row"><div class="table-row-left"><%= number_with_delimiter(SolideoFinancement.where('categorie = ? AND date = ?', 'innovation',date).sum('montant').to_i, :delimiter => ' ') %>€</div> <div class="table-row-right"> / <%= number_with_delimiter(SolideoFinancement.where('categorie = ? AND date = ?', 'innovation',date).sum('montant_prevu').to_i, :delimiter => ' ') %>€ <% if SolideoFinancement.where('categorie = ? AND date = ?', 'innovation',date).sum('montant').to_i > SolideoFinancement.where('categorie = ? AND date = ?', 'innovation',date).sum('montant_prevu').to_i%><i class="fas fa-exclamation-circle"></i><%end%></div></div></td>
                <td><div class="table-row"><div class="table-row-left"><%= number_with_delimiter(SolideoFinancement.where('categorie = ? AND date = ?', 'reserve',date).sum('montant').to_i, :delimiter => ' ') %>€</div> <div class="table-row-right"> / <%= number_with_delimiter(SolideoFinancement.where('categorie = ? AND date = ?', 'reserve',date).sum('montant_prevu').to_i, :delimiter => ' ') %>€ <% if SolideoFinancement.where('categorie = ? AND date = ?', 'reserve',date).sum('montant').to_i > SolideoFinancement.where('categorie = ? AND date = ?', 'reserve',date).sum('montant_prevu').to_i%><i class="fas fa-exclamation-circle"></i><%end%></div></div></td>
                <td class="border-none"><div class="table-row"><div class="table-row-left"><%= number_with_delimiter(SolideoFinancement.where('date = ?',date).sum('montant').to_i, :delimiter => ' ') %>€</div> <div class="table-row-right"> / <%= number_with_delimiter(SolideoFinancement.where('date = ?',date).sum('montant_prevu').to_i, :delimiter => ' ') %>€</div></div></td>
               
             </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <div>
          Aucune dépense renseignée
        </div>
      <%end%>

    <div class="EB-details">
    <%= link_to "En savoir plus sur les dépenses des ouvrages" , ouvrages_depenses_path %>
    </div>
  </div>
</div><br><br>
