
<div  class="SD-table-box">
  <div class="SD-topo-box-title">
    <span>Suivi du budget par pole de la solideo</span>
  </div><br><br>
    <div class="row">
      <div class="col-md-6">
       <div class="SD-topo-box-title">
        <span><%= link_to ouvrages_depenses_path do %>Ouvrages<%end%></span>
      </div><br><br>
        <div id=container-1>
   
          
        </div>
   
                
      </div>
      <div class="col-md-6">
          <div class="SD-topo-box-title">
        <span>Fonctionnement</span>
      </div><br><br>
        <div id="container-2">

          
        </div>
       
           
      </div>
  </div><br>
  <div class="row">   
      <div class="col-md-6">
          <div class="SD-topo-box-title">
        <span>Fonds Innovation</span>
      </div><br><br>
        <div id="container-3">
 
          
        </div>
           
      </div>
    
      <div class="col-md-6">
          <div class="SD-topo-box-title">
        <span>Fonds Réserve</span>
      </div><br><br>
        <div id="container-4">

          
        </div>
           
      </div>
  </div><br><br>
  <div class="SD-table-box-left">
    <div class="EB-details">
       <a href="#details" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="details">Détails des dépenses </a>      
    </div><br>
    <section id="details" class="collapse">
    <% if !@solideo_depenses_array.nil? %>     
        <div class="ED_table">
          <table>
            <thead>
              <tr>
                <th scope="col">Dates</th>
                <th scope="col"><%= link_to ouvrages_path do %>Ouvrages<%end%></th>
                <th scope="col">Fonctionnement</th>
                <th scope="col">Innovation</th>
                <th scope="col">Réserve</th>
                <th scope="col" class="border-none">Total</th>
              </tr>
            </thead>
            <tbody>
              <% @solideo_depenses_array.each do |date| %>
              <tr>
                <th scope="row"><%= date.strftime("%b %Y") %></th>
                <td><div class="table-row"><div class="table-row-left"><%= number_with_delimiter(OuvragesDepense.where(' date = ?',date).sum('montant').to_i, :delimiter => ' ') %>€</div> <div class="table-row-right"> / <%= number_with_delimiter(OuvragesDepense.where('date = ?',date).sum('montant_prevu').to_i, :delimiter => ' ') %>€ <% if OuvragesDepense.where('date = ?', date).sum('montant').to_i > OuvragesDepense.where('date = ?', date).sum('montant_prevu').to_i%><i class="fas fa-exclamation-circle"></i><%end%></div></div></td>
                 <td><div class="table-row"><div class="table-row-left"><%= number_with_delimiter(SolideoFinancement.where('categorie = ? AND date = ?', 'fonctionnement',date).sum('montant').to_i, :delimiter => ' ') %>€</div> <div class="table-row-right"> / <%= number_with_delimiter(SolideoFinancement.where('categorie = ? AND date = ?', 'fonctionnement',date).sum('montant_prevu').to_i, :delimiter => ' ') %>€ <% if SolideoFinancement.where('categorie = ? AND date = ?', 'fonctionnement',date).sum('montant').to_i > SolideoFinancement.where('categorie = ? AND date = ?', 'fonctionnement',date).sum('montant_prevu').to_i%><i class="fas fa-exclamation-circle"></i><%end%></div></div></td>
                <td><div class="table-row"><div class="table-row-left"><%= number_with_delimiter(SolideoFinancement.where('categorie = ? AND date = ?', 'innovation',date).sum('montant').to_i, :delimiter => ' ') %>€</div> <div class="table-row-right"> / <%= number_with_delimiter(SolideoFinancement.where('categorie = ? AND date = ?', 'innovation',date).sum('montant_prevu').to_i, :delimiter => ' ') %>€ <% if SolideoFinancement.where('categorie = ? AND date = ?', 'innovation',date).sum('montant').to_i > SolideoFinancement.where('categorie = ? AND date = ?', 'innovation',date).sum('montant_prevu').to_i%><i class="fas fa-exclamation-circle"></i><%end%></div></div></td>
                <td><div class="table-row"><div class="table-row-left"><%= number_with_delimiter(SolideoFinancement.where('categorie = ? AND date = ?', 'reserve',date).sum('montant').to_i, :delimiter => ' ') %>€</div> <div class="table-row-right"> / <%= number_with_delimiter(SolideoFinancement.where('categorie = ? AND date = ?', 'reserve',date).sum('montant_prevu').to_i, :delimiter => ' ') %>€ <% if SolideoFinancement.where('categorie = ? AND date = ?', 'reserve',date).sum('montant').to_i > SolideoFinancement.where('categorie = ? AND date = ?', 'reserve',date).sum('montant_prevu').to_i%><i class="fas fa-exclamation-circle"></i><%end%></div></div></td>
                <td class="border-none"><div class="table-row"><div class="table-row-left"><%= number_with_delimiter(OuvragesDepense.where(' date = ?',date).sum('montant')+SolideoFinancement.where('categorie != ? AND date = ?','ouvrages',date).sum('montant').to_i, :delimiter => ' ') %>€</div> <div class="table-row-right"> / <%= number_with_delimiter(OuvragesDepense.where(' date = ?',date).sum('montant_prevu')+SolideoFinancement.where('categorie != ? AND date = ?',"ouvrages",date).sum('montant_prevu').to_i, :delimiter => ' ') %>€ <%if OuvragesDepense.where(' date = ?',date).sum('montant')+SolideoFinancement.where('categorie != ? AND date = ?','ouvrages',date).sum('montant') > OuvragesDepense.where(' date = ?',date).sum('montant_prevu')+SolideoFinancement.where('categorie != ? AND date = ?','ouvrages',date).sum('montant_prevu') %><i class="fas fa-exclamation-circle"></i><%end %></div></div></td>
               
             </tr>
              <% end %>
            </tbody>
          </table>
        </div>
    <% else %>
      <div>Aucune dépense renseignée</div>
    <%end%>
    </section>

  </div>
</div><br><br>

<script>
Highcharts.chart('container-1', {

   chart:{
            backgroundColor: '#fff',
           type: 'spline',
            spacing: [40,40,40,40],
        style:{
          fontFamily: "Spectral",
         maxWidth: '500px'
          },
       
          },

      title: {
        text:"Suivi des dépenses des ouvrages de la Solideo",
        margin:40,
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
          fontStyle: 'italic',
      fontSize: '16px',
                  },
      },
  colors: ["#8f8f8f",'#487F7F'],
    yAxis: {
      gridLineColor: '#E6F0FF', 
        title: {
            text: 'Total €'
        }
    },
  tooltip: {
      //  pointFormat: '{series.name}: <b>{point.y}</b><br/>',
        valueSuffix: '€',
      
    },
  xAxis:{
      max: 2025,
  },
    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: 2018,
        }
    },

  

    series: [ {
        name: 'Dépenses prévues',
        data: <%= @depenses_prevu_annee_ouvrages %>,
    },{
        name: 'Dépenses',
        data: <%= @depenses_annee_ouvrages %>,
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
</script>
<script>
Highcharts.chart('container-2', {

   chart:{
         backgroundColor: '#fff',
         zoomType: 'xy',
         spacing: [40,40,40,40],
         style:{
         fontFamily: "Spectral",
         maxWidth: '500px'
          },       
          },

      title: {
        text:"Suivi des dépenses de fonctionnement de la Solideo",
        margin:40,
        style: {
                color: "#8F8F8F",
                fontWeight: "400",
                fontStyle: 'italic',
                fontSize: '16px',
                  },
      },

    yAxis: [{ // Primary yAxis
        labels: {
            format: '{value} €',
            style: {
                color: '#E0A922'
            }
        },
        title: {
            text: 'Montant en €',
            style: {
                color: '#E0A922'
            }
        }
    }, { // Secondary yAxis
        title: {
            text: 'ETP',
            style: {
                color: '#E0A922'
            }
        },
        labels: {
            format: '{value} ETP',
            style: {
                color: '#E0A922'
            }
        },
        opposite: true
    }] ,
  tooltip: {
      shared: true,
       // valueSuffix: '€',
      
    },
  xAxis:{
      max: 2025,
  },
    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: 2018,
        }
    },

  

    series: [ {
        name: 'ETP',
        type: 'column',
        yAxis: 1,
      color: '#bdc467',
     
        data: [40,60,80,110,100,90,60],
      
    },{
        name: 'Dépenses prévues',
        type: 'spline',
      color: '#8f8f8f',
      tooltip: {
            valueSuffix: '€',
        },
        data: <%= @depenses_prevu_annee_fonctionnement %>,
      
    }, {
        name: 'Dépenses',
      type: 'spline',
      color: '#E0A922',
        tooltip: {
            valueSuffix: '€',
        },
        data: <%= @depenses_annee_fonctionnement %>,
    }],



});
</script>
<script>
Highcharts.chart('container-3', {

   chart:{
            backgroundColor: '#fff',
           type: 'areaspline',
            spacing: [40,40,40,40],
        style:{
          fontFamily: "Spectral",
         maxWidth: '500px'
          },
       
          },

      title: {
        text:"Evolution des fonds innovation de la Solideo",
        margin:40,
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
          fontStyle: 'italic',
      fontSize: '16px',
                  },
      },
  colors: ["#c4c4c4", '#ac8c97'],
    yAxis: {
      gridLineColor: '#fff', 
        title: {
            text: 'Total €'
        }
    },
  tooltip: {
      //  pointFormat: '{series.name}: <b>{point.y}</b><br/>',
        valueSuffix: '€',
      
    },
  xAxis:{
      max: 2025,
  },
    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: 2018,
        }
    },

  

    series: [ {
        name: 'Evolution prévue',
        data: <%= @depenses_prevu_annee_innovation %>,
    },{
        name: 'Evolution',
        data: <%= @depenses_annee_innovation %>,
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
</script>
<script>
Highcharts.chart('container-4', {

   chart:{
            backgroundColor: '#fff',
           type: 'areaspline',
            spacing: [40,40,40,40],
        style:{
          fontFamily: "Spectral",
         maxWidth: '500px'
          },
       
          },

      title: {
        text:"Evolution des fonds de réserve de la Solideo",
        margin:40,
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
          fontStyle: 'italic',
      fontSize: '16px',
                  },
      },
  colors: ["#c4c4c4", '#F38C75'],
    yAxis: {
      gridLineColor: '#fff', 
        title: {
            text: 'Total €'
        }
    },
  tooltip: {
      //  pointFormat: '{series.name}: <b>{point.y}</b><br/>',
        valueSuffix: '€',
      
    },
  xAxis:{
      max: 2025,
  },
    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: 2018,
        }
    },

  

    series: [ {
        name: 'Evolution prévue',
        data: <%= @depenses_prevu_annee_reserve %>,
    },{
        name: 'Evolution',
        data: <%= @depenses_annee_reserve%>,
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
</script>