<div class="i24"></div>
<div  class="box_page">
  <div>
    <span class="titre_section">Suivi des engagements (€ courant)</span>
  </div>
  <div class="i24"></div>
  <div class="flexslider2">
    <ul class="slides">
    <% @dates_depenses_reporting.each_with_index do |date,i|%>

    <li> 
      <div class="ga ma pr">
        <div class="modal_title text-center"><%= l(date, format: "%e %B %Y") %></div>
        <div class='i24'></div>
        <div class="row w100 margin-none">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div id="engagements<%=i%>"></div>
            <div class="i8"></div>
          </div>
        </div>
      </div>
        
    <script>
      var chart<%=i%> = Highcharts.chart('engagements<%=i%>', {
        chart: {
            type: 'column',
            marginTop:40,
           
            marginRight:0,
            marginLeft:0,
            height:300,
            spacing: [0,0,0,0],
            backgroundColor: '#fff',
            style:{
              fontFamily: "Marianne Regular",
         
              },
        },
        title: {
            text: 'Suivi des engagements cumulés depuis 2018',
            verticalAlign: "top",
            style: {
                color: "#6A6A6A",
                fontWeight: "400",        
                fontSize: '12px',
                  },
          },

        xAxis: {
            categories: ["Ouvrages MOA Solideo", "Ouvrages hors MOA SOLIDEO", "Fonctionnement", "Réserve et Innovation", "Total"],
            crosshair: true,
            labels: {
                formatter: function () {
                  if (this.value == "Dépenses 2018" || this.value == "Dépenses 2019" || this.value == "Dépenses 2020" ){
                    return '<span style="color:#E1000F;">' + this.value + '</span>'
                  } else {
                    return this.value 
                  }
                },
                useHTML: true,
            },
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Budget Consommé (M€)'
            },
          gridLineColor: "#fff",
        },
      legend: {
        enabled: false,
      },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><br>',
            pointFormat: '<span style="padding:0"><b> {point.y:.1f} M€</b></span>',
  
            shared: true,
            useHTML: true,
            borderColor: 'transparent',
            borderRadius: 16,
            backgroundColor: '#fff',
        },
        plotOptions: {
            column: {
              pointWidth: 30,
                pointPadding: 0.2,
                borderWidth: 0,
                grouping: false,
              
            }
        },
        series: [{
            name: 'Dépenses 2021',
            data: [
            
            {y:<%=SolideoStructureDepense.where(solideo_structure_id: @list_structure_moas).where('date = ?',date).sum('montants_engages_cumul').round(1)%>, color: "#2E5D63",dataLabels: {
                    enabled: true,
                    formatter: function() {

                      var point = this;                      
                      ecart = <%=(SolideoStructureDepense.where(solideo_structure_id: @list_structure_moas).where('date = ?',date).sum('montants_engages_cumul')-SolideoStructureDepense.where(solideo_structure_id: @list_structure_moas).where('date = ?',date-1.month).sum('montants_engages_cumul')).round(1)%>;
                      
                      number = Highcharts.numberFormat(point.y, -1, ',',' ');
                      
                       if (ecart >= 0){
                          header = '<span style="font-size: 10px;color:#2323EA"> +' + ecart  + ' </span><br/>';
                        }else{
                          header = '<span style="font-size: 10px;color:#E1000F">' + ecart  + '</span><br/>';
                        }
                        
                        content = '<b>' + number  + '</b>';

                      return header + content;
                    },
                },},
            {y:<%=SolideoStructureDepense.where(solideo_structure_id: @list_structure_moahs).where('date = ?',date).sum('montants_engages_cumul').round(1)%>, color: "#bfbfbf",dataLabels: {
                    enabled: true,
                    formatter: function() {

                      var point = this;                      
                      ecart = <%=(SolideoStructureDepense.where(solideo_structure_id: @list_structure_moahs).where('date = ?',date).sum('montants_engages_cumul')-SolideoStructureDepense.where(solideo_structure_id: @list_structure_moahs).where('date = ?',date-1.month).sum('montants_engages_cumul')).round(1)%>;
                      
                      number = Highcharts.numberFormat(point.y, -1, ',',' ');
                      
                       if (ecart >= 0){
                          header = '<span style="font-size: 10px;color:#2323EA"> +' + ecart  + '</span><br/>';
                        }else{
                          header = '<span style="font-size: 10px;color:#E1000F">' + ecart  + '</span><br/>';
                        }
                        
                        content = '<b>' + number  + ' </b>';

                      return header + content;
                    },
                },},
            {y:<%=SolideoStructureDepense.where(solideo_structure_id: @list_structure_f).where('date = ?',date).sum('montants_engages_cumul').round(1)%>, color: "#2E5D63",dataLabels: {
                    enabled: true,
                    formatter: function() {

                      var point = this;                      
                      ecart = <%=(SolideoStructureDepense.where(solideo_structure_id: @list_structure_f).where('date = ?',date).sum('montants_engages_cumul')-SolideoStructureDepense.where(solideo_structure_id: @list_structure_f).where('date = ?',date-1.month).sum('montants_engages_cumul')).round(1)%>;
                      
                      number = Highcharts.numberFormat(point.y, -1, ',',' ');
                      
                       if (ecart >= 0){
                          header = '<span style="font-size: 10px;color:#2323EA"> +' + ecart  + '</span><br/>';
                        }else{
                          header = '<span style="font-size: 10px;color:#E1000F">' + ecart  + '</span><br/>';
                        }
                        
                        content = '<b>' + number  + ' </b>';

                      return header + content;
                    },
                },},
            {y:<%=SolideoStructureDepense.where(solideo_structure_id: @list_structure_ri).where('date = ?',date).sum('montants_engages_cumul').round(1)%>, color: "#7D4E5B",dataLabels: {
                    enabled: true,
                    inside: false,
                    crop:false,
                    overflow:'allow',
                    formatter: function() {

                      var point = this;                      
                      ecart = <%=(SolideoStructureDepense.where(solideo_structure_id: @list_structure_ri).where('date = ?',date).sum('montants_engages_cumul')-SolideoStructureDepense.where(solideo_structure_id: @list_structure_ri).where('date = ?',date-1.month).sum('droits_constates_annee')).round(1)%>;
                      
                      number = Highcharts.numberFormat(point.y, -1, ',',' ');
                      
                       if (ecart >= 0){
                          header = '<span style="font-size: 10px;color:#2323EA"> +' + ecart  + '</span><br/>';
                        }else{
                          header = '<span style="font-size: 10px;color:#E1000F">' + ecart  + '</span><br/>';
                        }
                        
                        content = '<b>' + number  + ' </b>';

                      return header + content;
                    },
                },},
            {y:<%=SolideoStructureDepense.where('date = ?',date).sum('montants_engages_cumul').round(1)%>, color: "#FFE800",dataLabels: {
                    enabled: true,
                    formatter: function() {

                      var point = this;                      
                      ecart = <%=(SolideoStructureDepense.where('date = ?',date).sum('montants_engages_cumul')-SolideoStructureDepense.where('date = ?',date-1.month).sum('montants_engages_cumul')).round(1)%>;
                      
                      number = Highcharts.numberFormat(point.y, -1, ',',' ');
                      
                       if (ecart >= 0){
                          header = '<span style="font-size: 10px;color:#2323EA"> +' + ecart  + '</span><br/>';
                        }else{
                          header = '<span style="font-size: 10px;color:#E1000F">' + ecart  + '</span><br/>';
                        }
                        
                        content = '<b>' + number  + ' </b>';

                      return header + content;
                    },
                },}],
            pointPlacement: 0,
        }]
      });
      if ($(window).width() > 992) {
        chart<%=i%>.update({
          chart: {width:800,},
        })
      }
    </script> 
    </li>
    <% end %>
    </ul>
  </div>
</div>
<div class="i24"></div>

<div  class="box_page">
  <div>
    <span class="titre_section">Suivi du budget fonctionnement </span>
  </div>
  <div class="i24"></div>

  <div class="row">
      <div class="col-md-12">
        <div id="container-2"></div>
      </div>
  </div><br>
</div>
<div class="i24"></div>



<div class="i24"></div>

<script>
    
    Highcharts.chart('focus', {
    chart: {
        type: 'solidgauge',
        height: '300px',
          spacingTop: 0,
          style:{
            fontFamily: "Marianne Regular",
          },
    },
    title: {
        text: 'Exécution budgétaire 2021 (hors ZAC)',
        verticalAlign: "top",
        style: {
                color: "#6A6A6A",
                fontWeight: "400",        
              fontSize: '12px',
                  },
       
    },
    pane: {
        //center: ['50%', '50%'],
        size: '100%',
        startAngle: -90,
        endAngle: 90,
        background: {
            backgroundColor:'#C4C4C4',
            innerRadius: '80%',
            outerRadius: '100%',
            shape: 'arc'
        }
    },

    exporting: {
        enabled: false
    },

    tooltip: {
        enabled: false
    },

    // the value axis
    yAxis: {
        stops: [
            [0.1, '#2323EA'], // green
            [0.5, '#C68D7B'], // yellow
            [0.9, '#F1013B'] // red
        ],
        lineWidth: 0,
        tickWidth: 0,
        minorTickInterval: null,
        tickAmount: 2,
        tickPositions: [<%= @ouvrages_depenses_2021.round(1)%>, <%= @ouvrages_budget_2021.round(1)%>],
        min: <%= @ouvrages_depenses_2021.round(1)%>,
        max: <%= @ouvrages_budget_2021.round(1)%>,
        title: {
          text: null,
            y: 100,
        },
        labels: {
            y: 16,
            format: '{value:.0f}M€',
        }
    },

    plotOptions: {
        solidgauge: {
            dataLabels: {
                y: 5,
                borderWidth: 0,
                useHTML: true
            }
        }
    },

    credits: {
        enabled: false
    },
    series: [{
        name: 'Paiements versés',
        data: [<%= @ouvrages_depenses_2021 + (@ouvrages_depenses_2021/@ouvrages_budget_2021)*(@ouvrages_budget_2021-@ouvrages_depenses_2021)%>],
        innerRadius: '80%',
      
        dataLabels: {
          enabled: true,
          y:-50,
            format:
                '<div style="text-align:center;color:#000;">' +
                '<span style="font-size:20px">'+<%=((@ouvrages_depenses_2021/@ouvrages_budget_2021)*100).round(1)%>+'%</span><br/>' +
                '</div>'
        },
        tooltip: {
            valueSuffix: ' %'
        }
    }],
    
});
</script>
<script>
 Highcharts.chart('budget', {
  chart: {
        type: 'solidgauge',
        height: '300px',
          spacingTop: 0,
          style:{
            fontFamily: "Marianne Regular",
          },
    },

    title: {
    text: 'Dépenses depuis le début (hors ZAC)',
        verticalAlign: "top",
        style: {
                color: "#6A6A6A",
                fontWeight: "400",        
              fontSize: '12px',
                  },
    },

    pane: {
        //center: ['50%', '50%'],
        size: '100%',
        startAngle: -90,
        endAngle: 90,
        background: {
            backgroundColor:'#C4C4C4',
            innerRadius: '80%',
            outerRadius: '100%',
            shape: 'arc'
        }
    },

    exporting: {
        enabled: false
    },

    tooltip: {
        enabled: false
    },

    // the value axis
    yAxis: {
        stops: [
            [0.1, '#2323EA'], // green
            [0.5, '#C68D7B'], // yellow
            [0.9, '#F1013B'] // red
        ],
        lineWidth: 0,
        tickWidth: 0,
        minorTickInterval: null,
        tickAmount: 2,
        tickPositions: [<%= @ouvrages_depenses_global%>, <%= @budget_ouvrages%>],
        min: <%= @ouvrages_depenses_global%>,
        max: <%= @budget_ouvrages%>,
        startOnTick:true,
        title: {
          text: null,
            y: 100,
        },
        labels: {
            y: 16,
            format: '{value:.0f}M€',
        }
    },

    plotOptions: {
        solidgauge: {
            dataLabels: {
                y: 5,
                borderWidth: 0,
                useHTML: true
            }
        }
    },

    credits: {
        enabled: false
    },

    series: [{
        name: 'Fonds investis',
        data: [<%= @ouvrages_depenses_global + ((@ouvrages_depenses_global.to_f/@budget_ouvrages.to_f)*(@budget_ouvrages-@ouvrages_depenses_global)).round(1)%>],
        innerRadius: '80%',
      
        dataLabels: {
          enabled: true,
          y:-50,
            format:
                '<div style="text-align:center">' +
                '<span style="font-size:20px">'+<%= ((@ouvrages_depenses_global/@budget_ouvrages)*100).round(1)%>+'%</span><br/>' + 
                '</div>'
        },
        tooltip: {
            valueSuffix: ' %'
        }
    }],
});   
      
</script>

<script>
      Highcharts.chart('ouvrages-depenses', {
        chart: {
            type: 'waterfall',
            height:'200px',
          backgroundColor: '#fff',
              style:{
              fontFamily: "Marianne Regular",
         
              },
        },
        title: {
            text: 'Évolution annuelle des dépenses des ouvrages (hors ZAC)',
            verticalAlign: "top",
        style: {
                color: "#6A6A6A",
                fontWeight: "400",        
              fontSize: '12px',
                  },
        },

        xAxis: {
          type: 'category',
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Budget Consommé (M€)'
            },
          gridLineColor: "#fff",
        },
      legend: {
        enabled: false,
      },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><br>',
            pointFormat: '<span style="padding:0"><b> {point.y:.1f} M€</b></span>',
  
            shared: true,
            useHTML: true,
           borderColor: 'transparent',
       borderRadius: 16,
       backgroundColor: '#fff',
        },
        plotOptions: {
          waterfall: {
            pointWidth: 25,
        },
            column: {
                pointPadding: 0.2,
                borderWidth: 0,
                grouping: false,
              
            }
        },
        series: [{
             borderColor: '#fff',
            data: [
            {name: '2018',y:1.2, color:"#2E5D63", },
            {name: '2019',y:20.5, color:"#2E5D63", },
            {name: '2020',y:54, color: "#2E5D63",},
            {name: '2021',y:<%= @ouvrages_depenses_2021.round(1) %>, color: "#2E5D63",},
            {
              name: 'Cumul',
              isSum: true,
              color: "#2E5D63"
            },
            ],
            dataLabels: {
              enabled: true,
              inside: false,
                    crop:false,
                    overflow:'allow',
              formatter: function () {
                  return Highcharts.numberFormat(this.y, 0, ',') + 'M€';
              },
            
              style: {
                  fontWeight: 'bold',
                  color: '#000',
              
                fontFamily: 'Karla',
              }
          },
            pointPlacement: 0,
        }]
    });
     </script>
<script>
Highcharts.chart('container-2', {

   chart:{
         backgroundColor: '#fff',
         zoomType: 'xy',
         height:'400px',
         spacingRight:0,
         spacingLeft:0,
         //spacingTop:0,

         style:{
         fontFamily: "Marianne Regular",
         //maxWidth: '500px'
          },       
          },

      title: {
        text:null,

        style: {
                color: "#6A6A6A",
                fontWeight: "400",
                fontStyle: 'italic',
                fontSize: '16px',
                  },
      },


    yAxis: [

    { // Primary yAxis
      max:32,
        labels: {
            format: '{value}',
            style: {
                color: '#76505B'
            }
        },
        title: {
            text: 'Montant en M€',
            style: {
                color: '#76505B'
            }
        }
    },{ // Secondary yAxis
      max:120,
        title: {
            text: 'Plafond ETP',
            style: {
                color: '#5770BE'
            }
        },
        labels: {
            format: '{value}',
            style: {
                color: '#5770BE'
            }
        },
        opposite: true
    }] ,

    tooltip: {
      shared: true,
       // valueSuffix: '€',
    borderColor: 'transparent',
    borderRadius: 16,
    backgroundColor: '#fff',
      
    },
    xAxis:{
        categories: ['2018','2019','2020','2021'],
    },
    plotOptions: {
      column: {
            stacking: 'normal',
            pointWidth: 30,
        },
    },

  

    series: [ {
        name: 'Frais de fonctionnement',
      type: 'column',
      color: '#76505B',
      stack: 'montant',
        tooltip: {
            valueSuffix: ' M€',
        },
        data: [{y:4.8,color: '#76505B'},{y:11.5,color: '#76505B'},{y:17.8,color: '#76505B'},{y:18.6, color: '#76505B'}],
        dataLabels: {
                enabled: true,
                x:0,
                verticalAlign: "middle",
                style:{color:'#76505B'},

            },
    },{
        name: 'Masse salariale',
      type: 'column',
      color: '#2323EA',
      stack: 'montant',
        tooltip: {
            valueSuffix: ' M€',
        },
        data: [{y:2.1,color: '#2323EA'},{y:6.1,color: '#2323EA'},{y:9.2,color: '#2323EA'},{y:13.1, color: '#2323EA'}],
        dataLabels: {
                enabled: true,
                x:0,
                verticalAlign: "middle",
                style:{color:'#2323EA'},

            },
    },{
        name: 'Plafond ETP',
        type: 'spline',
        yAxis: 1,
      color: '#5770BE',
     
        data: [40,56,82,104],
       dataLabels: {
                enabled: true,
                verticalAlign: "top",
                y: -25,
                color:'#5770BE',
            },
      
    }],

});
</script>

