
<div  class="SD-table-box">
  <div class="SD-topo-box-title">
    <span>Suivi des dépenses par pole de la solideo</span>
  </div><br><br>
    <div class="row">
      <div class="col-md-6">
       <div class="SD-topo-box-title">
        <span><%= link_to ouvrages_depenses_path do %>Ouvrages<%end%></span>
      </div><br><br>
        <div>
    <%= line_chart [{name: "Décaissements", data:  OuvragesDepense.where('date <= ?', Date.today).unscope(:order).group_by_year(:date).sum('montant')},{name: "Décaissements prévus", data:  OuvragesDepense.all.unscope(:order).group_by_year(:date).sum('montant_prevu')} ], library: {
      chart:{
            backgroundColor: '#fff',
            maxWidth: '500px',
            spacing: [40,40,40,40],
        style:{
          fontFamily: "Spectral",
         
          }
          },

      title: {
        text:'Suivi des dépenses des ouvrages de la Solideo',
        margin:40,
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
          fontStyle: 'italic',
          fontSize: '16px',
                  },
      },
      colors: ['#487F7F','#8f8f8f'],
      yAxis: {
        gridLineColor: '#fff', 
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total: <b>{point.y}</b>',
            xDateFormat: '%Y',
            valuePrefix: '$'
          }
        }
    %>
          
        </div>
                
      </div>
      <div class="col-md-6">
          <div class="SD-topo-box-title">
        <span>Fonctionnement</span>
      </div><br><br>
        <div>
    <%= line_chart [{name: "Décaissements", data:  @solideo_financements.where('categorie = ? AND date <= ?',"fonctionnement", Date.today).unscope(:order).group_by_year(:date).sum('montant')},{name: "Décaissements prévus", data:  @solideo_financements.where('categorie = ?', "fonctionnement").unscope(:order).group_by_year(:date).sum('montant_prevu')} ], library: {
      chart:{
            backgroundColor: '#fff',
            maxWidth: '500px',
            spacing: [40,40,40,40],
        style:{
          fontFamily: "Spectral",
         
          }
          },

      title: {
        text:'Suivi des dépenses de fonctionnement de la Solideo',
        margin:40,
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
          fontStyle: 'italic',
          fontSize: '16px',
                  },
      },
      colors: ['#E0A922','#8f8f8f'],
      yAxis: {
        gridLineColor: '#fff', 
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total: <b>{point.y}</b>',
            xDateFormat: '%Y',
            valuePrefix: '$'
          }
        }
    %>
          
        </div>
           
      </div>
  </div><br>
  <div class="row">   
      <div class="col-md-6">
          <div class="SD-topo-box-title">
        <span>Innovation</span>
      </div><br><br>
        <div>
    <%= line_chart [{name: "Décaissements", data:  @solideo_financements.where('categorie = ? AND date <= ?',"innovation", Date.today).unscope(:order).group_by_year(:date).sum('montant')},{name: "Décaissements prévus", data:  @solideo_financements.where('categorie = ?', "innovation").unscope(:order).group_by_year(:date).sum('montant_prevu')} ], library: {
      chart:{
            backgroundColor: '#fff',
            maxWidth: '500px',
            spacing: [40,40,40,40],
        style:{
          fontFamily: "Spectral",
         
          }
          },

      title: {
        text:'Suivi des dépenses innovation de la Solideo',
        margin:40,
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
          fontStyle: 'italic',
          fontSize: '16px',
                  },
      },
      colors: ['#ac8c97','#8f8f8f'],
      yAxis: {
        gridLineColor: '#fff', 
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total: <b>{point.y}</b>',
            xDateFormat: '%Y',
            valuePrefix: '$'
          }
        }
    %>
          
        </div>
           
      </div>
    
      <div class="col-md-6">
          <div class="SD-topo-box-title">
        <span>Réserve</span>
      </div><br><br>
        <div>
    <%= line_chart [{name: "Décaissements", data:  @solideo_financements.where('categorie = ? AND date <= ?',"reserve", Date.today).unscope(:order).group_by_year(:date).sum('montant')},{name: "Décaissements prévus", data:  @solideo_financements.where('categorie = ?', "reserve").unscope(:order).group_by_year(:date).sum('montant_prevu')} ], library: {
      chart:{
            backgroundColor: '#fff',
            maxWidth: '500px',
            spacing: [40,40,40,40],
        style:{
          fontFamily: "Spectral",
         
          }
          },

      title: {
        text:'Suivi des dépenses réserve de la Solideo',
        margin:40,
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
          fontStyle: 'italic',
          fontSize: '16px',
                  },
      },
      colors: ['#F38C75','#8f8f8f'],
      yAxis: {
        gridLineColor: '#fff', 
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total: <b>{point.y}</b>',
            xDateFormat: '%Y',
            valuePrefix: '$'
          }
        }
    %>
          
        </div>
           
      </div>
  </div><br><br>
  <div class="SD-table-box-left">
    <% if !@solideo_depenses_array.nil? %>

      
        <div class="ED_table">
          <table>
            <thead>
              <tr>
                <th scope="col">Dates</th>
                <th scope="col"><%= link_to ouvrages_path do %>Ouvrages<%end%></th>
                <th scope="col">Fonctionnement</th>
                <th scope="col">Innovation</th>
                <th scope="col">Réserve</th>
                <th scope="col" class="border-none">Total</th>
              </tr>
            </thead>
            <tbody>
              <% @solideo_depenses_array.each do |date| %>
              <tr>
                <th scope="row"><%= date.strftime("%b %Y") %></th>
                <td><div class="table-row"><div class="table-row-left"><%= number_with_delimiter(OuvragesDepense.where(' date = ?',date).sum('montant').to_i, :delimiter => ' ') %>€</div> <div class="table-row-right"> / <%= number_with_delimiter(OuvragesDepense.where('date = ?',date).sum('montant_prevu').to_i, :delimiter => ' ') %>€ <% if OuvragesDepense.where('date = ?', date).sum('montant').to_i > OuvragesDepense.where('date = ?', date).sum('montant_prevu').to_i%><i class="fas fa-exclamation-circle"></i><%end%></div></div></td>
                 <td><div class="table-row"><div class="table-row-left"><%= number_with_delimiter(SolideoFinancement.where('categorie = ? AND date = ?', 'fonctionnement',date).sum('montant').to_i, :delimiter => ' ') %>€</div> <div class="table-row-right"> / <%= number_with_delimiter(SolideoFinancement.where('categorie = ? AND date = ?', 'fonctionnement',date).sum('montant_prevu').to_i, :delimiter => ' ') %>€ <% if SolideoFinancement.where('categorie = ? AND date = ?', 'fonctionnement',date).sum('montant').to_i > SolideoFinancement.where('categorie = ? AND date = ?', 'fonctionnement',date).sum('montant_prevu').to_i%><i class="fas fa-exclamation-circle"></i><%end%></div></div></td>
                <td><div class="table-row"><div class="table-row-left"><%= number_with_delimiter(SolideoFinancement.where('categorie = ? AND date = ?', 'innovation',date).sum('montant').to_i, :delimiter => ' ') %>€</div> <div class="table-row-right"> / <%= number_with_delimiter(SolideoFinancement.where('categorie = ? AND date = ?', 'innovation',date).sum('montant_prevu').to_i, :delimiter => ' ') %>€ <% if SolideoFinancement.where('categorie = ? AND date = ?', 'innovation',date).sum('montant').to_i > SolideoFinancement.where('categorie = ? AND date = ?', 'innovation',date).sum('montant_prevu').to_i%><i class="fas fa-exclamation-circle"></i><%end%></div></div></td>
                <td><div class="table-row"><div class="table-row-left"><%= number_with_delimiter(SolideoFinancement.where('categorie = ? AND date = ?', 'reserve',date).sum('montant').to_i, :delimiter => ' ') %>€</div> <div class="table-row-right"> / <%= number_with_delimiter(SolideoFinancement.where('categorie = ? AND date = ?', 'reserve',date).sum('montant_prevu').to_i, :delimiter => ' ') %>€ <% if SolideoFinancement.where('categorie = ? AND date = ?', 'reserve',date).sum('montant').to_i > SolideoFinancement.where('categorie = ? AND date = ?', 'reserve',date).sum('montant_prevu').to_i%><i class="fas fa-exclamation-circle"></i><%end%></div></div></td>
                <td class="border-none"><div class="table-row"><div class="table-row-left"><%= number_with_delimiter(OuvragesDepense.where(' date = ?',date).sum('montant')+SolideoFinancement.where('categorie != ? AND date = ?','ouvrages',date).sum('montant').to_i, :delimiter => ' ') %>€</div> <div class="table-row-right"> / <%= number_with_delimiter(OuvragesDepense.where(' date = ?',date).sum('montant_prevu')+SolideoFinancement.where('categorie != ? AND date = ?',"ouvrages",date).sum('montant_prevu').to_i, :delimiter => ' ') %>€ <%if OuvragesDepense.where(' date = ?',date).sum('montant')+SolideoFinancement.where('categorie != ? AND date = ?','ouvrages',date).sum('montant') > OuvragesDepense.where(' date = ?',date).sum('montant_prevu')+SolideoFinancement.where('categorie != ? AND date = ?','ouvrages',date).sum('montant_prevu') %><i class="fas fa-exclamation-circle"></i><%end %></div></div></td>
               
             </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <div>
          Aucune dépense renseignée
        </div>
      <%end%>

  </div>
</div><br><br>
