
<div class="SD_page">
  <div class="SD_home_button">
    <%= link_to root_path do %><i class="fas fa-chevron-left"></i><i class="fas fa-home"></i>Retour accueil<%end %>
  </div>
 
  <h1 class="SD_title">La Solideo</h1>
  
<div class="SD-table-box">
  <div class="SD-topo-box-title">
        <span>La Solideo en chiffres</span>
      </div><br><br>
  
    <div class="calendar-infos">
     <div class="calendar-infos-box">
      <div>
      <i class="fas fa-building"></i>
      </div>
      <div>
      59<br>
      <span>ouvrages</span>
      </div>
    </div>
      <div class="calendar-infos-box">
      <div>
        <i class="fas fa-coins"></i>
      </div>
      <div>
        <%= number_with_delimiter(EtatBudget.last.budget_total.to_i, :delimiter => ' ') %> €<br>
        <span>Budget Total</span>
      </div>
    </div>
   
   
    <div class="calendar-infos-box">
      <div>
      <i class="fas fa-chart-pie"></i>
      </div>
      <div>
      50%<br>
        <span>Du budget des JOP2024</span>
      </div>
    </div>
      <div class="calendar-infos-box">
      <div>
      <i class="fas fa-chart-pie"></i>
      </div>
      <div>
      X<br>
        <span>Financeurs</span>
      </div>
    </div>
      

  </div><br><br>
  <div class="calendar-infos">
    <div class="calendar-infos-box">
      <div>
      <i class="fas fa-building"></i>
      </div>
      <div>
      3<br>
      <span>ouvrages MOA </span>
      </div>
    </div>
     <div class="calendar-infos-box">
      <div>
         <i class="fas fa-euro-sign"></i>
      </div>
      <div>
        <%= number_with_delimiter(EtatDepense.all.sum('cp_conso').to_i, :delimiter => ' ') %> €<br>
        <span>Dépenses actuelles </span>
      </div>
    </div>
    <div class="calendar-infos-box">
      <div>
          <i class="fas fa-people-carry"></i>
      </div>
      <div>
        82 <br>
        <span>Employés</span>
      </div>
    </div>
    
    

  </div>
   <br><br>
</div>
  <br><br>
  <br><br>
  <%= render 'topo'%>
  <br><br>
  <div id="table_filtres">
    <%= render 'table'%> 
    
 </div>


</div>