
<div class="mxw1 pd32 ma">
  <div class="i24"></div>
  <div class="c2 fw6 fs40 tc">Suivi du budget</div>
  <div class="i12"></div>
   <div class="c2 fw4 fs20 tc">Dernière mise à jour : <%= l(@dates_ouvrages_reporting[0], format: "%e %B %Y") %></div>
   <div class="i40"></div>
  
<div class="pd32 br20 bs bckc1">
  <div>
        <span class="fs16 fw7 pdt c0 bckc2 tupp">Budget global de la Solideo</span>
  </div>
  <div class="i24"></div>
  <div class="i24"></div>
 
  <div class="row">
    <div class="col-md-4 col-sm-5 col-xs-12"> 
      <div id="depenses_totales" style="height:150px;overflow:hidden;"></div>
      <div class="box_i1">
            <div class="box_i1_t1">+<%= number_with_delimiter(((Maquette.where('date = ?',@dates_maquettes[0]).sum('total')-Maquette.where('date = ?',@dates_maquettes[@dates_maquettes.length-1]).sum('total'))/1000000).round(1), :delimiter => ' ') %> M€</div>
            <div class="box_i1_t2">Par rap. au budget 2016</div>
      </div>
      <div class="i32"></div>
      <div id="depenses_2021" style="height:150px;overflow:hidden;"></div>
      <div class="box_i1">
            <div class="box_i1_t1">+XX M€</div>
            <div class="box_i1_t2">Par rap. au prévu à date</div>
      </div>

    </div>
   
    <div class="col-md-8 col-sm-7 col-xs-12">
      <div id="container-bar1"></div>
      <div class="i60"></div>
      <div id="container-bar-all"></div> 
    </div>    
  </div>

</div>
<div class="i24"></div>


  <div id="table_filtres">
    <%= render 'table'%> 
    
 </div>


</div>

<script>
    
    Highcharts.chart('depenses_totales', {
    chart: {
        type: 'solidgauge',
        height: '200px',
          spacingTop: 0,
          style:{
            fontFamily: "Marianne Regular",
          },
    },
    title: {
        text: 'Execution budgétaire depuis le début',
        verticalAlign: "top",
        style: {
                color: "#8F8F8F",
                fontWeight: "400",        
              fontSize: '12px',
                  },
       
    },
    pane: {
        //center: ['50%', '50%'],
        size: '100%',
        startAngle: -90,
        endAngle: 90,
        background: {
            backgroundColor:'#C4C4C4',
            innerRadius: '80%',
            outerRadius: '100%',
            shape: 'arc'
        }
    },

    exporting: {
        enabled: false
    },

    tooltip: {
        enabled: false
    },

    // the value axis
    yAxis: {
        stops: [
            [0.1, '#20E37B'], // green
            [0.5, '#20E37B'], // yellow
            [0.9, '#F1013B'] // red
        ],
        lineWidth: 0,
        tickWidth: 0,
        minorTickInterval: null,
        tickAmount: 2,
        tickPositions: [0, <%= (Maquette.where('date = ?',@dates_maquettes[0]).sum('total')/1000000)%>],
        min: 0,
        max: <%= (Maquette.where('date = ?',@dates_maquettes[0]).sum('total')/1000000)%>,
        title: {
          text: null,
            y: 100,
        },
        labels: {
            y: 16,
            format: '{value:.0f}M€',
        }
    },

    plotOptions: {
        solidgauge: {
            dataLabels: {
                y: 5,
                borderWidth: 0,
                useHTML: true
            }
        }
    },

    credits: {
        enabled: false
    },
    series: [{
        name: 'Paiements versés',
        data: [<%= (36.6+92.1+228.6+8.1 + @ouvrages_depenses_2021).round(1)%>],
        innerRadius: '80%',
      
        dataLabels: {
          enabled: true,
          y:-50,
            format:
                '<div style="text-align:center;color:#000;">' +
                '<span style="font-size:20px">'+<%=(((36.6+92.1+228.6+8.1 + @ouvrages_depenses_2021)/(Maquette.where('date = ?',@dates_maquettes[0]).sum('total')/1000000))*100).round(1)%>+'%</span><br/>' +
                '<span style="font-size:12px;opacity:0.7">'+<%= (36.6+92.1+228.6+8.1 + @ouvrages_depenses_2021).round(1) %>+' M€</span>' +
                '</div>'
        },
        tooltip: {
            valueSuffix: ' %'
        }
    }],
    
});
</script>
<script>
    
    Highcharts.chart('depenses_2021', {
    chart: {
        type: 'solidgauge',
        height: '200px',
          spacingTop: 0,
          style:{
            fontFamily: "Marianne Regular",
          },
    },
    title: {
        text: 'Execution budgétaire 2021',
        verticalAlign: "top",
        style: {
                color: "#8F8F8F",
                fontWeight: "400",        
              fontSize: '12px',
                  },
       
    },
    pane: {
        //center: ['50%', '50%'],
        size: '100%',
        startAngle: -90,
        endAngle: 90,
        background: {
            backgroundColor:'#C4C4C4',
            innerRadius: '80%',
            outerRadius: '100%',
            shape: 'arc'
        }
    },

    exporting: {
        enabled: false
    },

    tooltip: {
        enabled: false
    },

    // the value axis
    yAxis: {
        stops: [
            [0.1, '#20E37B'], // green
            [0.5, '#20E37B'], // yellow
            [0.9, '#F1013B'] // red
        ],
        lineWidth: 0,
        tickWidth: 0,
        minorTickInterval: null,
        tickAmount: 2,
        tickPositions: [0, 311.2],
        min: 0,
        max: 311.2,
        title: {
          text: null,
            y: 100,
        },
        labels: {
            y: 16,
            format: '{value:.0f}M€',
        }
    },

    plotOptions: {
        solidgauge: {
            dataLabels: {
                y: 5,
                borderWidth: 0,
                useHTML: true
            }
        }
    },

    credits: {
        enabled: false
    },
    series: [{
        name: 'Paiements versés',
        data: [<%= 8.1 + @ouvrages_depenses_2021%>],
        innerRadius: '80%',
      
        dataLabels: {
          enabled: true,
          y:-50,
            format:
                '<div style="text-align:center;color:#000;">' +
                '<span style="font-size:20px">'+<%=(((8.1 + @ouvrages_depenses_2021)/311.2)*100).round(1)%>+'%</span><br/>' +
                '<span style="font-size:12px;opacity:0.7">'+<%= 8.1 + @ouvrages_depenses_2021 %>+' M€</span>' +
                '</div>'
        },
        tooltip: {
            valueSuffix: ' %'
        }
    }],
    
});
</script>
<script>

  $('.menu-solideo-depenses').addClass('menu-active2'); 
  $('.menu-solideo').addClass('menu-active'); 

  $('#MonCollapse').addClass('in'); 

</script>
<script>

  Highcharts.chart('container-bar-all', {
    chart: {
        type: 'column',
    height:'200px',
      backgroundColor: '#fff',
          style:{
          fontFamily: "Marianne Regular",
     
          },
    },
    title: {
        text: 'Répartition et suivi du budget par pôle',
        verticalAlign: "top",
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
        
          fontSize: '12px',
                  },
    },

    xAxis: {
        categories: ['Ouvrages', 'Fonctionnement',  "Innovation", "Réserve" ],
        crosshair: true,
        labels: {
                formatter: function () {
                  if (this.value == "Ouvrages" || this.value == "Fonctionnement"){
                    return '<span style="color:#E1000F">' + this.value + '</span>'
                  } else {
                    return this.value 
                  }
                },
                useHTML: false,
            },
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Budget (M€)'
        },
      gridLineColor: "#fff",
    },
  legend: {
    enabled: false,
  },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><br/>',
        pointFormat: '<b>{series.name} : {point.y:.1f} M€</b><br/>',
        useHTML: true,
        shared: true,
     
       borderColor: 'transparent',
   borderRadius: 16,
   backgroundColor: '#fff',
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0,
            grouping: false,
            pointWidth: 30,
          dataLabels: {
                enabled: true
            }
        }
    },
    series: [{
        name: 'Budget Total Maquette',
        data: [{y:<%= @budget_ouvrages%>, color:"#bfbfbf" },{y:<%= @budget_fonctionnement%>, color:"#bfbfbf" },{y:<%=@budget_innovation_initial%>, color: "#bfbfbf"},{y:<%=@budget_reserve_initial%>, color: "#bfbfbf"}],
        pointPlacement: 0,
    },{
        name: 'Consommé',
        data: [{y:<%= @budget_ouvrages_depenses%>, color:"#5770BE",dataLabels: {
                enabled: true,
                x:30,
                verticalAlign: "middle",
                style:{color:'#5770BE'},

            }, },{y:<%= (4.8+11.5+17.8+8.1).round(1)%>, color:"#76505B",dataLabels: {
                enabled: true,
                x:30,
                verticalAlign: "middle",
                style:{color:'#76505B'},

            }, },{y:<%=@budget_innovation_consomme%>, color: "#FFE800",dataLabels: {
                enabled: true,
                x:30,
                verticalAlign: "middle",
                style:{color:'#FFE800'},

            },},{y:<%=@budget_reserve_consomme%>, color: "#D08A77",dataLabels: {
                enabled: true,
                x:30,
                verticalAlign: "middle",
                style:{color:'#D08A77'},

            },}],
        pointPlacement: 0,

    }]
});
</script>

<script>
  Highcharts.chart('container-bar1', {
    chart: {
        type: 'waterfall',
        height:'200px',
          backgroundColor: '#fff',
          style:{
          fontFamily: "Marianne Regular",
     
          },
    },
    title: {
       text: 'Suivi annuel des dépenses',
       verticalAlign: "top",
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
          fontSize: '12px',
                  },
    },

    xAxis: {
        type: 'category',

    },
    yAxis: {
        min: 0,
        title: {
            text: 'Budget Consommé (M€)'
        },
      gridLineColor: "#fff",
    },
  legend: {
    enabled: false,
  },
    tooltip: {
   
        headerFormat: '<span style="font-size:10px">{point.key}</span><br/>',
        pointFormat: '<b>Dépenses annuelles : {point.y:.1f} M€</b><br/>',

        shared: true,
       useHTML: true,
       borderColor: 'transparent',
   borderRadius: 16,
   backgroundColor: '#fff',
    },
    plotOptions: {
      waterfall: {
            pointWidth: 25,
        },
        column: {

            pointPadding: 0.2,
            borderWidth: 0,
            grouping: false,
            pointWidth: 30,
            dataLabels: {
                enabled: true
            }
        }
    },
    series: [{
        borderColor: '#fff',
        data: [{
              name: '2018',
              y: 36.6,
              color: "#2E5D63",
          }, {
              name: '2019',
              y: 92.1,
              color: "#2E5D63",
          },{
              name: '2020',
              y: 228.6,
              color: "#2E5D63",
          },{
              name: '2021',
              y: <%=(@ouvrages_depenses_2021+8.1).round(1)%>,
              color: "#2E5D63",
          }, {
              name: 'Cumul',
              isSum: true,
              color: "#2E5D63"
          }],
          dataLabels: {
              enabled: true,
              inside: false,
                    crop:false,
                    overflow:'allow',
              formatter: function () {
                  return Highcharts.numberFormat(this.y, 0, ',') + 'M€';
              },
            
              style: {
                  fontWeight: 'bold',
                  color: '#000',
              
                fontFamily: 'Karla',
              }
          },
          pointPadding: 0
      }]
});
 </script> 
