
<div class="mxw1 pd32 ma">
  <div class="i24"></div>
  <div class="c2 fw6 fs40 tc">Suivi du budget</div>
  <div class="i12"></div>
   <div class="c2 fw4 fs20 tc">Dernière mise à jour : <%= l(@dates_ouvrages_reporting[0], format: "%e %B %Y") %></div>
   <div class="i40"></div>
  
<div class="pd32 br20 bs bckc1">
  <div>
        <span class="fs16 fw7 pdt c0 bckc2 tupp">Budget global de la Solideo</span>
  </div>
  <div class="i24"></div>
 
  <div class="row">
    <div class="col-md-4 col-sm-5 col-xs-12"> 

      <div class="inline-flex w100">
        <div class="inline-flex w100 ma">
        <div class="c1">
        <i class="fas fa-coins fs20 mr10 w25"></i>
        </div>
        <div>
        <span class="c1 fs16 fw7"><%= number_with_delimiter((Maquette.where('date = ?',@dates_maquettes[@dates_maquettes.length-1]).sum('total')/1000000).round(1), :delimiter => ' ') %> M€</span><br>
          <span class='c6 fs16 fw5'>Budget initial</span>
        </div>
        </div>
      </div>
      <div class="i32"></div>
      
      <div class="inline-flex w100">
        <div class="inline-flex w100 ma">
        <div class="c1">
          <i class="fas fa-coins fs20 mr10 w25"></i>
        </div>
        <div>
          <span class="c1 fs16 fw7"><%= number_with_delimiter((Maquette.where('date = ?',@dates_maquettes[0]).sum('total')/1000000).round(1), :delimiter => ' ') %> M€</span><br>
          <span class='c6 fs16 fw5'>Budget actuel</span>
        </div>
        </div>
      </div>
      <div class="i60"></div>

      <div class="inline-flex w100">
        <div class="inline-flex w100 ma">
        <div class="c1">
           <i class="fas fa-euro-sign fs20 mr10 w25"></i>
        </div>
        <div>
          <span class="c3 fs16 fw7"><%=(36.6+92.1+228.6+8.1 + @ouvrages_depenses_2021).round(1)%> M€</span><br>
          <span class='c6 fs16 fw5'>Dépenses cumulées depuis le début</span>
        </div>
      </div>
      </div>
      <div class="i32"></div>

      <div class="inline-flex w100">
        <div class="inline-flex w100 ma">
        <div class="c1">
         <i class="fas fa-euro-sign fs20 mr10 w25"></i>
        </div>
        <div>
          <span class="c1 fs16 fw7">311.2 M€</span><br>
          <span class='c6 fs16 fw5'>Budget 2021</span>
        </div>
      </div>
      </div>
      <div class="i32"></div>

      <div class="inline-flex w100">
        <div class="inline-flex w100 ma">
        <div class="c1">
           <i class="fas fa-euro-sign fs20 mr10 w25"></i>
        </div>
        <div>
          <span class="c3 fs16 fw7"><%= 8.1 + @ouvrages_depenses_2021%> M€ </span><br>
          <span class='c6 fs16 fw5'>Dépenses 2021</span>
        </div>
      </div>
      </div> 
      <div class="i32"></div>    
   
    </div>
   
    <div class="col-md-8 col-sm-7 col-xs-12">
      <div id="container-bar1"></div>
      <div class="i60"></div>
      <div id="container-bar-all"></div> 
    </div>    
  </div>

</div>
<div class="i24"></div>


  <div id="table_filtres">
    <%= render 'table'%> 
    
 </div>


</div>


<script>

  $('.menu-solideo-depenses').addClass('menu-active2'); 
  $('.menu-solideo').addClass('menu-active'); 

  $('#MonCollapse').addClass('in'); 

</script>
<script>

  Highcharts.chart('container-bar-all', {
    chart: {
        type: 'column',
    height:'200px',
      backgroundColor: '#fff',
          style:{
          fontFamily: "Marianne Regular",
     
          },
    },
    title: {
        text: 'Répartition et suivi du budget par pôle',
        verticalAlign: "top",
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
        
          fontSize: '12px',
                  },
    },

    xAxis: {
        categories: ['Ouvrages', 'Fonctionnement',  "Innovation", "Réserve" ],
        crosshair: true,
        labels: {
                formatter: function () {
                  if (this.value == "Ouvrages" || this.value == "Fonctionnement"){
                    return '<span style="color:#E1000F">' + this.value + '</span>'
                  } else {
                    return this.value 
                  }
                },
                useHTML: true,
            },
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Budget (M€)'
        },
      gridLineColor: "#fff",
    },
  legend: {
    enabled: false,
  },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="padding:0"><b>{series.name} : </b></td>' +
            '<td style="padding:0"><b> {point.y:.1f} M€</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true,
       borderColor: 'transparent',
   borderRadius: 16,
   backgroundColor: '#fff',
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0,
            grouping: false,
          dataLabels: {
                enabled: true
            }
        }
    },
    series: [{
        name: 'Budget Total Maquette',
        data: [{y:<%= @budget_ouvrages%>, color:"#bfbfbf" },{y:<%= @budget_fonctionnement%>, color:"#bfbfbf" },{y:<%=@budget_innovation_initial%>, color: "#bfbfbf"},{y:<%=@budget_reserve_initial%>, color: "#bfbfbf"}],
        pointPlacement: 0,
    },{
        name: 'Consommé',
        data: [{y:<%= @budget_ouvrages_depenses%>, color:"#5770BE" },{y:<%= (4.8+11.5+17.8+8.1).round(1)%>, color:"#76505B" },{y:<%=@budget_innovation_consomme%>, color: "#FFE800"},{y:<%=@budget_reserve_consomme%>, color: "#D08A77"}],
        pointPlacement: 0,

    }]
});
</script>

<script>
  Highcharts.chart('container-bar1', {
    chart: {
        type: 'column',
    height:'200px',
      backgroundColor: '#fff',
          style:{
          fontFamily: "Marianne Regular",
     
          },
    },
    title: {
       text: 'Suivi annuel des dépenses',
       verticalAlign: "top",
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
          fontSize: '12px',
                  },
    },

    xAxis: {
        categories: ['Réalisé 2018', 'Réalisé 2019',  "Réalisé 2020", "Réalisé 2021", "Cumul"],
        crosshair: true,
        labels: {
                formatter: function () {
                  if (this.value == "Réalisé 2021"){
                    return '<span style="color:#E1000F">' + this.value + '</span>'
                  } else {
                    return this.value 
                  }
                },
                useHTML: true,
            },
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Budget Consommé (M€)'
        },
      gridLineColor: "#fff",
    },
  legend: {
    enabled: false,
  },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="padding:0"><b>{series.name} : </b></td>' +
            '<td style="padding:0"><b> {point.y:.1f} M€</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true,
       borderColor: 'transparent',
   borderRadius: 16,
   backgroundColor: '#fff',
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0,
            grouping: false,
          dataLabels: {
                enabled: true
            }
        }
    },
    series: [{
        name: 'Budget',
        data: [{y:36.6, color:"#2E5D63" },{y:92.1, color:"#2E5D63" },{y:228.6, color: "#2E5D63"},{y:311.2, color: "#bfbfbf"},{y:668.4, color: "#bfbfbf"}],
        pointPlacement: 0,
    },{
        name: 'Réalisé',
        data: [{y:36.6, color:"#2E5D63" },{y:92.1, color:"#2E5D63" },{y:228.6, color: "#2E5D63"},{y:<%= (@ouvrages_depenses_2021+8.1).round(1) %>, color: "#2E5D63"}, {y: <%=(36.6+92.1+228.6+@ouvrages_depenses_2021+8.1).round(1)%>, color: "#C68D7B"}],
        pointPlacement: 0,

    }]
});
 </script> 
