
<div class="SD_page">

  <h1 class="SD_title">Le budget de la Solideo</h1>
   <h1 class="SD_subtitle">Dernière mise à jour : 22 novembre 2020</h1>
  
<div class="SD-table-box">
  <div class="SD-topo-box-title">
        <span>La Solideo en chiffres</span>
  </div><br><br>
  <div class="row">
    <div class="col-md-4"> 
      <div class="calendar-infos">
        <div class="calendar-infos-box">
        <div>
        <i class="fas fa-coins"></i>
        </div>
        <div>
        <%= number_with_delimiter(SolideoFinancement.where('date = ?', Date.new(2018,1)).sum('montant').to_i, :delimiter => ' ') %> €<br>
          <span>Budget initial</span>
        </div>
      </div>
      </div><br><br>
      
        <div class="calendar-infos">
         <div class="calendar-infos-box">
        <div>
          <i class="fas fa-coins"></i>
        </div>
        <div>
          <%= number_with_delimiter(SolideoFinancement.where('date = ?',SolideoFinancement.last.date).sum('montant').to_i, :delimiter => ' ') %> €<br>
          <span>Budget actuel</span>
        </div>
      </div>
      </div><br><br><br><br>
      <div class="calendar-infos">
        <div class="calendar-infos-box">
        <div>
         <i class="fas fa-euro-sign"></i>
        </div>
        <div>
        XXXX €<br>
          <span>Dépenses prévues à date</span>
        </div>
      </div>
      </div><br><br>
      <div class="calendar-infos">
        <div class="calendar-infos-box">
        <div>
           <i class="fas fa-euro-sign"></i>
        </div>
        <div>
          XXXX € <br>
          <span>Dépenses actuelles</span>
        </div>
      </div>
      </div> <br><br>
      <div class="calendar-infos">
        <div class="calendar-infos-box">
        <div>
           <i class="fas fa-euro-sign"></i>
        </div>
        <div>
          XX%<br>
          <span>Budget dépensé</span>
        </div>
      </div>
      </div> 
       
   
    </div>
    <div class="col-md-8">
      <div id="container-pie">      
      </div> 
    </div>    
  </div>
  <br><br>
</div>
  <br><br>
  <div  class="SD-table-box">
    <div class="SD-topo-box-title">
      <span>Dépenses de la solideo</span>
    </div><br><br>
    <div>Données manquantes </div><br><br>
        <div id="container-bar1">
          
        </div>
    
    
    </div>

  <br><br>

  <div id="table_filtres">
    <%= render 'table'%> 
    
 </div>


</div>


<script>

  $('.menu-solideo-depenses').addClass('menu-active2'); 
  $('.menu-solideo').addClass('menu-active'); 

  $('#MonCollapse').addClass('in'); 

</script>
<script>
Highcharts.chart('container-pie', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie',
        backgroundColor: '#fff',
          style:{
          fontFamily: "Spectral",
         
          },
      height: '350px',
    },
    title: {
         text:null,   
          style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
                  fontStyle: "italic",
                  fontSize: '16px',
                  },
    },
  colors: ['#2E5D63','#C68D7B', '#20E37B','#5770BE'],
    tooltip: {
        pointFormat: '{series.name}: <b>{point.y:,.0f}€ </b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
           size: 250,
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b><br>{point.y:,.0f}€ - {point.percentage:.1f} %',
              style: {
                      color: "#8F8F8F",
                      fontSize: "11px",
                      fontWeight: "400",
                      fontStyle: "italic",
                      },
            }
        }
    },
    series: [{
        name: 'Total',
        colorByPoint: true,
        data: [{
            name: 'Ouvrages',
            y: <%= SolideoFinancement.where("categorie = ? AND date = ?","ouvrages", SolideoFinancement.last.date).sum('montant')%>,
            sliced: true,
            selected: true
        }, {
            name: 'Réserve',
            y: <%= SolideoFinancement.where("categorie = ? AND date = ?","reserve", SolideoFinancement.last.date).sum('montant')%>,
        }, {
            name: 'Innovation',
            y: <%= SolideoFinancement.where("categorie = ? AND date = ?","innovation", SolideoFinancement.last.date).sum('montant')%>,
        }, {
            name: 'Fonctionnement',
            y:<%= SolideoFinancement.where("categorie = ? AND date = ?","fonctionnement", SolideoFinancement.last.date).sum('montant')%>,
        }]
    }]
});
</script>
<script>
Highcharts.chart('container-bar0', {
    chart: {
        type: 'bar',
      style:{
          fontFamily: "Spectral",
         maxWidth: '400px',
     
          },
  
      height: "450px",
    },
    title: {
        text: null,
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
          fontStyle: 'italic',
      fontSize: '16px',
                  },
    },
  colors: ['#4FC5CE'],
    xAxis: {
        categories:  ["Budget total","Part publique","Dépenses à date prévues", "Dépenses actuelles"],
        title: {
            text: null
        },
      
    },
    yAxis: {
        min: 0,
      gridLineColor: '#fff', 
        title: {
            text: 'Montant (M€)',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' €'
    },
  legend: {
    enabled: false,
  },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },
    
    credits: {
        enabled: false
    },
    series: [{
        name: 'Budget',
        data: [{y: <%= (SolideoFinancement.where('date = ?',SolideoFinancement.last.date).sum('montant')/1000000).round%> , color: "#C68D7B"},{y: <%= (SolideoFinancement.where('financeur != ? AND date = ?', "privé",SolideoFinancement.last.date).sum('montant')/1000000).round%> , color: "#2E5D63"}, {y: 0, color: "#bfbfbf"}, {y: 0, color: "#20E37B"}],
     }]
});
  </script>

<script>
Highcharts.chart('container-bar1', {
    chart: {
        type: 'column',
    
      backgroundColor: '#fff',
          style:{
          fontFamily: "Spectral",
     
          },
    },
    title: {
        text: null,
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
          fontStyle: 'italic',
          fontSize: '16px',
                  },
    },

    xAxis: {
        categories: ['Prévu 2018','Réalisé 2018','Prévu 2019', 'Réalisé 2019', "Prév 2020 CA 2020", "Prev atterissage 2020", "Prev 2021"],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Budget (M€)'
        },
      gridLineColor: "#fff",
    },
  legend: {
    enabled: false,
  },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} M€</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0,
          dataLabels: {
                enabled: true
            }
        }
    },
    series: [{
        name: 'Budget',
        data: [{y:37, color:"#bfbfbf" },{y:37, color:"#C68D7B" }, {y:57, color:"#bfbfbf" },{y:67, color:"#C68D7B" }, {y:160, color: "#2E5D63"}, {y:111, color: "#20E37B"}, {y:228, color: "#5770BE"}]

    }]
});
 </script> 
