<div class="modal fade" id="file" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-content-search-filtres" >
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p class="modal-title modal-title-document" >Transmettre un document </p>
    
      </div>
      
      <div class="modal-body">
        <div class="modal-document-name"><%= @document.name %> </div>
        
      <%= form_for(@document) do |form| %>
        <div class="document-file-input">
          <label><%= form.file_field :file %>
            <i class="far fa-file-pdf"></i> <br><span class="input-text"><%= @document.name %></span>
            <div class="document-check">
            <i class="fas fa-check-circle"></i>
          </div>
          </label>
          
        <div class="modal-search-filters-form-btn">
          <%= submit_tag "Transmettre", id: "submit_btn" %>  
        </div>
                    
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



<script>
  $('.document-check').hide();
    function readURL(input) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function(e) {
         
              
          }
          reader.readAsDataURL(input.files[0]);
      }
  }
  $("input").change(function() {
      readURL(this);
      $('.document-check').show();
      $('.input-text').html($(this).val().replace(/C:\\fakepath\\/i, ''));
  });

</script>