
<div class="page_w">
  <div class="i24"></div>
  <div class="titre_page text-center">Documents Solideo </div>
   <div class="i40"></div>
  
  <div class="box_page">
  <div><span class="titre_section">Transmettre un document </span></div>
   <div class="i32"></div>
   <%= form_for(Document.new) do |form| %>
   <%= form.hidden_field :date, value: Date.today%>
   <%= form.hidden_field :name, id: 'name_doc'%>
   <%= form.hidden_field :appartenance, value: 'solideo' %>
   <%= form.hidden_field :extension, id: 'ext'%>

        <div class="document-file-input">
          <label id="dragzone"><%= form.file_field :file, id:'input-file' %>
            <div class="document-type"><i class="far fa-file-pdf"></i> </div>
            <div class="input-text"><i class="fas fa-plus-circle"></i><br>Glissez vos fichiers ici <br><br><span class="tu">Télécharger depuis votre appareil</span></div>
            <div class="document-check">
            <i class="fas fa-check-circle"></i>
          </div>
          </label>
          
        <div class="modal-search-filters-form-btn">
          <%= submit_tag "Transmettre", id: "submit_btn" %>  
        </div>
                    
        </div>
        <% end %>
 </div>
 <div class="i24"></div>
  <div class="box_page">
  <div><span class="titre_section">Liste des Documents </span></div>
   <div class="i24"></div>
    <div class="row">
     
      
       <% if !@documents.nil?%>
        <% @documents.each do |document| %>
        
          <% if document.file.attached?%>
          <div class="col-md-3">
          <%= link_to rails_blob_path(document.file, disposition: 'preview'), target: "_blank", class:'c2' do %>
           <div class="bs br8 pd12 c2 bckc3" style='height:150px;'>
             <% if document.extension == "pdf"%> <i class="far fa-file-pdf c1"></i>
             <% elsif document.extension == "csv" || document.extension == "xlsx"%> <i class="far fa-file-excel c1"></i>
             <% elsif document.extension == "ppt" %> <i class="far fa-file-powerpoint c1"></i>
             <% end %>
             <%= document.name%>
             <div class="i12"></div>
             <div><%= link_to delete_document_path(id: document.id), method: :post, class:"c1" do%><i class="fas fa-trash-alt"></i><% end%></div>
           </div>
          <% end %>
          </div>
          <% end %>
          
        <% end %>
       <% end %> 
       
      
      
    </div>  
  </div>
</div>
<script>

  $('.document-check').hide();
  $('.document-type').hide();
  $('#submit_btn').hide();

window.addEventListener("dragover",function(e){
  e = e || event;
  e.preventDefault();
  $('#dragzone').addClass('drag-over');
},false);
window.addEventListener("drop",function(e){
  e = e || event;
  e.preventDefault();
  
  // begin loading image data to pass to our embed
  var droppedFiles = e.dataTransfer.files;

  var files = {};
  //$('#input-file').files = droppedFiles;
  $('#input-file').prop('files', droppedFiles);
 // for (var i = 0; i < droppedFiles.length; i++) {
    files[0] = droppedFiles[0]; // bc file is ref is overwritten

    var reader = new FileReader();
    reader.file = files[0]; // bc loadend event has no file ref

    reader.addEventListener("loadend", function (ev, loadedFile) {
      var fileObject = {};
      var currentReader = ev.target;

      loadedFile = currentReader.file;
      
      console.log("File loaded:" + loadedFile.name);
      fileObject.dataURI = currentReader.result;
      //fileObject.name = loadedFile.name;
      //fileObject.type = loadedFile.type;
      $('.document-check').show();
      $('#submit_btn').show();
      $('.input-text').html(loadedFile.name);
      $('.document-type').show();
                  
      
      $('#name_doc').val(loadedFile.name);
      $('#ext').val(loadedFile.name.split('.')[1]);
      
    });
    
    reader.readAsDataURL(files[0]);
  //}
},false);
    function readURL(input) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function(e) {
         
              
          }
          reader.readAsDataURL(input.files[0]);
      }
  }
  $("input").change(function() {
      readURL(this);
      $('.document-check').show();
      $('#submit_btn').show();
      $('.input-text').html($(this).val().replace(/C:\\fakepath\\/i, ''));
      $('.document-type').show();
      $('#name_doc').val($(this).val().replace(/C:\\fakepath\\/i, ''));
      $('#ext').val($(this).val().split('.')[1]);
  });

</script>
<script>

  $('.menu-documents-solideo').addClass('menu-active'); 
 

</script>