<% if !@document.nil?%>
<%= render 'documents/form'%>
<% end %>
<div class="SD_page">
 
  <h1 class="SD_title">Documents Solideo </h1>
  
  <div class="SD-topo-box">
   <div class="SF-topo-financeurs-title"><span>Liste des Documents </span></div><br>
    <br>
    
    
    
    <div class="row">
     <div class="col-md-12">
       <% @dates.each do |date| %>
       <% if date <= Date.today.year %>
        <div class="documents-mois-titre">
          <%= date %>
        </div>
       <% if !@documents.nil?%>
        <% @documents.each do |document| %>
         <% if document.date.year == date %>
          <% if document.file.attached?%>
           <div class="documents-mois-doc">
             <% if document.extension == "pdf"%> <i class="far fa-file-pdf"></i>
             <% elsif document.extension == "csv"%> <i class="far fa-file-excel"></i>
             <% elsif document.extension == "ppt" %> <i class="far fa-file-powerpoint"></i>
             <% end %>
             <%= document.name%>
             <div class="documents-etat-btn"><%= link_to rails_blob_path(document.file, disposition: 'preview'), target: "_blank" do %><span class="hidden-xs">Visualiser </span><i class="fas fa-eye"></i><% end %><%= link_to delete_document_path(id: document.id), method: :post, class:"documents-etat-delete" do%><i class="fas fa-trash-alt"></i><% end%></div>
           </div>
          <% else%>
            <div class="documents-mois-doc">
             <i class="far fa-file-excel"></i> <%= document.name%>
              <div class="documents-etat-btn"><%= link_to edit_document_path(document), remote: true do%><span class="hidden-xs">Transmettre</span><span class="visible-xs"><i class="fas fa-download"></i></span><% end%></div>
           </div>
          <% end %>
          <% end %>
        <% end %>
       <br>
       <% end %> 
       <% end %>
     <% end %>
       
      
      </div>
    </div>  
  </div>
</div>

<script>

  $('.menu-documents-solideo').addClass('menu-active'); 
 

</script>