<div class="page_w">
  <div class="i24"></div>
  <div class="titre_page text-center">Ajouter un nouveau document</div>
  <div class="i40"></div>
<div class="ED_new_form_box">
  
<%= form_for(@document) do |form| %>


  <div class="ED_new_form_field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
<div class="ED_new_form_field ED_new_form_field_beneficiaire">
    <%= form.label :appartenance %>
    <%= form.select :appartenance, [["Etat","etat"],["Solideo","solideo"],["Cojo", "cojo"]], {}, class: "ED_new_form_input_beneficiaire" %>
  </div>
<div class="ED_new_form_field">
    <%= form.label :extension %>
    <%= form.select :extension, [["PDF","pdf"],["CSV","csv"],["WORD", "word"], ["PPT", "ppt"]], {}, class: "ED_new_form_input_beneficiaire" %>
</div>
<div class="ED_new_form_field ED_new_form_field_date">
  <%= form.label :date %>
    <%= form.date_select :date, {:order => [:year]}, class: "ED_new_form_input_date" %>
</div>

 

  <div class="ED_new_form_field_submit">
    <%= form.submit "Ajouter le document" %>
  </div>
<% end %>
  </div>
</div>