
<div  class="table-box">
  <div class="SD-topo-box-title">
    <span>Répartition annuelles des dépenses de l'état</span>
  </div><br><br>
<% if !@etat_depenses_array.nil? && !@etat_depenses_array.empty? %>

    <div class="ED_table">
      <table>
        <thead>
          <tr>
            <th scope="col">Dates</th>
            <th scope="col"><%= link_to solideo_depenses_path do %>Solideo<%end%></th>
            <th scope="col">Cojo</th>
            <th scope="col">Héritage</th>
            <th scope="col">Haute Performance</th>
            <th scope="col" class="border-none">Total</th>
          </tr>
        </thead>
        <tbody>
          <% @etat_depenses_array.each do |date| %>
          <tr>
            <th scope="row"><%= date.strftime('%Y') %></th>
            <td><div class="table-row"><div class="table-row-left"><%= number_with_delimiter(EtatDepense.where('beneficiaire = ? AND date <= ? AND date >= ?', "solideo", date+1.day,date-1.day ).sum('cp_conso').to_i, :delimiter => ' ') %> € </div> <div class="table-row-right"> / <%= number_with_delimiter(EtatDepense.where('beneficiaire = ? AND date <= ? AND date >= ? ', "solideo",date+1.day, date-1.day).sum('cp_prevu').to_i, :delimiter => ' ') %> €</div></div></td>
            <td><div class="table-row"><div class="table-row-left"><%= number_with_delimiter(EtatDepense.where('beneficiaire = ? AND date <= ? AND date >= ?', "cojo", date+1.day,date-1.day ).sum('cp_conso').to_i, :delimiter => ' ') %> € </div> <div class="table-row-right"> / <%= number_with_delimiter(EtatDepense.where('beneficiaire = ? AND date <= ? AND date >= ?', "cojo", date+1.day, date-1.day).sum('cp_prevu').to_i, :delimiter => ' ') %> €</div></div></td>
            <td><div class="table-row"><div class="table-row-left"><%= number_with_delimiter(EtatDepense.where('beneficiaire = ? AND date <= ? AND date >= ?', "heritage", date+1.day, date-1.day ).sum('cp_conso').to_i, :delimiter => ' ') %> € </div> <div class="table-row-right"> / <%= number_with_delimiter(EtatDepense.where('beneficiaire = ? AND date <= ? AND date >= ? ', "heritage",date+1.day, date-1.day).sum('cp_prevu').to_i, :delimiter => ' ') %> €</div></div> </td>
            <td><div class="table-row"><div class="table-row-left"><%= number_with_delimiter(EtatDepense.where('beneficiaire = ? AND date <= ? AND date >= ?', "hauteperformance",date+1.day, date-1.day).sum('cp_conso').to_i, :delimiter => ' ') %> € </div> <div class="table-row-right"> / <%= number_with_delimiter(EtatDepense.where('beneficiaire = ? AND date <= ? AND date >= ? ', "hauteperformance",date+1.day, date-1.day).sum('cp_prevu').to_i, :delimiter => ' ') %> €</div></div></td>
            <td class="border-none"><div class="table-row"><div class="table-row-left"><%= number_with_delimiter(EtatDepense.where('date <= ? AND date >= ?', date+1.day, date-1.day).sum('cp_conso').to_i, :delimiter => ' ') %> € </div> <div class="table-row-right"> / <%= number_with_delimiter(EtatDepense.where('date <= ? AND date >= ? ',date+1.day, date-1.day).sum('cp_prevu').to_i, :delimiter => ' ') %> €</div></div></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  
   <br><br>
     <div class="EB-details">
    <%= link_to "Voir le détails des dépenses de l'état" , etat_depenses_path %>
  </div>
  <% else %>
    <div>
      Aucune dépense renseignée
    </div>
  <%end%>
  
   
 
  
 
    
</div>