<% if !@etat_budget_actuel.nil? %>
<div class="box_page">
  <div><span class="titre_section">Le Budget de l'état  en chiffres</span></div>
  <div class="i24"></div>  

  <div class="row">
    <div class="col-md-4 col-sm-5 col-xs-12">
      <div id="depenses_totales" style="height:150px;overflow:hidden;"></div>
      <div class="box_i1">
        <div class="box_i1_t1">+<%= number_with_delimiter((EtatBudget.last.budget_total/1000000-EtatBudget.first.budget_total/1000000).round(1), :delimiter => ' ') %> M€</div>
        <div class="box_i1_t2">Écart sur le budget total </div>
      </div>
      <div class="i32"></div>
      <div id="depenses_2021" style="height:150px;overflow:hidden;"></div>
      <div class="box_i1">
        <div class="box_i1_t1"><%= number_with_delimiter(((EtatDepense.where('date >= ?', Date.new(2021,1,1)).sum('cp_prevu')-EtatDepense.where('date >= ?', Date.new(2021,1,1)).sum('cp_conso'))/1000000).round, :delimiter => ' ') %> M€</div>
        <div class="box_i1_t2">Disponible pour 2021</div>
      </div>
      <div class="i40 visible-xs"></div> 
    </div>
    

    <div class="col-md-8 col-sm-7 col-xs-12">
      <div id="container-bar1"></div>
      <div class="i60"></div>

      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div id="pie-solideo"></div> 
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <div id="pie-cojo"></div> 
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="box_i1">
            <div class="box_i1_t1">Héritage</div>
            <div class="box_i1_t2"><%= (EtatDepense.where('beneficiaire = ?', "heritage",).sum('cp_conso')/1000000).round%>/<%= (@etat_budget_actuel.budget_heritage/1000000).round%>M€ consommés</div>
          </div>
          <div class="i32"></div>
          <div class="box_i1">
            <div class="box_i1_t1">Haute Performance</div>
            <div class="box_i1_t2"><%= (EtatDepense.where('beneficiaire = ?', "hauteperformance",).sum('cp_conso')/1000000).round%>/<%=(@etat_budget_actuel.budget_hauteperformance/1000000).round%>M€ consommés</div>
          </div>
        </div>
      </div>
      </div>
  </div>

</div>
<div class="i24"></div>




<script>
    
    Highcharts.chart('depenses_totales', {
    chart: {
        type: 'solidgauge',
        height: '200px',
          spacingTop: 0,
          style:{
            fontFamily: "Marianne Regular",
          },
    },
    title: {
        text: 'Exécution budgétaire depuis le début',
        verticalAlign: "top",
        style: {
                color: "#6A6A6A",
                fontWeight: "400",        
              fontSize: '12px',
                  },
       
    },
    pane: {
        //center: ['50%', '50%'],
        size: '100%',
        startAngle: -90,
        endAngle: 90,
        background: {
            backgroundColor:'#C4C4C4',
            innerRadius: '80%',
            outerRadius: '100%',
            shape: 'arc'
        }
    },

    exporting: {
        enabled: false
    },

    tooltip: {
        enabled: false
    },

    // the value axis
    yAxis: {
        stops: [
            [0.1, '#2323EA'], // green
            [0.5, '#2323EA'], // yellow
            [0.9, '#2323EA'] // red
        ],
        lineWidth: 0,
        tickWidth: 0,
        minorTickInterval: null,
        tickAmount: 2,
        tickPositions: [<%= (EtatDepense.where('date <= ?', Date.today).sum('cp_conso')/1000000).round %>, <%= (EtatBudget.last.budget_total/1000000)%>],
        min: <%= (EtatDepense.where('date <= ?', Date.today).sum('cp_conso')/1000000).round %>,
        max: <%= (EtatBudget.last.budget_total/1000000)%>,
        title: {
          text: null,
            y: 100,
        },
        labels: {
            y: 16,
            format: '{value:.0f}M€',
        }
    },

    plotOptions: {
        solidgauge: {
            dataLabels: {
                y: 5,
                borderWidth: 0,
                useHTML: true
            }
        }
    },

    credits: {
        enabled: false
    },
    series: [{
        name: 'Paiements versés',
        data: [<%= (EtatDepense.where('date <= ?', Date.today).sum('cp_conso')/1000000).round + (EtatDepense.where('date <= ?', Date.today).sum('cp_conso')/EtatBudget.last.budget_total)*(EtatBudget.last.budget_total-EtatDepense.where('date <= ?', Date.today).sum('cp_conso'))/1000000%>],
        innerRadius: '80%',
      
        dataLabels: {
          enabled: true,
          y:-40,
            format:
                '<div style="text-align:center;color:#000;">' +
                '<span style="font-size:20px">'+<%=((EtatDepense.where('date <= ?', Date.today).sum('cp_conso')/EtatBudget.last.budget_total)*100).round %>+'%</span><br/>' +
                '</div>'
        },
        tooltip: {
            valueSuffix: ' %'
        }
    }],
    
});
</script>
<script>
    
    Highcharts.chart('depenses_2021', {
    chart: {
        type: 'solidgauge',
        height: '200px',
          spacingTop: 0,
          style:{
            fontFamily: "Marianne Regular",
          },
    },
    title: {
        text: 'Exécution budgétaire 2021',
        verticalAlign: "top",
        style: {
                color: "#6A6A6A",
                fontWeight: "400",        
              fontSize: '12px',
                  },
       
    },
    pane: {
        //center: ['50%', '50%'],
        size: '100%',
        startAngle: -90,
        endAngle: 90,
        background: {
            backgroundColor:'#C4C4C4',
            innerRadius: '80%',
            outerRadius: '100%',
            shape: 'arc'
        }
    },

    exporting: {
        enabled: false
    },

    tooltip: {
        enabled: false
    },

    // the value axis
    yAxis: {
        stops: [
            [0.1, '#2323EA'], // green
            [0.5, '#2323EA'], // yellow
            [0.9, '#2323EA'] // red
        ],
        lineWidth: 0,
        tickWidth: 0,
        minorTickInterval: null,
        tickAmount: 2,
        tickPositions: [<%= (EtatDepense.where('date >= ?', Date.new(2021,1,1)).sum('cp_conso')/1000000).round%>, <%= (EtatDepense.where('date >= ?', Date.new(2021,1,1)).sum('cp_prevu')/1000000).round%>],
        min: <%= (EtatDepense.where('date >= ?', Date.new(2021,1,1)).sum('cp_conso')/1000000).round%>,
        max: <%= (EtatDepense.where('date >= ?', Date.new(2021,1,1)).sum('cp_prevu')/1000000).round%>,
        title: {
          text: null,
            y: 100,
        },
        labels: {
            y: 16,
            format: '{value:.0f}M€',
        }
    },

    plotOptions: {
        solidgauge: {
            dataLabels: {
                y: 5,
                borderWidth: 0,
                useHTML: true
            }
        }
    },

    credits: {
        enabled: false
    },
    series: [{
        name: 'Paiements versés',
        data: [<%= (EtatDepense.where('date >= ?', Date.new(2021,1,1)).sum('cp_conso')/1000000).round + (EtatDepense.where('date >= ?', Date.new(2021,1,1)).sum('cp_conso')/EtatDepense.where('date >= ?', Date.new(2021,1,1)).sum('cp_prevu'))*(EtatDepense.where('date >= ?', Date.new(2021,1,1)).sum('cp_prevu')-EtatDepense.where('date >= ?', Date.new(2021,1,1)).sum('cp_conso'))/1000000%>],
        innerRadius: '80%',
      
        dataLabels: {
          enabled: true,
          y:-40,
            format:
                '<div style="text-align:center;color:#000;">' +
                '<span style="font-size:20px">'+<%=((EtatDepense.where('date >= ?', Date.new(2021,1,1)).sum('cp_conso')/EtatDepense.where('date >= ?', Date.new(2021,1,1)).sum('cp_prevu'))*100).round %>+'%</span><br/>' +
                '</div>'
        },
        tooltip: {
            valueSuffix: ' %'
        }
    }],
    
});
</script>

<script>
    
    Highcharts.chart('pie-cojo', {
    chart: {
        type: 'solidgauge',
        height: '220px',
          spacingTop: 0,
          style:{
            fontFamily: "Marianne Regular",
          },
          
    },
    title: {
        text: 'Dépenses Cojo',
        verticalAlign: "top",
        style: {
                color: "#6A6A6A",
                fontWeight: "400",        
              fontSize: '12px',
                  },
       
    },
    pane: {
        //center: ['50%', '50%'],
        size: '100%',
        startAngle: 0,
        endAngle: 360,
        background: {
            backgroundColor:'#C4C4C4',
            innerRadius: '0%',
            outerRadius: '80%',
            shape: 'arc'
        }
    },

    exporting: {
        enabled: false
    },

    tooltip: {
        enabled: true,
        shared: true,
            useHTML: true,
           borderColor: 'transparent',
       borderRadius: 16,
       backgroundColor: '#fff',
    },

    // the value axis
    yAxis: {
        stops: [
            [0.1, '#7D4E5B'], // green
            [0.5, '#7D4E5B'], // yellow
            [0.9, '#7D4E5B'] // red
        ],
        lineWidth: 0,
        tickWidth: 0,
        minorTickInterval: null,
        tickAmount: 2,
        tickPositions: [<%= (EtatDepense.where('beneficiaire = ?', "cojo",).sum('cp_conso')/1000000).round%> , <%= (@etat_budget_actuel.budget_cojo/1000000).round%>],
        min: 0,
        max: <%= (@etat_budget_actuel.budget_cojo/1000000).round%>,
        title: {
          text: null,
            y: 100,
        },
        labels: {
            y: 16,
            format: '{value:.0f}M€',
            enabled: false,
        }
    },

    plotOptions: {
        solidgauge: {
            dataLabels: {
                y: -10,
                borderWidth: 0,
                useHTML: true
            }
        }
    },

    credits: {
        enabled: false
    },
    series: [{
        name: 'Paiements versés',
        data: [<%= EtatDepense.where('beneficiaire = ?', "cojo",).sum('cp_conso')%>],
        innerRadius: '0%',
        radius: '80%',
        dataLabels: {
          enabled: true,
          
            format:
                '<div style="text-align:center;color:#000;">' +
                '<span style="font-size:20px">'+<%=((EtatDepense.where('beneficiaire = ?', "cojo",).sum('cp_conso')/(@etat_budget_actuel.budget_cojo))*100).round(1)%>+'%</span><br/>' +
                '<span style="font-size:12px;opacity:0.7">'+<%= (EtatDepense.where('beneficiaire = ?', "cojo",).sum('cp_conso')/1000000).round%> +' M€</span>' +
                '</div>'
        },
        tooltip: {
            pointFormat: '<span style="padding:0">Paiements versés : <b>'+ <%= (EtatDepense.where('beneficiaire = ?', "cojo",).sum('cp_conso')/1000000).round%> +'M€/'+<%=(@etat_budget_actuel.budget_cojo/1000000).round%>+'M€</b></span>',
            valueSuffix: ' M€'
        }
    }],
    
});
</script>
<script>
    
    Highcharts.chart('pie-solideo', {
    chart: {
        type: 'solidgauge',
        height: '220px',
        spacingTop: 0,
        style:{
            fontFamily: "Marianne Regular",
          },
        
    },
    title: {
        text: 'Dépenses Solideo',
        verticalAlign: "top",
        style: {
                color: "#6A6A6A",
                fontWeight: "400",        
              fontSize: '12px',
                  },
       
    },
    pane: {
        //center: ['50%', '50%'],
        size: '100%',
        startAngle: 0,
        endAngle: 360,
        background: {
            backgroundColor:'#C4C4C4',
            innerRadius: '0%',
            outerRadius: '100%',
            shape: 'arc'
        }
    },

    exporting: {
        enabled: false
    },

    tooltip: {
        enabled: true,
        shared: true,
            useHTML: true,
           borderColor: 'transparent',
       borderRadius: 16,
       backgroundColor: '#fff',
    },

    // the value axis
    yAxis: {
        stops: [
            [0.1, '#5770BE'], // green
            [0.5, '#5770BE'], // yellow
            [0.9, '#5770BE'] // red
        ],
        lineWidth: 0,
        tickWidth: 0,
        minorTickInterval: null,
        tickAmount: 0,
        tickPositions: [<%=(EtatDepense.where('beneficiaire = ?', "solideo",).sum('cp_conso')/1000000).round%>, <%= (@etat_budget_actuel.budget_solideo/1000000).round%>],
        min: 0,
        max: <%= (@etat_budget_actuel.budget_solideo/1000000).round%>,
        title: {
          text: null,
            y: 100,
        },
        labels: {
            y: 16,
            format: '{value:.0f}M€',
            enabled: false,
        }
    },

    plotOptions: {
        solidgauge: {
            dataLabels: {
                y: -10,
                borderWidth: 0,
                useHTML: true
            }
        }
    },

    credits: {
        enabled: false
    },
    series: [{
        name: 'Paiements versés',
        data: [<%= (EtatDepense.where('beneficiaire = ?', "solideo",).sum('cp_conso')/1000000).round%>],
        innerRadius: '0%',
      
        dataLabels: {
          enabled: true,
      
            format:
                '<div style="text-align:center;color:#000;">' +
                '<span style="font-size:20px">'+<%=((EtatDepense.where('beneficiaire = ?', "solideo",).sum('cp_conso')/@etat_budget_actuel.budget_solideo)*100).round(1)%>+'%</span><br/>' +
                '<span style="font-size:12px;opacity:0.7">'+<%= (EtatDepense.where('beneficiaire = ?', "solideo",).sum('cp_conso')/1000000).round%>+' M€</span>' +
                '</div>'
        },
        tooltip: {
          pointFormat: '<span style="padding:0">Paiements versés : <b>'+ <%= (EtatDepense.where('beneficiaire = ?', "solideo",).sum('cp_conso')/1000000).round %>+'M€/'+<%=(@etat_budget_actuel.budget_solideo/1000000).round%>+'M€</b></span>',
            valueSuffix: ' M€'
        }
    }],
    
});
</script>
<script>
  Highcharts.chart('container-bar1', {
    chart: {
        type: 'waterfall',
        height:'200px',
          backgroundColor: '#fff',
          style:{
          fontFamily: "Marianne Regular",
     
          },
    },
    title: {
       text: 'Suivi annuel des dépenses',
       verticalAlign: "top",
        style: {
                  color: "#6A6A6A",
                  fontWeight: "400",
          fontSize: '12px',
                  },
    },

    xAxis: {
        type: 'category',

    },
    yAxis: {
        min: 0,
        title: {
            text: 'Budget Consommé (M€)'
        },
      gridLineColor: "#fff",
    },
  legend: {
    enabled: false,
  },
    tooltip: {
   
        headerFormat: '<span style="font-size:10px">{point.key}</span><br/>',
        pointFormat: '<b>Dépenses annuelles : {point.y:.1f} M€</b><br/>',

        shared: true,
       useHTML: true,
       borderColor: 'transparent',
   borderRadius: 16,
   backgroundColor: '#fff',
    },
    plotOptions: {
      waterfall: {
            pointWidth: 25,
        },
        column: {

            pointPadding: 0.2,
            borderWidth: 0,
            grouping: false,
            pointWidth: 30,
            dataLabels: {
                enabled: true
            }
        }
    },
    series: [{
        borderColor: '#fff',
        data: [{
              name: '2018',
              y: <%= (EtatDepense.where('date >= ? AND date <= ?', Date.new(2018,1,1), Date.new(2018,12,31)).sum('cp_conso')/1000000).round %>,
              color: "#2E5D63",
          }, {
              name: '2019',
              y: <%=(EtatDepense.where('date >= ? AND date <= ?', Date.new(2019,1,1), Date.new(2019,12,31)).sum('cp_conso')/1000000).round%>,
              color: "#2E5D63",
          },{
              name: '2020',
              y: <%=(EtatDepense.where('date >= ? AND date <= ?', Date.new(2020,1,1), Date.new(2020,12,31)).sum('cp_conso')/1000000).round%>,
              color: "#2E5D63",
          },{
              name: '2021',
              y: <%=(EtatDepense.where('date >= ? AND date <= ?', Date.new(2021,1,1), Date.new(2021,12,31)).sum('cp_conso')/1000000).round%>,
              color: "#2E5D63",
          }, {
              name: 'Cumul',
              isSum: true,
              color: "#2E5D63"
          }],
          dataLabels: {
              enabled: true,
              inside: false,
                    crop:false,
                    overflow:'allow',
              formatter: function () {
                  return Highcharts.numberFormat(this.y, 0, ',') + 'M€';
              },
            
              style: {
                  fontWeight: 'bold',
                  color: '#000',
              
                fontFamily: 'Karla',
              }
          },
          pointPadding: 0
      }],
    
});
 </script> 
 <% end %>