

<% if !@etat_budget_actuel.nil? %>
<div class="SD-topo-box">
  <div class="SD-topo-box-title">
    <span>Le Budget de l'état  en chiffres</span>
  </div><br><br>
  
    <div class="calendar-infos">
    <div class="calendar-infos-box">
      <div>
        <i class="fas fa-coins"></i>
      </div>
      <div>
        <%= number_with_delimiter(EtatBudget.last.budget_total.to_i, :delimiter => ' ') %> €<br>
        <span>Budget Total</span>
      </div>
    </div>
    <div class="calendar-infos-box">
      <div>
      <i class="fas fa-building"></i>
      </div>
      <div>
      5<br>
      <span>ouvrages MOA</span>
      </div>
    </div>
    <div class="calendar-infos-box">
      <div>
      <i class="fas fa-chart-pie"></i>
      </div>
      <div>
      25%<br>
        <span>Du budget des JOP2024</span>
      </div>
    </div>

  </div><br><br>
  <div class="calendar-infos">
    <div class="calendar-infos-box">
      <div>
         <i class="fas fa-euro-sign"></i>
      </div>
      <div>
        <%= number_with_delimiter(EtatDepense.all.sum('cp_conso').to_i, :delimiter => ' ') %> €<br>
        <span>Dépenses actuelles</span>
      </div>
    </div>
    <div class="calendar-infos-box">
      <div>
      <i class="fas fa-project-diagram"></i>
      </div>
      <div>
      4<br>
        <span>Poles de dépenses</span>
      </div>
    </div>
    <div class="calendar-infos-box">
      <div>
     <i class="fas fa-funnel-dollar"></i>
      </div>
      <div>
      60%<br>
      <span>Du budget de la Solideo </span>
      </div>
    </div>
    

  </div>
  <br><br>
</div>
<div class="SD-topo-box">
  <div class="SD-topo-box-title">
    <span>Répartition des dépenses état</span>
  </div><br>
  <div class="row">
    <div class="col-md-6">
       
      <div id="container-pie">
       
      </div>

  </div>
    <div class="col-md-6">   
    <% if !@etat_depenses.nil?%>
    <div id="container-column2">
      
    </div>
    <% end %>  
    </div>

  </div>
  

</div>
<% end %>

<script>
  $('.infos-details').hide();
  $('.info').mouseover(function() {
    $('.infos-details').show();
    })
  $('.info').mouseout(function() {
    $('.infos-details').hide();
    })

</script>

<script>
Highcharts.chart('container-column2', {
  chart:{
            type: 'column',
            backgroundColor: '#fff',  
            style:{
            fontFamily: "Spectral",  
              maxWidth: '500px',
            },
            
       
          },

     title: {
          text:'Budget dépensé à date par rapport au budget 2025 prévu',
          margin:40,
          style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
                  fontStyle: 'italic',
                  fontSize: '16px',
                  },
        },
  colors: ["#8f8f8f", '#48AF5C'],
    yAxis: {
      gridLineColor: '#fff', 
        title: {
            text: 'Total €'
        }
    },
  tooltip: {
      //  pointFormat: '{series.name}: <b>{point.y}</b><br/>',
        valueSuffix: '€',
        xDateFormat: '%Y',
    },
  xAxis:{
   categories: ["Solideo", "COJO", "Héritage","Haute Perfomance" ],
  },
    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
       
        },
      column: {
           pointWidth: 15,
           tooltip: {        
              backgroundColor: "#fff",        
              style: {
                  fontSize: '12px',     
              },    
             },
           },
         
    },

  

    series: [{
        name: 'Budget prévu',
        data: [<%= @etat_budget_actuel.budget_solideo.to_i %>,<%=@etat_budget_actuel.budget_cojo.to_i%>, <%= @etat_budget_actuel.budget_heritage.to_i%>, <%= @etat_budget_actuel.budget_hauteperformance.to_i %>],
    }, {
        name: 'Budget accordé',
        data: [<%= @etat_depenses_solideo.to_i %>,<%=@etat_depenses_cojo.to_i%>, <%= @etat_depenses_heritage.to_i%>, <%= @etat_depenses_hauteperformance.to_i %>],
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
</script>
<script>
Highcharts.chart('container-pie', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie',
        backgroundColor: '#fff',
          style:{
          fontFamily: "Spectral",
          maxWidth: "500px",
          }
    },
    title: {
         text:'Dépenses Totales Prévisionnelles (2018-2025)',   
          style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
                  fontStyle: "italic",
                  fontSize: '16px',
                  },
    },
  colors: ['#22e37b','#2e5d63', '#628859','#4a6a75'],
    tooltip: {
        pointFormat: '{series.name}: <b>{point.y:,.0f}€ </b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
           minSize: 200,
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b><br>{point.y:,.0f}€ - {point.percentage:.1f} %',
              style: {
                      color: "#8F8F8F",
                      fontSize: "11px",
                      fontWeight: "400",
                      fontStyle: "italic",
                      },
            }
        }
    },
    series: [{
        name: 'Total',
        colorByPoint: true,
        data: [{
            name: 'Solideo',
            y: <%= @etat_budget_actuel.budget_solideo.to_i%>,
            sliced: true,
            selected: true
        }, {
            name: 'COJO',
            y: <%= @etat_budget_actuel.budget_cojo.to_i%>,
        }, {
            name: 'Heritage',
            y: <%= @etat_budget_actuel.budget_heritage.to_i%>,
        }, {
            name: 'Haute Performance',
            y: <%= @etat_budget_actuel.budget_hauteperformance.to_i%>,
        }]
    }]
});
</script>