<div class="EB_page">

  <h1 class="EB_title">Le budget de l'Etat pour le COJO</h1>
  <div class="SD-topo-box">
    <div class="SD-topo-box-title">
      <span>Le Budget de l'état pour le cojo en chiffres</span>
    </div><br><br>
  </div>
   <div class="SD-topo-box">
  <div class="SD-topo-box-title">
    <span>Maquette annuelle des dépenses</span>
  </div><br><br>
    
    <div class="ED_table">
      <table>
        <thead>
          <tr>
            <th scope="col">Dates</th>
            
            <th scope="col">2018</th>
            <th scope="col">2019</th>
            <th scope="col">2020</th>
            <th scope="col">2021</th>
            <th scope="col">2022</th>
            <th scope="col">2023</th>
            <th scope="col">2024</th>
            <th scope="col" class="border-none">2025 </th>
          </tr>
        </thead>
        <tbody>
        
          <tr>
            <th scope="row">Maquette 2018</th>
              <td>X</td>
              <td>X</td>
              <td>X</td>
              <td>X</td>
              <td>X</td>
              <td>X</td>
              <td>X</td>
              <td>X</td>
           </tr>
          <tr>
            <th scope="row">Maquette 2019</th>
              <td>XX REEL</td>
              <td>X</td>
              <td>X</td>
              <td>X</td>
              <td>X</td>
              <td>X</td>
              <td>X</td>
              <td>X</td>
           </tr>
          <tr>
            <th scope="row">Maquette 2020</th>
              <td></td>
              <td>XX REEL</td>
              <td>X</td>
              <td>X</td>
              <td>X</td>
              <td>X</td>
              <td>X</td>
              <td>X</td>
           </tr>
        
        </tbody>
      </table>
    </div>
    <div>Commentaires évolution des maquettes </div>
  </div>
  
  <div class="SD-topo-box">
  <div class="SD-topo-box-title">
    <span>Détails des dépenses</span>
  </div><br><br>
    <div class="row">
     <div class="col-md-6">
        
      <%= line_chart [{name: "AE prévus", data: @etat_depenses.unscope(:order).group_by_year(:date).sum(:ae_prevu)},{name: "AE consommés", data: @etat_depenses.unscope(:order).group_by_year(:date).sum(:ae_conso)}],colors: ['#8F8F8F','#48AF5C'],  library: {
        chart:{
          backgroundColor: '#fff',
          borderRadius: '20px',
         
          style:{
          fontFamily: "Marianne Regular",
         
          },
        },
        title: {
          text: 'AE prévus VS AE consommés',
          style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
            fontStyle: 'italic',
            fontSize: '16px',
                  },
        },
        yAxis: {
             gridLineColor: '#fff',         
        },
        tooltip: {
              xDateFormat: '%B',
            },
        xAxis: {
             lineColor: '#004A70',
             type: 'datetime',
            
              title: {
              text: "Dates",
             },

         },
        plotOptions: {
          column: {
              tooltip: {
                xDateFormat: '%B',
              }
          }
        },
       
        }
      %>
             
     </div>
     <div class="col-md-6">

      <%= line_chart [{name: "CP prévus", data: @etat_depenses.unscope(:order).group_by_year(:date).sum(:cp_prevu)},{name: "CP consommés", data: @etat_depenses.unscope(:order).group_by_year(:date).sum(:cp_conso)}],colors: ['#8F8F8F','#48AF5C'],  library: {
        chart:{
          backgroundColor: '#fff',
          borderRadius: '20px',
          style:{
          fontFamily: "Marianne Regular",
         
          },
        },
        title: {
          text: 'CP prévus VS CP consommés',
          style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
            fontStyle: 'italic',
            fontSize: '16px',
                  },
        },
        yAxis: {
             gridLineColor: '#fff',         
        },
        tooltip: {
              xDateFormat: '%B',
            },
        xAxis: {
             lineColor: '#004A70',
             type: 'datetime',
            
              title: {
              text: "Dates",
             },

         },
        plotOptions: {
          column: {
              tooltip: {
                xDateFormat: '%B',
              }
          }
        },
       
        }
      %>
             
     </div>
  </div>
    <br>
    <div class="ED_table_filtres">
      <a type="button" data-toggle="modal" data-target="#filtres" ><i class="fas fa-sliders-h"></i> Filtrer </a>
    </div>
    <div class="ED_table">
      <table>
        <thead>
          <tr>
            <th scope="col">Dates</th>
            
            <th scope="col">Titre</th>
            <th scope="col">Catégorie</th>
            <th scope="col">AE prévus</th>
            <th scope="col">AE consommés</th>
            <th scope="col">CP prévus</th>
            <th scope="col">CP consommés</th>
            <th scope="col" class="border-none"> </th>
          </tr>
        </thead>
        <tbody>
          <% if !@etat_depenses.nil?%>
          <% @etat_depenses.each do |etat_depense| %>
          <tr>
            <th scope="row"><%= etat_depense.date.strftime("%Y") %></th>
          
            <td><%= etat_depense.titre %></td>
            <td><%= etat_depense.categorie %></td>
            <td><%= number_with_delimiter(etat_depense.ae_prevu.to_i, :delimiter => ' ') %> €</td>
            <td><%= number_with_delimiter(etat_depense.ae_conso.to_i, :delimiter => ' ') %> € <% if etat_depense.ae_conso.to_i > etat_depense.ae_prevu.to_i %><i class="fas fa-exclamation-circle"></i><% end %></td>
            <td><%= number_with_delimiter(etat_depense.cp_prevu.to_i, :delimiter => ' ') %> €</td>
            <td><%= number_with_delimiter(etat_depense.cp_conso.to_i, :delimiter => ' ') %> € <% if etat_depense.cp_conso.to_i > etat_depense.cp_prevu.to_i %><i class="fas fa-exclamation-circle"></i><% end %></td>
            <td class="border-none"> <%= link_to edit_etat_depense_path(etat_depense) do %> <i class="fas fa-pen"></i><% end %>
            <%= link_to etat_depense, method: :delete, data: {confirm: "confirmer la suppression?"} do %> <i class="fas fa-trash-alt"></i><% end %></td>
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  
</div>
<script>

  $('.menu-budget-cojo').addClass('menu-active2'); 
  $('.menu-budget-etat').addClass('menu-active'); 

  $('#MonCollapse2').addClass('in'); 

</script>