<%= form_with(model: etat_depense, local: true) do |form| %>
  <% if etat_depense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(etat_depense.errors.count, "error") %> prohibited this etat_depense from being saved:</h2>

      <ul>
      <% etat_depense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :beneficiaire %>
    <%= form.select :beneficiaire, [["Solideo","solideo"],["Cojo", "cojo"],["Haute Performance","hauteperformance"], ["Héritage","heritage"]] %>
  </div>

  <div class="field">
    <%= form.label :titre %>
    <%= form.select :titre, [["1",1],["2",2],["3",3],["4",4],["5",5],["6",6],["7",7]] %>
  </div>

  <div class="field">
    <%= form.label :categorie %>
    <%= form.number_field :categorie %>
  </div>

  <div class="field">
    <%= form.label :ae_prevu %>
    <%= form.text_field :ae_prevu %>
  </div>

  <div class="field">
    <%= form.label :ae_conso %>
    <%= form.text_field :ae_conso %>
  </div>

  <div class="field">
    <%= form.label :cp_prevu %>
    <%= form.text_field :cp_prevu %>
  </div>

  <div class="field">
    <%= form.label :cp_conso %>
    <%= form.text_field :cp_conso %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
