
<div  class="table-box">

<% if !@etat_depenses.nil? %>

    <div class="ED_table_filtres">
      <a type="button" data-toggle="modal" data-target="#filtres" >Filtrer <i class="fas fa-sliders-h"></i></a>
    </div>
    <div class="ED_table">
      <table>
        <thead>
          <tr>
            <th scope="col">Dates</th>
            <th scope="col">Bénéficiaire</th>
            <th scope="col">Titre</th>
            <th scope="col">Catégorie</th>
            <th scope="col">AE prévus</th>
            <th scope="col">AE consommés</th>
            <th scope="col">CP prévus</th>
            <th scope="col">CP consommés</th>
            <th scope="col" class="border-none"> </th>
          </tr>
        </thead>
        <tbody>
          <% @etat_depenses.each do |etat_depense| %>
          <tr>
            <th scope="row"><%= etat_depense.date.strftime("%Y") %></th>
            <td><%= etat_depense.beneficiaire %></td>
            <td><%= etat_depense.titre %></td>
            <td><%= etat_depense.categorie %></td>
            <td><%= number_with_delimiter(etat_depense.ae_prevu.to_i, :delimiter => ' ') %> €</td>
            <td><%= number_with_delimiter(etat_depense.ae_conso.to_i, :delimiter => ' ') %> €</td>
            <td><%= number_with_delimiter(etat_depense.cp_prevu.to_i, :delimiter => ' ') %> €</td>
            <td><%= number_with_delimiter(etat_depense.cp_conso.to_i, :delimiter => ' ') %> €</td>
            <td class="border-none"> <%= link_to edit_etat_depense_path(etat_depense) do %> <i class="fas fa-pen"></i><% end %>
            <%= link_to etat_depense, method: :delete, data: {confirm: "confirmer la suppression?"} do %> <i class="fas fa-trash-alt"></i><% end %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div>
      Aucune dépense renseignée
    </div>
  <%end%>
 
    <div class="ED_new_depense">
    <%= link_to new_etat_depense_path do %><i class="fas fa-plus-circle"></i>Ajouter une dépense<%end%>
  </div> 
</div>