<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @etat_depense.date %>
</p>

<p>
  <strong>Beneficiaire:</strong>
  <%= @etat_depense.beneficiaire %>
</p>

<p>
  <strong>Titre:</strong>
  <%= @etat_depense.titre %>
</p>

<p>
  <strong>Categorie:</strong>
  <%= @etat_depense.categorie %>
</p>

<p>
  <strong>Ae prevu:</strong>
  <%= @etat_depense.ae_prevu %>
</p>

<p>
  <strong>Ae conso:</strong>
  <%= @etat_depense.ae_conso %>
</p>

<p>
  <strong>Cp prevu:</strong>
  <%= @etat_depense.cp_prevu %>
</p>

<p>
  <strong>Cp conso:</strong>
  <%= @etat_depense.cp_conso %>
</p>

<%= link_to 'Edit', edit_etat_depense_path(@etat_depense) %> |
<%= link_to 'Back', etat_depenses_path %>
