
<div class='background'>
<%= render 'layouts/navigation_public'%> 
</div>
<div class='background'>
  <div class="page-public">
    <div class="i40 visible-xs visible-sm"></div>
    <div class="i40"></div>
    <div class="ED_new_form_box">
       
      <h1 class="logo_connexion"><%= image_tag 'logo_datalympics_blanc.png'%></h1>
      <div class="i40"></div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render 'shared/devise_errors' %>
        <div class="form">
          <%= f.label :email, "Adresse mail" %>
          <%= f.email_field :email,required: true, autofocus: true, autocomplete: "email",class:"form-field", id: "form-field1" %>
        </div>
        <div class="i24"></div>
        <div class="form">
          <%= f.label :password %>
          <%= f.password_field :password,required: true, autocomplete: "current-password",class:"form-field", id: "form-field2" %>
        </div>

        <div class="i40"></div>
        <div class="text-center">
          <%= f.submit "Connexion", class:"bouton_inactif" %>
        </div>
        <div class="i24"></div>
      <% end %>
    </div>
    <div class="i40"></div>
 
  </div>
</div>

<div class='background'>
<%= render 'layouts/footer'%> 
</div>
<script>
 
 $(document).ready(function(e) {
 
  $('#form-field1').keyup(function() {
 
    var nombreCaractere = $(this).val().length;
    var nombreCaractere2 = $('#form-field2').val().length;

 
    if ( nombreCaractere > 0 && nombreCaractere2 > 0 ){
     $(".bouton_inactif").addClass("bouton");
     }
 
  });
   
   $('#form-field2').keyup(function() {
 
    var nombreCaractere = $(this).val().length;
    var nombreCaractere2 = $('#form-field1').val().length;

 
    if ( nombreCaractere > 0 && nombreCaractere2 > 0 ){
     $(".bouton_inactif").addClass("bouton");
     }
 
  });
 
});
   

</script>