<div class="mxw1 pd32 ma">
  <div class="i24"></div>
  <div class="c2 fw6 fs40 tc">Budget fond d'innovation </div>
    <div class="i12"></div>
  <div class="c2 fw4 fs20 tc">Dernière mise à jour : 2 juin 2021</div>
  <div class="i40"></div>

  <div class="row">
      <div class="col-md-6">
          <div class="w100 bckc1 br20 bs pd24">
          <div><span class="fs16 fw7 pdt c0 bckc2 tupp">BUDGET EN CHIFFRES</span></div>
        <div class="i24"></div>
          
          <div class="row">
            <div class="col-md-5">
              <div>
                    <div class="c1 fs20 fw7"><%= (Innovation.all.sum('dotation')/1000000).round %>M€</div>
                    <div class="i8"></div>
                    <div class="fw5 fs14 c6">Dotations votées</div>
                  </div>
                  <div class="i16"></div>
              <div>
                    <div class="c1 fs20 fw7"><%= (36-(Innovation.all.sum('dotation')/1000000).round) %> M€</div>
                    <div class="i8"></div>
                    <div class="fw5 fs14 c6">Fonds non consommés à date</div>
                  </div>
                  
                  
            </div>
              <div class="col-md-7">
                <div id="budget"></div>
              </div>
              
          </div>
          <div id="budget2"></div>                      
          </div>
        
      </div>
        <div class="col-md-6"> 
          <div class="w100 bckc1 br20 bs pd24">
          <div><span class="fs16 fw7 pdt c0 bckc2 tupp">LES FINANCEMENTS</span></div>
        <div class="i24"></div>
          
          <div class="row">
              <div class="col-md-12">
                <div id="financements"></div>
              </div>
          </div>                      
          </div>
         
        </div>
    </div>


  <div class="i24"></div>

  <div class="pd32 br20 bs bckc1">  
    <div><span class="fs16 fw7 pdt c0 bckc2 tupp">Cartographie des projets</span></div>
    <div class="i24"></div>
      <div class="row">
        <div class="col-md-7">
          <div id="projets"></div>
        </div>
        <div class="col-md-5">
          <div id="pie"></div>
        </div>
      </div>
      <div class="i24"></div>
      <%= render 'liste_innovation'%>
  </div>

   <div class="i24"></div>

  <div class="pd32 br20 bs bckc1 pr">  
    <div><span class="fs16 fw7 pdt c0 bckc2 tupp">Suivi échéancier par projet</span></div>
    <div class="i24"></div>
    <% @ouvrages.each_with_index do |ouvrage,i|%>
      <div class="ouvrages-mo"><%= ouvrage.name%></div>
      <div class="i24"></div>
      <% ouvrage.innovations.each_with_index do |innovation,j|%>
        <div class="fs14 c2"><button class="navbar-toggler bn bckc1 c1" type="button" data-toggle="collapse" data-target="#sidebar<%=innovation.id%>" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation"><span class="fw7"><%= innovation.ouvrage.name %></span> - <%= innovation.nom%> </button></div>
        <div class="fs10 c6 hidden">Dotation Totale : <%= number_with_delimiter(innovation.dotation.to_i, :delimiter => ' ')%>€</div>
        <div id="container-steps<%=i%><%=j%>"></div> 
        <script>
        Highcharts.chart('container-steps<%=i%><%=j%>', {
            chart: {
                zoomType: 'x',
                type: 'timeline',
                style:{
                fontFamily: "Marianne Regular",
                },
                height:'120px',
                spacing: [0,0,0,0],

            },
            xAxis: {
                type: 'datetime',
                visible: false
            },
            yAxis: {
                gridLineWidth: 1,
                title: null,
                labels: {
                    enabled: false
                }
            },

            legend: {
                enabled: false
            },
            title: {
                text: null,
            },

            tooltip: {
                style: {
                    width: 300
                },
                
                useHTML: true,
                borderColor: 'transparent',
                borderRadius: 16,
                backgroundColor: '#fff',

            },
            series: [{
                zones: [{
                  value: Date.UTC(2021, 1, 1),
                  color: '#466964'
                }, {
                  color: '#cecece'
                }],
                zoneAxis: 'x',
                dataLabels: {
                  distance: -30,

                  borderColor: 'transparent',
                  borderRadius: 16,
                  backgroundColor: '#fff',
                  alternate : false,
                    allowOverlap: false,
                    format: '<span style="color:{point.color}">● </span><span style="font-weight: bold;" > ' +
                        '{point.x:%Y}</span><br/>{point.description}'
                },
                marker: {
                    symbol: 'circle'
                },
                data: [{
                    x: Date.UTC(2020, 1, 1),
                    name: '2020',
                    label: '2020',
                    description: "<%= number_with_delimiter(innovation.echeancierinnovations.where('date = ?', Date.new(2020,1,1)).first.montant.to_i, :delimiter => ' ') %>€ ",
                    color:'#466964',
                    dataLabels: {
                      connectorColor: '#466964',
                    },
                }, {
                    x: Date.UTC(2021, 1, 1),
                    name: '2021',
                    label: '2021',
                    description: "<%= number_with_delimiter(innovation.echeancierinnovations.where('date = ?', Date.new(2021,1,1)).first.montant.to_i, :delimiter => ' ') %>€ ",
                    color:'#466964',
                    dataLabels: {
                      connectorColor: '#466964',
                    },
                }, {
                    x: Date.UTC(2022, 1, 1),
                    name: '2022',
                    label: '2022',
                    description: "<%= number_with_delimiter(innovation.echeancierinnovations.where('date = ?', Date.new(2022,1,1)).first.montant.to_i, :delimiter => ' ') %>€ ",
                    color:'#CECECE',
                    dataLabels: {
                      connectorColor: '#CECECE',
                    },
                }, {
                    x: Date.UTC(2023, 1, 1),
                    name: '2023',
                    label: '2023',
                    description: "<%= number_with_delimiter(innovation.echeancierinnovations.where('date = ?', Date.new(2023,1,1)).first.montant.to_i, :delimiter => ' ') %>€ ",
                    color:'#CECECE',
                    dataLabels: {
                      connectorColor: '#CECECE',
                    },
                }, {
                    x: Date.UTC(2024, 1, 1),
                    name: '2024',
                    label: '2024',
                    description: "<%= number_with_delimiter(innovation.echeancierinnovations.where('date = ?', Date.new(2024,1,1)).first.montant.to_i, :delimiter => ' ') %>€ ",
                    color:'#CECECE',
                    dataLabels: {
                      connectorColor: '#CECECE',
                    },
                }]
            }]
        });
        </script>
        <div class="collapse sidebar navigation-fixed bs" id="sidebar<%=innovation.id%>">
          <div class="sidebar2-box">
          <div class="pd32">
          <div class="close-sidebar">Fermer</div>
          <div class="i40"></div>
          <div class="fs18 c2 fw8"><%= innovation.nom%> </div>
          <div class="fs16 c2"><%= innovation.ouvrage.name%> </div>  
          
          <div class="i24"></div>
          <div class="fs14 c2 fw8">Description</div>
          <div class="i12"></div>
          <div class="fs14 c2">Blablablablaba</div>
          <div class="i24"></div>
          <div class="fs14 c2 fw8">Type innovation</div>
          <div class="fs14 c2"><div class="O-span"><% if innovation.typeinnovations.count > 0 %><% innovation.typeinnovations.each do |type|%><span><% if type.categorie == "Excellence environnementale"%><i class="fas fa-circle fa-circle-env"></i><% elsif type.categorie == "Innovation technologique"%><i class="fas fa-circle fa-circle-tech"></i><%else%><i class="fas fa-circle fa-circle-acc"></i><%end%> <%= type.categorie%></span><% end %><%end%></div></div>
          <div class="i24"></div>
          <div class="fs14 c2 fw8">Montant de la dotation</div>
          <div class="fs14 c2"><%= number_with_delimiter(innovation.dotation.to_i, :delimiter => ' ')%>€</div>
          <div class="i24"></div>
          <div class="fs14 c2 fw8">Suivi du budget</div>
          <div id="container-steps2<%=i%><%=j%>"></div> 
          <script>
          Highcharts.chart('container-steps2<%=i%><%=j%>', {
              chart: {
                  zoomType: 'x',
                  type: 'timeline',
                  style:{
                  fontFamily: "Marianne Regular",
                  },
                  height:'120px',
                  spacing: [0,0,0,0],

              },
              xAxis: {
                  type: 'datetime',
                  visible: false
              },
              yAxis: {
                  gridLineWidth: 1,
                  title: null,
                  labels: {
                      enabled: false
                  }
              },

              legend: {
                  enabled: false
              },
              title: {
                  text: null,
              },

              tooltip: {
                  style: {
                      width: 300
                  },
                  
                  useHTML: true,
                  borderColor: 'transparent',
                  borderRadius: 16,
                  backgroundColor: '#fff',

              },
              series: [{
                  zones: [{
                    value: Date.UTC(2021, 1, 1),
                    color: '#466964'
                  }, {
                    color: '#cecece'
                  }],
                  zoneAxis: 'x',
                  dataLabels: {
                    distance: -30,

                    borderColor: 'transparent',
                    borderRadius: 16,
                    backgroundColor: '#fff',
                    alternate : false,
                      allowOverlap: false,
                      format: '<span style="color:{point.color}">● </span><span style="font-weight: bold;" > ' +
                          '{point.x:%Y}</span><br/>{point.description}'
                  },
                  marker: {
                      symbol: 'circle'
                  },
                  data: [{
                      x: Date.UTC(2020, 1, 1),
                      name: '2020',
                      label: '2020',
                      description: "<%= number_with_delimiter(innovation.echeancierinnovations.where('date = ?', Date.new(2020,1,1)).first.montant.to_i, :delimiter => ' ') %>€ ",
                      color:'#466964',
                      dataLabels: {
                        connectorColor: '#466964',
                      },
                  }, {
                      x: Date.UTC(2021, 1, 1),
                      name: '2021',
                      label: '2021',
                      description: "<%= number_with_delimiter(innovation.echeancierinnovations.where('date = ?', Date.new(2021,1,1)).first.montant.to_i, :delimiter => ' ') %>€ ",
                      color:'#466964',
                      dataLabels: {
                        connectorColor: '#466964',
                      },
                  }, {
                      x: Date.UTC(2022, 1, 1),
                      name: '2022',
                      label: '2022',
                      description: "<%= number_with_delimiter(innovation.echeancierinnovations.where('date = ?', Date.new(2022,1,1)).first.montant.to_i, :delimiter => ' ') %>€ ",
                      color:'#CECECE',
                      dataLabels: {
                        connectorColor: '#CECECE',
                      },
                  }, {
                      x: Date.UTC(2023, 1, 1),
                      name: '2023',
                      label: '2023',
                      description: "<%= number_with_delimiter(innovation.echeancierinnovations.where('date = ?', Date.new(2023,1,1)).first.montant.to_i, :delimiter => ' ') %>€ ",
                      color:'#CECECE',
                      dataLabels: {
                        connectorColor: '#CECECE',
                      },
                  }, {
                      x: Date.UTC(2024, 1, 1),
                      name: '2024',
                      label: '2024',
                      description: "<%= number_with_delimiter(innovation.echeancierinnovations.where('date = ?', Date.new(2024,1,1)).first.montant.to_i, :delimiter => ' ') %>€ ",
                      color:'#CECECE',
                      dataLabels: {
                        connectorColor: '#CECECE',
                      },
                  }]
              }]
          });
          </script>
          <div class="i24"></div>
          <div class="fs14 c2 fw8">Entreprises ? </div>
          </div>
          </div>
        </div>
        <script>
          $(".close-sidebar").on("click",function(){
            $('.sidebar').removeClass('in');
          });
        </script>
      <% end %>
      <div class="i24"></div>
    <% end %>
    
    </div>

  </div>



</div>



<script>
  $('.menu-innovation').addClass('menu-active'); 
</script>
<script>
Highcharts.chart('budget', {
  chart: {
        type: 'solidgauge',
        height: '200px',
          spacingTop: 0,
          style:{
            fontFamily: "Marianne Regular",
          },
    },

    title: {
    text: 'Consommation (M€)',
        verticalAlign: "top",
        style: {
                color: "#8F8F8F",
                fontWeight: "400",        
              fontSize: '12px',
                  },
    },

    pane: {
        //center: ['50%', '50%'],
        size: '100%',
        startAngle: -90,
        endAngle: 90,
        background: {
            backgroundColor:'#C4C4C4',
            innerRadius: '80%',
            outerRadius: '100%',
            shape: 'arc'
        }
    },

    exporting: {
        enabled: false
    },

    tooltip: {
        enabled: false
    },

    // the value axis
    yAxis: {
        stops: [
            [0.1, '#20E37B'], // green
            [0.5, '#20E37B'], // yellow
            [0.9, '#F1013B'] // red
        ],
        lineWidth: 0,
        tickWidth: 0,
        minorTickInterval: null,
        tickAmount: 2,
        tickPositions: [0, 36],
        min: 0,
        max: 36,
        title: {
          text: null,
            y: 100,
        },
        labels: {
            y: 16,
            ormat: '{value:.0f}M€',
        }
    },

    plotOptions: {
        solidgauge: {
            dataLabels: {
                y: 5,
                borderWidth: 0,
                useHTML: true
            }
        }
    },

    credits: {
        enabled: false
    },

    series: [{
        name: 'Fonds investis',
        data: [<%= (Echeancierinnovation.where('date <= ?',Date.today).sum('montant')/1000000).round %>],
        innerRadius: '80%',
      
        dataLabels: {
          enabled: true,
          y:-50,
            format:
                '<div style="text-align:center">' +
                '<span style="font-size:20px">'+<%=((Echeancierinnovation.where('date <= ?',Date.today).sum('montant')/10000)/36).round%>+'%</span><br/>' +
                '<span style="font-size:12px;opacity:0.7">'+<%=(Echeancierinnovation.where('date <= ?',Date.today).sum('montant')/1000000).round%>+' M€</span>' +
                '</div>'
        },
        tooltip: {
            valueSuffix: ' %'
        }
    }],
});
</script>

<script>
 Highcharts.chart('financements', {
    chart: {
        type: 'column',
        height:400,
        style:{
            fontFamily: "Marianne Regular",
          maxWidth: '500px',
          },
    },
    title: {
        text: "Répartition des Financements",
        verticalAlign: "top",
        style: {
                color: "#8F8F8F",
                fontWeight: "400",
            fontSize: '12px',
                  },
    },
    colors: ['#20E37B'],
    xAxis: {
        categories:  ["État", "Région IdF", "Ville de Paris", "CD 93", "Plaine co", "MGP", "Terre d'envol",],
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        gridLineColor: '#fff', 
        title: {
            text: 'Montant (k€)',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' millions',
        borderColor: 'transparent',
      borderRadius: 16,
      backgroundColor: '#fff',
    },
    legend: {
      enabled: false,
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true,
            }
        }
    },
    
    credits: {
        enabled: false
    },
    series: [{
        name: 'Budget',
        data: [{y: 23382, color: "#2E5D63",dataLabels: {
                      enabled: true,
                      inside: false,
                    crop:false,
                    overflow:'allow',}}, 
        {y: 10000, color: "#C68D7B",dataLabels: {
                      enabled: true,
                      inside: false,
                    crop:false,
                    overflow:'allow',}}, 
        {y: 10000, color: "#20E37B",dataLabels: {
                      enabled: true,
                      inside: false,
                    crop:false,
                    overflow:'allow',}}, 
        {y: 2018, color: "#5770BE",dataLabels: {
                      enabled: true,
                      inside: false,
                    crop:false,
                    overflow:'allow',}}, 
        {y: 1400, color: "#76505B",dataLabels: {
                      enabled: true,
                      inside: false,
                    crop:false,
                    overflow:'allow',}}, 
        {y: 600, color: "#DDE10F",dataLabels: {
                      enabled: true,
                      inside: false,
                    crop:false,
                    overflow:'allow',}},
        {y: 500, color: "#4FC5CE",dataLabels: {
                      enabled: true,
                      inside: false,
                    crop:false,
                    overflow:'allow',}},  
     ],
  }],
});
  </script>
<script>
 Highcharts.chart('budget2', {
    chart: {
        type: 'column',
        height:200,
        style:{
            fontFamily: "Marianne Regular",
          maxWidth: '500px',
          },
    },
    title: {
        text: "Suivi de la consommation (k€)",
        verticalAlign: "top",
        style: {
                color: "#8F8F8F",
                fontWeight: "400",
            fontSize: '12px',
                  },
    },
    colors: ['#20E37B'],
    xAxis: {
        categories:  ["2020", "2021", "2022", "2023", "2024"],
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        gridLineColor: '#fff', 
        title: {
            text: 'Montant (k€)',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' millions',
        borderColor: 'transparent',
      borderRadius: 16,
      backgroundColor: '#fff',
    },
    legend: {
      enabled: false,
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true,
            }
        }
    },
    
    credits: {
        enabled: false
    },
    series: [{
        name: 'Budget',
        data: [{y: <%= (Echeancierinnovation.where('date = ?',Date.new(2020,1,1)).sum('montant')/1000).round %>, color: "#20E37B",dataLabels: {
                      enabled: true,
                      inside: false,
                    crop:false,
                    overflow:'allow',}}, 
        {y: <%= (Echeancierinnovation.where('date = ?',Date.new(2021,1,1)).sum('montant')/1000).round%>, color: "#20E37B",dataLabels: {
                      enabled: true,
                      inside: false,
                    crop:false,
                    overflow:'allow',}}, 
        {y: <%= (Echeancierinnovation.where('date = ?',Date.new(2022,1,1)).sum('montant')/1000).round%>, color: "#C4C4C4",dataLabels: {
                      enabled: true,
                      inside: false,
                    crop:false,
                    overflow:'allow',}}, 
        {y: <%= (Echeancierinnovation.where('date = ?',Date.new(2023,1,1)).sum('montant')/1000).round%>, color: "#C4C4C4",dataLabels: {
                      enabled: true,
                      inside: false,
                    crop:false,
                    overflow:'allow',}}, 
        {y: <%= (Echeancierinnovation.where('date = ?',Date.new(2024,1,1)).sum('montant')/1000).round %>, color: "#C4C4C4",dataLabels: {
                      enabled: true,
                      inside: false,
                    crop:false,
                    overflow:'allow',}}, 
     ],
  }],
});
  </script>
<script>
 Highcharts.chart('projets', {
    chart: {
        type: 'column',
        height:250,
        style:{
            fontFamily: "Marianne Regular",
          },
    },
    title: {
        text: null,
        verticalAlign: "top",
        style: {
                color: "#8F8F8F",
                fontWeight: "400",
            fontSize: '12px',
                  },
    },
    colors: ['#20E37B'],
    xAxis: {
        //categories:  ["CAO", "Franchissement P.Larousse", "Secteur D - Nexity", "Batiment Cycle", "Arena 2", 'Espaces publics VOP'],
        categories: [<% @ouvrages.each do |ouvrage|%>"<%= ouvrage.name%>",<%end%>],
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        gridLineColor: '#fff', 
        title: {
            text: 'Montant (€)',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' €',
        borderColor: 'transparent',
      borderRadius: 16,
      backgroundColor: '#fff',
    },
    legend: {
      enabled: false,
    },
    plotOptions: {
        column: {
          stacking: 'normal',
            dataLabels: {
                enabled: false,
            },
            pointWidth: 20,
        },
    },
    
    credits: {
        enabled: false
    },

    series: [
    <% @ouvrages.each_with_index do |ouvrage,i|%>
      <% ouvrage.innovations.each_with_index do |innovation,j|%>
        {
          name: "<%=innovation.nom%>",
          stack: "<%= ouvrage.name%>",

          <% if i == 0 %>
          color:"#466964",
          <%elsif i == 1 %>
          color:"#D08A77",
          <% elsif i == 2 %>
          color:"#20E37B",
          <% elsif i == 3 %>
          color:"#5770BE",
          <% elsif i == 4 %>
          color:"#BFBFBF",
          <% elsif i == 5 %>
          color:"#F1013B",
          <% elsif i == 6 %>
          color:"#FFE800",
          <% end %>
          opacity: 1-<%=0.15*j%>,
          data: [{x:<%=i%>,y: <%= innovation.dotation.to_i%>}],
        },
      <% end %>
    <% end %>
   ],
});
  </script>
<script>
Highcharts.chart('pie', {
  chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie',
        backgroundColor: '#fff',
          style:{
          fontFamily: "Marianne Regular",
       
          },
    height: 250,
    },
  title: {
         text:null,   
          style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
                  fontStyle: "italic",
                  fontSize: '16px',
                  },
    },
  colors: ['#00AC8C',"#FFE800",'#4FC5CE'],
  legend: {
      enabled: true,
    },
  tooltip: {
        pointFormat: '{series.name}: <b>{point.y} projets </b>',
      borderColor: 'transparent',
   borderRadius: 16,
   backgroundColor: '#fff',
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
           size: 100,
            dataLabels: {
                enabled: true,
              connectorPadding: 0,
             // distance: 10,
                format: '<b>{point.name}</b><br>{point.y} projets',
              style: {
                      color: "#8F8F8F",
                      fontSize: "11px",
                      fontWeight: "400",
                      fontStyle: "italic",
                      },
            }
        }
    },
    series: [{
        name: 'Total',
        colorByPoint: true,
        data: [{
            name: 'Innovation technologique',
            y:  <%= Typeinnovation.where('categorie = ?','Innovation technologique').count%>,
           
        }, {
            name: 'Excellence environnementale',
            y: <%= Typeinnovation.where('categorie = ?','Excellence environnementale').count%>,
        }, {
            name: 'Innovation accessibilité',
            y: <%= Typeinnovation.where('categorie = ?','Accessibilité').count%>,
        }]
    }]
});
</script>
