<%= form_with(model: ouvrages_depense, local: true) do |form| %>
  <% if ouvrages_depense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ouvrages_depense.errors.count, "error") %> prohibited this ouvrages_depense from being saved:</h2>

      <ul>
      <% ouvrages_depense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :ouvrage_id %>
    <%= form.text_field :ouvrage_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :montant %>
    <%= form.text_field :montant %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
