<% if !Maquette.where('date = ?', Date.new(2018,6,18)).first.nil?%>
<div class="SD_page">
 
  <h1 class="SD_title SD_title2">Maquette financière </h1>
  <h1 class="SD_subtitle">Dernière mise à jour : 8 février 2021</h1>
  
   <div id="budget-ouvrages">

    <div class="SD-table-box" >
      <div class="SD-topo-box-title">
        <span>Évolution de la maquette budgétaire</span>
      </div><br><br>
      <div id="container-chart">

      </div><br>
   
      <div class="chart-budget-date">Mise à jour 14 janvier 2021 </div>

      <div class="chart-budget-box">
        <div class="chart-budget-col-title chart-budget-col-title-total">ECART TOTAL  <span><%= number_with_delimiter((@maquette_budget_nouveau+@maquette_budget_augmentation+@maquette_budget_diminution+@maquette_ecart_reserve).to_i, :delimiter => ' ') %> €</span></div>
        
        <div class="chart-budget-col-title"><a href="#MonCollapse-augmentation" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="MonCollapse-augmentation" >Augmentation <i class="fas fa-angle-down"></i> <span class="budget-positif"><%= number_with_delimiter((@maquette_budget_nouveau+@maquette_budget_augmentation).to_i, :delimiter => ' ') %> €</span></a></div>
        <section id="MonCollapse-augmentation" class="collapse">
          <div class="chart-budget-col-subtitle chart-budget-col-title-total"><a href="#MonCollapse-augmentation-ouvrages" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="MonCollapse-augmentation-ouvrages" >Nouveaux ouvrages <i class="fas fa-angle-down"></i>  <span class="budget-positif"><%= number_with_delimiter(@maquette_budget_nouveau.to_i, :delimiter => ' ') %> €</span></a></div>
            <section id="MonCollapse-augmentation-ouvrages" class="collapse">
             <% @maquette_ouvrages.each do |name|%>
              <% if !Maquette.where('name = ? AND date = ?', name, Date.new(2018,6,18)).first.nil? && Maquette.where('name = ? AND date = ?', name, Date.new(2018,6,18)).first.total_public == 0 && Maquette.where('name = ? AND date = ?', name, Date.new(2021,1,14)).first.total_public != 0%>
              <div class="chart-budget-col-text"><%= name %> <span class="budget-positif"><%= number_with_delimiter(Maquette.where('name = ? AND date = ?', name, Date.new(2021,1,14)).first.total_public, :delimiter => ' ')  %> €</span></div> 
              <% end %>
              <% end %>
            </section>
          
          
          <div class="chart-budget-col-subtitle chart-budget-col-title-total"><a href="#MonCollapse-augmentation-compl" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="MonCollapse-augmentation-compl" >Besoins complémentaires<i class="fas fa-angle-down"></i>  <span class="budget-positif"><%= number_with_delimiter(@maquette_budget_augmentation.to_i, :delimiter => ' ') %> €</span></a></div>
          <section id="MonCollapse-augmentation-compl" class="collapse">
          <% @maquette_ouvrages.each do |name|%>
          <% if !Maquette.where('name = ? AND date = ?', name, Date.new(2018,6,18)).first.nil? && Maquette.where('name = ? AND date = ?', name, Date.new(2018,6,18)).first.total_public != 0 && Maquette.where('name = ? AND date = ?', name, Date.new(2018,6,18)).first.total_public < Maquette.where('name = ? AND date = ?', name, Date.new(2021,1,14)).first.total_public%>
              <div class="chart-budget-col-text"><%= name %> <span class="budget-positif"><%= number_with_delimiter((-Maquette.where('name = ? AND date = ?', name, Date.new(2018,6,18)).first.total_public + Maquette.where('name = ? AND date = ?', name, Date.new(2021,1,14)).first.total_public).to_i, :delimiter => ' ') %> €</span></div> 
     
          <% end %>
          <% end %>
            </section>
        </section>
        
        <div class="chart-budget-col-title"><a href="#MonCollapse-augmentation-diminution" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="MonCollapse-augmentation-diminution" >Diminution <i class="fas fa-angle-down"></i> <span class="budget-negatif"><%= number_with_delimiter(@maquette_budget_diminution.to_i, :delimiter => ' ') %> €</span> </a></div>
        <section id="MonCollapse-augmentation-diminution" class="collapse">
          <% @maquette_ouvrages.each do |name|%>
          <% if !Maquette.where('name = ? AND date = ?', name, Date.new(2018,6,18)).first.nil? && Maquette.where('name = ? AND date = ?', name, Date.new(2018,6,18)).first.total_public != 0 && Maquette.where('name = ? AND date = ?', name, Date.new(2018,6,18)).first.total_public > Maquette.where('name = ? AND date = ?', name, Date.new(2021,1,14)).first.total_public%>
              <div class="chart-budget-col-text"><%= name %> <span class="budget-negatif"><%= number_with_delimiter((-Maquette.where('name = ? AND date = ?', name, Date.new(2018,6,18)).first.total_public + Maquette.where('name = ? AND date = ?', name, Date.new(2021,1,14)).first.total_public).to_i, :delimiter => ' ') %> €</span></div> 
     
          <% end %>
          <% end %>
          <div class="chart-budget-col-text">Voies Olympiques [Réserve] <span class="budget-negatif"><%= number_with_delimiter((-Maquette.where('name = ? AND date = ?', "Voies Olympiques [Réserve]", Date.new(2018,6,18)).first.total_public + Maquette.where('name = ? AND date = ?', "Voies Olympiques [Réserve]", Date.new(2021,1,14)).first.total_public).to_i, :delimiter => ' ')%> €</span></div>  
              <div class="chart-budget-col-text">Stade de France [Pertes d'exploitation] <span class="budget-negatif"><%= number_with_delimiter((-Maquette.where('name = ? AND date = ?', "Stade de France [Pertes d'exploitation]", Date.new(2018,6,18)).first.total_public + Maquette.where('name = ? AND date = ?', "Stade de France [Pertes d'exploitation]", Date.new(2021,1,14)).first.total_public).to_i, :delimiter => ' ')%> €</span></div>  
          <div class="chart-budget-col-text">CPJ <span class="budget-negatif"><%= number_with_delimiter((-Maquette.where('name = ? AND date = ?', "CPJ", Date.new(2018,6,18)).first.total_public + Maquette.where('name = ? AND date = ?', "CPJ", Date.new(2021,1,14)).first.total_public).to_i, :delimiter => ' ')%> €</span></div>  
        </section>
        
        <div class="chart-budget-col-title"><a href="#MonCollapse-augmentation-reserve" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="MonCollapse-augmentation-reserve" >Ponction sur la réserve <i class="fas fa-angle-down"></i> <span class="budget-negatif"><%= number_with_delimiter(@maquette_ecart_reserve.to_i, :delimiter => ' ')%> €</span> </div>
        <section id="MonCollapse-augmentation-reserve" class="collapse">
              <div class="chart-budget-col-text">Réserve compléments de programmes <span class="budget-negatif"><%= number_with_delimiter((-Maquette.where('name = ? AND date = ?', "Réserve pour compléments de programme", Date.new(2018,6,18)).first.total_public + Maquette.where('name = ? AND date = ?', "Réserve pour compléments de programme", Date.new(2021,1,14)).first.total_public).to_i, :delimiter => ' ')%> €</span></div>   
          <div class="chart-budget-col-text">Paris fonds verts <span class="budget-negatif"><%= number_with_delimiter((-Maquette.where('name = ? AND date = ?', "Paris Fonds Vert", Date.new(2018,6,18)).first.total_public + Maquette.where('name = ? AND date = ?', "Paris Fonds Vert", Date.new(2021,1,14)).first.total_public).to_i, :delimiter => ' ')%> €</span></div>  
              <div class="chart-budget-col-text">Fonds innovations <span class="budget-negatif"><%= number_with_delimiter((-Maquette.where('name = ? AND date = ?', "Fonds Innovation et Développement Durable", Date.new(2018,6,18)).first.total_public + Maquette.where('name = ? AND date = ?', "Fonds Innovation et Développement Durable", Date.new(2021,1,14)).first.total_public).to_i, :delimiter => ' ')%> €</span></div>  
            </section>
      </div>
      <br><br>
  </div><br><br>

  </div>
  
</div> 
  
<script>
Highcharts.chart('container-chart', {
    chart: {
        type: 'waterfall',
      
        style:{
          fontFamily: "Marianne Regular",
          },
    },

    title: {
        text: null,
     
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
          fontStyle: 'italic',
      fontSize: '16px',
                  },
    },

    xAxis: {
        type: 'category'
    },

    yAxis: {
      gridLineColor: '#E6F0FF', 
        title: {
            text: 'Montant €'
        }
    },

    legend: {
        enabled: false
    },

    tooltip: {
        pointFormat: '<b>{point.y:,.0f} €</b> ',
       borderColor: 'transparent',
   borderRadius: 16,
   backgroundColor: '#fff',
    },

    series: [{
      borderColor: '#fff',
      data: [{
            name: 'Prévisionnel 2018',
            y: <%= Maquette.where('date = ?', Date.new(2018,6,18)).sum('total_public')%>,
            color: "#bfbfbf",
        }, {
            name: 'Nouveaux Ouvrages',
            y: <%= @maquette_budget_nouveau %>,
            color: "#E1000F",
        },{
            name: 'Surcoûts construction',
            y: <%= @maquette_budget_augmentation %>,
            color: "#E1000F",
        }, {
            name: "Réduction de périmètre",
            y: <%= @maquette_budget_diminution %>,
          color: "#20E37B",
        }, {
            name: "Réserve",
            y: <%= @maquette_ecart_reserve %>,
          color: "#20E37B",
        }, {
            name: 'Prévisionnel 2021',
            isSum: true,
            color: "#2E5D63"
        }],
        dataLabels: {
            enabled: true,
            formatter: function () {
                return Highcharts.numberFormat(this.y / 1000, 0, ',') + 'k';
            },
          
            style: {
                fontWeight: 'bold',
                color: '#000',
            
              fontFamily: 'Karla',
            }
        },
        pointPadding: 0
    }]
});
</script>
  
  <script>

  $('.menu-solideo-maquette').addClass('menu-active2'); 
  $('.menu-solideo').addClass('menu-active'); 

  $('#MonCollapse').addClass('in'); 

</script>
  
  <% end %>