<div class="SD_page">
 
  <h1 class="SD_title">Budget des ouvrages </h1>
  <h1 class="SD_subtitle">Dernière mise à jour : 22 novembre 2020</h1>
  
   <div id="budget-ouvrages">

    <div class="SD-table-box" >
      <div class="SD-topo-box-title">
        <span>Évolution de la maquette budgétaire</span>
      </div><br><br>
      <div id="container-chart">

      </div><br>
     
      <div class="chart-budget-date">Mise à jour suite au CA d'octobre 2020 </div>
    
      <div class="chart-budget-box">
        <div class="chart-budget-col-title chart-budget-col-title-total">ECART TOTAL  <span><%= number_with_delimiter((@budget_nouveau+@budget_augmentation+@budget_diminution+@ecart_reserve).to_i, :delimiter => ' ') %> €</span></div>
        
        <div class="chart-budget-col-title"><a href="#MonCollapse-augmentation" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="MonCollapse-augmentation" >Augmentation <i class="fas fa-angle-down"></i> <span class="budget-positif"><%= number_with_delimiter((@budget_nouveau+@budget_augmentation).to_i, :delimiter => ' ') %> €</span></a></div>
        <section id="MonCollapse-augmentation" class="collapse">
          <div class="chart-budget-col-subtitle chart-budget-col-title-total"><a href="#MonCollapse-augmentation-ouvrages" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="MonCollapse-augmentation-ouvrages" >Nouveaux ouvrages <i class="fas fa-angle-down"></i>  <span class="budget-positif"><%= number_with_delimiter(@budget_nouveau.to_i, :delimiter => ' ') %> €</span></a></div>
            <section id="MonCollapse-augmentation-ouvrages" class="collapse">
              <% Ouvrage.all.each do |ouvrage| %>
              <% if ouvrage.ouvrages_financements.count > 0 && ouvrage.ouvrages_financements.where('date = ?', Date.new(2018,1)).count == 0 %>
              <div class="chart-budget-col-text"><%= ouvrage.name %> <span class="budget-positif"><%= number_with_delimiter(ouvrage.ouvrages_financements.where('date = ?', ouvrage.ouvrages_financements.order('date DESC').first.date).first.montant_prevu.to_i, :delimiter => ' ')  %> €</span></div> 
              <% end %>
              <% end %>
            </section>
          
          
          <div class="chart-budget-col-subtitle chart-budget-col-title-total"><a href="#MonCollapse-augmentation-compl" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="MonCollapse-augmentation-compl" >Besoins complémentaires<i class="fas fa-angle-down"></i>  <span class="budget-positif"><%= number_with_delimiter(@budget_augmentation.to_i, :delimiter => ' ') %> €</span></a></div>
          <section id="MonCollapse-augmentation-compl" class="collapse">
            <% Ouvrage.all.each do |ouvrage| %>
          <% if ouvrage.ouvrages_financements.count > 0 && ouvrage.ouvrages_financements.where('date = ?', Date.new(2018,1)).count > 0 %>
          <% if ouvrage.ouvrages_financements.where('date = ?', ouvrage.ouvrages_financements.order('date DESC').first.date).first.montant_prevu-ouvrage.ouvrages_financements.where('date = ?', ouvrage.ouvrages_financements.order('date ASC').first.date).first.montant_prevu > 0 %> 
              <div class="chart-budget-col-text"><%= ouvrage.name %> <span class="budget-positif"><%= number_with_delimiter((ouvrage.ouvrages_financements.where('date = ?', ouvrage.ouvrages_financements.order('date DESC').first.date).first.montant_prevu-ouvrage.ouvrages_financements.where('date = ?', ouvrage.ouvrages_financements.order('date ASC').first.date).first.montant_prevu).to_i, :delimiter => ' ') %> €</span></div>   
            <% end %>
            <% end %>
            <% end %>
            </section>
        </section>
        
        <div class="chart-budget-col-title"><a href="#MonCollapse-augmentation-diminution" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="MonCollapse-augmentation-diminution" >Diminution <i class="fas fa-angle-down"></i> <span class="budget-negatif"><%= number_with_delimiter(@budget_diminution.to_i, :delimiter => ' ') %> €</span> </a></div>
        <section id="MonCollapse-augmentation-diminution" class="collapse">
          <% Ouvrage.all.each do |ouvrage| %>
          <% if ouvrage.ouvrages_financements.count > 0 %>
          <% if ouvrage.ouvrages_financements.where('date = ?', ouvrage.ouvrages_financements.order('date DESC').first.date).first.montant_prevu-ouvrage.ouvrages_financements.where('date = ?', ouvrage.ouvrages_financements.order('date ASC').first.date).first.montant_prevu < 0 %> 
              <div class="chart-budget-col-text"><%= ouvrage.name %> <span class="budget-negatif"><%= number_with_delimiter((ouvrage.ouvrages_financements.where('date = ?', ouvrage.ouvrages_financements.order('date DESC').first.date).first.montant_prevu-ouvrage.ouvrages_financements.where('date = ?', ouvrage.ouvrages_financements.order('date ASC').first.date).first.montant_prevu).to_i, :delimiter => ' ') %> €</span></div> 
          <% end %>
          <% end %>
          <% end %>
        </section>
        
        <div class="chart-budget-col-title"><a href="#MonCollapse-augmentation-reserve" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="MonCollapse-augmentation-reserve" >Ponction sur la réserve <i class="fas fa-angle-down"></i> <span class="budget-negatif"><%= number_with_delimiter(@ecart_reserve.to_i, :delimiter => ' ')%> €</span> </div>
        <section id="MonCollapse-augmentation-reserve" class="collapse">
              <div class="chart-budget-col-text">Réserve compléments de programmes <span class="budget-negatif"><%= number_with_delimiter((SolideoFinancement.where("categorie = ? AND date = ?","reserve", SolideoFinancement.order('date DESC').first.date).sum('montant')-SolideoFinancement.where("categorie = ? AND date = ?","reserve", Date.new(2018,1)).sum('montant')).to_i, :delimiter => ' ')%> €</span></div>   
              <div class="chart-budget-col-text">Fonds innovations <span class="budget-negatif"><%= number_with_delimiter((SolideoFinancement.where("categorie = ? AND date = ?","innovation", SolideoFinancement.order('date DESC').first.date).sum('montant')-SolideoFinancement.where("categorie = ? AND date = ?","innovation", Date.new(2018,1)).sum('montant')).to_i, :delimiter => ' ')%> €</span></div>  
            </section>
      </div>
<br><br>
  </div><br><br>

  </div>
  
  </div>
  
  
  
<script>
Highcharts.chart('container-chart', {
    chart: {
        type: 'waterfall',
      spacing: [40,40,40,40],
        style:{
          fontFamily: "Spectral",
          },
    },

    title: {
        text: null,
     
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
          fontStyle: 'italic',
      fontSize: '16px',
                  },
    },

    xAxis: {
        type: 'category'
    },

    yAxis: {
      gridLineColor: '#E6F0FF', 
        title: {
            text: 'Montant €'
        }
    },

    legend: {
        enabled: false
    },

    tooltip: {
        pointFormat: '<b>${point.y:,.2f}</b> €'
    },

    series: [{
      borderColor: '#fff',
      data: [{
            name: 'Prévisionnel 2018',
            y: 1378000000,
            color: "#bfbfbf",
        }, {
            name: 'Nouveaux Ouvrages',
            y: <%= @budget_nouveau %>,
            color: "#E1000F",
        },{
            name: 'Surcoûts construction',
            y: <%= @budget_augmentation %>,
            color: "#E1000F",
        }, {
            name: "Réduction de périmètre",
            y: <%= @budget_diminution %>,
          color: "#20E37B",
        }, {
            name: "Réserve",
            y: <%= @ecart_reserve %>,
          color: "#20E37B",
        }, {
            name: 'Prévisionnel 2020',
            isSum: true,
            color: "#2E5D63"
        }],
        dataLabels: {
            enabled: true,
            formatter: function () {
                return Highcharts.numberFormat(this.y / 1000, 0, ',') + 'k';
            },
          
            style: {
                fontWeight: 'bold',
                color: '#000',
            
              fontFamily: 'Karla',
            }
        },
        pointPadding: 0
    }]
});
</script>
  
  <script>

  $('.menu-solideo-maquette').addClass('menu-active2'); 
  $('.menu-ouvrages').addClass('menu-active'); 

  $('#MonCollapse3').addClass('in'); 

</script>