<div class="SD_page">
   <div class="SD_home_button">
    <%= link_to root_path do %><i class="fas fa-chevron-left"></i><i class="fas fa-home"></i>Retour accueil<%end %>
  </div>
  <h1 class="SD_title">Dépenses des ouvrages</h1>
  
  <div class="SD-topo-box">
  <div class="SD-topo-box-title">
    <span>Budget des ouvrages </span>
  </div><br><br>
  <div class="row"> 
    <div class="col-md-6">
      
      <div id="container2">
 
      </div>
      <div class="SF-topo-explication">
        Budget 2018-2025 prévu :  1 382 775 000€
      </div>
    </div>
    <div class="col-md-6">
      <div id="container-column">

      </div>
      <div class="SF-topo-explication">
         <% if @solideo_depenses_ouvrages_prevu_date < @solideo_depenses_ouvrages %><span class="negative"> + <%= number_with_delimiter((@solideo_depenses_ouvrages-@solideo_depenses_ouvrages_prevu_date).to_i, :delimiter => ' ')%> € </span><% else %><span class="positive"> - <%= number_with_delimiter((@solideo_depenses_ouvrages_prevu_date-@solideo_depenses_ouvrages).to_i, :delimiter => ' ')%> €</span><% end %> par rapport aux dépenses prévues à date.
        <span class='info'><i class="fas fa-info-circle"></i></span>
      <div class="infos-details">
        Cet écart s'explique par un retard des chantiers dû à la Covid19
      </div>
      </div> 
    </div>
  </div>
   <br><br>
 
</div><br>
   <div class="SD-topo-box">
  <div class="SD-topo-box-title">
    <span>Evolution de la maquette </span>
  </div><br><br>
    <div id="container-chart">
      
    </div>
  </div>
  <div  class="SD-table-box">
    <div class="SD-topo-box-title">
      <span>Suivi trimestriel des dépenses des ouvrages </span>
    </div>
    <div id="container">
      
    </div>
   </div><br><br>
 

  <div  class="table-box">
  <div class="SD-topo-box-title">
      <span>Suivi trimestriel des dépenses par ouvrage </span>
    </div><br><br>
    <% if !@ouvrages_depenses.nil? %>
        
    <div class="ED_table_filtres">
      <a type="button" data-toggle="modal" data-target="#filtres" ><i class="fas fa-sliders-h"></i> Filtrer </a>
    </div>
    <div class="download">
      <a><i class="fas fa-cloud-download-alt"></i></a>
    </div>
      <div class="ED_table">
        <table>
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Ouvrage</th>

              <th scope="col">Dépenses prévues</th>
              <th scope="col" class="border-none">Décaissements</th>

            </tr>
          </thead>
          <tbody>
            <% @ouvrages_depenses.where('date <= ?', Date.today).each do |ouvrages_depense| %>
            <tr>
              <th scope="row"><%= ouvrages_depense.date.strftime("%b %Y") %></th>
              <th scope="row"><%= link_to ouvrage_path(ouvrages_depense.ouvrage_id) do %><%= Ouvrage.find(ouvrages_depense.ouvrage_id).name %><% end %></th>
              <td><%= number_with_delimiter(ouvrages_depense.montant_prevu.to_i, :delimiter => ' ') %> €</td>
              <td class="border-none"><%= number_with_delimiter(ouvrages_depense.montant.to_i, :delimiter => ' ') %>€ <% if ouvrages_depense.montant.to_i > ouvrages_depense.montant_prevu.to_i%> <i class="fas fa-exclamation-circle"></i><% end %></ù></td>
             </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div>
        Aucune dépense renseignée
      </div>
    <%end%>

  <br>
  </div>
</div>

<script>
  // Uncomment to style it like Apple Watch



Highcharts.chart('container2', {

    chart: {
      backgroundColor: '#fff',
        type: 'solidgauge',
        maxWidth: '500px',
      height:'300px',
      style:{
          fontFamily: "Spectral",
          },
      
      
    },
 
  title: {
    text: "Budget actuel dépensé",
    style: {
          color: '#8F8F8F',
        fontStyle: "italic",
      fontSize: '16px',
          }
  },
  tooltip: {
        borderWidth: 0,
        backgroundColor: 'none',
        shadow: false,
        style: {
            fontSize: '12px',
          color: '#8F8F8F',
        },
        //valueSuffix: '€',
        pointFormat: '',
        positioner: function (labelWidth) {
            return {
                x: (this.chart.chartWidth - labelWidth) / 2,
                y: (this.chart.plotHeight / 2) + 35
            };
        }
    },

    pane: {
        startAngle: 0,
        endAngle: 360,
        background: [{ // Track for Move
            outerRadius: '90%',
            innerRadius: '80%',
            backgroundColor: 'rgba(0,74,72,0.3)',
            borderWidth: 0
        }]
    },

    yAxis: {
        min: 0,
        max:  1382775000,
        lineWidth: 0,
        tickPositions: [1382775000],
      tickInterval: 1382775000,
      minorTickInterval: null,
      tickAmount:1,
       labels: {
            step: 1382775000,
            rotation: 'auto',
         style: {
           fontSize: '12px',
          color: '#8F8F8F',
          
         },
         y: -30,
        },
    },

    plotOptions: {
        solidgauge: {
          
          tooltip: "",
          
            dataLabels: {
              enabled: true,
              borderWidth: 0,
              backgroundColor: 'none',
              shadow: false,
              style: {
                  fontSize: '14px',
                color: '#487F7F',
              },
              valueSuffix: '€',
              format: '<span style="color:#8F8F8F; font-size:12px;font-weight:400">{series.name} :</span><br><span>{point.y:,.0f} €</span>',
            verticalAlign: 'middle',
        
            },
            linecap: 'round',
            stickyTracking: false,
            rounded: true,
         
        }
    },


    series: [{
        name: 'Dépenses actuelles',
        data: [{
            color: '#487F7F',
            radius: '90%',
            innerRadius: '80%',
            y: <%= OuvragesDepense.all.sum('montant') %>
        }]
    }]
});

  </script>
<script>
  $('.infos-details').hide();
  $('.info').mouseover(function() {
    $('.infos-details').show();
    })
  $('.info').mouseout(function() {
    $('.infos-details').hide();
    })

</script>

<script>
Highcharts.chart('container', {

   chart:{
            backgroundColor: '#fff',
           type: 'spline',
            spacing: [40,40,40,40],
        style:{
          fontFamily: "Spectral",
         
          },
        scrollablePlotArea: {
            minWidth: 700,
            scrollPositionX: 1
        }
          },

      title: {
        text:"Suivi trimestriel des décaissements des ouvrages de la Solideo",
        margin:40,
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
          fontStyle: 'italic',
      fontSize: '16px',
                  },
      },
  colors: ['#487f7f',"#8f8f8f"],
    yAxis: {
      gridLineColor: '#E6F0FF', 
        title: {
            text: 'Total €'
        }
    },
  tooltip: {
      //  pointFormat: '{series.name}: <b>{point.y}</b><br/>',
        valueSuffix: '€',
        xDateFormat: '%b %Y',
    },
  xAxis:{
     type: 'datetime'
   // max: 2025,
  },
    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: Date.UTC(2018,0, 1),
          pointInterval: 24*3600*1000*30*3,
        }
    },

  

    series: [{
        name: 'Décaissements',
        data: <%= @depenses %>,
    }, {
        name: 'Décaissements prévus',
        data: <%= @depenses_prevu %>,
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
</script>

<script>
Highcharts.chart('container-column', {
  chart:{
            type: 'column',
            backgroundColor: '#fff',  
            style:{
            fontFamily: "Spectral",  
            },
       
       
          },

     title: {
          text:'Dépenses réelles et prévues par année en €',
          margin:40,
          style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
                  fontStyle: 'italic',
                  fontSize: '16px',
                  },
        },
  colors: ['#487f7f',"#8f8f8f"],
    yAxis: {
      gridLineColor: '#fff', 
        title: {
            text: 'Total €'
        }
    },
  tooltip: {
      //  pointFormat: '{series.name}: <b>{point.y}</b><br/>',
        valueSuffix: '€',
        xDateFormat: '%Y',
    },
  xAxis:{
   //  type: 'datetime',
    max: 2025,
  },
    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: 2018,
        },
      column: {
           pointWidth: 15,
           tooltip: {        
              backgroundColor: "#fff",        
              style: {
                  fontSize: '12px',     
              },    
             },
           },
         
    },

  

    series: [{
        name: 'Décaissements',
        data: <%= @depenses_annee %>,
    }, {
        name: 'Dévaissements prévus',
        data: <%= @depenses_prevu_annee %>,
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
</script>

<script>
Highcharts.chart('container-chart', {
    chart: {
        type: 'waterfall',
      spacing: [40,40,40,40],
        style:{
          fontFamily: "Spectral",
          },
    },

    title: {
        text: 'Evolution de la maquette des dépenses des ouvrages ',
      margin:40,
        style: {
                  color: "#8F8F8F",
                  fontWeight: "400",
          fontStyle: 'italic',
      fontSize: '16px',
                  },
    },

    xAxis: {
        type: 'category'
    },

    yAxis: {
      gridLineColor: '#E6F0FF', 
        title: {
            text: 'Montant €'
        }
    },

    legend: {
        enabled: false
    },

    tooltip: {
        pointFormat: '<b>${point.y:,.2f}</b> €'
    },

    series: [{
        upColor: Highcharts.getOptions().colors[2],
        color: Highcharts.getOptions().colors[3],
        data: [{
            name: 'Prévisionnel 2018',
            y: 1382775000,
            color: "#8F8F8F",
        }, {
            name: 'Surcoûts indexation ',
            y: 3100000,
            color: "#F1013B",
        }, {
            name: 'Surcoûts inflation',
            y: 2100000,
            color: "#F1013B",
        }, {
            name: 'Nouveaux ouvrages',
            y: 269000000,
            color: "#F1013B",
        }, {
            name: 'Nouveaux chantiers',
            y: 231000000,
            color: "#F1013B",
        },{
            name: 'Surcoûts construction',
            y: 83100000,
            color: "#F1013B",
        },{
            name: 'Total avec surcoûts totaux',
            isIntermediateSum: true,
            color: "#8F8F8F",
        }, {
            name: "Suppression d'ouvrages",
            y: -342000000,
          color: "#48AF5C",
        }, {
            name: "Suppression de chantiers",
            y: -233000000,
          color: "#48AF5C",
        }, {
            name: 'Prévisionnel 2019',
            isSum: true,
            color: Highcharts.getOptions().colors[1]
        }],
        dataLabels: {
            enabled: true,
            formatter: function () {
                return Highcharts.numberFormat(this.y / 1000, 0, ',') + 'k';
            },
            style: {
                fontWeight: 'bold'
            }
        },
        pointPadding: 0
    }]
});
</script>