<div class="SD_page">
 
  <h1 class="SD_title">Maquette financière </h1>
  <h1 class="SD_subtitle">Dernière mise à jour : 8 février 2021</h1>
  
   <div id="budget-ouvrages">

    <div class="SD-table-box" >
      <div class="SD-topo-box-title">
        <span>Évolution de la maquette budgétaire en k€</span>
      </div><br><br>
      
      <div class="ED_table" id="bop-total-ht2">
      <table class="table-striped">
        <thead>
          <tr>
            <th scope="col">Nom</th>
              <th scope="col">Total 2018</th>
              <th scope="col">Total complémentaire 2018</th>
              <th scope="col">Total public 2018</th>
            <th scope="col">Total 2021</th>
              <th scope="col">Total complémentaire 2021</th>
              <th scope="col">Total public 2021</th>
                  
          </tr>
        </thead>

        <tbody>
            <% @maquette_name.each do |name| %>
              <tr>
                <td><%= name %></td>
                <% if !Maquette.where('name = ? AND date = ?', name, Date.new(2018,6,18) ).first.nil?%>
                <td><%= number_with_delimiter(Maquette.where('name = ? AND date = ?', name, Date.new(2018,6,18) ).first.total/1000, :delimiter => ' ') %> </td>
                <td><%= number_with_delimiter(Maquette.where('name = ? AND date = ?', name, Date.new(2018,6,18) ).first.total_complementaire/1000, :delimiter => ' ') %> </td>
                <td><%= number_with_delimiter(Maquette.where('name = ? AND date = ?', name, Date.new(2018,6,18) ).first.total_public/1000, :delimiter => ' ') %> </td>
                <% end %>
                <% if !Maquette.where('name = ? AND date = ?', name, Date.new(2021,1,14) ).first.nil?%>
               <td><%= number_with_delimiter(Maquette.where('name = ? AND date = ?', name, Date.new(2021,1,14) ).first.total/1000, :delimiter => ' ') %> </td>
                <td><%= number_with_delimiter(Maquette.where('name = ? AND date = ?', name, Date.new(2021,1,14) ).first.total_complementaire/1000, :delimiter => ' ') %> </td>
                <td><%= number_with_delimiter(Maquette.where('name = ? AND date = ?', name, Date.new(2021,1,14) ).first.total_public/1000, :delimiter => ' ') %> </td>
                <% end %>
              </tr>
          <% end %>
        </tbody>
      </table>
      </div>
     </div>
  </div>
</div>
