<h1>New Ouvrages Depense</h1>

  <%=form_tag import2_ouvrages_depenses_path, multipart: true do %>
   
        <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter dépenses prévues ouvrages </span></label>

      <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
   
  <%end%>
<%=form_tag import_ouvrages_depenses_path, multipart: true do %>
  
        <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter dépenses réelles ouvrages </span></label>
    
      <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
  
  <%end%>
  <%=form_tag import3_ouvrages_depenses_path, multipart: true do %>

        <label><%= file_field_tag :file, accept: '.csv' %> <i class="fas fa-plus-circle"></i><span class="SF-new-input-text"> Ajouter dépenses engagées ouvrages </span></label>
   
      <%= button_tag(type: "submit") do %> <i class="fas fa-check"></i> <% end %>
 
  <%end%>
<%= link_to 'Back', ouvrages_depenses_path %>
