
<% if  !@actions_show.empty?%>
<div class="box_page">
<div><span class="titre_section">Visualisation au niveau des actions des UO (<%= @uo_actions.length %>)</span></div>
<div class="i32"></div>
   <div class="chorus-dropdown-box">
   <div class="dropdown dropdown-chorus">
     <button class="btn btn-secondary dropdown-toggle dropdown-select-chorus" type="button" id="dropdownMenuButtonaction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sélectionner une action <i class="fas fa-chevron-down"></i></button>
      <div class="dropdown-menu dropwdown-menu-chorus" aria-labelledby="dropdownMenuButtonaction">
          <%= form_with url: select_action_path(:uo_id => @uos_show, :date => @dates, :budget => @budget, :programme => @search), id: "action_form" do |f|%>
        <label><%= f.check_box :searchaction,{:multiple => true}, @search, nil %> Tout sélectionner </label>
        <% (0..@uo_actions.length-1).each do |i|%>
          <label><%= f.check_box :id,{:multiple => true},[@uo_actions[i][0],@uo_actions[i][1]] ,nil %>  <%= @uo_actions[i][0]%> - <%= @uo_actions[i][1]%> <% if ChorusNomenclature.where('nom = ?',@uo_actions[i][1]).count > 0 %>(<%= ChorusNomenclature.where('nom = ?',@uo_actions[i][1]).first.designation %>)<%end%></label>
        <% end %>
        <div class="chorus-submit-form"><%= f.submit "Afficher", class: "bouton bouton-action"%></div>
       <% end %>
      </div>
    </div>
  </div> 
  <div id="actions2">
     <%= render 'chorus/actions2'%>
  </div>
 

</div>


<script>
  var elementactionid = '#id_'+'<%= @uo_action[0].downcase %>'+'_'+'<%= @uo_action[1].downcase%>'
  $(elementactionid).prop('checked', true);

</script>
<script>
    var searchaction = '#searchaction_' + '<%= @search %>';

$(searchaction).click(function () {
  if ($(searchaction).is(':checked')){
   <% @uo_actions.each do |action|%>
      $('#id_'+'<%= action[0].downcase%>'+'_'+'<%= action[1].downcase%>').prop('checked', true);
   <% end %> 
  }
  else {
   <% @uo_actions[1..].each do |action|%>
      $('#id_'+'<%= action[0].downcase%>'+'_'+'<%= action[1].downcase%>').prop('checked', false);
   <% end %>  
    
  }
  
});
$('.bouton-action').on("click",function(){  
   $("#dropdownMenuButtonaction").dropdown('toggle');
});
</script>
 <% end %>