<% if !@bop.nil?%>

         <div id="bop_chart">

         </div>


<script>

Highcharts.chart('bop_chart', {
  mapNavigation: {
            enableMouseWheelZoom: true
        },
   chart:{
       backgroundColor: '#fff',
     borderColor: '#fff',
                 borderRadius:10,
       type: 'area',
       spacing: [40,40,40,40],
        style:{
          fontFamily: "Spectral",
          // maxWidth: '500px'
          }, 
      // zoomType: 'x',
      //  borderWidth: 1,
      //  resetZoomButton: {
      //      position: {
           
       //         x: -10,
        //        y: 10
       //     },
       //     relativeTo: 'chart'
      //  },
                   scrollablePlotArea: {
       minWidth: 2000,
       scrollPositionX:1,
     },
          },
title: {
        text:"",
},
    colors: ['#2E5D63', '#C68D7B'],
    yAxis: {
      gridLineColor: '#fff', 
        title: {
            text: 'Total k€'
        }
    },
  tooltip: {
     formatter: function() {
      var point = this,
        series = point.series,
       
        firstDate = Highcharts.dateFormat('%e %b %Y', point.x),
        header = '<span style="font-size: 10px">' + firstDate  + '</span><br/>',
        content = series.name + ' disponible : <b>' + point.y  + 'k€</b><br/>';

      return header + content;
    },

    },
  xAxis:{
    type: 'datetime'
  },
    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },  
           marker: {
                enabled: true
            },
          step: 'left',
        }
    },

  

    series: [{
        name: 'HT2',
        data: [
          <% @montant = 0 %>
          <% @bop_ht2.each do |programme| %>
            [Date.UTC(<%=programme.date.year%>,<%= programme.date.month%>, <%=programme.date.day%>), <%= (@montant + programme.montant)/1000%>],
           <% @montant = @montant + programme.montant %>
    <% end %>
        ],
       dataLabels: {
                enabled: true,
            },
    },{
        name: 'T2',
        data: [
          <% @montant = 0 %>
          <% @bop_t2.each do |programme| %>
            [Date.UTC(<%=programme.date.year%>,<%= programme.date.month%>, <%=programme.date.day%>), <%= (@montant + programme.montant)/1000%>],
           <% @montant = @montant + programme.montant %>
    <% end %>
        ],
       dataLabels: {
                enabled: true,
            },
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});

</script>


<% end %>

