<div class="button-chorus">
  <div class="button-chorus-box">
    <div class="button-chorus-tables" id="bop-bilan-btn">Afficher les bilans</div>
    <div class="button-chorus-tables" id="bop-tables-btn">Afficher les tables</div>
  </div>
  </div>

<div class="ED_table" id="bop-bilan">
      <table class="table-striped">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">BOP</th>
            <% @type_pieces_bop.each do |piece|%>
              <th scope="col"><%=piece%> Réception</th>
              <th scope="col"><%= piece%> Envoi</th>
            <% end %>       
          </tr>
        </thead>

        <tbody>
          <% @bops_show.each do |bop|%>
          <% if !@dates.nil?%>
            <% @dates.each do |date| %>
              <tr>
                <td><%= l(Date.new(date.to_i,1,1), format: "%Y") %></td>
                <td><%= bop%></td>
                 <% @type_pieces_bop.each do |piece|%>
                  <td><%= number_with_delimiter(Choru.where('centre_financier = ? AND date >= ? AND date <= ? AND type_piece = ? AND operation = ? AND compte_budgetaire = ?',bop, Date.new(date.to_i,1,1),Date.new(date.to_i,12,31),piece, "Réception","HT2").sum('montant'), :delimiter => ' ') %> €</td>
                <td><%= number_with_delimiter(Choru.where('centre_financier = ? AND date >= ? AND date <= ? AND type_piece = ? AND operation = ? ',bop, Date.new(date.to_i,1,1),Date.new(date.to_i,12,31),piece, "Envoyer").sum('montant'), :delimiter => ' ') %> €</td>
          <% end %>
          <% end %>
              

              </tr>
            <% end %>
         
          <% end %>
        </tbody>
      </table>
      </div>

      <div class="ED_table" id="bop-tables">
        <table class="table-striped">
          <thead>
            <tr>
              <th scope="col">BOP</th>
              <th scope="col">Date</th>
              
              <th scope="col">Type piece</th> 
              <th scope="col">Operation</th>
              <th scope="col">Centre financier</th>
              <th scope="col">Compte budgetaire</th>
              <th scope="col">Montant (€)</th>

            </tr>
          </thead>

          <tbody>
            <% @bops_show.each do |bop|%>
            <% @dates.each do |date| %>
            <% Choru.where('centre_financier = ? AND date >= ? AND date <= ? AND compte_budgetaire = ?',bop, Date.new(date.to_i,1,1),Date.new(date.to_i,12,31), "HT2").each do |choru| %>
              <tr>
                <td><%= bop%></td>
                <td><%= l(choru.date, format: "%e %b %Y") %></td>
                
                <td><%= choru.type_piece %></td>
                <td><%= choru.operation %></td>
                <td><%= choru.centre_financier %></td>
                <td><%= choru.compte_budgetaire %></td>
                <td><%= number_with_delimiter(choru.montant, :delimiter => ' ') %></td>

              </tr>
            <% end %>
            <!-- total annuel -->
            <tr class="total-annuel">
                <td><%= l(Date.new(date.to_i,1,1), format: "%Y") %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= number_with_delimiter(Choru.where('centre_financier = ? AND date >= ? AND date <= ? AND compte_budgetaire = ?',bop, Date.new(date.to_i,1,1),Date.new(date.to_i,12,31),"HT2").sum('montant'), :delimiter => ' ') %></td>
            </tr><br>
            <% end %>
     
            <% end %>
          </tbody>
        </table>
      </div>

    <br>

<script>
  $('#bop-bilan').hide();
  $('#bop-tables').hide();
  $('#bop-tables-btn').click(function () {
    if ($('#bop-tables').hasClass('visible')){
    $('#bop-tables').hide();
      $('#bop-tables').removeClass('visible');
    }else {
     $('#bop-tables').show(); 
      $('#bop-tables').addClass('visible');
    }
  });
 $('#bop-bilan-btn').click(function () {
    if ($('#bop-bilan').hasClass('visible')){
    $('#bop-bilan').hide();
      $('#bop-bilan').removeClass('visible');
    }else {
     $('#bop-bilan').show(); 
      $('#bop-bilan').addClass('visible');
    }
  });
</script>