<div class="chorus-table-subtitle">Bilan compte budgétaire HT2</div> 
<div class="ED_table">
      <table class="table-striped">
        <thead>
          <tr>
            <th scope="col">Date</th>
              <th scope="col">MADI Réception</th>
              <th scope="col">MADI Envoi</th>
              <th scope="col">REAP Réception</th>
              <th scope="col">REAP Envoi</th>         
          </tr>
        </thead>

        <tbody>
          <% if !@dates.nil?%>
            <% @dates.each do |date| %>
              <tr>
                <td><%= l(Date.new(date.to_i,1,1), format: "%Y") %></td>
               
                  <td><%= number_with_delimiter(@bop_ht2.where('date >= ? AND date <= ? AND type_piece = ? AND operation = ? ',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31),"MADI", "Réception").sum('montant'), :delimiter => ' ') %></td>
                <td><%= number_with_delimiter(@bop_ht2.where('date >= ? AND date <= ? AND type_piece = ? AND operation = ? ',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31),"MADI", "Envoyer").sum('montant'), :delimiter => ' ') %></td>
                <td><%= number_with_delimiter(@bop_ht2.where('date >= ? AND date <= ? AND type_piece = ? AND operation = ? ',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31),"REAP", "Réception").sum('montant'), :delimiter => ' ') %></td>
                <td><%= number_with_delimiter(@bop_ht2.where('date >= ? AND date <= ? AND type_piece = ? AND operation = ? ',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31),"REAP", "Envoyer").sum('montant'), :delimiter => ' ') %></td>
              

              </tr>
            <% end %>
         
          <% end %>
        </tbody>
      </table>
      </div>
<% if !@bop_t2.nil? && @bop_t2.length > 0 %>
<div class="chorus-table-subtitle">Bilan compte budgétaire T2</div> 
<div class="ED_table">
      <table class="table-striped">
        <thead>
          <tr>
            <th scope="col">Date</th>
              <th scope="col">MADI Réception</th>
              <th scope="col">MADI Envoie</th>
              <th scope="col">REAP Réception</th>
              <th scope="col">REAP Envoie</th>         
          </tr>
        </thead>

        <tbody>
          <% if !@dates.nil?%>
            <% @dates.each do |date| %>
              <tr>
                <td><%= l(Date.new(date.to_i,1,1), format: "%Y") %></td>
               
                  <td><%= number_with_delimiter(@bop_t2.where('date >= ? AND date <= ? AND type_piece = ? AND operation = ? ',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31),"MADI", "Réception").sum('montant'), :delimiter => ' ') %></td>
                <td><%= number_with_delimiter(@bop_t2.where('date >= ? AND date <= ? AND type_piece = ? AND operation = ? ',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31),"MADI", "Envoyer").sum('montant'), :delimiter => ' ') %></td>
                <td><%= number_with_delimiter(@bop_t2.where('date >= ? AND date <= ? AND type_piece = ? AND operation = ? ',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31),"REAP", "Réception").sum('montant'), :delimiter => ' ') %></td>
                <td><%= number_with_delimiter(@bop_t2.where('date >= ? AND date <= ? AND type_piece = ? AND operation = ? ',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31),"REAP", "Envoyer").sum('montant'), :delimiter => ' ') %></td>
              

              </tr>
            <% end %>
         
          <% end %>
        </tbody>
      </table>
      </div>  
<% end %>

<div class="SD-topo-box-title2"><a href="#details-bop" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="details-bop"> Tableau des mouvements de crédits au niveau du BOP <i class="fas fa-chevron-down"></i></a>
    </div><br>
     <section id="details-bop" class="collapse">
      <!-- HT2-->
       <div class="chorus-table-subtitle">Détails compte budgétaire HT2</div>
      <div class="ED_table">
        <table class="table-striped">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Type budget</th>
              <th scope="col">Type piece</th> 
              <th scope="col">Operation</th>
              <th scope="col">Centre financier</th>
              <th scope="col">Compte budgetaire</th>
              <th scope="col">Montant (€)</th>

            </tr>
          </thead>

          <tbody>
            <% @dates.each do |date| %>
            <% @bop_ht2.where('date >= ? AND date <= ?',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31)).each do |choru| %>
              <tr>
                <td><%= l(choru.date, format: "%e %b %Y") %></td>
                <td><%= choru.type_budget %></td>
                <td><%= choru.type_piece %></td>
                <td><%= choru.operation %></td>
                <td><%= choru.centre_financier %></td>
                <td><%= choru.compte_budgetaire %></td>
                <td><%= number_with_delimiter(choru.montant, :delimiter => ' ') %></td>

              </tr>
            <% end %>
            <!-- total annuel -->
            <tr class="total-annuel">
                <td><%= l(Date.new(date.to_i,1,1), format: "%Y") %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= number_with_delimiter(@bop_ht2.where('date >= ? AND date <= ?',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31)).sum('montant'), :delimiter => ' ') %></td>
            </tr><br>
            <% end %>
          </tbody>
        </table>
      </div>
       <!-- T2-->
       <% if !@bop_t2.nil? && @bop_t2.length > 0 %>
       <div class="chorus-table-subtitle">Détails compte budgétaire T2</div>
      <div class="ED_table">
        <table class="table-striped">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Type budget</th>
              <th scope="col">Type piece</th> 
              <th scope="col">Operation</th>
              <th scope="col">Centre financier</th>
              <th scope="col">Compte budgetaire</th>
              <th scope="col">Montant (€)</th>

            </tr>
          </thead>

          <tbody>
            <% @dates.each do |date| %>
            <% @bop_t2.where('date >= ? AND date <= ?',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31)).each do |choru| %>
              <tr>
                <td><%= l(choru.date, format: "%e %b %Y") %></td>
                <td><%= choru.type_budget %></td>
                <td><%= choru.type_piece %></td>
                <td><%= choru.operation %></td>
                <td><%= choru.centre_financier %></td>
                <td><%= choru.compte_budgetaire %></td>
                <td><%= number_with_delimiter(choru.montant, :delimiter => ' ') %></td>

              </tr>
            <% end %>
            <!-- total annuel -->
            <tr class="total-annuel">
                <td><%= l(Date.new(date.to_i,1,1), format: "%Y") %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= number_with_delimiter(@bop_t2.where('date >= ? AND date <= ?',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31)).sum('montant'), :delimiter => ' ') %></td>
            </tr><br>
            <% end %>
          </tbody>
        </table>
      </div>
       <% end %>
     </section>
    <br>