<% if !@uo.nil?%>
  <div class="SD-topo-box-title">
    <span>UO DE CE BOP (<%= @uo_arr.length %>)</span>       
  </div><br><br>
     
     <div class="row">
       <div class="col-md-9">
         <div id="uo_chart"> </div>
       </div>
       <div class="col-md-3">
           <div class="chorus-select-box">
             <div class="chorus-select-box-title" id="uo_name"> <%= @uo.first.centre_financier%> </div>
              <%= form_with url: select_uo_path, id: "uo_form" do |f|%>
        <% (0..@uo_arr.length-1).each do |i|%>
          <label><%= f.radio_button :id, @uo_arr[i] %>  <%= @uo_arr[i]%></label>
        <% end %>
       <% end %>
         </div>
       </div> 
     </div>

<script>

Highcharts.chart('uo_chart', {
   chart:{
       backgroundColor: '#fff',
                 borderRadius:10,
       type: 'area',
       spacing: [40,40,40,40],
        style:{
          fontFamily: "Spectral",
          // maxWidth: '500px'
          }, 
                   scrollablePlotArea: {
       minWidth: 2000,
       scrollPositionX:1,
     },
          },
title: {
        text:"",
},
    colors: ['#2E5D63', '#C68D7B'],
    yAxis: {
      gridLineColor: '#fff', 
        title: {
            text: 'Total k€'
        }
    },
  tooltip: {
      //  pointFormat: '{series.name}: <b>{point.y}</b><br/>',
        valueSuffix: 'k€',
      
    },
  xAxis:{
    type: 'datetime'
  },
    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },       
        }
    },

  

    series: [{
        name: 'HT2',
        data: [
          <% @montant = 0 %>
          <% @uo_ht2.each do |programme| %>
            [Date.UTC(<%=programme.date.year%>,<%= programme.date.month%>, <%=programme.date.day%>), <%= @montant + programme.montant/1000%>],
           <% @montant = @montant + programme.montant/1000 %>
    <% end %>
        ],
       dataLabels: {
                enabled: true,
            },
    },{
        name: 'T2',
        data: [
          <% @montant = 0 %>
          <% @uo_t2.each do |programme| %>
            [Date.UTC(<%=programme.date.year%>,<%= programme.date.month%>, <%=programme.date.day%>), <%= @montant + programme.montant/1000%>],
           <% @montant = @montant + programme.montant/1000 %>
    <% end %>
        ],
       dataLabels: {
                enabled: true,
            },
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});

</script>
<% end %>