<% if !@uo.nil? &&  !@uo.first.nil?%>


  <div class="row">
   <div class="col-md-12">
     <div id="uo_chart"> </div>
   </div>
   
  </div>

  <br><br>
  <div class="text-center">
  <div class="inline-flex">
    <div class="bouton" style="margin-right:5px" id="uo-bilan-btn">Afficher les bilans</div>
    <div class="bouton" style="margin-left:5px" id="uo-tables-btn">Afficher les tables</div>
  </div>
  </div>
  <div class="ED_table" id="uo-bilan">
  <table class="table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">UO</th>
        <% @type_pieces_uo.each do |piece|%>
          <th scope="col"><%= piece%> Réception</th>
        <% end %>
          <th scope="col">Consommation par actions </th>         
      </tr>
    </thead>

    <tbody>
      <% @uos_show.each do |uo|%>
      <% if !@dates.nil?%>
        <% @dates.each do |date| %>
          <tr>
            <td><%= l(Date.new(date.to_i,1,1), format: "%Y") %></td>
            <td><%=uo %></td>
              <% @type_pieces_uo.each do |piece|%>
            <td><%= number_with_delimiter(Choru.where('type_ae = ? AND centre_financier = ? AND date >= ? AND date <= ? AND type_piece = ? AND operation = ? AND compte_budgetaire = ? ',@type_ae, uo, Date.new(date.to_i,1,1),Date.new(date.to_i,12,31),piece, "Réception", @budget).sum('montant'), :delimiter => ' ') %> €</td>
            <%end%>
            <td><%= number_with_delimiter(Choru.where.not(domaine_fonctionnel: nil).where('type_ae = ?AND centre_financier = ? AND date >= ? AND date <= ?',@type_ae, uo,Date.new(date.to_i,1,1),Date.new(date.to_i,12,31)).sum('montant'), :delimiter => ' ') %> €</td>

          </tr>
        <% end %>
   
      <% end %>
      <%end %>
    </tbody>
  </table>
  </div>

  <div class="ED_table" id="uo-tables">
      <table class="table-striped">
        <thead>
          <tr>
            <th scope="col">Date</th>
          
            <th scope="col">Type piece</th>
            <th scope="col">Operation</th>
            <th scope="col">Centre financier</th>
            <th scope="col">Compte budgetaire</th>
            <th scope="col">Montant (€)</th>

          </tr>
        </thead>

        <tbody>
          <% @uos_show.each do |uo|%>
          <% @dates.each do |date| %>
          <!-- total annuel -->
            <tr class="total-annuel">
                <td><%= l(Date.new(date.to_i,1,1), format: "%Y") %></td>
        
                <td></td>
                <td></td>
                <td><%= uo %></td>
                <td><%= @budget %></td>
                <td><%= number_with_delimiter(Choru.where('type_ae = ? AND centre_financier = ? AND operation = ? AND date >= ? AND date <= ? AND compte_budgetaire = ?',@type_ae, uo,'Réception',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31), @budget).sum('montant'), :delimiter => ' ') %></td>
            </tr>
          <% Choru.where('type_ae = ? AND centre_financier = ? AND operation = ? AND date >= ? AND date <= ? AND compte_budgetaire = ?',@type_ae, uo, 'Réception', Date.new(date.to_i,1,1) , Date.new(date.to_i,12,31), @budget ).each do |choru| %>
            <tr>
              
              <td><%= l(choru.date, format: "%e %b %Y") %></td>
              
              <td><%= choru.type_piece %></td>
              <td><%= choru.operation %></td>
              <td><%= choru.centre_financier %></td>
              <td><%= choru.compte_budgetaire %></td>
              <td><%= number_with_delimiter(choru.montant, :delimiter => ' ') %></td>

            </tr>
          <% end %>
          
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div> 
  

<script>
  $('#uo-bilan').hide();
  $('#uo-tables').hide();
  $('#uo-tables-btn').click(function () {
    if ($('#uo-tables').hasClass('visible')){
    $('#uo-tables').hide();
      $('#uo-tables').removeClass('visible');
    }else {
     $('#uo-tables').show(); 
      $('#uo-tables').addClass('visible');
    }
  });
 $('#uo-bilan-btn').click(function () {
    if ($('#uo-bilan').hasClass('visible')){
    $('#uo-bilan').hide();
      $('#uo-bilan').removeClass('visible');
    }else {
     $('#uo-bilan').show(); 
      $('#uo-bilan').addClass('visible');
    }
  });
</script>
<script>

Highcharts.stockChart('uo_chart', {
 // mapNavigation: {
 //           enableMouseWheelZoom: true
 //       },
   chart:{
       backgroundColor: '#fff',
     borderColor: '#fff',
                 borderRadius:10,
       type: 'scatter',
       spacing: [40,40,40,40],
        style:{
          fontFamily: "Marianne Regular",
          // maxWidth: '500px'
          }, 
     height:'600px',
       zoomType: 'x',
      //  borderWidth: 1,
      //  resetZoomButton: {
      //      position: {
           
       //         x: -10,
        //        y: 10
       //     },
       //     relativeTo: 'chart'
      //  },
     
      //             scrollablePlotArea: {
     //  minWidth: 2000,
     //  scrollPositionX:1,
    // },
          },
   navigator: {
        maskFill: 'rgba(248,248,248,0.3)',
    },
  rangeSelector: {

            buttons: [{
                type: 'month',
                count: 1,
                text: '1m'
            },{
                type: 'month',
                count: 3,
                text: '3m'
            }, {
                type: 'month',
                count: 6,
                text: '6m'
            }, {
                type: 'year',
                count: 1,
                text: '1an'
            }, {
                type: 'all',
                text: 'Tout'
            }],
            selected: 3,
            buttonTheme: { // styles for the buttons
            fill: '#F8F8F8',
            stroke: 'none',
            'stroke-width': 0,
            r: 4,
            style: {
                color: '#000',
                fontWeight: 'bold'
            },
            states: {
                hover: {
                },
                select: {
                    fill: '#000091',
                    style: {
                        color: 'white'
                    }
                }
                // disabled: { ... }
            }
        },
        inputStyle: {
                color: '#000',
              
            },
        labelStyle: {
            color: '#000', 
        },
        },
  scrollbar: {
    barBackgroundColor: '#CECECE',
    barBorderColor: "#F8F8F8",
    barBorderRadius: 6,
    buttonBackgroundColor: "#F8F8F8",
    buttonArrowColor:'#CECECE',
    buttonBackgroundColor:"#F8F8F8",
    buttonBorderColor:"#F8F8F8",
    buttonBorderRadius: 6,
    rifleColor:"#F8F8F8",
  },
  legend: {
    enabled: true,
    verticalAlign: 'top',
  
  },
title: {
        text:"",
},
    //colors: ['#2E5D63', '#C68D7B'],
    yAxis: {
      //gridLineColor: '#fff', 
        title: {
            text: 'Total k€'
        }
    },
  tooltip: {
      formatter: function() {
      var point = this,
        series = point.series,
       
        firstDate = Highcharts.dateFormat('%e %b %Y', point.x),
          number = Highcharts.numberFormat(point.y, -1, ',',' '),
        header = '<span style="font-size: 12px">' + firstDate  + '</span><br/>',
        content = '<b>'+series.name + ' : ' + number  + ' k€</b><br/>';

      return header + content;
    },
      borderColor: 'transparent',
   borderRadius: 16,
   backgroundColor: '#fff',
      
    },
  xAxis:{
    type: 'datetime',

  },
    plotOptions: {
        series: {
          lineWidth: 2,
            label: {
                connectorAllowed: false
            }, 
          marker: {
                enabled: true
            },
          step: 'left',
        }
    },

  

    series: [
      <% if @vision == "0" || @vision == "2"%> 
        <% @uos_show.each do |uo|%>
          {
            name: '<%= uo %> crédits ouverts',
            data: [
              <% if !@dates.nil?%>
                <% @dates.each do |date| %>
                <% @montant = 0 %>
             
                <% Choru.where('type_ae = ? AND centre_financier = ? AND compte_budgetaire = ? AND operation = ? AND date >= ? AND date <= ?',@type_ae, uo, @budget, 'Réception', Date.new(date.to_i,1,1), Date.new(date.to_i,12,31)).order('date ASC').each do |programme| %>
                  [Date.UTC(<%=programme.date.year%>,<%= programme.date.month-1%>, <%=programme.date.day%>), <%= ((@montant + programme.montant).to_f/1000).round%>],
                 <% @montant = @montant + programme.montant %>
                <% end %>
              <% end %>
            <% end %>
            ],
         
          },
          {
            name: '<%= uo %> consommation',
            data: [
              <% if !@dates.nil?%>
                <% @dates.each do |date| %>
                <% @montant = 0 %>
             
                <% Choru.where('centre_financier = ? AND date >= ? AND date <= ?', uo, Date.new(date.to_i,1,1), Date.new(date.to_i,12,31)).where.not(domaine_fonctionnel: nil).order('date ASC').each do |programme| %>
                  [Date.UTC(<%=programme.date.year%>,<%= programme.date.month-1%>, <%=programme.date.day%>), <%= ((@montant + programme.montant).to_f/1000).round%>],
                 <% @montant = @montant + programme.montant %>
                <% end %>
              <% end %>
            <% end %>
            ],
         
          },
        <% end %>
      <% elsif @vision == "1" || @vision == "2" %>
        <% @uos_show.each do |uo|%>
        {
          name: '<%= uo %>',
          data: [
            <% if !@dates.nil?%>
              <% @dates.each do |date| %>
              <% @montant = 0 %>
               <% if @budget == "HT2"%>
                  <% Choru.where('centre_financier = ? AND date >= ? AND date <= ? AND compte_budgetaire != ? AND compte_budgetaire != ? AND compte_budgetaire != ? AND compte_budgetaire != ?',uo, Date.new(date.to_i,1,1), Date.new(date.to_i,12,31), 'T2', '21', '22', '23').order('date ASC').each do |programme| %>
                    <% if programme.compte_budgetaire == "HT2"%>
                    [Date.UTC(<%=programme.date.year%>,<%= programme.date.month-1%>, <%=programme.date.day%>), <%= ((@montant + programme.montant).to_f/1000).round%>],
                   <% @montant = @montant + programme.montant %>
          <% else %>
          [Date.UTC(<%=programme.date.year%>,<%= programme.date.month-1%>, <%=programme.date.day%>), <%= ((@montant - programme.montant).to_f/1000).round%>],
                   <% @montant = @montant - programme.montant %>
          <% end %>
                  <% end %>
              <% else %>
                  <% Choru.where('centre_financier = ? AND (compte_budgetaire = ? OR compte_budgetaire = ? OR compte_budgetaire = ? OR compte_budgetaire = ?) AND date >= ? AND date <= ?',uo,'T2','21','22','23', Date.new(date.to_i,1,1), Date.new(date.to_i,12,31)).order('date ASC').each do |programme| %>
          <% if programme.compte_budgetaire == "T2"%>
                    [Date.UTC(<%=programme.date.year%>,<%= programme.date.month-1%>, <%=programme.date.day%>), <%= ((@montant + programme.montant).to_f/1000).round%>],
                   <% @montant = @montant + programme.montant %>
           <% else %>
          [Date.UTC(<%=programme.date.year%>,<%= programme.date.month-1%>, <%=programme.date.day%>), <%= ((@montant - programme.montant).to_f/1000).round%>],
                   <% @montant = @montant - programme.montant %>
          <% end %>
                  <% end %>
              <% end %>
            <% end %>
          <% end %>
          ],
       
        },
        <% end %>
      <% end %>
            ],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});

</script>


<% end %>