<% if !@uo.nil? &&  !@uo.first.nil?%>
  <div class="SD-topo-box-title2">Visualisation au niveau des UO de ce BOP (<%= @uo_arr.length %>)     
  </div><br><br>
     
  <div class="row">
   <div class="col-md-9">
     <div id="uo_chart"> </div>
   </div>
   <div class="col-md-3">
       <div class="chorus-select-box">
         <div class="chorus-select-box-title" id="uo_name"> <%= @uo.first.centre_financier%> </div>
          <%= form_with url: select_uo_path(:bop_id => @bop.first.centre_financier, :date => @dates), id: "uo_form" do |f|%>
          <% (0..@uo_arr.length-1).each do |i|%>
            <label><%= f.radio_button :id, @uo_arr[i] %>  <%= @uo_arr[i]%></label>
          <% end %>
         <% end %>
     </div>
   </div> 
  </div>

  <br><br>
  <div class="chorus-table-subtitle">Bilan compte budgétaire HT2</div> 
  <div class="ED_table">
  <table class="table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
          <th scope="col">MADI Réception</th>
     
          <th scope="col">REAP Réception</th>
          <th scope="col">Consommation par actions </th>         
      </tr>
    </thead>

    <tbody>
      <% if !@dates.nil?%>
        <% @dates.each do |date| %>
          <tr>
            <td><%= l(Date.new(date.to_i,1,1), format: "%Y") %></td>

              <td><%= number_with_delimiter(@uo_ht2.where('date >= ? AND date <= ? AND type_piece = ? AND operation = ? ',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31),"MADI", "Réception").sum('montant'), :delimiter => ' ') %></td>
            <td><%= number_with_delimiter(@uo_ht2.where('date >= ? AND date <= ? AND type_piece = ? AND operation = ? ',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31),"REAP", "Réception").sum('montant'), :delimiter => ' ') %></td>
            <td><%= number_with_delimiter(@uo_ht2.where.not(domaine_fonctionnel: nil).where('date >= ? AND date <= ?',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31)).sum('montant'), :delimiter => ' ') %></td>

          </tr>
        <% end %>
   
      <% end %>
    </tbody>
  </table>
  </div>
<% if !@uo_t2.nil? && @uo_t2.length > 0 %>
  <div class="chorus-table-subtitle">Bilan compte budgétaire T2</div> 
  <div class="ED_table">
  <table class="table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
          <th scope="col">MADI Réception</th>
          <th scope="col">REAP Réception</th>
          <th scope="col">Consommation par actions</th>         
      </tr>
    </thead>

    <tbody>
      <% if !@dates.nil?%>
        <% @dates.each do |date| %>
          <tr>
            <td><%= l(Date.new(date.to_i,1,1), format: "%Y") %></td>

              <td><%= number_with_delimiter(@uo_t2.where('date >= ? AND date <= ? AND type_piece = ? AND operation = ? ',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31),"MADI", "Réception").sum('montant'), :delimiter => ' ') %></td>
            <td><%= number_with_delimiter(@uo_t2.where('date >= ? AND date <= ? AND type_piece = ? AND operation = ? ',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31),"REAP", "Réception").sum('montant'), :delimiter => ' ') %></td>
            <td><%= number_with_delimiter(@uo_t2.where.not(domaine_fonctionnel: nil).where('date >= ? AND date <= ?',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31)).sum('montant'), :delimiter => ' ') %></td>


          </tr>
        <% end %>
   
      <% end %>
    </tbody>
  </table>
  </div>
<% end %>

  <div class="SD-topo-box-title2"><a href="#details-uo" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="details-uo">  Tableau des mouvements de crédits au niveau de l'UO <i class="fas fa-chevron-down"></i></a>
  </div><br>
  <section id="details-uo" class="collapse"> 
    <% if !@uo_ht2.nil? && @uo_ht2.length > 0 %>
    <div class="chorus-table-subtitle">Détails compte budgétaire HT2</div>
    <div class="ED_table">
      <table class="table-striped">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Type budget</th>
            <th scope="col">Type piece</th>
            <th scope="col">Operation</th>
            <th scope="col">Centre financier</th>
            <th scope="col">Compte budgetaire</th>
            <th scope="col">Montant (€)</th>

          </tr>
        </thead>

        <tbody>
          <% @dates.each do |date| %>
          <% @uo_ht2.where('operation = ? AND date >= ? AND date <= ?', 'Réception', Date.new(date.to_i,1,1) , Date.new(date.to_i,12,31) ).each do |choru| %>
            <tr>
              <td><%= l(choru.date, format: "%e %b %Y") %></td>
              <td><%= choru.type_budget %></td>
              <td><%= choru.type_piece %></td>
              <td><%= choru.operation %></td>
              <td><%= choru.centre_financier %></td>
              <td><%= choru.compte_budgetaire %></td>
              <td><%= number_with_delimiter(choru.montant, :delimiter => ' ') %></td>

            </tr>
          <% end %>
          <!-- total annuel -->
            <tr class="total-annuel">
                <td><%= l(Date.new(date.to_i,1,1), format: "%Y") %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= number_with_delimiter(@uo_ht2.where('operation = ? AND date >= ? AND date <= ?','Réception',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31)).sum('montant'), :delimiter => ' ') %></td>
            </tr><br>
          <% end %>
        </tbody>
      </table>
    </div> 
    <% end %>
    <% if !@uo_t2.nil? && @uo_t2.length > 0 %>
    <div class="chorus-table-subtitle">Détails compte budgétaire T2</div>
    <div class="ED_table">
      <table class="table-striped">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Type budget</th>
            <th scope="col">Type piece</th>
            <th scope="col">Operation</th>
            <th scope="col">Centre financier</th>
            <th scope="col">Compte budgetaire</th>
            <th scope="col">Montant (€)</th>

          </tr>
        </thead>

        <tbody>
          <% @dates.each do |date| %>
          <% @uo_t2.where('operation = ? AND date >= ? AND date <= ?', 'Réception', Date.new(date.to_i,1,1) , Date.new(date.to_i,12,31) ).each do |choru| %>
            <tr>
              <td><%= l(choru.date, format: "%e %b %Y") %></td>
              <td><%= choru.type_budget %></td>
              <td><%= choru.type_piece %></td>
              <td><%= choru.operation %></td>
              <td><%= choru.centre_financier %></td>
              <td><%= choru.compte_budgetaire %></td>
              <td><%= number_with_delimiter(choru.montant, :delimiter => ' ') %></td>

            </tr>
          <% end %>
          <!-- total annuel -->
            <tr class="total-annuel">
                <td><%= l(Date.new(date.to_i,1,1), format: "%Y") %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= number_with_delimiter(@uo_t2.where('operation = ? AND date >= ? AND date <= ?','Réception',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31)).sum('montant'), :delimiter => ' ') %></td>
            </tr><br>
          <% end %>
        </tbody>
      </table>
    </div>    
    <% end %>
  </section>
  <br>
  <div id="actions">
    <%= render 'chorus/actions'%>
  </div>
    
<script>

Highcharts.chart('uo_chart', {
  mapNavigation: {
            enableMouseWheelZoom: true
        },
   chart:{
       backgroundColor: '#fff',
     borderColor: '#fff',
                 borderRadius:10,
       type: 'scatter',
       spacing: [40,40,40,40],
        style:{
          fontFamily: "Marianne Regular",
          // maxWidth: '500px'
          }, 
      // zoomType: 'x',
      //  borderWidth: 1,
      //  resetZoomButton: {
      //      position: {
           
       //         x: -10,
        //        y: 10
       //     },
       //     relativeTo: 'chart'
      //  },
     
                   scrollablePlotArea: {
       minWidth: 2000,
       scrollPositionX:1,
     },
          },
title: {
        text:"",
},
    colors: ['#2E5D63', '#C68D7B'],
    yAxis: {
      gridLineColor: '#fff', 
        title: {
            text: 'Total k€'
        }
    },
  tooltip: {
      formatter: function() {
      var point = this,
        series = point.series,
       
        firstDate = Highcharts.dateFormat('%e %b %Y', point.x),
          number = Highcharts.numberFormat(point.y, -1, ',',' '),
        header = '<span style="font-size: 12px">' + firstDate  + '</span><br/>',
        content = '<b>'+series.name + ' disponible : ' + number  + ' k€</b><br/>';

      return header + content;
    },
      borderColor: 'transparent',
   borderRadius: 16,
   backgroundColor: '#fff',
      
    },
  xAxis:{
    type: 'datetime'
  },
    plotOptions: {
        series: {
          lineWidth: 2,
            label: {
                connectorAllowed: false
            }, 
          marker: {
                enabled: true
            },
          step: 'left',
        }
    },

  

    series: [{
        name: 'HT2',
        data: [
          <% if !@dates.nil?%>
            <% @dates.each do |date| %>
            <% @montant = 0 %>
            <% @uo_ht2.where('operation = ? AND date >= ? AND date <= ?', 'Réception', Date.new(date.to_i,1,1), Date.new(date.to_i,12,31)).each do |programme| %>
              [Date.UTC(<%=programme.date.year%>,<%= programme.date.month-1%>, <%=programme.date.day%>), <%= ((@montant + programme.montant).to_f/1000).round%>],
             <% @montant = @montant + programme.montant %>
            <% end %>
          <% end %>
        <% end %>
        ],
       dataLabels: {
                enabled: true,
            },
    },{
        name: 'T2',
        data: [
          <% if !@dates.nil?%>
            <% @dates.each do |date| %>
              <% @montant = 0 %>
              <% @uo_t2.where('operation = ? AND date >= ? AND date <= ?', 'Réception', Date.new(date.to_i,1,1), Date.new(date.to_i,12,31)).each do |programme| %>
                [Date.UTC(<%=programme.date.year%>,<%= programme.date.month-1%>, <%=programme.date.day%>), <%= ((@montant + programme.montant).to_f/1000).round%>],
               <% @montant = @montant + programme.montant %>
            <% end %>
          <% end %>
         <% end %>
        ],
       dataLabels: {
                enabled: true,
            },
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});

</script>


<script>
  $('#uo_form input').click(function(){
$('#uo_form').submit();
});
</script>
<script>
  var elementuoid = '#id_'+'<%= @uo.first.centre_financier.downcase%>'
  $(elementuoid).prop('checked', true);

</script>
<% end %>