<% if !@uo.nil? &&  !@uo.first.nil?%>
<div class="SD-topo-box">
  <div class="SD-topo-box-title2">Visualisation au niveau des UO de ce BOP (<%= @uo_arr.length %>)     
  </div><br>
     
  <div class="row">
   <div class="col-md-9">
     <div id="uo_chart"> </div>
   </div>
   <div class="col-md-3">
       <div class="chorus-select-box">
         <div class="chorus-select-box-title" id="uo_name"> <%= @uo.first.centre_financier%> </div>
          <%= form_with url: select_uo_path(:bop_id => @bop.first.centre_financier, :date => @dates), id: "uo_form" do |f|%>
          <% (0..@uo_arr.length-1).each do |i|%>
            <label><%= f.radio_button :id, @uo_arr[i] %>  <%= @uo_arr[i]%></label>
          <% end %>
         <% end %>
     </div>
   </div> 
  </div>

  <br><br>
  <div class="chorus-table-subtitle"><a id="uo-total-ht2-btn">Bilan compte budgétaire HT2</a>  <% if !@uo_t2.nil? && @uo_t2.length > 0 %><a id="uo-total-t2-btn">Bilan compte budgétaire T2</a><% end %> </div> 
  <div class="ED_table" id="uo-total-ht2">
  <table class="table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
          <th scope="col">MADI Réception</th>
     
          <th scope="col">REAP Réception</th>
          <th scope="col">Consommation par actions </th>         
      </tr>
    </thead>

    <tbody>
      <% if !@dates.nil?%>
        <% @dates.each do |date| %>
          <tr>
            <td><%= l(Date.new(date.to_i,1,1), format: "%Y") %></td>

              <td><%= number_with_delimiter(@uo_ht2.where('date >= ? AND date <= ? AND type_piece = ? AND operation = ? ',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31),"MADI", "Réception").sum('montant'), :delimiter => ' ') %> €</td>
            <td><%= number_with_delimiter(@uo_ht2.where('date >= ? AND date <= ? AND type_piece = ? AND operation = ? ',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31),"REAP", "Réception").sum('montant'), :delimiter => ' ') %> €</td>
            <td><%= number_with_delimiter(@uo_ht2.where.not(domaine_fonctionnel: nil).where('date >= ? AND date <= ?',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31)).sum('montant'), :delimiter => ' ') %> €</td>

          </tr>
        <% end %>
   
      <% end %>
    </tbody>
  </table>
  </div>
<% if !@uo_t2.nil? && @uo_t2.length > 0 %>
  <div class="ED_table" id="uo-total-t2">
  <table class="table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
          <th scope="col">MADI Réception</th>
          <th scope="col">REAP Réception</th>
          <th scope="col">Consommation par actions</th>         
      </tr>
    </thead>

    <tbody>
      <% if !@dates.nil?%>
        <% @dates.each do |date| %>
          <tr>
            <td><%= l(Date.new(date.to_i,1,1), format: "%Y") %></td>

              <td><%= number_with_delimiter(@uo_t2.where('date >= ? AND date <= ? AND type_piece = ? AND operation = ? ',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31),"MADI", "Réception").sum('montant'), :delimiter => ' ') %></td>
            <td><%= number_with_delimiter(@uo_t2.where('date >= ? AND date <= ? AND type_piece = ? AND operation = ? ',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31),"REAP", "Réception").sum('montant'), :delimiter => ' ') %></td>
            <td><%= number_with_delimiter(@uo_t2.where.not(domaine_fonctionnel: nil).where('date >= ? AND date <= ?',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31)).sum('montant'), :delimiter => ' ') %></td>


          </tr>
        <% end %>
   
      <% end %>
    </tbody>
  </table>
  </div>
<% end %>

  <div class="SD-topo-box-title2"><a href="#details-uo" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="details-uo">  Tableau des mouvements de crédits au niveau de l'UO <i class="fas fa-chevron-down"></i></a>
  </div><br>
  <section id="details-uo" class="collapse"> 
  <div class="chorus-table-subtitle"><a id="details-uo-total-ht2-btn">Détails Mouvements HT2</a>  <% if !@uo_t2.nil? && @uo_t2.length > 0 %><a id="details-uo-total-t2-btn">Détails Mouvements T2</a> <% end %></div> 
  
    <div class="ED_table" id="details-uo-total-ht2">
      <table class="table-striped">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Type budget</th>
            <th scope="col">Type piece</th>
            <th scope="col">Operation</th>
            <th scope="col">Centre financier</th>
            <th scope="col">Compte budgetaire</th>
            <th scope="col">Montant (€)</th>

          </tr>
        </thead>

        <tbody>
          <% @dates.each do |date| %>
          <% @uo_ht2.where('operation = ? AND date >= ? AND date <= ?', 'Réception', Date.new(date.to_i,1,1) , Date.new(date.to_i,12,31) ).each do |choru| %>
            <tr>
              <td><%= l(choru.date, format: "%e %b %Y") %></td>
              <td><%= choru.type_budget %></td>
              <td><%= choru.type_piece %></td>
              <td><%= choru.operation %></td>
              <td><%= choru.centre_financier %></td>
              <td><%= choru.compte_budgetaire %></td>
              <td><%= number_with_delimiter(choru.montant, :delimiter => ' ') %></td>

            </tr>
          <% end %>
          <!-- total annuel -->
            <tr class="total-annuel">
                <td><%= l(Date.new(date.to_i,1,1), format: "%Y") %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= number_with_delimiter(@uo_ht2.where('operation = ? AND date >= ? AND date <= ?','Réception',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31)).sum('montant'), :delimiter => ' ') %></td>
            </tr><br>
          <% end %>
        </tbody>
      </table>
    </div> 
  
    <% if !@uo_t2.nil? && @uo_t2.length > 0 %>
   
    <div class="ED_table" id="details-uo-total-t2">
      <table class="table-striped">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Type budget</th>
            <th scope="col">Type piece</th>
            <th scope="col">Operation</th>
            <th scope="col">Centre financier</th>
            <th scope="col">Compte budgetaire</th>
            <th scope="col">Montant (€)</th>

          </tr>
        </thead>

        <tbody>
          <% @dates.each do |date| %>
          <% @uo_t2.where('operation = ? AND date >= ? AND date <= ?', 'Réception', Date.new(date.to_i,1,1) , Date.new(date.to_i,12,31) ).each do |choru| %>
            <tr>
              <td><%= l(choru.date, format: "%e %b %Y") %></td>
              <td><%= choru.type_budget %></td>
              <td><%= choru.type_piece %></td>
              <td><%= choru.operation %></td>
              <td><%= choru.centre_financier %></td>
              <td><%= choru.compte_budgetaire %></td>
              <td><%= number_with_delimiter(choru.montant, :delimiter => ' ') %></td>

            </tr>
          <% end %>
          <!-- total annuel -->
            <tr class="total-annuel">
                <td><%= l(Date.new(date.to_i,1,1), format: "%Y") %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= number_with_delimiter(@uo_t2.where('operation = ? AND date >= ? AND date <= ?','Réception',Date.new(date.to_i,1,1),Date.new(date.to_i,12,31)).sum('montant'), :delimiter => ' ') %></td>
            </tr><br>
          <% end %>
        </tbody>
      </table>
    </div>    
    <% end %>
  </section>
</div>

  <div id="actions">
    <%= render 'chorus/actions'%>
  </div>


<script>
$('#uo-total-t2').hide();
$('#uo-total-ht2-btn').addClass('chorus-table-subtitle-active');
$('#uo-total-t2-btn').addClass('chorus-table-subtitle-inactive');
$('#uo-total-t2-btn').click(function () {
  $('#uo-total-t2-btn').removeClass('chorus-table-subtitle-inactive');
  $('#uo-total-t2-btn').addClass('chorus-table-subtitle-active');
  $('#uo-total-ht2-btn').removeClass('chorus-table-subtitle-active');
  $('#uo-total-ht2-btn').addClass('chorus-table-subtitle-inactive');
  $('#uo-total-ht2').hide();
  $('#uo-total-t2').show();
  });
$('#uo-total-ht2-btn').click(function () {
  $('#uo-total-ht2-btn').removeClass('chorus-table-subtitle-inactive');
  $('#uo-total-ht2-btn').addClass('chorus-table-subtitle-active');
  $('#uo-total-t2-btn').removeClass('chorus-table-subtitle-active');
  $('#uo-total-t2-btn').addClass('chorus-table-subtitle-inactive');
  $('#uo-total-t2').hide();
  $('#uo-total-ht2').show();
  });
  $('#details-uo-total-t2').hide();
$('#details-uo-total-ht2-btn').addClass('chorus-table-subtitle-active');
$('#details-uo-total-t2-btn').addClass('chorus-table-subtitle-inactive');
$('#details-uo-total-t2-btn').click(function () {
  $('#details-uo-total-t2-btn').removeClass('chorus-table-subtitle-inactive');
  $('#details-uo-total-t2-btn').addClass('chorus-table-subtitle-active');
  $('#details-uo-total-ht2-btn').removeClass('chorus-table-subtitle-active');
  $('#details-uo-total-ht2-btn').addClass('chorus-table-subtitle-inactive');
  $('#details-uo-total-ht2').hide();
  $('#details-uo-total-t2').show();
  });
$('#details-uo-total-ht2-btn').click(function () {
  $('#details-uo-total-ht2-btn').removeClass('chorus-table-subtitle-inactive');
  $('#details-uo-total-ht2-btn').addClass('chorus-table-subtitle-active');
  $('#details-uo-total-t2-btn').removeClass('chorus-table-subtitle-active');
  $('#details-uo-total-t2-btn').addClass('chorus-table-subtitle-inactive');
  $('#details-uo-total-t2').hide();
  $('#details-uo-total-ht2').show();
  });
</script>
<script>

Highcharts.stockChart('uo_chart', {
 // mapNavigation: {
 //           enableMouseWheelZoom: true
 //       },
   chart:{
       backgroundColor: '#fff',
     borderColor: '#fff',
                 borderRadius:10,
       type: 'scatter',
       spacing: [40,40,40,40],
        style:{
          fontFamily: "Marianne Regular",
          // maxWidth: '500px'
          }, 
       zoomType: 'x',
      //  borderWidth: 1,
      //  resetZoomButton: {
      //      position: {
           
       //         x: -10,
        //        y: 10
       //     },
       //     relativeTo: 'chart'
      //  },
     
      //             scrollablePlotArea: {
     //  minWidth: 2000,
     //  scrollPositionX:1,
    // },
          },
  rangeSelector: {

            buttons: [{
                type: 'month',
                count: 1,
                text: '1m'
            },{
                type: 'month',
                count: 3,
                text: '3m'
            }, {
                type: 'month',
                count: 6,
                text: '6m'
            }, {
                type: 'year',
                count: 1,
                text: '1an'
            }, {
                type: 'all',
                text: 'Tout'
            }],
            selected: 3,
            buttonTheme: { // styles for the buttons
            fill: '#F8F8F8',
            stroke: 'none',
            'stroke-width': 0,
            r: 4,
            style: {
                color: '#000',
                fontWeight: 'bold'
            },
            states: {
                hover: {
                },
                select: {
                    fill: '#000091',
                    style: {
                        color: 'white'
                    }
                }
                // disabled: { ... }
            }
        },
        inputStyle: {
                color: '#000',
              
            },
        labelStyle: {
            color: '#000', 
        },
        },
  scrollbar: {
    barBackgroundColor: '#CECECE',
    barBorderColor: "#F8F8F8",
    barBorderRadius: 6,
    buttonBackgroundColor: "#F8F8F8",
    buttonArrowColor:'#CECECE',
    buttonBackgroundColor:"#F8F8F8",
    buttonBorderColor:"#F8F8F8",
    buttonBorderRadius: 6,
    rifleColor:"#F8F8F8",
  },
  legend: {
    enabled: true,
    verticalAlign: 'top',
  
  },
title: {
        text:"",
},
    colors: ['#2E5D63', '#C68D7B'],
    yAxis: {
      gridLineColor: '#fff', 
        title: {
            text: 'Total k€'
        }
    },
  tooltip: {
      formatter: function() {
      var point = this,
        series = point.series,
       
        firstDate = Highcharts.dateFormat('%e %b %Y', point.x),
          number = Highcharts.numberFormat(point.y, -1, ',',' '),
        header = '<span style="font-size: 12px">' + firstDate  + '</span><br/>',
        content = '<b>'+series.name + ' disponible : ' + number  + ' k€</b><br/>';

      return header + content;
    },
      borderColor: 'transparent',
   borderRadius: 16,
   backgroundColor: '#fff',
      
    },
  xAxis:{
    type: 'datetime',
    plotBands: [    
      <% if !@dates.nil? %>
        <% @dates.each do |date|%>
          {
            color: 'red',
            from:Date.UTC(<%= date%>-1,11,31),
            to:Date.UTC(<%= date%>,0,1),
        
          },
      <% end %>
      <% end %>
    ]
  },
    plotOptions: {
        series: {
          lineWidth: 2,
            label: {
                connectorAllowed: false
            }, 
          marker: {
                enabled: true
            },
          step: 'left',
        }
    },

  

    series: [{
        name: 'HT2',
        data: [
          <% if !@dates.nil?%>
            <% @dates.each do |date| %>
            <% @montant = 0 %>
          [Date.UTC(<%=date%>,0,1),0 ],
            <% @uo_ht2.where('operation = ? AND date >= ? AND date <= ?', 'Réception', Date.new(date.to_i,1,1), Date.new(date.to_i,12,31)).each do |programme| %>
              [Date.UTC(<%=programme.date.year%>,<%= programme.date.month-1%>, <%=programme.date.day%>), <%= ((@montant + programme.montant).to_f/1000).round%>],
             <% @montant = @montant + programme.montant %>
            <% end %>
          <% end %>
        <% end %>
        ],
       dataLabels: {
                enabled: true,
            },
    },
             <% if !@uo_t2.nil? && @uo_t2.length > 0 %>
             {
        name: 'T2',
        data: [
          <% if !@dates.nil?%>
            <% @dates.each do |date| %>
              <% @montant = 0 %>
          [Date.UTC(<%=date%>,0,1),0 ],
              <% @uo_t2.where('operation = ? AND date >= ? AND date <= ?', 'Réception', Date.new(date.to_i,1,1), Date.new(date.to_i,12,31)).each do |programme| %>
                [Date.UTC(<%=programme.date.year%>,<%= programme.date.month-1%>, <%=programme.date.day%>), <%= ((@montant + programme.montant).to_f/1000).round%>],
               <% @montant = @montant + programme.montant %>
            <% end %>
          <% end %>
         <% end %>
        ],
       dataLabels: {
                enabled: true,
            },
    },
            <% end %>
            ],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});

</script>


<script>
  $('#uo_form input').click(function(){
$('#uo_form').submit();
});
</script>
<script>
  var elementuoid = '#id_'+'<%= @uo.first.centre_financier.downcase%>'
  $(elementuoid).prop('checked', true);

</script>
<% end %>