
<% if !@uo.nil? &&  !@uo.first.nil?%>
<div class="box_page" id="dynamique-uo">
  <div><span class="titre_section"><% if @vision == "0" || @vision == "2"%>Visualisation de la consommation et des crédits ouverts<%else%>Visualisation des mouvements de crédits<%end%> au niveau des UO (<%= @uo_arr.length %>)</span>     
  </div>
  <div class="i32"></div>
  <div class="chorus-dropdown-box">
   <div class="dropdown dropdown-chorus">
     <button class="btn btn-secondary dropdown-toggle dropdown-select-chorus" type="button" id="dropdownMenuButtonuo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sélectionner une UO <i class="fas fa-chevron-down"></i></button>
      <div class="dropdown-menu dropwdown-menu-chorus" aria-labelledby="dropdownMenuButtonuo">
          <%= form_with url: select_uo_path(:bop_id => @bops_show, :date => @dates,:vision => @vision, :budget => @budget,:type_ae => @type_ae, :programme => @search), id: "uo_form" do |f|%>
          <label><%= f.check_box :searchuo,{:multiple => true}, @search, nil %> Tout sélectionner </label>
          <% (0..@uo_arr.length-1).each do |i|%>
            <label><%= f.check_box :id,{:multiple => true}, @uo_arr[i], nil %>  <%= @uo_arr[i]%> <% if ChorusNomenclature.where('nom = ?',@uo_arr[i]).count > 0 %>(<%= ChorusNomenclature.where('nom = ?',@uo_arr[i]).first.designation %>)<%end%></label>
          <% end %>
        <div class="chorus-submit-form"><%= f.submit "Afficher", class: "bouton bouton-uo"%></div>
         <% end %>
      </div>
    </div>
  </div>  
  <div id="uo">
    <%= render 'chorus/uo'%>
  </div>
</div>
<div class="i24"></div>
<!-- <div id="actions">-->
   <!--  render 'chorus/actions' -->
</div>  



<script>
  var elementuoid = '#id_'+'<%= @uo.first.centre_financier.downcase%>'
  $(elementuoid).prop('checked', true);

</script>

<script>
    var searchuoid = '#searchuo_' + '<%= @search %>';

$(searchuoid).click(function () {
  if ($(searchuoid).is(':checked')){
   <% @uo_arr.each do |uo|%>
      $('#id_'+'<%= uo.downcase%>').prop('checked', true);
   <% end %> 
  }
  else {
   <% @uo_arr[1..].each do |uo|%>
      $('#id_'+'<%= uo.downcase%>').prop('checked', false);
   <% end %>  
    
  }
  
});
$('.bouton-uo').on("click",function(){  
   $("#dropdownMenuButtonuo").dropdown('toggle');
});
</script>
<% end %>