<div class="EB_page">
  <div class="SD-topo-box">
    <h1 class="chorus-index-title">DataChorus</h1>
    <div class="chorus-index-subtitle">Le logiciel qui déchiffre Chorus</div>
    
    <%= form_tag search_choru_path, method: :get  do%>
    <%= search_form_for @q, url: search_choru_path do |f| %>
    <div class="chorus-search-box">
      
        <div class="chorus-search-box-form">
        <%= f.search_field :centre_financier_cont,class: "choru-search-field", id:"name",required: true, placeholder: "Entrez le numéro d'un programme", data: {autocomplete_source: chorus_path} %> 
        <a type="button" class="choru-search-submit"> <i class="fas fa-search"></i>Liste programme</a>
        </div> 
        <div class="chorus-search-box-form-list" id="programme-liste">
          <div>
          <% if !@liste_programme.nil?%>
            <% @liste_programme.each do |programme| %>
            <div class="liste-programme-name"><a class="programme-name"><%= programme %></a></div>
            <% end %>
          <% end %>                   
          </div>
        </div>
    </div>
    
    <div class="chorus-search-box">
      <div class="chorus-search-box-form2">
        <div class="select-box-chorus">
          <label>Vision</label>
          <%= select_tag :vision, options_for_select([["Statique","0"],["Dynamique","1"],["Statique et Dynamique","2"]]), {prompt:"Sélectionner"} %>
   
        </div>
        <div class="select-box-chorus">
          <label>AE/CP</label>
          <%= select_tag :type_ae, options_for_select([["CP","cp"],["AE","ae"]]), {prompt:"Sélectionner"} %>
   
        </div>
        <div class="select-box-chorus">
          <label>HT2/T2</label>
          <%= select_tag :budget, options_for_select([["HT2","HT2"],["T2","T2"]]), {prompt:"Sélectionner"} %>
   
        </div>
        <div class="select-box-chorus">
          <label>Année</label>
          <%= select_tag :dates, options_for_select([["2020","2020"]]), {prompt:"Sélectionner"} %>
   
        </div>
 
       
      </div>
    </div>
    
    <div class="EB-details">
        <%= button_tag(type: "submit") do %><i class="fas fa-search"></i> Rechercher <% end %>
    </div>
    <% end %>
    <% end %>
    <br><br><br><br><br>
  </div>
</div>
<script>

  $(function() {
 // var matieres = ["Stade de france", "Arena 2", "village"]
  // Below is the name of the textfield that will be autocomplete    
    $('#name').autocomplete({
 // This is the source of the auocomplete suggestions. In this case a list of names from the people controller, in JSON format.
     
      source: $('#name').data('autocomplete-source'),
          //  source:matieres,
           
      select: function(event, ui) {
       // $.ajax({
       //   type:'GET',
       //   url: '/ouvrages',
          
        //});
        $("#name").val(ui.item.label);
          $("#submit_button").click()    

    },
        })
     .data("ui-autocomplete")._renderItem = function(ul, item){
       var expression = new RegExp(this.term, "gi");
      var result = expression.exec(item.label);
      var answer; 
      if (result.index == 0){
        answer = item.label.replace(expression, "<span style='font-weight:bold;color:#000091'>" + this.term + "</span>");
        return $("<li></li>")
      .append("<a>"+answer+"</a>")
      .prependTo(ul);
      }   
      else
       answer = item.label.replace(expression, "<span style='font-weight:bold;color:#000091'>" + this.term.toLowerCase() + "</span>");
      return $("<li></li>")
      .append("<a>"+answer+"</a>")
      .appendTo(ul);
     
    };
    
  });
</script>

<script>
$('#programme-liste').hide();
 $('.choru-search-submit').click(function(){
   if ($('#programme-liste').is(":visible")){
     $('#programme-liste').hide();
   } else {
     $('#programme-liste').show();
   }   
 });
  
 $('.programme-name').click(function(){
  $("#name").val($(this).text());
 });
</script>