<div class="EB_page">

  <h1 class="EB_title">Programme <%= params[:id]%></h1>
   <div class="SD-topo-box">
    <div class="SD-topo-box-title">
      <span>Programme</span>
    </div><br><br>
     <div id="programme">
       
     </div>
     <br><br>
     
     <div class="SD-topo-box-title">
      <span>BOP (<%= @bop_arr.length%>)</span>
    </div><br><br>

     <div class="row">
       <div class="col-md-9">
          <div id="bop">
           <%= render 'chorus/bop'%>
          </div>  
       </div>
       <div class="col-md-3">
           <div class="chorus-select-box">
             <div class="chorus-select-box-title" id="bop_name"> <%= @bop.first.centre_financier%> </div>
             <%= form_with url: select_bop_path, id: "bop_form" do |f|%>
              <% (0..@bop_arr.length-1).each do |i|%>
                <label><%= f.radio_button :id, @bop_arr[i] %>  <%= @bop_arr[i]%></label>
              <% end %>
             <% end %>
           </div>
       </div>
     </div>
      
       <br><br>
     <div id="uo">
        <%= render 'chorus/uo'%>
     </div>
       
  </div>
  <div class="SD-topo-box">
    <div class="SD-topo-box-title">
      <span>Programme</span>
    </div><br><br>
    <div class="ED_table">
    <table class="table-striped">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Type piece</th>
          <th scope="col">Type budget</th>
          <th scope="col">Operation</th>
          <th scope="col">Centre financier</th>
          <th scope="col">Compte budgetaire</th>
          <th scope="col">Montant</th>

        </tr>
      </thead>

      <tbody>
        <% @programme.each do |choru| %>
          <tr>
            <td><%= choru.date %></td>
            <td><%= choru.type_piece %></td>
            <td><%= choru.type_budget %></td>
            <td><%= choru.operation %></td>
            <td><%= choru.centre_financier %></td>
            <td><%= choru.compte_budgetaire %></td>
            <td><%= choru.montant %></td>
           
            <td><%= link_to 'Edit', edit_choru_path(choru) %></td>
            <td><%= link_to 'Destroy', choru, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <br>
    <div class="SD-topo-box-title">
      <span>BOP</span>
    </div><br><br>
    <div class="ED_table">
    <table class="table-striped">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Type piece</th>
          <th scope="col">Type budget</th>
          <th scope="col">Operation</th>
          <th scope="col">Centre financier</th>
          <th scope="col">Compte budgetaire</th>
          <th scope="col">Montant</th>

        </tr>
      </thead>

      <tbody>
        <% @bop.each do |choru| %>
          <tr>
            <td><%= choru.date %></td>
            <td><%= choru.type_piece %></td>
            <td><%= choru.type_budget %></td>
            <td><%= choru.operation %></td>
            <td><%= choru.centre_financier %></td>
            <td><%= choru.compte_budgetaire %></td>
            <td><%= choru.montant %></td>
         
            <td><%= link_to 'Edit', edit_choru_path(choru) %></td>
            <td><%= link_to 'Destroy', choru, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <br>
    <div class="SD-topo-box-title">
      <span>UO</span>
    </div><br><br>
    <div class="ED_table">
    <table class="table-striped">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Type piece</th>
          <th scope="col">Type budget</th>
          <th scope="col">Operation</th>
          <th scope="col">Centre financier</th>
          <th scope="col">Compte budgetaire</th>
          <th scope="col">Montant</th>

        </tr>
      </thead>

      <tbody>
        <% @uo.each do |choru| %>
          <tr>
            <td><%= choru.date %></td>
            <td><%= choru.type_piece %></td>
            <td><%= choru.type_budget %></td>
            <td><%= choru.operation %></td>
            <td><%= choru.centre_financier %></td>
            <td><%= choru.compte_budgetaire %></td>
            <td><%= choru.montant %></td>
          
            <td><%= link_to 'Edit', edit_choru_path(choru) %></td>
            <td><%= link_to 'Destroy', choru, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <br>
  </div>
</div>

<script>
Highcharts.chart('programme', {
   chart:{
       backgroundColor: '#fff',
       type: 'area',
       spacing: [40,40,40,40],
        style:{
          fontFamily: "Spectral",
          // maxWidth: '500px'
          },
     scrollablePlotArea: {
       minWidth: 2000,
       scrollPositionX:1,
     },
          },
title: {
        text:"",
},
    colors: ['#2E5D63', '#C68D7B'],
    yAxis: {
      gridLineColor: '#fff', 
        title: {
            text: 'Total k€'
        }
    },
  tooltip: {
      //  pointFormat: '{series.name}: <b>{point.y}</b><br/>',
        valueSuffix: 'k€',
      
    },
  xAxis:{
    type: 'datetime'
  },
    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },       
        }
    },

  

    series: [{
        name: 'HT2',
        data: [
          <% @montant = 0 %>
          <% @programme_ht2.each do |programme| %>
            <% if programme.type_budget == "Bud. voté ou en cours de vote" || programme.type_budget == "Loi de Finances Initiale" %>
           <% @montant =  programme.montant/1000 %>
           [Date.UTC(<%=programme.date.year%>,<%= programme.date.month%>, <%=programme.date.day%>), <%= programme.montant/1000%>], 
          <% else %>
              
              [Date.UTC(<%=programme.date.year%>,<%= programme.date.month%>, <%=programme.date.day%>), <%=  @montant + programme.montant/1000%>],
          <% @montant = @montant + programme.montant/1000 %>
          <% end %> 
          <% end %>
        ],
       dataLabels: {
                enabled: true,
            },
    }, {
        name: 'T2',
        data: [
          <% @montant = 0 %>
          <% @programme_t2.each do |programme| %>
            <% if programme.type_budget == "Bud. voté ou en cours de vote" || programme.type_budget == "Loi de Finances Initiale" %>
           <% @montant =  programme.montant/1000 %>
           [Date.UTC(<%=programme.date.year%>,<%= programme.date.month%>, <%=programme.date.day%>), <%= programme.montant/1000%>], 
          <% else %>
              
              [Date.UTC(<%=programme.date.year%>,<%= programme.date.month%>, <%=programme.date.day%>), <%=  @montant + programme.montant/1000%>],
          <% @montant = @montant + programme.montant/1000 %>
          <% end %> 
          <% end %>
        ],
       dataLabels: {
                enabled: true,
            },
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
</script>
<script>
$('#bop_form input').click(function(){
$('#bop_form').submit();
});
  
  $('#uo_form input').click(function(){
$('#uo_form').submit();
});
</script>