<%= render 'liste_pieces'%>
<% if !@chorus.nil?%>
<div class="logo-ministere">
  <%= image_tag 'logo_ministere.png'%>
</div>
<div class="navbar-chorus-box">
  <div class="navbar-chorus">
    <div class="navbar-chorus-onglet"><%= link_to chorus_path do %> <i class="fas fa-chevron-left"></i> Retour Accueil<% end %></div>
    <div class="navbar-chorus-onglet2"> 
    <div class="">
       <div class="dropdown">
         <button class="btn btn-secondary dropdown-toggle dropwdown-menu-chorus-navbar" type="button" id="budget" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">2020<i class="fas fa-chevron-down"></i></button>
          <div class="dropdown-menu dropwdown-menu-chorus-navbar-list" aria-labelledby="budget">       
            <li><label>2020 </label></li>
            <li><label>2019</label></li>
         </div>
       </div>
    </div> 
    </div> 
    <div class="navbar-chorus-onglet2"> 
    <div class="">
       <div class="dropdown">
         <button class="btn btn-secondary dropdown-toggle dropwdown-menu-chorus-navbar" type="button" id="typeae" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><% if @type_ae == "cp" %>CP<%else %>AE<% end %><i class="fas fa-chevron-down"></i></button>
          <div class="dropdown-menu dropwdown-menu-chorus-navbar-list" aria-labelledby="typeae">       
             <%= form_tag choru_path(:date => @dates, :id => params[:id]), method: :get, class: "typeae_form"  do%>
            <%= hidden_field_tag :vision, @vision %>
            <%= hidden_field_tag :budget, @budget %>
            <li><label><%= radio_button_tag :type_ae, "cp" %>  CP </label></li>
            <li><label><%= radio_button_tag :type_ae, "ae" %>  AE</label></li>
         
          <% end %>
         </div>
       </div>
    </div> 
    </div> 
    <div class="navbar-chorus-onglet2"> 
    <div class="">
       <div class="dropdown">
         <button class="btn btn-secondary dropdown-toggle dropwdown-menu-chorus-navbar" type="button" id="budget" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><% if @budget == "HT2" %>HT2<%else %>T2<% end %><i class="fas fa-chevron-down"></i></button>
          <div class="dropdown-menu dropwdown-menu-chorus-navbar-list" aria-labelledby="budget">
          <%= form_tag choru_path(:date => @dates, :id => params[:id]), method: :get, class: "budget_form"  do%>
            <%= hidden_field_tag :vision, @vision %>
            <%= hidden_field_tag :type_ae, @type_ae %>
            <li><label><%= radio_button_tag :budget, "HT2" %>  HT2 </label></li>
            <li><label><%= radio_button_tag :budget, "T2" %>  T2</label></li>
         
          <% end %>
         </div>
       </div>
    </div> 
    </div>
   
    <div class="navbar-chorus-onglet2">
    <div class="">
       <div class="dropdown">
         <button class="btn btn-secondary dropdown-toggle dropwdown-menu-chorus-navbar" type="button" id="vision" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><% if @vision == "0" %>Suivi consommation<%elsif @vision == "1" %>Allocution des ressources<% end %><i class="fas fa-chevron-down"></i></button>
          <div class="dropdown-menu dropwdown-menu-chorus-navbar-list" aria-labelledby="vision">
          <%= form_tag choru_path(:date => @dates, :id => params[:id]), method: :get, class: "vision_form"  do%>
            <%= hidden_field_tag :budget, @budget %>
            <%= hidden_field_tag :type_ae, @type_ae %>
            <li><label><%= radio_button_tag :vision, "0" %> Suivi consommation </label></li>
            <li><label><%= radio_button_tag :vision, "1" %> Allocution des ressources</label></li>   
          <% end %>
         </div>
       </div>
    </div>  
    </div> 
  </div>
</div>


<div class="page_w">
  <div id="programme_box">
    <%= render 'chorus/programme'%>
  </div>
</div>

<script>
  $('.vision_form input').click(function(){
$('.vision_form').submit();
});
</script>
<script>
  var visionid = '#vision_'+'<%= @vision%>'
  $(visionid).prop('checked', true);

</script>
<script>
  $('.budget_form input').click(function(){
$('.budget_form').submit();
});
</script>
<script>
  var budgetid = '#budget_'+'<%= @budget%>'
  $(budgetid).prop('checked', true);

</script>

<script>
  $('.typeae_form input').click(function(){
$('.typeae_form').submit();
});
</script>
<script>
  var typeaeid = '#type_ae_'+'<%= @type_ae%>'
  $(typeaeid).prop('checked', true);

</script>
<% end %>

