<div class="page_w">
  <div class="i24"></div>
  <div class="titre_page text-center">Suivi des conventions </div>
  <div class="i12"></div>
  <div class="stitre_page text-center">Dernière mise à jour : <% if !Convention.last.nil?%><%= l(Convention.last.updated_at, format: "%e %B %Y") %> <% end %> </div>
  <div class="i40"></div>

  <div  class="box_page">
    <div><span class="titre_section">Suivi des conventions </span></div>
    <div class="i24"></div>

    <% if !@conventions.nil?%>
      <div class="flexslider2" id="flexslider">
        <ul class="slides">
        <% @conventions.order('date DESC').each_with_index do |convention,i| %>
        <li> 
          <div class="ga ma pr">
            <div class="c2 tc fw8 fs22"><%= l(convention.date, format: "%e %B %Y") %> </div>
            <div class='i24'></div>

              <div class="inline-flex">
                <div id="container<%=i%>"></div>
                <div class="mw250 pd12 bs br8 bckc3">
                  <div class="c2 fs14"><span class="c1 fs20"><%= convention.objectifs_signature + convention.travaux_signature + convention.etudes_signature%></span> Conventions signées </div>
                  <div class="i12"></div>
                  <div class="c2 fs14"><span class="c1 fs20"><%= convention.objectifs_encours%></span> CDO en cours de signature</div>
                  <div class="i12"></div>
                  <div class="c2 fs14"><span class="c1 fs20"><%= convention.avenants_objectifs_encours%></span> Avenants aux CDO en cours</div>
                  <div class="i12"></div>
                  <div class="c2 fs14"><span class="c1 fs20"><%= convention.avenants_travaux_encours%> </span> Avenants aux CTRAV en cours</div>
                  <div class="i12"></div>
                  <div class="c2 fs14"><span class="c1 fs20"><%= convention.protocole_etudes_encours%> </span>Protocoles d'études en cours de signature (VDP)</div>
                  <div class="i12"></div>
                  <div class="c2 fs14"><span class="c1 fs20"><%= convention.objectifs_elaboration%></span> CDO en cours d’élaboration</div>
                </div>
              </div>
              <script>
                Highcharts.chart('container<%=i%>', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie',
                        backgroundColor: '#fff',
                          style:{
                          fontFamily: "Marianne Regular",
                    
                          },
                      
                    },
                    title: {
                         text:null,   
                          style: {
                                  color: "#6A6A6A",
                                  fontWeight: "400",
                                  fontStyle: "italic",
                                  fontSize: '16px',
                                  },
                    },
                    colors: ['#2E5D63','#C68D7B', '#2323EA'],
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.y} </b>',
                      borderColor: 'transparent',
                      borderRadius: 16,
                      backgroundColor: '#fff',
                      },
                
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                           size: 200,
                            
                        }
                    },
                    series: [{
                        name: 'Conventions signées',
                        colorByPoint: true,
                        innerSize: '80%',
                        data: [ {
                            name: 'Convention études',
                            y: <%= convention.etudes_signature%>,
                            dataLabels: {
                              enabled: true,
                              formatter: function() {

                                var point = this;                      
                                ecart = <%= convention.etudes_signature - Convention.where('date = ?',convention.date-1.month).sum('etudes_signature') %>;
                                
                                number = Highcharts.numberFormat(point.y, -1, ',',' ');
                                
                                 if (ecart >= 0){
                                    header = '<span style="font-size: 10px;color:#2323EA"> +' + ecart  + '</span><br/>';
                                  }else{
                                    header = '<span style="font-size: 10px;color:#E1000F">' + ecart  + '</span><br/>';
                                  }
                                  
                                  content = '<span style="font-size: 11px;color:#6A6A6A";font-weight:400>' + number  + ' CDE <br/>';

                                return content + header ;
                              },
                          },
                        },{
                            name: 'Conventions travaux',
                            y: <%= convention.travaux_signature%>,
                            dataLabels: {
                              enabled: true,
                              formatter: function() {

                                var point = this;                      
                                ecart = <%= convention.etudes_signature - Convention.where('date = ?',convention.date-1.month).sum('etudes_signature') %>;
                                
                                number = Highcharts.numberFormat(point.y, -1, ',',' ');
                                
                                 if (ecart >= 0){
                                    header = '<span style="font-size: 10px;color:#2323EA"> +' + ecart  + '</span><br/>';
                                  }else{
                                    header = '<span style="font-size: 10px;color:#E1000F">' + ecart  + '</span><br/>';
                                  }
                                  
                                  content = '<span style="font-size: 11px;color:#6A6A6A";font-weight:400>' + number  + ' CDTRAV <br/>';

                                return content + header ;
                              },
                          },
                        }, {
                            name: 'Conventions objectifs',
                            y: <%= convention.objectifs_signature%>,
                            dataLabels: {
                              enabled: true,
                              formatter: function() {

                                var point = this;                      
                                ecart = <%= convention.etudes_signature - Convention.where('date = ?',convention.date-1.month).sum('etudes_signature') %>;
                                
                                number = Highcharts.numberFormat(point.y, -1, ',',' ');
                                
                                 if (ecart >= 0){
                                    header = '<span style="font-size: 10px;color:#2323EA"> +' + ecart  + '</span><br/>';
                                  }else{
                                    header = '<span style="font-size: 10px;color:#E1000F">' + ecart  + '</span><br/>';
                                  }
                                  
                                  content = '<span style="font-size: 11px;color:#6A6A6A";font-weight:400>' + number  + ' CDO <br/>';

                                return content + header ;
                              },
                          },
                        }]
                    }]
                });
              </script>
          </div>
        </li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

  <script>

  $('.menu-ouvrages-conventions').addClass('menu-active2'); 
  $('.menu-ouvrages').addClass('menu-active'); 

  $('#MonCollapse3').addClass('in'); 

</script>