<p id="notice"><%= notice %></p>

<h1>Ouvrages Financeurs</h1>

<table>
  <thead>
    <tr>
      <th>Ouvrage</th>
      <th>Name</th>
      <th>Financement prevu</th>
      <th>Financement actuel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ouvrages_financeurs.each do |ouvrages_financeur| %>
      <tr>
        <td><%= ouvrages_financeur.ouvrage.name %></td>
        <td><%= ouvrages_financeur.name %></td>
        <td><%= ouvrages_financeur.financement_prevu %></td>
        <td><%= ouvrages_financeur.financement_actuel %></td>
        <td><%= link_to 'Show', ouvrages_financeur %></td>
        <td><%= link_to 'Edit', edit_ouvrages_financeur_path(ouvrages_financeur) %></td>
        <td><%= link_to 'Destroy', ouvrages_financeur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ouvrages Financeur', new_ouvrages_financeur_path %>
