<div class="footer">
  <div class="footer-top">
    <div class="footer-logo">
      <%= image_tag 'logo_ministere.png'%>
    </div>
    <div class="footer-text">
      
      <div class="footer-links"><a href="https://budget.gouv.fr" target="_blank">budget.gouv.fr</a> <a href="https://gouvernement.fr" target="_blank">gouvernement.fr</a> <a href="https://service-public.fr" target="_blank">service-public.fr</a> <a href="https://data.gouv.fr" target="_blank">data.gouv.fr</a></div>
    </div>
  </div>
  <div class="footer-bottom">
    
    
    <%= link_to mentions_legales_path do %>Mentions légales<%end%>
    <span>|</span>
    <%= link_to mentions_legales_path do %>Données personnelles<%end%>
    <span>|</span>
    <%= link_to mentions_legales_path do %>Gestion des cookies<%end%>
    <span>|</span>
    <%= link_to accessibilite_path do %>Accessibilité<%end%>
    <span>|</span>
  </div>
</div>