<div class="navigation-left">
  <nav class="navbar navbar-xs">
    <button class="navbar-toggler nav-bar-xs" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
  </nav>

</div>

    <div class="collapse navbar-collapse-xs navigation-fixed" id="navbarToggleExternalContent">
        <div class="close-nav-xs"><i class="fas fa-times"></i></div>
        <div class="navigation-logo">Datalympics</div>
        <div class="navigation-avatar">
          <div class="navigation-avatar-img">
            <i class="fas fa-user-circle"></i>
          </div>
          <div class="navigation-avatar-name">
            <% if user_signed_in? %><%= current_user.email%> <% end %>
          </div>
          <div class="navigation-avatar-name hidden">
            connecté en tant que : AGENT DB 
          </div>
        </div>

        <div class="home-solideo-logo">
          <%= image_tag 'solideo.svg'%>
        </div>

        <!-- Accueil -->
        <div class=" navigation-menu TB-menu-prof menu-accueil">
          <%= link_to root_path, class: "menu" do%><i class="fas fa-home"></i> Accueil<% end %>
        </div>

        <!-- nav ouvrage page -->
        <% if !@navshow.nil? && !@ouvrage.nil?%>

          <div class="navigation-menu"><%= link_to ouvrages_path, class:"menu" do%><i class="fas fa-arrow-left"></i> Retour aux ouvrages<%end%></div>

          <div class="dropdown navigation-menu ">
            <a class="menu menu-ouvrages" href="#ouvrages-xs" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="ouvrages-xs" id="btn-collapse-ouvrages-xs"><i class="fas fa-building"></i> Ouvrages <span class="collapse-icon"></span></a>
          </div>
          <section id="ouvrages-xs" class="collapse">
            <div class="navigation-menu navigation-menu2"><a class="menu2  menu-ouvrages-ouvrage"><%= @ouvrage.name %></a></div>
          </section>

        <!-- nav menu princial -->
        <% else%>

          <!-- Ouvrages -->
          <div class="dropdown navigation-menu ">
            <a class="menu menu-ouvrages" href="#MonCollapse3-xs" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="MonCollapse3-xs" id="btn-collapse-xs"><i class="fas fa-building"></i> Ouvrages <span class="collapse-icon"></span></a>
          </div>  
          <section id="MonCollapse3-xs" class="collapse">
            <div class="navigation-menu navigation-menu2"><%= link_to ouvrages_path, class:"menu2 menu-solideo-ouvrages" do%>Infos & Carte <%end%></div> 
            <div class="navigation-menu navigation-menu2"><%= link_to risques_path, class:"menu2 menu-solideo-chantiers" do%>Suivi des risques<%end%></div>
            <div class="navigation-menu navigation-menu2"><%= link_to timeline_path, class:"menu2 menu-ouvrages-timeline" do%>Timeline des ouvrages<%end%></div>
       

          </section>

          <!-- Budget Solideo -->
          <div class="dropdown navigation-menu ">
            <a class="menu menu-solideo" href="#MonCollapse-xs" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="MonCollapse-xs" id="btn-collapse-xs"><i class="fas fa-funnel-dollar"></i> Suivi Budget Solideo <span class="collapse-icon"></span></a>
          </div>
          <section id="MonCollapse-xs" class="collapse">
            <div class="navigation-menu navigation-menu2"><%= link_to solideo_depenses_path, class:"menu2  menu-solideo-depenses" do %>Dépenses Solideo<%end%></div>
            <div class="navigation-menu navigation-menu2"><%= link_to ouvrages_depenses_path, class:"menu2 menu-solideo-maquette" do%>Maquette financière <%end%></div>
            <div class="navigation-menu navigation-menu2"><%= link_to solideo_financements_path, class:"menu2 menu-solideo-finances" do %>Financements & Recettes <%end%></div>
          </section>

  
          <!-- Budget Etat-->
          <div class="navigation-menu hidden"><%= link_to etat_budgets_path, class:"menu  menu-budget-global" do %><i class="fas fa-funnel-dollar"></i> Suivi Budget Etat<%end%></div>


         
          <div class="navigation-menu menu-documents-solideo hidden"><%= link_to documents_solideo_path, class: "menu" do %><i class="fas fa-file-upload"></i> Documents <%end%></div>


          <div class="TB-menu-prof"><%= link_to destroy_user_session_path, method: :delete, class: "menu" do%><i class="fas fa-sign-out-alt"></i>Se déconnecter<% end %></div>
        <% end %>
     
  </div>

<script>
  $(".close-nav-xs").on("click",function(){
    $('#navbarToggleExternalContent').removeClass('in');
  });
</script>
