<!DOCTYPE html>
<html>
  <head>
    <title>Datalympics</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet"> 
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script src=" https://code.highcharts.com/highcharts-more.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.src.js"></script>
  <script src="https://code.highcharts.com/highcharts-3d.js"></script>
  <script src="https://code.highcharts.com/highcharts-3d.src.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.src.js"></script>
  <script src="https://code.highcharts.com/modules/annotations.js"></script>
  <script src="https://code.highcharts.com/modules/annotations.src.js"></script>
  <script src="https://code.highcharts.com/modules/boost.js"></script>
  <script src="https://code.highcharts.com/modules/boost.src.js"></script>
  <script src="https://code.highcharts.com/modules/broken-axis.js"></script>
  <script src="https://code.highcharts.com/modules/broken-axis.src.js"></script>
  <script src="https://code.highcharts.com/modules/canvas-tools.js"></script>
  <script src="https://code.highcharts.com/modules/canvas-tools.src.js"></script>
  <script src="https://code.highcharts.com/modules/data.js"></script>
  <script src="https://code.highcharts.com/modules/data.src.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.src.js"></script>
  <script src="https://code.highcharts.com/modules/drilldown.js"></script>
  <script src="https://code.highcharts.com/modules/drilldown.src.js"></script>
  <script src="https://code.highcharts.com/modules/funnel.js"></script>
  <script src="https://code.highcharts.com/modules/funnel.src.js"></script>
  <script src="https://code.highcharts.com/modules/heatmap.js"></script>
  <script src="https://code.highcharts.com/modules/heatmap.src.js"></script>
  <script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>
  <script src="https://code.highcharts.com/modules/no-data-to-display.src.js"></script>
  <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
  <script src="https://code.highcharts.com/modules/offline-exporting.src.js"></script>
  <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
  <script src="https://code.highcharts.com/modules/solid-gauge.src.js"></script>
    <script src="https://code.highcharts.com/modules/timeline.js"></script>
  <script src="https://code.highcharts.com/modules/treemap.js"></script>
  <script src="https://code.highcharts.com/modules/treemap.src.js"></script>
  </head>

  <body>

    <%= yield %>
  </body>
</html>
